<%= link_to club_path(club) do %>

	<div class="col-md-3 col-lg-2 col-sm-6 element-item <%#= club.category_and_classification %> all" data-category="<%#= club.category_and_classification %> all">
	    <div class="card card-user card-clickable card-clickable-over-content">
	      <div class="card-heading heading-full">
			  <%#= image_tag school.main_photo, size: "428x150" %>
	        <div class="user-image sample-member9" style="background: url('<%= club.avatar %>');"></div>
             <%# if false %>
	       
            <%# end %>

	      </div><!--.card-heading-->

	      <div class="card-body">

	        <div style="height: 40px; position: relative;">
	        	<h4 class="card-title capitalize fs_14 lh_20 absolute bottom bold">
			        <%= truncate(club.name, length: 43) %>
		        </h4>
		      </div>

	        <%= club.description	 %>
	        <hr class="light no-margin mb5 mt5"/>

	        <div class="subhead">
	          <p class="mb0 fs_12">
		          <span class="text-muted">
		            <i class="ion-map mr5"></i> 
		            <%= club.address.city.present? ? "#{club.address.city}, #{club.address.state}" : "NA" %>
		          </span>
		          <span class="text-muted">
		            <i class="ion-ios-telephone mr5"></i> 
		            <%= club.phone_number.present? ? club.phone_number : "NA" %>
		          </span>
		          <span class="text-muted">
		            <i class="ion-android-desktop mr5"></i> 
		            <% if club.website.present? %>
		            	<a href="<%= club.website %>" class="text-muted">Club Website</a>
		            <% else %>
		            	 NA
		            <% end %>
		            
		          </span>
		        </p>
		        <hr class="light no-margin mb5 mt5"/>
	          <!-- <p class="text-muted no-margin">
	          	<%#= link_to school.website do %>
	          		Website
	          	<%# end %>
	          	<%#= school.phone_number %>
	          </p> -->
	          <% if current_user %>
	  		  		<% if current_user.admin? %>
	  		    		<%= link_to new_club_team_path(club), class: "btn btn-primary button-striped button-full-striped btn-ripple btn-xs fs_12 mt10" do %>
	  		    			<i class="ion-plus-circled"></i> Add Team
	  		    			<span class="ripple animate"></span>
	  		    		<% end %>
	  		  		<% end %>
  		  		<% end %>

	         
	        </div>
	      </div><!--.card-body-->

	     <!--  <div class="card-footer">
	        <%#= link_to "Delete", school, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "btn btn-orange btn-xs" %>
			
	      </div> --><!--.card-footer-->

	    </div><!--.card-->
  	</div><!--.col-md-4-->
<% end %>



<%#= link_to school.name, school %>