<!--
* To change the hover link color and active selector border color,
you can combine the header div with header-*(material-colors).
For ex: <div class="header header-red"> or <div class="header header-teal">
-->
<div class="header">
	<div class="container">

		<div class="logo">
			<h4 class="logo text-light-shadow">
				<%= image_tag("icons/flag.png", height: "25", width: "auto", class: "margin-right-5", style: "margin-top: -3px;") %>
				SportsMarkit
			</h1>
		</div><!--.logo-->

		<!--
		* data-nav-link attribute is necessary for data-anchor links.
		* data-anchor="slide1" attribute is useful when user clicks the data-nav-link, the window moves the related slide.
		-->
		<div class="animated-selector">
			<ul class="navigation" role="tablist">
				<li class="active" href="#schools" role="tab" data-toggle="tab">
					SCHOOLS
				</li>
				<li href="#athletes" role="tab" data-toggle="tab">
					ATHLETES
				</li>
				<li href="#parents" role="tab" data-toggle="tab">
					PARENTS
				</li>
				<li href="#fans" role="tab" data-toggle="tab">SPORTS FANS</li>
			</ul>
			<div class="selector"></div>
		</div><!--.animated-selector-->

		<div class="btn-action">
			<a href="/signup" class="btn btn-indigo">Create a Free Account</a>
			<a href="/login" class="btn btn-indigo">Login</a>
		</div><!--.btn-action-->

		<div class="hamburger-btn"></div><!--.hamburger-btn-->

	</div><!--.container-->
</div><!--.header-->

<div class="tab-content no-padding">
	<div class="tab-pane active fade in" id="schools">
		<div class="slide bg-image" style="background-image: url('http://www1.pgcps.org/uploadedImages/Offices/Communications/Press_Releases/2011_-_2012/June/Potomac%20Track%20Team.JPG');">

			<div class="container z1">
				<div class="row">
					<div class="col-md-9">
						<h1 class="h0 text-white text-light-shadow">
							THE <span class="highlight ls1">EASIEST</span> WAY TO
							<span data-typer-targets="UNIQUE, ADVANCED, ESSENTIAL">MANAGE</span><br>
							HIGH SCHOOL ATHLETIC PROGRAMS.
						</h1>
						<p class="caption text-white text-light-shadow">Manage rosters, share calendars, centralize team communication, <br/> arrange payments, set notifications, invite fans, and much more...</p>
					</div><!--.col-->
				</div><!--.row-->

				<div class="row">
					<div class="col-md-12">
						<h4 class="text-white">MOBILE APP COMING SOON!</h4>
						<h6 class="text-cyan bold ">Available In Stores Fall 2015</h6>
						<ul class="store-list no-margin">
							<li>
								<a href="javascript:;">
									<%= image_tag("one-page-parallax/on-appstore.png", alt: "") %>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<%= image_tag("one-page-parallax/on-googleplay.png", alt: "") %>
								</a>
							</li>
						</ul>
					</div><!--.col-->
				</div><!--.row-->
			</div><!--.container-->

			<a class="btn btn-large btn-floating btn-indigo btn-next btn-next-center" data-anchor="slide1" data-nav-link><i class="ion-chevron-down"></i></a>
		</div><!--.slide-hero-->
		
	</div>

	<div class="tab-pane fade active" id="athletes">
		<div class="slide bg-image"  style="background-image: url('<%= image_path("placeholders/athlete_bg.png") %>'); background-size: cover;">

			<div class="container z1">
				<div class="row">
					<div class="col-md-9">
						<h1 class="h0 text-white text-light-shadow">
							THE <span class="highlight ls1">EASIEST</span> WAY TO
							<span data-typer-targets="UNIQUE, ADVANCED, ESSENTIAL">MANAGE</span><br>
							YOUR ENTIRE SPORTS LIFE ONLINE.
						</h1>
						<p class="caption text-white text-light-shadow">Unlimited team profiles, personalized sports calendars, videos and photo<br/>
						uploads, text-message notifications, get followed by fans, and more...</p>
					</div><!--.col-->
				</div><!--.row-->

				<div class="row">
					<div class="col-md-12">
						<h4 class="text-white">MOBILE APP COMING SOON!</h4>
						<h6 class="text-cyan bold ">Available In Stores Fall 2015</h6>
						<ul class="store-list no-margin">
							<li>
								<a href="javascript:;">
									<%= image_tag("one-page-parallax/on-appstore.png", alt: "") %>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<%= image_tag("one-page-parallax/on-googleplay.png", alt: "") %>
								</a>
							</li>
						</ul>
					</div><!--.col-->
				</div><!--.row-->
			</div><!--.container-->
			<a class="btn btn-large btn-floating btn-indigo btn-next btn-next-center" data-anchor="slide1" data-nav-link><i class="ion-chevron-down"></i></a>
		</div><!--.slide-hero-->

	</div>

</div>

