<li class="has-action-left">
  <a href="#" class="hidden">
    <i class="ion-checkmark-circled text-success"></i>
  </a>
  <a href="#" class="visible no-action">
    <div class="list-content row">
      <div class="col-sm-1">
        <%= image_tag m.user.try(:avatar), class: "face-radius", alt: "", style: "width: 55px; height: 55px;" %>
      </div>

      <div class="col-sm-3">
        <h4 class="semi-bold no-margin capitalize">
          <%= best_in_place m.user, :name, as: :input %>
        </h4>
        <p class="small">
          <small>
            Name
          </small>
        </p>
      </div>
      <div class="col-sm-1">
        <h4 class="no-margin">
          <%= best_in_place m, :participant_classification, as: :input  %>
        </h4>
        <p class="small">
          <small>
            Status
          </small>
        </p>
      </div>
      <div class="col-sm-1">
        <h4 class="no-margin">
          <%= best_in_place m, :position, as: :input %>
        </h4>
        <p class="small">
          <small>
            Position
          </small>
        </p>
      </div>
      <div class="col-sm-2 text-center">
        <h4 class="no-margin">
          <%= best_in_place m, :head, as: :input %>
        </h4>
        <p class="small">
          <small>
            Head
          </small>
        </p>
      </div>
      <div class="col-sm-2 text-center">
        <h4 class="no-margin">
          <%= best_in_place m, :head_title, as: :input %>
        </h4>
        <p class="small">
          <small>
            Head title
          </small>
        </p>
      </div>
      <div class="col-sm-1">
        <h4 class="no-margin">
          <%= best_in_place m, :admin, as: :checkbox, collection: {false: "No", true: "Yes"} %>
        </h4>
        <p class="small">
          <small>
            Admin
          </small>
        </p>
      </div>
    </div>
  </a>
</li>