<li class="has-action-left">
  <a href="#" class="hidden">
    <i class="ion-checkmark-circled text-success"></i>
  </a>
  <a href="#" class="visible no-action">
    <div class="list-content row">
      <div class="col-sm-1">
        <%= image_tag m.user.try(:avatar), class: "face-radius", alt: "", style: "width: 40px; height: 40px; margin-right: 10px;" %>
      </div>
      <div class="col-sm-11">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="margin-bottom-5 semi-bold capitalize">
              <%= best_in_place m.user, :name, as: :input %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
          <h5 class="no-margin">
            <%= best_in_place m, :participant_classification, as: :input  %>
          </h5>
          <p class="small">
            <small>
              Status
            </small>
          </p>
          </div>
          <div class="col-sm-3">
            <h5 class="no-margin">
              <%= best_in_place m, :position, as: :input %>
            </h5>
            <p class="small">
              <small>
                Position
              </small>
            </p>
          </div>
          <div class="col-sm-2 text-center">
            <h5 class="no-margin">
              <%= best_in_place m, :head, as: :input %>
            </h5>
            <p class="small">
              <small>
                Head
              </small>
            </p>
          </div>
          <div class="col-sm-3 text-center">
            <h5 class="no-margin">
              <%= best_in_place m, :head_title, as: :input %>
            </h5>
            <p class="small">
              <small>
                Head title
              </small>
            </p>
          </div>
          <div class="col-sm-1">
            <h5 class="no-margin">
              <%= best_in_place m, :admin, as: :checkbox, collection: {false: "No", true: "Yes"} %>
            </h5>
            <p class="small">
              <small>
                Admin
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</li>