<div class="page-header full-content bg-primary" style="min-height: 141px;">
  <div class="row">
    <div class="col-md-6">
      <%= link_to team_path(object) do %>
        <div class="pull-left margin-right-20">
          <div class="profile-photo-wrapper" style="height: 85px; overflow: hidden;" id="edit-header-avatar">
            <%= image_tag(object.avatar, class: "img-thumbnail img-responsive", style: "height: 100%; width: 100%:") %>
          </div>
        </div>
        <div class="pull-left">
          <h3 class="capitalize text-white mb5">
            <%= object.name %>
          </h3>
          <h6 class="capitalize text-white">
            <i class="ion-map mr5"></i> <%= object.address.city %>, <%= object.address.state %>
          </h6>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb">
        <li><a href="/"><i class="ion-home"></i></a></li>
        <li><a href="<%= teams_path %>">Teams</a></li>
        <li><a href="<%= team_path %>"><%= object.name %></a></li>
        <li><a href="#" class="active">Edit</a></li>
      </ol>
    </div>
  </div>
  <br/>
  <br/>
  <div class="clearfix"></div>
  <div class="header-tabs scrollable-tabs sticky">
    <%= link_to team_uploads_path(object), class: "mt10 pull-right btn btn-blue-grey button-striped button-full-striped btn-ripple mr20" do %>
      <i class="ion-plus-circled fs_16 mr5"></i> Upload Team Roster
    <% end %>
    <ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
      <li class="active"><a href="#general" data-toggle="tab">General</a></li>
      <li><a href="#social-media" data-toggle="tab">Social Media</a></li>
      <li><a href="#media" data-toggle="tab">Upload Media</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div id="profile-picture">
          <%= render 'shared/profile_picture', object: object, profile_pictures: @profile_pictures, profile_picture: @profile_picture %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel box-shadow-ccc">
          <%= form_for object, html: { data: { remote: true, toggle: 'validator', disable: false , notify: true } } do |f| %>
            <div class="panel-body no-padding form-layout">
              <div class="tab-content with-panel">
                <div class="tab-pane active text-style" id="general">
                  <div class="panel-header">
                    <h4 class="text-right semi-bold text-primary">General</h4>
                  </div>
                  <hr class="margin-top-0"/>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="row example-row">
                          <div class="col-md-12">Name</div>
                          <div class="col-md-12">
                            <div class="inputer">
                              <div class="input-wrapper form-group">
                                <%= f.text_field :name, class: "form-control", required: true %>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row example-row">
                          <div class="col-md-12">Description</div>
                          <div class="col-md-12">
                            <div class="inputer">
                              <div class="input-wrapper form-group">
                                <%= f.text_area :description, class: "form-control", rows: 4 %>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row example-row">
                          <div class="col-md-12">Sport</div>
                          <div class="col-md-12 m-t-10">
                            <div class="inputer">
                              <%= f.select :sport, Sport.pluck(:sport), {}, {class: 'selecter bg-white margin-bottom-0', prompt:'select level', required: true, data: { live_search: 'true', width: '100%' }} %>
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                        </div>
                        <%= f.fields_for :address, address do |address| %>
                          <div class="row example-row">
                            <div class="col-md-12">Address</div>
                            <div class="col-md-12">
                              <div class="inputer">
                                <div class="input-wrapper form-group">
                                  <%= address.text_field :street_1, class: "form-control", required: true %>
                                  <div class="help-block with-errors"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row example-row">
                            <div class="col-md-12">Address Line 2</div>
                            <div class="col-md-12">
                              <div class="inputer">
                                <div class="input-wrapper form-group">
                                  <%= address.text_field :street_2, class: "form-control" %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row example-row">
                            <div class="col-md-12">City</div>
                            <div class="col-md-12">
                              <div class="inputer">
                                <div class="input-wrapper form-group">
                                  <%= address.text_field :city, class: "form-control", required: true %>
                                  <div class="help-block with-errors"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row example-row">
                            <div class="col-md-12">State</div>
                            <div class="col-md-12">
                              <div class="inputer">
                                <div class="input-wrapper form-group">
                                  <%= address.text_field :state, class: "form-control", required: true %>
                                  <div class="help-block with-errors"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row example-row">
                            <div class="col-md-12">Zipcode</div>
                            <div class="col-md-12">
                              <div class="inputer">
                                <div class="input-wrapper form-group">
                                  <%= address.text_field :postcode, class: "form-control payment-restrict", restrict: true, required: true %>
                                  <div class="help-block with-errors"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane text-style" id="social-media">
                  <div class="panel-body pl40 pr40">
                    <h4 class="text-right">Social Media Profiles</h4>
                    <hr class="margin-top-0"/>
                    <h5 class="bold text-primary">Add Social Media Accounts</h5>
                    <br/>
                    <%= render 'shared/social_edit', f: f %>
                  </div>
                </div>
                <div class="tab-pane text-style" id="media">
                  <div class="panel-header">
                    <h4 class="text-right semi-bold text-primary">Upload Media</h4>
                  </div>
                  <hr class="margin-top-0"/>
                  <div class="panel-body pr40 pl40">
                    <%= render 'shared/edit_media', object: object, pictures: pictures, videos: videos, articles: articles %>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer form-layout">
              <br/>
              <p class="text-right">
                <%= f.submit "Update", class: "btn btn-primary btn-ripple" %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
