<%= form_for m, html: {data: {remote: true}} do |f| %>
<li id="edit-head-<%= m.class.to_s %><%= m.id%>" class="">
	<div class="list-content pb40">
		<div class="row">
			<div class="col-sm-12">
				<%= link_to team_close_roster_view_path(team_id: team.id, class: m.class, id: m.id, status: "head"), remote: true, class: "btn btn-floating btn-default btn-ripple pull-right mr20" do %>
					<i class="ion-close-round"></i>
				<% end %>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-2">
			<div class="center">
				<% if m.class.to_s == "Relationship" %>
				  <%= image_tag m.user.try(:avatar), class: "face-radius", alt: "", style: "width: 100px; height: 100px; border: 3px solid #ddd;" %>
				<% else %>
				  <%= image_tag "http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png", class: "face-radius", alt: "", style: "width: 100px; height: 100px; border: 3px solid #ddd;" %>
				<% end %>
			</div>
			</div>

			<div class="col-sm-6">
			<div class="row">
				<div class="col-md-12">
					<% if m.class.to_s == "Relationship" %>
						<h3 class="semi-bold capitalize">
						  <%= m.user.try(:full_name) %>
					    </h3>
					<% else %>
						<div class="row">
							<div class="col-md-6">
								<%= f.text_field :first_name, type: "text", class: "form-control" %> 
								<p class="small">
									<small>
										First Name
									</small>
								</p>
							</div>
							<div class="col-md-6">
								<%= f.text_field :last_name, type: "text", class: "form-control" %>

								<p class="small">
									<small>
										Last Name
									</small>
								</p>
							</div>
						</div>
					<% end %>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10">
							<%= f.text_field :head_title, type: "text", class: "form-control" %> 
							<p class="small">
								<small>
									Head Title
								</small>
							</p>
						</div>
						<!-- <div class="col-md-6">
							<%# if false %>
							  	<%= f.text_field :position, type: "text", class: "form-control"  %>
								<p class="small">
									<small>
										Position
									</small>
								</p>
							<%# end %>
						</div> -->
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10">
						  	<%= f.text_field :mobile_phone_number, type: "text", class: "form-control"  %>
							<p class="small">
								<small>
									Mobile Phone Number
								</small>
							</p>
						</div>
						<div class="col-md-3">
							<%= f.check_box :head %> 
							<p class="small">
								<small>
									Is Coach?
								</small>
							</p>
						</div>
						<div class="col-md-3">
							<%= f.check_box :trainer %> 
							<p class="small">
								<small>
									Is Trainer?
								</small>
							</p>
						</div>
						<div class="col-md-3">
							<%= f.check_box :manager %> 
							<p class="small">
								<small>
									Is Manager?
								</small>
							</p>
						</div>
						
					</div>
				</div>
			</div>
			</div>
		
			<div class="col-sm-4">
			
			<div class="col-md-12">
				<div class="pull-left">
					<h4>
						<i class="ion-person-add text-primary margin-right-10 h4"></i>Updating team members
					</h4>
				</div>
			</div>

			<div class="col-md-12">
				<div class="note note-warning note-left-striped">
					<h4>Awesome Guidance Text</h4>
					<p class="small text-grey">
						<small>
							Once added, the team member will be notified of your request to join that team. 
						</small>
					</p>
				</div>

				<hr class="no-margin"/>

				<div class="row">
					<div class="col-md-12">
						<%= f.submit "Update Team Member", class: "btn btn-primary pull-right btn-block" %>
					</div>
				</div>
			</div>

		</div>
	</div>
</li>

<% end %>