<%= form_for m, html: {data: {remote: true}} do |f| %>
<li id="edit-head-<%= m.class.to_s %><%= m.id%>" class="">
	<div class="list-content no-padding">
		<div class="clearfix pt15">
			<div class="col-md-12">
				<div class="pull-right">
					<%= link_to team_close_roster_view_path(team_id: team.id, class: m.class, id: m.id, status: "head"), remote: true, class: "btn btn-floating btn-default btn-ripple pull-right mr20" do %>
						<i class="ion-close-round"></i>
					<% end %>
				</div>
				<div class="pull-left mr20">
					<% if m.class.to_s == "Relationship" %>
					  <%= image_tag m.user.try(:avatar), class: "face-radius", alt: "", style: "width: 75px; height: 75px; border: 2px solid #ddd;" %>
					<% else %>
					  <%= image_tag "http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png", class: "face-radius", alt: "", style: "width: 75px; height: 75px; border: 2px solid #ddd;" %>
					<% end %>
				</div>
				<div class="pull-left">
					<% if m.class.to_s == "Relationship" %>
						<h4 class="semi-bold capitalize no-margin text-black">
						  <%= m.user.try(:full_name) %>
					    </h4>
					<% else %>
						<div class="row">
							<div class="col-md-6">
								<%= f.text_field :first_name, type: "text", class: "form-control" %>
								<p class="small">
									<small>
										First Name
									</small>
								</p>
							</div>
							<div class="col-md-6">
								<%= f.text_field :last_name, type: "text", class: "form-control" %>
								<p class="small">
									<small>
										Last Name
									</small>
								</p>
							</div>
						</div>
					<% end %>
					<p class="small text-muted no-margin">
						<small>
							<%= m.head_title.blank? ? "TBD" : m.head_title %>
						</small>
					</p>

					<br/>

					<div class="">
						<%= f.text_field :head_title, type: "text", class: "form-control" %> 
						<p class="small">
							<small>
								Position/Title
							</small>
						</p>
					</div>
					<!-- <div class="col-md-6">
						<%# if false %>
						  	<%= f.text_field :position, type: "text", class: "form-control"  %>
							<p class="small">
								<small>
									Position
								</small>
							</p>
						<%# end %>
					</div> -->
					<div class="">
					  	<%= f.text_field :mobile_phone_number, type: "text", class: "form-control"  %>
						<p class="small">
							<small>
								Mobile Phone Number
							</small>
						</p>
					</div>

					<div class="row">
				
						<div class="col-md-4">
							<%= f.check_box :head %> 
							<p class="small">
								<small>
									Coach
								</small>
							</p>
						</div>
						<div class="col-md-4">
							<%= f.check_box :trainer %> 
							<p class="small">
								<small>
									Trainer
								</small>
							</p>
						</div>
						<div class="col-md-4">
							<%= f.check_box :manager %> 
							<p class="small">
								<small>
									Manager
								</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row bgcolor-light-grey padding-20 b-t-ddd">
			<div class="col-md-12">
				<%= f.submit "Update", class: "btn btn-primary btn-sm pull-right" %>
			</div>
		</div>
	</div>
</li>

<% end %>