<li class="has-action-left">
    <a href="#" class="hidden">
        <i class="ion-checkmark-circled text-success"></i>
    </a>
    <a href="#" class="visible">
        <div class="list-content row">
            <div class="col-sm-1">
				<% if m.class.to_s == "Relationship" %>
                  <%= image_tag m.user.avatar, class: "face-radius", alt: "", style: "width: 55px; height: 55px;" %>
				<% else %>
				  <%= image_tag "http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-md.png", class: "face-radius pl", alt: "", style: "width: 65px; height: 65px; border: 2px solid #ddd;" %>
				<% end %>
            </div>

            <div class="col-sm-3">
                <h4 class="semi-bold no-margin capitalize">
					<% if m.class.to_s == "Relationship" %>
                      <%= m.user.full_name %>
					<% else %>
					  <%= m.first_name  %> <%= m.last_name %>ß
					<% end %>
				
                </h4>
                <p class="small">
                    <small>
                        Name
                    </small>
                </p>
            </div>
            <div class="col-sm-2">
                <h4 class="no-margin">
                    <%= m.head_title if m.head?%>
                </h4>
                <p class="small">
                    <small>
                        title
                    </small>
                </p>
            </div>
            <div class="col-sm-2">
                <h4 class="no-margin">
                    
                </h4>
                <p class="small">
                    <small>
                        certfications
                    </small>
                </p>
            </div>
            <div class="col-sm-4">
                <h4 class="no-margin">
                    <i class="text-grey fa fa-quote-left"></i>
                    
                </h4>
                <p class="small">
                    <small>
                        phone
                    </small>
                </p>
            </div>
        </div>
    </a>
</li>

