
  <%= link_to team_path(team) do %>
  <div class="col-md-4 col-lg-2 col-sm-6 element-item <%= team.classification_and_category %> all" data-category="<%= team.classification_and_category %> all">
      <div class="card card-user card-clickable card-clickable-over-content">
        <div class="card-heading heading-full">
          <div class="user-image sample-member9" style="background: url('<%= team.avatar %>'); background-position: bottom;"></div>
          <% if team.can_be_edited_by_user?(current_user)%>
              <div class="clickable-button">
                <%= link_to edit_team_path(team), class: "btn btn-floating btn-orange initial-position floating-open" do %>
                  <i class="ion-gear-b"></i>
                <% end %>
              </div>
          <% end %>

        </div><!--.card-heading-->

        <div class="card-body relative">

          <div style="height: 40px; position: relative;">
            <h4 class="card-title capitalize fs_14 lh_20 absolute bottom bold">
              <%= truncate(team.proper_name, length: 33) %>
            </h4>
          </div>

          <hr class="light mt5 mb5"/>

          <div class="subhead fs_12">
            <span class="text-muted">
              <i class="ion-information-circled mr5"></i> <%= team.sport %>
            </span>
            <span class="text-muted"><i class="ion-map mr5"></i> 
              <%= truncate(team.city_state.present? ? team.city_state : "NA", length: 30) %>
            </span>
            <!-- <span class="text-muted">[school name or Team Type]</span> -->
          </div>
          
        </div><!--.card-body-->

        <!-- <div class="card-footer">
          <%#= link_to "Edit", edit_team_path(user), class: "btn btn-sm btn-message" %>
          <%#= link_to "Delete", team, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-sm btn-danger" %>
        </div> -->
        <!--.card-footer-->

      </div><!--.card-->
    </div><!--.col-md-4-->
  <% end %>


