<div class="content">
	<div class="page-header full-content bg-primary" style="min-height: 141px;">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="capitalize">
					<%= @team.name %>
					<small></small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= teams_path %>">Teams</a></li>
					<li><a href="<%= team_path %>"><%= @team.name %></a></li>
					<li><a href="#" class="active">Edit</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#general" data-toggle="tab">General</a></li>
				<li><a href="#tab2" data-toggle="tab">Tabs [2]</a></li>
				<li><a href="#media" data-toggle="tab">Media</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

<%= form_for @team do |f| %>
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-body">

					<div class="tab-content with-panel">
						<div class="tab-pane active text-style" id="general">
							
							<%= f.select :sport, Sport.pluck(:sport), {}, {:class => 'selecter bg-white margin-bottom-0', :prompt=>'select level', :required => 'true', data:{live_search: 'true', width: '100%'}} %>

								<%= f.text_field :name %>
								
								<%= f.text_field :address_1, type: "text", class: "form-control", placeholder: "" %><br>
								
								<%= f.text_field :address_2, type: "text", class: "form-control", placeholder: "" %><br>
								
								<%= f.text_field :city, type: "text", class: "form-control", placeholder: "" %><br>
								
								<%= f.text_field :state, type: "text", class: "form-control", placeholder: "" %><br>
								
							   <%= f.text_field :zip, type: "text", class: "form-control payment-restrict", :restrict => true %><br>
							   
							   <%= f.text_field :zip_ext, type: "text", class: "form-control payment-restrict", :restrict => true %><br>
							   
							   <%= f.submit "Awesome. Let's create a team!", class: "btn btn-blue btn-lg btn-block btn-ripple" %><br>
									

						</div><!--tab-pane-->

						<div class="tab-pane text-style" id="tab2">
							
								put some more stuff here

						</div><!--tab-pane-->

		              	<div class="tab-pane text-style" id="media">
		                  <%= render 'shared/edit_media'%>
						</div><!--.tab-pane-->
					</div><!--.tab-content-->

				</div><!--.panel-body-->
			</div><!--.panel-->
		</div><!--.col-md-12-->
	</div><!--.row-->
<% end %>
</div>
<!--.content-->
                        



                            



