<div class="content">
	<div class="page-header full-content bg-primary" style="min-height: 141px;">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="capitalize">
					<%= @team.name %>
					<small></small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= teams_path %>">Teams</a></li>
					<li><a href="<%= team_path %>"><%= @team.name %></a></li>
					<li><a href="#" class="active">Edit</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#general" data-toggle="tab">General</a></li>
				<li><a href="#media" data-toggle="tab">Upload Media</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

<%= form_for @team do |f| %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
			<div class="panel box-shadow-ccc">
				<div class="panel-body no-padding form-layout">

					<div class="tab-content with-panel">
						<div class="tab-pane active text-style" id="general">

							<div class="panel-header">
								<h4 class="text-right semi-bold text-primary">General</h4>
							</div>
							<hr class="margin-top-0"/>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-8 col-md-offset-2 col-sm-12">
										<div class="row example-row">
											<div class="col-md-12">Name</div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= f.text_field :name, type: "text", class: "form-control", placeholder: "" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->

										<div class="row example-row">
											<div class="col-md-12">Sport</div><!--.col-md-3-->
											<div class="col-md-12 m-t-10">
												<div class="inputer">
													<%= f.select :sport, Sport.pluck(:sport), {}, {:class => 'selecter bg-white margin-bottom-0', :prompt=>'select level', :required => 'true', data:{live_search: 'true', width: '100%'}} %>

												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->

										<div class="row example-row">
											<div class="col-md-12">Address</div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= f.text_field :address_1, type: "text", class: "form-control", placeholder: "" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->

										<div class="row example-row">
											<div class="col-md-12">Address Line 2</div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= f.text_field :address_2,  type: "text", class: "form-control", placeholder: "" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->


										<div class="row example-row">
											<div class="col-md-12">City</div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= f.text_field :city, type: "text", class: "form-control", placeholder: "" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->

										<div class="row example-row">
											<div class="col-md-12">State</div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= f.text_field :state, type: "text", class: "form-control", placeholder: "" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->


										<div class="row example-row">
											<div class="col-md-12">Zipcode</div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= f.text_field :zip,type: "text",  class: "form-control payment-restrict", :restrict => true, placeholder: "" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->

										<div class="row example-row">
											<div class="col-md-12">Zipcode Exit</div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= f.text_field :zip_ext, type: "text", class: "form-control payment-restrict", :restrict => true, placeholder: "" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->
									</div>

								</div><!--.panel-body-->
							</div>
						</div><!--tab-pane-->

						<div class="tab-pane text-style" id="media">
		                  	
		                  	<div class="panel-header">
								<h4 class="text-right semi-bold text-primary">Upload Media</h4>
							</div>
							<hr class="margin-top-0"/>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-8 col-md-offset-2 col-sm-12">
										<%= render 'shared/edit_media'%>
									</div>
								</div>
							</div>
						</div><!--.tab-pane-->
					</div><!--.tab-content-->
				</div><!--.panel-body-->
				<div class="panel-footer form-layout">
					<br/>
					<p class="text-right">
						<%= f.submit "Update", class: "btn btn-primary btn-ripple" %>
					</p>
				</div><!--.panel-body-->
			</div><!--.panel-->
		</div><!--.col-md-12-->
	</div><!--.row-->
<% end %>
</div>
<!--.content-->
                
			<%= render 'shared/picture_modal' %>



                            



