<style>
  .sample-bg-image13:before {
    background-image: url('<%=background_url(@team) %>');
  }
  .card-clickable {
    padding-bottom: 0;
  }
  .sample-member9 {
    background-image: url('http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif');
  }

  .card-friend .user-photo {
    float: left;
    width: 160px;
    height: auto;
    border-radius: 3px 0 0 3px;
  }
  .card-friend .friend-content {
    margin-left: 180px;
  }

</style>

<div class="content">
  <div class="page-header full-content bg-primary mb0" style="min-height: 141px;">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="capitalize semi-bold">
          <%= @team.name %>
          <small></small>
        </h1>
      </div><!--.col-->
      <div class="col-sm-6">
       	<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= teams_path %>">Teams</a></li>
					<% if @team.school.present? %>
				  		<li><a href="#"><%= @team.school.name %></a></li>
				  		<!-- add path for linking -->
					<% end %>
					<li><a href="#" class="active"><%= @team.name %></a></li>
				</ol>
      </div>
    </div><!--.row-->

    <div class="header-tabs scrollable-tabs sticky">
      
      <% if current_user %>
        <% if current_user.admin? or current_user == @user %>
          <%= link_to edit_team_path(@team), class: "mt10 pull-right btn btn-blue-grey button-striped button-full-striped btn-ripple mr20" do %>
              <i class="ion-gear-b fs_16 mr5"></i> Edit Profile
          <% end %>
        <% end %>
      <% end %>

      <div class="pull-right mr10 mt10" id="team-button">
				<% if current_user.relationships.where(team_id: @team.id).empty? %>
				  <%= render 'relationships/relationship'%>
				<% elsif current_user.relationships.where(team_id: @team.id, accepted: nil, rejected: nil).present? %>
				  <%= render 'relationships/pending'%>
				<% elsif current_user.relationships.where(team_id: @team.id, accepted: true).present? %>
					<%= render 'relationships/member'%>
					
				<% end %>
			</div>



     	<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
        <li class="active">
          <a href="#about" data-toggle="tab" class="btn-ripple">About</a>
        </li>
        <li><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
        <li><a href="#teammates" data-toggle="tab" class="btn-ripple">Teammates</a></li>
        <li>
          <a href="#media" data-toggle="tab" class="btn-ripple">Photos & Videos</a>
        </li>
        <li>
          <a href="#calendar-tab" data-toggle="tab" class="btn-ripple">
            Calendar
          </a>
        </li>
        <li>
          <a href="#following" data-toggle="tab" class="btn-ripple">Following</a>
        </li>
        <li><a href="#fans" data-toggle="tab" class="btn-ripple">Fans</a></li>
        <%# if ParentChild.where(parent_id: @user.id).present? %>
          <!-- <li><a href="#parent-child" data-toggle="tab" class="btn-ripple">Children</a></li> -->
        <%# end %>
        <!-- <li><a href="#photo" data-toggle="tab" class="btn-ripple">Photo</a></li> -->
      </ul>
    </div>
  </div><!--.page-header-->
	
	<div class="row">
    <div class="col-md-12">
      <div class="tab-content without-border">
							
				<!-- about -->
				<%= render "teams/show/about_tab" %>

				<!-- roster -->
				<%= render "teams/show/roster_tab" %>

				<!-- facilities -->
				<%= render "teams/show/facilities_tab" %>

				<!-- calendar -->
				<%= render "teams/show/calendar_tab" %>
			
				<!-- media -->
				<%= render "teams/show/media_tab" %>

			 	<!-- following -->
			 	<%= render "teams/show/following_tab" %>
				      
      	<!-- fans -->
      	<%= render "teams/show/fans_tab" %>

      	<!-- admin -->
      	<%= render "teams/show/admin_tab" %>

	      		<!-- payments -->
				<!-- <div id="payments" class="tab-pane">
				</div> -->
				<!--#payments.tab-pane-->

				<%#= render 'shared/photo_tab', photo_owner: @team %>

			</div><!--.tab-content-->
		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->

<%= render "shared/panels/new_team" %>
<%= render "shared/panels/new_team_league" %>
<%= render "shared/panels/new_event" %>


	

      		