<style>
  .sample-bg-image13:before {
    background-image: url('<%=background_url(@team) %>');
  }
  .card-clickable {
    padding-bottom: 0;
  }
  .sample-member9 {
    background-image: url('http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif');
  }

  .card-friend .user-photo {
    float: left;
    width: 160px;
    height: auto;
    border-radius: 3px 0 0 3px;
  }
  .card-friend .friend-content {
    margin-left: 180px;
  }

</style>


<div class="content">
	<div class="page-header full-content parallax">
   	<%= render "teams/show/header" %>
   	<%= render "teams/show/tab_navigation" %>
	</div><!--.page-header-->

	<div class="container">
  	<div class="user-profile">
	    <div class="row">
			  <% if Sport.where(sport: @team.sport).present? %>
		      <img src="<%= image_path(Sport.find_by_sport(@team.sport).try(:default_photo)) %>" alt="" class="col-md-2 img-thumbnail img-responsive b-rad-6" style="margin-top: -180px; z-index: 99999;">
				<% else %>
			 		<img src="http://www.oxtonhc.co.uk/wp-content/themes/oxtonhc/library/images/team-placeholder.jpg" alt="" class="col-md-2 img-thumbnail img-responsive b-rad-6" style="margin-top: -180px; z-index: 99999;">
				<% end %>
		    <div class="col-md-10">
		    </div>
		  </div>
		    <div class="row">
		      <div class="col-md-12">
		        <div class="tab-content without-border">
										
							<!-- about -->
							<%= render "teams/show/about_tab" %>

							<!-- roster -->
							<%= render "teams/show/roster_tab" %>

							<!-- facilities -->
							<%= render "teams/show/facilities_tab" %>

							<!-- calendar -->
							<%= render "teams/show/calendar_tab" %>
						
							<!-- media -->
							<%= render "teams/show/media_tab" %>

						 	<!-- following -->
						 	<%= render "teams/show/following_tab" %>
					      
			      	<!-- fans -->
			      	<%= render "teams/show/fans_tab" %>

			      	<!-- admin -->
			      	<%= render "teams/show/admin_tab" %>

		      		<!-- payments -->
							<!-- <div id="payments" class="tab-pane">
							</div> -->
							<!--#payments.tab-pane-->

							<%#= render 'shared/photo_tab', photo_owner: @team %>

				</div><!--.tab-content-->
				</div><!--.col-->
			</div><!--.row-->
		</div>
	</div>

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->

<%= render "shared/panels/new_team" %>
<%= render "shared/panels/new_team_league" %>
<%= render "shared/panels/new_event" %>


	

      		