<div class="content">

	<div class="page-header full-content parallax" style="height: 600px; overflow: hidden">
		<div class="parallax-bg" style="background: url('http://svite-league-apps-content.s3.amazonaws.com/bgimages/sports-wave.jpg') 50% 50%; background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
		</div>

		<div class="social-buttons">
			<%= render 'shared/fan' %>
		</div>

		<div class="team-buttons" id="team-button">
			<% if current_user.relationships.where(team_id: @team.id).empty? %>
			  <%= render 'relationships/relationship'%>
			<% elsif current_user.relationships.where(team_id: @team.id, accepted: nil, rejected: nil).present? %>
			  <%= render 'relationships/pending'%>
			<% elsif current_user.relationships.where(team_id: @team.id, accepted: true).present? %>
				<%= render 'relationships/member'%>
				<%= link_to "/relationships/#{current_user.relationships.where(team_id: @team.id, accepted: true).last.slug}/edit" do %>
				   <button class="btn btn-flat btn-ripple pull-right text-off-white">
				   		Edit Profile <i class="ion-android-settings"></i>
				   </button>
				<% end %>
			<% end %>
		</div>

		<div class="profile-info">
			<div class="profile-photo">
				<img src="<%= image_path(Sport.find_by_sport(@team.sport).try(:default_photo)) %>" alt="">
			</div><!--.profile-photo-->
			<div class="profile-text light capitalize">
				<%= @team.name %>
				<% if @team.school.present? %>
				  	<span class="caption inline">
				  		<%= link_to @team.school.name, school_path(@team.school) %>
				  	</span>
				<% end %>
				<br/>
				<span class="caption"><span class="glyphicon glyphicon-map-marker"></span>
				<%= @team.sport %></span>
			</div><!--.profile-text-->
		</div><!--.profile-info-->


		<div class="row">
			<div class="col-sm-6">
				<h1>
					<i class="ion-calendar m-r-5"></i>
					Upcoming event 
					<small><% if @team.upcoming_events.empty? %>
						[<%= @team.next_event %>]
						<% else %>
						[<%= link_to @team.next_event, event_path(@team.upcoming_events.first.friendly_id) %>]
						<% end %>
					</small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= teams_path %>">Teams</a></li>
					<% if @team.school.present? %>
				  		<li><a href="#"><%= @team.school.name %></a></li>
				  		<!-- add path for linking -->
					<% end %>
					<li><a href="#" class="active"><%= @team.name %></a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
				<li><a href="#roster" data-toggle="tab" class="btn-ripple">Roster</a></li>
				<li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li>
				<li><a href="#facilities" data-toggle="tab" class="btn-ripple">Facilities</a></li>
				<li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
				<li><a href="#payments" data-toggle="tab" class="btn-ripple">Payments</a></li>
				<li><a href="#admin" data-toggle="tab" class="btn-ripple">Admin</a></li>
				<li><a href="#leagues" data-toggle="tab" class="btn-ripple">League</a></li>
				<li><a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Calendar</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

	<div class="row user-profile">
		<div class="col-md-12">
			<div class="tab-content without-border">
				
				<!-- about -->
				<div id="about" class="tab-pane active">
					<div class="panel">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>
									<span class="text-black">
										Coaches and Staff
									</span>
								</h4>
							</div>
						</div><!--.panel-heading-->
						<div class="panel-body without-padding">
							<ul class="list-material has-hidden">
								<% @heads.each do |m| %>
							 		<%= render 'head', m: m %>
								<% end %>
							</ul>
						</div><!--.panel-body-->
					</div><!--.panel-->
				</div>
				<!--#about.tab-pane-->

				<!-- roster -->
				<div id="roster" class="tab-pane">

					<div class="panel">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>
									<i class="ion-clipboard"></i>
									TEAM ROSTER
								</h4>
							</div>
						</div><!--.panel-heading-->
						<div class="panel-body without-padding">
							<ul class="list-material has-hidden">
								<% @members.each do |m| %>
						       		<%= render 'member', m: m%>
						    	<% end %>
							</ul>
						</div><!--.panel-body-->
					</div><!--.panel-->
				</div>
				<!--#roster.tab-pane-->

				<!-- events -->
				<div id="events" class="tab-pane">
					
					<% @events.each do |event| %>

					<div class="col-md-6">
						<div class="card card-event card-clickable">

							<div class="card-heading bg-image sample-bg-image13" style="">
							</div><!--.card-heading-->

							<div class="card-body">
								<div class="calendar">
									<div class="month">November</div>
									<div class="date">27</div>
								</div><!--.calendar-->
								<h4 style="margin-bottom: 0;"><%= link_to event.title,  "/events/#{event.slug}" %></h4>
								<p>
									<%= event.event_type %>
								</p>
								<h5 class="h6 text-primary bold">
									<%= format(event.starts_at, 4) %>
									<%= format(event.starts_at, 8) %>
									- 
									<%= format(event.ends_at, 4) %>
									<%= format(event.ends_at, 8) %>
								</h5>
							</div><!--.card-body-->

							<div class="clickable-button">
								<div class="layer bg-primary"></div>
								<a class="btn btn-floating btn-primary initial-position floating-open"><i class="ion-android-more-horizontal"></i></a>
							</div>

							<div class="layered-content bg-red">
								<div class="overflow-content">
									<h4>How Many People Are Attending?</h4>
									<%= event.people_that_are_going.count %>
								</div><!--.overflow-content-->
								<div class="clickable-close-button">
									<a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
								</div>
							</div>

						</div><!--.card-->
					</div><!--.col-md-6-->
					
					<% end %>
					
				</div>
				<!--#events.tab-pane-->

				<!-- facilities -->
				<div id="facilities" class="tab-pane">
					<p class="text-right">
						<button class="btn btn-pink" data-toggle="modal" data-target="#panel-new-facility">New Facility</button>
					</p>

					<hr/>
					
					<div id='team-facility-list'>
					  <%= render 'teams/facilities', facilities: @team.facilities %>
				    </div>
					
				</div>
				<!--#facilities.tab-pane-->

				<!-- media -->
				<div id="media" class="tab-pane">
					
				</div>
				<!--#media.tab-pane-->

				<!-- payments -->
				<div id="payments" class="tab-pane">
					
					
				</div>
				<!--#payments.tab-pane-->

				<!-- admin -->
				<div id="admin" class="tab-pane">
					<div class="panel">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>
									<span class="text-black">
										UNACCEPTED PENDING USERS
									</span>
								</h4>
							</div>
						</div><!--.panel-heading-->
						<div class="panel-body without-padding">
							<ul class="list-material has-hidden pending-members">
								<% @pending_members.each do |m| %>
							     <%= render 'pending', m: m%>
							  <% end %>
							</ul>
							
						</div><!--.panel-body-->
						
					</div><!--.panel-->
					Invited Pending Users
					<br>
					Add Roster
					
					<%= form_for @new_user, url: create_roster_spot_team_path do |f| %>
					
					<%= f.text_field :first_name, placeholder: "First Name" %><br>
					<%= f.text_field :last_name, placeholder: "Last Name" %><br>
					<%= f.text_field :mobile_phone_number, placeholder: "Mobile Phone Number" %><br>
					<%= f.fields_for :relationships, @relationship do |r| %>
					<%= text_field_tag :head_title,"" ,placeholder: "Title"%><br>
					<%= text_field_tag :participant_classification,"", placeholder: "Participant Classification"%><br>
					<%= text_field_tag :position,"", placeholder: "Position"%><br>
					<%= hidden_field_tag :team_id,"", value: @team.id %><br>
					
					
					
					
					
					<% end %>
					
					<%= f.submit %>
					
					<br>
					
					<% end %>
				</div>
				<!--#admin.tab-pane-->
				
				<!-- facilities -->
				<div id="leagues" class="tab-pane">
					<p class="text-right">
						<button class="btn btn-pink" data-toggle="modal" data-target="#panel-new-team-league">Join League</button>
					</p>

					<hr/>
					
					<div id='team-league-list'>
					  <%= render 'teams/leagues', leagues: @team.leagues %>
				    </div>
					
				</div>
				<!--#facilities.tab-pane-->
        <div id="calendar-tab" class="tab-pane">

          <div class="row">
            <%= render 'shared/calendar', eventable: @team %>
          </div>

        </div>
			</div><!--.tab-content-->


		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->

<%= render "shared/panels/new_team" %>
<%= render "shared/panels/new_team_league" %>

	
	

      			