<div class="content">
	<div class="page-header full-content parallax">
    <%= render 'shared/background_photo_tab', photo_owner: @team %>

		<div class="bg-overlay"></div><!--.bg-overlay-->

		<div class="social-buttons">
			<%= render 'shared/fan' %>
		</div>

		<div class="team-buttons" id="team-button">
			<% if current_user.relationships.where(team_id: @team.id).empty? %>
			  <%= render 'relationships/relationship'%>
			<% elsif current_user.relationships.where(team_id: @team.id, accepted: nil, rejected: nil).present? %>
			  <%= render 'relationships/pending'%>
			<% elsif current_user.relationships.where(team_id: @team.id, accepted: true).present? %>
				<%= render 'relationships/member'%>
				<%= link_to "/relationships/#{current_user.relationships.where(team_id: @team.id, accepted: true).last.slug}/edit" do %>
				   <button class="btn btn-flat btn-ripple pull-right text-off-white">
				   		Edit Profile <i class="ion-android-settings"></i>
				   </button>
				<% end %>
			<% end %>
		</div>

		<div class="profile-info">
			<div class="profile-photo">
				<img src="<%= image_path(Sport.find_by_sport(@team.sport).try(:default_photo)) %>" alt="">
			</div><!--.profile-photo-->
			<div class="profile-text light capitalize">
				<%= @team.name %>
				<% if @team.school.present? %>
				  	<span class="caption inline">
				  		<%= link_to @team.school.name, school_path(@team.school) %>
				  	</span>
				<% end %>
				<br/>
				<span class="caption"><span class="glyphicon glyphicon-map-marker"></span>
				<%= @team.sport %></span>
			</div><!--.profile-text-->
		</div><!--.profile-info-->


		<div class="row">
			<div class="col-sm-6">
	          <%= render 'shared/upcoming_event', object: @team %>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= teams_path %>">Teams</a></li>
					<% if @team.school.present? %>
				  		<li><a href="#"><%= @team.school.name %></a></li>
				  		<!-- add path for linking -->
					<% end %>
					<li><a href="#" class="active"><%= @team.name %></a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#roster" data-toggle="tab" class="btn-ripple">Roster</a></li>
				<!-- <li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li> -->
				<!-- <li><a href="#facilities" data-toggle="tab" class="btn-ripple">Facilities</a></li>
				 --><li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
				<!-- <li><a href="#payments" data-toggle="tab" class="btn-ripple">Payments</a></li> -->
				<li><a href="#admin" data-toggle="tab" class="btn-ripple">Admin</a></li>
        <li><a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Calendar</a></li>

        <!-- <li><a href="#photo" data-toggle="tab" class="btn-ripple">Photo</a></li> -->
        		<!-- <li><a href="#certifications" data-toggle="tab" class="btn-ripple">Certifications</a></li> -->
      		</ul>
		</div>
	</div><!--.page-header-->

	<div class="row user-profile">
		<div class="col-md-12">
			<div class="tab-content without-border">
				<!-- roster -->
				<div id="roster" class="tab-pane active">

					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="row">
								<div class="col-lg-12">

									<!-- coaches and staff -->
									<div class="panel">
										<div class="panel-heading">
											<div class="panel-title">
												<h6 class="semi-bold mt10 mb0 pull-right upper gf_oswald">
													[12] Coaches and Staff Members
												</h6>
												<h3 class="semi-bold fs_20 mt0 mb0 upper gf_oswald ls1">
													<span class="h3 ion-ios-people margin-right-10 text-blue"></span> Coaches and Staff
												</h3>
											</div>
										</div><!--.panel-heading-->
										<hr class="no-margin"/>
										<div class="panel-body without-padding">
											<ul class="list-material has-hidden">
												<% @heads.each do |m| %>
											 		<%= render 'head', m: m %>
												<% end %>
											</ul>
										</div><!--.panel-body-->
									</div><!--.panel-->
									<br/>
									<!-- coaches and staff -->


									<!-- team roster -->
									<div class="panel box-shadow-ccc">
										<div class="panel-heading pb10 pt10">
											<div class="panel-title">
												<h6 class="semi-bold mt10 mb0 pull-right upper gf_oswald">
													[12] Athletes
												</h6>
												<h3 class="semi-bold fs_20 mt0 mb0 upper gf_oswald">
													<span class="ion-clipboard mr15 text-blue h3"></span> Team Roster
												</h3>
											</div>
										</div><!--.panel-heading-->
										<hr class="no-margin"/>
										<div class="panel-body without-padding">
											<ul class="list-material has-hidden">
												<% @members.each do |m| %>
												<% if current_user.can_edit_team?(@team) %>
										       		<%= render 'admin_view_member', m: m%>
												<% else %>
													<%= render 'member', m: m%>
												<% end %>
										    	<% end %>
											</ul>
										</div><!--.panel-body-->
									</div><!--.panel-->
									<!-- team roster -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--#roster.tab-pane-->

				<!-- events -->
				<div id="events" class="tab-pane">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<p class="text-right pull-right">
								<button class="btn btn-blue btn-sm" data-toggle="modal" data-target="#panel-new-event">	New Event
								</button>
							</p>
							<h3> 
								<i class="ion-calendar	 margin-right-10 text-blue"></i> Upcoming Events
							</h3>
							<% @events.each do |event| %>
								<%= render 'teams/events', event: event %>
							<% end %>
						</div>
					</div>
				</div>
				<!--#events.tab-pane-->

				<!-- facilities -->
				<!-- <div id="facilities" class="tab-pane">
					
				</div> -->
				<!--#facilities.tab-pane-->
        		<div id="calendar-tab" class="tab-pane">

		         <div class="row">
		            <%= render 'shared/calendar', eventable: @team %>
		         </div>

		        </div>

				<!-- media -->
				<div id="media" class="tab-pane">
					<div class="row">
	
                    <%= render 'shared/media' %>
						
					</div>
				</div>
				<!--#media.tab-pane-->

				<!-- payments -->
				<!-- <div id="payments" class="tab-pane">
				</div> -->
				<!--#payments.tab-pane-->

				<!-- admin -->
				<div id="admin" class="tab-pane">
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
							<div class="row">
								<div class="col-md-7">
									<h3><i class="ion-clipboard text-primary margin-right-20 h4"></i>Pending Users </h3>
									<div class="panel box-shadow-ccc">
										<div class="panel-heading">
											<div class="panel-title">
											</div>
										</div><!--.panel-heading-->
										<div class="panel-body without-padding">
											<ul class="list-material has-hidden pending-members">
												<% @pending_members.each do |m| %>
											     <%= render 'pending', m: m%>
											  <% end %>
											</ul>
										</div><!--.panel-body-->
									</div><!--.panel-->
								</div>
								<div class="col-md-offset-1 col-md-4">
									<div class="row">
										<div class="pull-left">
											<%= image_tag("http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png", class: "img-circle margin-left-20 margin-right-20", height: "45", width: "45" ) %>
										</div>
										<div class="pull-left">
											<h3><i class="ion-person-add text-primary margin-right-10 h4"></i>Add New User</h3>
										</div>
									</div>

									<div class="note note-warning note-left-striped">
										<h4>Adding a new member to your team profile.</h4>
										<p class="small text-grey">
											<small>
												Use the search box below to find your teams. Once added, the team administrator will be notified of your request to join that team. In the meantime, your status will be pending.
											</small>
										</p>
									</div>

									<hr class="no-margin"/>
									<br/>

									<div class="panel">
							<div class="panel-body">


								<%= form_for @new_user, url: create_roster_spot_team_path do |f| %>

									<div class="row">
										<div class="col-md-6">
											<div class="row example-row">
												<div class="col-md-12"><h4>First Name</h4></div><!--.col-md-3-->
												<div class="col-md-12">
													<div class="inputer">
														<div class="input-wrapper">
															<%= text_field_tag :first_name, "", type: "text", class: "form-control", placeholder: "" %>
														</div>
													</div>
												</div><!--.col-md-9-->
											</div><!--.row-->
										</div>

										<div class="col-md-6">
											<div class="row example-row">
												<div class="col-md-12"><h4>Last Name</h4></div><!--.col-md-3-->
												<div class="col-md-12">
													<div class="inputer">
														<div class="input-wrapper">
															<%= text_field_tag :last_name,"", type: "text", class: "form-control", placeholder: "" %>
														</div>
													</div>
												</div><!--.col-md-9-->
											</div><!--.row-->
										</div>
									</div>


									
										<div class="row">
											<div class="col-md-6">
												<div class="row example-row">
													<div class="col-md-12"><h4>Classification</h4></div><!--.col-md-3-->
													<div class="col-md-12">
														<div class="inputer">
															<div class="input-wrapper">
																<%= text_field_tag :participant_classification,"" , placeholder: "", type: "text", class: "form-control"%>
															</div>
														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->
											</div>

											<div class="col-md-6">
												<div class="row example-row">
													<div class="col-md-12"><h4>Position</h4></div><!--.col-md-3-->
													<div class="col-md-12">
														<div class="inputer">
															<div class="input-wrapper">
																<%= text_field_tag :position,"" , placeholder: "", type: "text", class: "form-control"%>
															</div>
														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->
											</div>
										</div>


										<div class="row">
											<div class="col-md-12">
												<div class="row example-row">
													<div class="col-md-12"><h4>Cell Phone</h4></div><!--.col-md-3-->
													<div class="col-md-12">
														<div class="inputer">
															<div class="input-wrapper">
																<%= text_field_tag :mobile_phone_number,"", type: "text", class: "form-control", placeholder: "" %>
															</div>
														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->
											</div>

									
											<%= hidden_field_tag :team_id,"", value: @team.id %>
											
											athlete: <%= check_box_tag :participant, "", false%>
											coach: <%= check_box_tag :head, "", false %>
                                            trainer: <%= check_box_tag :trainer, "", false%>		
											manager: <%= check_box_tag :manager, "", false%>		
											admin: <%= check_box_tag :admin, "", false%>


								<%= f.submit "Add New Team Member", class: "btn btn-block btn-white" %>

							</div><!--.panel-body-->
								</div><!--.panel-->
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
				<!--#admin.tab-pane-->

				
        		<%#= render 'shared/photo_tab', photo_owner: @team %>

			</div><!--.tab-content-->


		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->

<%= render "shared/panels/new_team" %>
<%= render "shared/panels/new_team_league" %>
<%= render "shared/panels/new_event" %>


	

      			