<div class="content">

	<div class="page-header full-content parallax" style="height: 600px; overflow: hidden">
		<div class="parallax-bg" style="background: url('http://svite-league-apps-content.s3.amazonaws.com/bgimages/sports-wave.jpg') 50% 50%; background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
		</div>

		<div class="social-buttons">
			<%= render 'shared/fan' %>
		</div>

		<div class="team-buttons" id="team-button">
			<% if current_user.relationships.where(team_id: @team.id).empty? %>
			  <%= render 'relationships/relationship'%>
			<% elsif current_user.relationships.where(team_id: @team.id, accepted: nil, rejected: nil).present? %>
			  <%= render 'relationships/pending'%>
			<% elsif current_user.relationships.where(team_id: @team.id, accepted: true).present? %>
				<%= render 'relationships/member'%>
				<%= link_to "/relationships/#{current_user.relationships.where(team_id: @team.id, accepted: true).last.slug}/edit" do %>
				   <button class="btn btn-flat btn-ripple pull-right text-off-white">
				   		Edit Profile <i class="ion-android-settings"></i>
				   </button>
				<% end %>
			<% end %>
		</div>



		<div class="profile-info">
			<div class="profile-photo">
				<img src="<%= image_path("placeholders/league.jpg") %>" alt="">
			</div><!--.profile-photo-->
			<div class="profile-text light capitalize">
				<%= @team.name %>
				<% if @team.school.present? %>
				  	<span class="caption inline">
				  		<%= @team.school.name %>
				  	</span>
				<% end %>
				<br/>
				<span class="caption"><span class="glyphicon glyphicon-map-marker"></span>
				<%= @team.sport %></span>
			</div><!--.profile-text-->
		</div><!--.profile-info-->


		<div class="row">
			<div class="col-sm-6">
				<h1>
					<span class="fa fa-calendar m-r-5"></span>
					Upcoming event 
					<small>[event]</small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= teams_path %>">Teams</a></li>
					<% if @team.school.present? %>
				  		<li><a href="#"><%= @team.school.name %></a></li>
				  		<!-- add path for linking -->
					<% end %>
					<li><a href="#" class="active"><%= @team.name %></a></li>
				</ol>

			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
				<li><a href="#roster" data-toggle="tab" class="btn-ripple">Roster</a></li>
				<li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li>
				<li><a href="#facilities" data-toggle="tab" class="btn-ripple">Facilities</a></li>
				<li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
				<li><a href="#payments" data-toggle="tab" class="btn-ripple">Payments</a></li>
				<li><a href="#admin" data-toggle="tab" class="btn-ripple">Admin</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

	<div class="row user-profile">
		<div class="col-md-12">
			<div class="tab-content without-border">
				
				<!-- about -->
				<div id="about" class="tab-pane active">
					<div class="panel">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>
									<span class="text-black">
										Coaches and Staff
									</span>
								</h4>
							</div>
						</div><!--.panel-heading-->
						<div class="panel-body without-padding">
							<ul class="list-material has-hidden">
								<% @heads.each do |m| %>
							 		<%= render 'head', m: m %>
								<% end %>
							</ul>
						</div><!--.panel-body-->
					</div><!--.panel-->
				</div>
				<!--#about.tab-pane-->

				<!-- roster -->
				<div id="roster" class="tab-pane">

					<div class="panel">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>
									<i class="ion-clipboard"></i>
									TEAM ROSTER
								</h4>
							</div>
						</div><!--.panel-heading-->
						<div class="panel-body without-padding">
							<ul class="list-material has-hidden">
								<% @members.each do |m| %>
						       		<%= render 'member', m: m%>
						    	<% end %>
							</ul>
						</div><!--.panel-body-->
					</div><!--.panel-->
				</div>
				<!--#roster.tab-pane-->

				<!-- events -->
				<div id="events" class="tab-pane">
					
				</div>
				<!--#events.tab-pane-->

				<!-- facilities -->
				<div id="facilities" class="tab-pane">
					<p class="text-right">
						<button class="btn btn-pink" data-toggle="modal" data-target="#panel-new-facility">New Facility</button>
					</p>

					<hr/>
					
				</div>
				<!--#facilities.tab-pane-->

				<!-- media -->
				<div id="media" class="tab-pane">
					
				</div>
				<!--#media.tab-pane-->

				<!-- payments -->
				<div id="payments" class="tab-pane">
					
					
				</div>
				<!--#payments.tab-pane-->

				<!-- admin -->
				<div id="admin" class="tab-pane">
					<div class="panel">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>
									<span class="text-black">
										PENDING USERS
									</span>
								</h4>
							</div>
						</div><!--.panel-heading-->
						<div class="panel-body without-padding">
							<ul class="list-material has-hidden">
								<% @pending_members.each do |m| %>
							     	<%= render 'pending', m: m%>
							    <% end %>
							</ul>
						</div><!--.panel-body-->
					</div><!--.panel-->
				</div>
				<!--#admin.tab-pane-->

			</div><!--.tab-content-->
		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->

<%= render "shared/panels/new_team" %>

	
	

      			