<style>
  .sample-bg-image13:before {
    background-image: url('<%=background_url(@team) %>');
  }
  .card-clickable {
    padding-bottom: 0;
  }
  .sample-member9 {
    background-image: url('http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif');
  }
  .card-friend .user-photo {
    float: left;
    width: 160px;
    height: auto;
    border-radius: 3px 0 0 3px;
  }
  .card-friend .friend-content {
    margin-left: 180px;
  }
</style>
<div class="content">
  <div class="page-header full-content bg-primary mb0" style="min-height: 141px;">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="capitalize semi-bold">
          <%= @team.name %>
          <small></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= teams_path %>">Teams</a></li>
          <% if @team.teamable.present? %>
            <li><a href="#"><%= @team.teamable.name %></a></li>
          <% end %>
          <li><a href="#" class="active"><%= @team.name %></a></li>
        </ol>
      </div>
    </div>

    <div class="header-tabs scrollable-tabs sticky pr30">
      <%= render 'shared/register_button' %>
      <% if @object.can_be_edited_by_user?(current_user) %>
        <%= link_to edit_team_path(@team), class: "btn btn-floating btn-red btn-ripple mt5 pull-right mr10", title: "Edit Profile", :'data-toggle' => 'tooltip', :'data-placement' => 'left' do %>
            <i class="material-icons">&#xE8B8;</i>
        <% end %>
      <% end %>
      
      <a href="/teams/<%= @object.slug %>/dashboard" class="btn btn-floating btn-cyan btn-ripple mt5 pull-right mr15" data-toggle="tooltip" data-placement="left" title="My Dashboard">
        <i class="material-icons">&#xE871;</i>
      </a>
      <% end %>
      <%= render 'shared/view_announcement_button', object: @object %>
      <%= render 'shared/show_navigations'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content without-border">
        <%= render "teams/show/about_tab" %>
        <%= render "teams/show/roster_tab" %>
        <%= render "teams/show/facilities_tab" %>
        <%= render "teams/show/calendar_tab" %>
        <%= render "teams/show/media_tab" %>
        <%= render "teams/show/following_tab" %>
        <%= render "teams/show/fans_tab" %>
        <%= render "teams/show/admin_tab" %>
      </div>
    </div>
  </div>
  <%= render "shared/modals/boostrap_image_gallery_lightbox" %>
</div>
<% if current_user %>
  <%= render "shared/panels/new_team" %>
  <%= render "shared/panels/new_team_league" %>
  <%= render "shared/panels/new_event" %>
<% end %>