<!-- column 1 -->
<div class="col-md-4">
    <div class="panel box-shadow-ccc">
        <div class="panel-heading">
            <div class="panel-title">
                <h4 class="text-primary">Build Your Account</h4>
            </div>
        </div>
        <div class="panel-body">
            <h5 class="bold">Public Profile</h5>
            <%= render 'dashboard/user/profile', klass: klass, object: object %>
            <%= render 'shared/manage_relationships', object: object %>
        </div>
    </div>
</div>
<!-- end column 1 -->

<!-- column 2 -->
<div class="col-md-4">
    <div class="panel box-shadow-ccc">
        <div class="panel-heading">
            <div class="panel-title">
                <h4 class="text-primary">Manage Your Sports Community</h4>
            </div>
        </div>
        <div class="panel-body">
            <h5 class="bold">Actions</h5>
          
            <%= render('dashboard/user/manage', klass: klass, object: object, classification: "Athlete") if Classification.exists?(user_id: object.id, classification: "Athlete") %>
            <%= render('dashboard/user/manage', klass: klass, object: object, classification: "Student Athlete") if Classification.exists?(user_id: object.id, classification: "Student Athlete") %>
            <%= render('dashboard/user/manage', klass: klass, object: object, classification: "Coach") if Classification.exists?(user_id: object.id, classification: "Coach") %>
            <%= render('dashboard/user/manage', klass: klass, object: object, classification: "Guardian") if ( Classification.exists?(user_id: object.id, classification: "Guardian") || User.find(object.id).children.present? ) %>
            <%= render('dashboard/user/manage', klass: klass, object: object, classification: "Athletic Director") if Classification.exists?(user_id: object.id, classification: "Athletic Director") %>
            <%= render('dashboard/user/manage', klass: klass, object: object, classification: "Club Director") if Classification.exists?(user_id: object.id, classification: "Club Director") %>
            <%= render('dashboard/user/manage', klass: klass, object: object, classification: "School Manager") if Classification.exists?(user_id: object.id, classification: "School Manager") %>
            <%= render('dashboard/user/manage', klass: klass, object: object, classification: "Team Manager") if Classification.exists?(user_id: object.id, classification: "Team Manager") %>
            <br/>
            <%= render 'dashboard/user/events', klass: klass, object: object %>
            <br/>
            <%= render 'dashboard/user/chat', klass: klass, object: object %>
        </div>
    </div>
</div>
<!-- end column 2 -->

<!-- column 3 -->
<div class="col-md-4">
    <div class="panel box-shadow-ccc">
        <div class="panel-heading">
            <div class="panel-title">
                <h4 class="text-primary">Account Management</h4>
            </div>
        </div>
        <div class="panel-body">
            <%= render 'dashboard/user/documents', klass: klass, object: object %>
            <br/>
            <%= render 'dashboard/user/registrations', klass: klass, object: object %>
        </div>
    </div>
</div>
<!-- end column 3 -->


