<div class="content">
  
  <!-- page header -->
  <div class="page-header full-content bg-primary mb0" style="min-height: 141px;">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="capitalize semi-bold">
          Dashboard
          <small><%= @object.name.to_s.downcase %></small>
        </h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= teams_path %>">teams</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#" class="active">Edit</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->

    <div class="header-tabs scrollable-tabs sticky">
    </div>
  </div><!--.page-header-->

  <!-- main content div -->
  <br/>
  <h3 class="text-center">
    Everything you need to manage your account.
  </h3>
  <% klass = @object.class.to_s.downcase %>
    <p class="small-text text-center">
      <% unless klass == "user"%>
        <%= link_to eval("#{klass}_path(@object)") do %>
          <i class="ion-home"></i>  Return to Profile
        <% end %> 
      <% end %> 
    </p>

    <hr class="no-margin"/>
              
    <div class="row pt40">
      <div class="col-md-4">
        <div class="panel box-shadow-ccc">
          <div class="panel-heading">
            <div class="panel-title">
              <h4 class="text-primary">Build Your Organization</h4>
            </div>
          </div>
          <div class="panel-body">
            <% klass = @object.class.to_s.downcase %>

            <% unless klass == "user"%>
              
              <h5 class="bold">Public Profile</h5>
              <ul class="list-material">
                <li class="has-action-left has-action-right">
                  <%= link_to eval("edit_#{klass}_path(@object)"), class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-gear-a icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Edit Your Profile</span>
                      <span class="caption">Update or complete your organization profile.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">15 min</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
                <li class="has-action-left has-action-right">
                  <%= link_to "/#{klass.pluralize}/#{@object.slug}/edit#tab_media",  class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-android-upload icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Add Photo, Articles, and Video</span>
                      <span class="caption">Enhance your profile with media.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
              </ul>

              <% unless ["team", "facility"].include? klass %>
                <br/>
                <h5 class="bold">Add New Accounts</h5>
                <ul class="list-material">
                  <li class="has-action-left has-action-right">
                    <%= link_to eval("new_#{klass}_team_path(@object)"), class: "visible" do %>
                      <div class="list-action-left">
                        <i class="ion-plus-circled icon"></i>
                      </div>
                      <div class="list-content">
                        <span class="title">Add Team</span>
                        <span class="caption">Add or create a new team.</span>
                      </div>
                      <div class="list-action-right">
                        <span class="top">2 hr</span>
                        <i class="ion-android-done bottom"></i>
                      </div>
                    <% end %>
                  </li>
                  <li class="has-action-left has-action-right">
                    <%= link_to eval("new_#{klass}_facility_path(@object)"), class: "visible" do %>
                      <div class="list-action-left">
                        <i class="ion-plus-circled icon"></i>
                      </div>
                      <div class="list-content">
                        <span class="title">Add Facility</span>
                        <span class="caption">Add or create a new facility.</span>
                      </div>
                      <div class="list-action-right">
                        <span class="top">2 hr</span>
                        <i class="ion-android-done bottom"></i>
                      </div>
                    <% end %>
                  </li>
                </ul>
              <% end %>

              <br/>
              <h5 class="bold">Player Roster and Staff</h5>
              <ul class="list-material">
                <li class="has-action-left has-action-right">
                  <a href="#" class="visible">
                    <div class="list-action-left">
                      <i class="ion-android-clipboard icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Mange Roster</span>
                      <span class="caption">Update or complete your organization profile.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">15 min</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  </a>
                </li>
                <li class="has-action-left has-action-right">
                  <a href="#" class="visible">
                    <div class="list-action-left">
                      <i class="ion-locked icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Manage Team Admins</span>
                      <span class="caption">Enhance your profile with media.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  </a>
                </li>
              </ul>


            <% else %>

              <h5 class="bold">Public Profile</h5>

              <ul class="list-material">
                <li class="has-action-left has-action-right">
                  <a href="#" class="visible">
                    <div class="list-action-left">
                      <i class="ion-person icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">View Profile</span>
                      <span class="caption">Update or complete your public profile.</span>
                      <span class="caption pt10">
                        <ol class="small list">
                          <li>Home</li>
                          <li>Media</li>
                          <li>Following</li>
                          <li>Fans</li>
                          <li>Teams</li>
                          <li>Teammages</li>
                        </ol> 
                      </span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">15 min</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  </a>
                </li>

                <li class="has-action-left has-action-right">
                  <%= link_to eval("edit_#{klass}_path(@object)"), class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-ios-gear icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Edit Your Profile</span>
                      <span class="caption">Update or complete your public profile.</span>
                      <span class="caption pt10">
                        <ol class="small list">
                          <li>General</li>
                          <li>Social Media</li>
                          <li>Upload Media</li>
                          <li>Sports Resume</li>
                          <li>Favorites</li>
                          <li>Password</li>
                        </ol> 
                      </span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">15 min</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
                <li class="has-action-left has-action-right">
                  <%= link_to "/#{klass.pluralize}/#{@object.slug}/edit#tab_media",  class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-android-upload icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Add Photo, Articles, and Video</span>
                      <span class="caption">Enhance your profile with media.</span>
                      <span class="caption pt10">
                        <ol class="small list">
                          <li>Photos</li>
                          <li>Videos</li>
                          <li>Articles and Links</li>
                        </ol> 
                      </span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
              </ul>

            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel box-shadow-ccc">
          <div class="panel-heading">
            <div class="panel-title">
              <h4 class="text-primary">Manage Your Sports Community</h4>
            </div>
          </div>
          <div class="panel-body">
            <% klass = @object.class.to_s.downcase %>

            <% unless klass == "user"%>
              
              <h5 class="bold">Events and Communication</h5>
              <ul class="list-material">
                <!-- add event -->
                <li class="has-action-left has-action-right">
                  <%= link_to eval("new_#{klass}_event_path(@object)"), class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-plus-circled icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Add Event</span>
                      <span class="caption">Create a new event for your organization.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
                <!-- add event -->
                <li class="has-action-left has-action-right">
                  <%= link_to eval("new_#{klass}_event_path(@object)"), class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-calendar icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">View and Manage Calendar</span>
                      <span class="caption">View and manage all events on your sports calendar.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>

                <!-- send announcement -->
                <li class="has-action-left has-action-right">
                  <%= link_to eval("#{klass}_announcements_path(@object)"), class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-android-phone-portrait icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Send Announcement</span>
                      <span class="caption">Get important messages out quickly.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
              </ul>
              
              <br/>
              <h5 class="bold">Registrations</h5>
              <ul class="list-material">
              
                <!-- Create Registration -->
                <li class="has-action-left has-action-right">
                  <%= link_to eval("new_#{klass}_form_path(@object)"), class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-document icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Create Registration Form</span>
                      <span class="caption">Create a customized registration form in minutes.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>

                <!-- Manage Registration -->
                <li class="has-action-left has-action-right">
                  <%= link_to eval("#{klass}_registrations_path(@object)"), class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-clipboard icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">View and Manage Registrations</span>
                      <span class="caption">Manage paid, unpaid, roster and all other registrations.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
              </ul>

              <br/>
              <h5 class="bold">Certifications</h5>
              <ul class="list-material">
              
                <!-- View Certification -->
                <li class="has-action-left has-action-right">
                  <%= link_to "/#{klass.pluralize}/#{@object.slug}#tab_certifications", class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-android-bookmark icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">View Certifications</span>
                      <span class="caption">View the status and credentials of all certified users.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
              </ul>
                
            <% else %>

              <h5 class="bold">Sports Teams</h5>
              <ul class="list-material">
                <li class="has-action-left has-action-right">
                  <a href="#" class="visible">
                    <div class="list-action-left">
                      <i class="ion-plus-circled icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Add Teams</span>
                      <span class="caption">Create a new team or join an existing team.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  </a>
                </li>
                <li class="has-action-left has-action-right">
                  <a href="#" class="visible">
                    <div class="list-action-left">
                      <i class="ion-plus-circled icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">View and Manage Teams</span>
                      <span class="caption">View all current teams connected to your account.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  </a>
                </li>
              </ul>


              <br/>
              <h5 class="bold">Calendar and Events</h5>  

              <ul class="list-material">
                <!-- add event -->
                <li class="has-action-left has-action-right">
                  <%= link_to eval("new_#{klass}_event_path(@object)"), class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-plus-circled icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Add Event</span>
                      <span class="caption">Create a new event.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
                 <li class="has-action-left has-action-right">
                  <a href="#" class="visible">
                    <div class="list-action-left">
                      <i class="ion-calendar icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Your Sports Calendar</span>
                      <span class="caption">View and manage your sports calendar.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  </a>
                </li>
              </ul>


              <br/>
              <h5 class="bold">Messaging</h5>  

              <ul class="list-material">
                <li class="has-action-left has-action-right">
                  <%= link_to eval("new_#{klass}_event_path(@object)"), class: "visible" do %>
                    <div class="list-action-left">
                      <i class="ion-chatboxes icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title">Instant Message Connection</span>
                      <span class="caption">Chat with people in your sports community.</span>
                    </div>
                    <div class="list-action-right">
                      <span class="top">2 hr</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  <% end %>
                </li>
              </ul>
            <% end %>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel box-shadow-ccc">
          <div class="panel-heading">
            <div class="panel-title">
              <h4 class="text-primary">Account Management</h4>
            </div>
          </div>
          <div class="panel-body">

            <% klass = @object.class.to_s.downcase %>

              <% unless klass == "user"%>
                
                <% if false %>
                  <%= link_to "join league or conference", "" %></br>
                  <%= link_to "Invite" %></br>
                <% end %>

                <h5 class="bold">Document Management</h5>
                <ul class="list-material">
                  
                  <!-- add event -->
                  <li class="has-action-left has-action-right">
                    <%= link_to eval("#{klass}_documents_path(@object)"), class: "visible" do %>
                      <div class="list-action-left">
                        <i class="ion-document-text icon"></i>
                      </div>
                      <div class="list-content">
                        <span class="title">View Documents</span>
                        <span class="caption">24 stored documents available. Space Available: 500MB.</span>
                      </div>
                      <div class="list-action-right">
                        <span class="top">2 hr</span>
                        <i class="ion-android-done bottom"></i>
                      </div>
                    <% end %>
                  </li>

                  <!-- send announcement -->
                  <li class="has-action-left has-action-right">
                    <%= link_to eval("#{klass}_signed_documents_path(@object)"), class: "visible" do %>
                      <div class="list-action-left">
                        <i class="ion-android-checkbox-outline icon"></i>
                      </div>
                      <div class="list-content">
                        <span class="title">View Signed Documents</span>
                        <span class="caption">12 documents available.</span>
                      </div>
                      <div class="list-action-right">
                        <span class="top">2 hr</span>
                        <i class="ion-android-done bottom"></i>
                      </div>
                    <% end %>
                  </li>
                </ul>
                
                <br/>
                <h5 class="bold">Plan & Payments</h5>
                <ul class="list-material">
                
                 <!-- Create Registration -->
                  <li class="has-action-left has-action-right">
                    <%= link_to eval("#{klass}_upgrade_path(@object)"), class: "visible" do %>
                      <div class="list-action-left">
                        <i class="ion-calendar icon"></i>
                      </div>
                      <div class="list-content">
                        <span class="title">Upgrade Account</span>
                        <span class="caption">Go Pro! Upgrade today to get the most out of SportMarkit.</span>
                      </div>
                      <div class="list-action-right">
                        <span class="top">2 hr</span>
                        <i class="ion-android-done bottom"></i>
                      </div>
                    <% end %>
                  </li>

                  <!-- Manage Registration -->
                  <li class="has-action-left has-action-right">
                    <%= link_to eval("#{klass}_bank_account_index_path(@object)"), class: "visible" do %>
                      <div class="list-action-left">
                        <i class="ion-social-usd icon"></i>
                      </div>
                      <div class="list-content">
                        <span class="title">Bank Account</span>
                        <span class="caption">Last updated: March 29, 2016.</span>
                      </div>
                      <div class="list-action-right">
                        <span class="top">2 hr</span>
                        <i class="ion-android-done bottom"></i>
                      </div>
                    <% end %>
                  </li>
                </ul>
                  
              <% else %>

                <h5 class="bold">Plan & Payments</h5>
                <ul class="list-material">
                
                 <!-- Create Registration -->
                  <li class="has-action-left has-action-right">
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <i class="ion-calendar icon"></i>
                      </div>
                      <div class="list-content">
                        <span class="title">Upgrade Account</span>
                        <span class="caption">Go Pro! Upgrade today to get the most out of SportMarkit.</span>
                      </div>
                      <div class="list-action-right">
                        <span class="top">2 hr</span>
                        <i class="ion-android-done bottom"></i>
                      </div>
                    </a>
                  </li>

                  <!-- Manage Registration -->
                  <li class="has-action-left has-action-right">
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <i class="ion-social-usd icon"></i>
                      </div>
                      <div class="list-content">
                        <span class="title">Bank Account</span>
                        <span class="caption">Last updated: March 29, 2016.</span>
                      </div>
                      <div class="list-action-right">
                        <span class="top">2 hr</span>
                        <i class="ion-android-done bottom"></i>
                      </div>
                    </a>
                  </li>
                </ul>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


