<%- wrap_class = message.user_id == current_user.id ? "right" : "left" %>
<%- begin_stream_class = begin_of_stream ? 'begin_stream' : ''%>
<div class="message <%=wrap_class%> <%= begin_stream_class %>" data-toggle="tooltip" data-placement="top" data-original-title="<%= format(message.created_at, 8)%>">
   <div class="message-text"><%= message.message %></div>
   <% if message.file.present? %>
     <br>
     <b> <%= User.find(m.user_id).full_name %> has shared a file: <%= link_to "File", m.file.url %></b>
   <% end %>
  <% if begin_of_stream %>
    <img src="<%= image_path(message.user.avatar) %>" class="user-picture" alt="">
  <% end %>
</div>
