<tr>
	<td class="v-align-middle">
		<%= announcement.created_at %>
	</td>
	<td class="v-align-middle">
		<%= announcement.message %>
	</td>
	 <td class="v-align-middle">
		<%= announcement.sent_to %>
	</td>
    <% unless @object.class.to_s == "Team" %>
	 <td class="v-align-middle">
		<%= announcement.sports.join(", ") %>
	</td>
	 <td class="v-align-middle">
		<%= Team.where(id: announcement.team_ids).pluck(:name).join(", ") %>
	</td>
    <% end %>
	 <td class="v-align-middle">
		<%= announcement.sent_as %>
	</td>

</tr>





<td class="v-align-middle">
    	
    </td>