<tr>
	<td class="v-align-middle">
		<%= announcement.created_at %>
	</td>
	<td class="v-align-middle">
		<%= announcement.message %>
	</td>
	 <td class="v-align-middle">
		<%= announcement.sent_to %>
	</td>
	 <td class="v-align-middle">
		<%= announcement.sports %>
	</td>
	 <td class="v-align-middle">
		<%= announcement.team_ids %>
	</td>
	 <td class="v-align-middle">
		<%= announcement.sent_as %>
	</td>

</tr>





<td class="v-align-middle">
    	
    </td>