<div class="content">
  <div class="page-header full-content bg-blue mb0">
    <div class="row">
      <div class="col-sm-6">
        <h1><%= params[:controller].capitalize %>: <small>Group Communication</small></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= users_path %>" class="active">all users</a></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="pt60">
    <div class="row">
      <div class="col-lg-4">
        <%= form_for eval("#{@object.class.to_s.underscore}_announcements_path"), html: {id: 'announcement-form', data: {remote: true}} do |f| %>
          <div class="panel box-shadow-ccc">
            <div class="panel-heading">
              <div class="panel-title">
                <h3 class="no-margin bold">Send a Message</h3>
                <h6 class="no-margin">Use the form below to communicate with coaches, teammates, players, etc.</h6>
              </div>
            </div>
            <div class="panel-body">
              <h5 class="text-primary">1. What type of messsage are you sending?</h5>
              <div class="row">
                <div class="col-lg-2 col-md-6">
                  <div class="checkboxer form-inline mb5">
                    <%= check_box_tag :sms,true, nil,  id: "sms"  %>
                    <label for="sms">SMS</label>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6">
                  <div class="checkboxer form-inline mb5">
                    <%= check_box_tag :email, true, nil, id: "email"  %>
                    <label for="email">Email</label>
                  </div>
                </div>
              </div>
              <div id="delivery-method" style="display: none">
                <p color="red">You must assign at least one delivery method.</p>
              </div>
            </div>
            <hr class="no-margin"/>
            <div class="panel-body">
              <h5 class="mb0 text-primary">2. Who should receive this message?</h5>
              <p class="h6 mt0">
                <small>
                  <span class="text-black">Select the users that should receive this message.</span>
                </small>
              </p>
              <div class="no-margin well">
                <% unless @object.class.to_s == "Team" %>
                  <h6 class="h6 mt10 mb10">Applicable admin groups:</h6>
                  <%= select_tag :specific_role_names, options_for_select([["All"] + [@object_type.constantize.custom_message_groups]].flatten, " "), {:multiple => true, include_blank: true, "data-live-search" =>  true, "data-width"=> "100%", :class => 'selecter bg-white margin-bottom-0'} %>
                  <br/>
                  <h6 class="h6 mt10 mb10">Applicable user profiles:</h6>
                <% end %>
                <%= select_tag :default_role_names, options_for_select([["All"] + [@object_type.constantize.default_message_groups]].flatten),  {:multiple => true, include_blank: true, "data-live-search" =>  true, "data-width"=> "100%", :class => 'selecter bg-white margin-bottom-0'}%>
              </div>
              <div id="user-group" style="display: none">
                <p class="text-danger">You must assign at least one user group.</p>
              </div>
            </div>
            <hr class="no-margin"/>
            <div class="panel-body">
              <div class="well">
                <% unless @object.class.to_s == "Team" %>
                  <h6>Applicable sports:</h6>
                  <%= select_tag :sports, options_for_select([["All"] + [@object.teams.pluck(:sport).uniq]].flatten), {:multiple => true, include_blank: true, "data-live-search" =>  true, "data-width"=> "100%", :class => 'selecter bg-white margin-bottom-0'} %><br>
                  <h6>Applicable teams:</h6>
                  <%= select_tag :team_ids, options_for_select(@object.teams.collect{ |team| [team.name, team.id] }), {:multiple => true, include_blank: true, "data-live-search" =>  true, "data-width"=> "100%", :class => 'selecter bg-white margin-bottom-0'} %><br>
                <% end %>
                <div id="sport-or-team" style="display: none">
                  <p class="text-danger">You must assign at least one sport or team.</p>
                </div>
              </div>
              <h5 class="text-primary mb0">3. Write your message.</h5>
              <p class="h6 mt0 ">
                <small>
                  <span class="text-black">Messages must be less than 480 characters. </span>
                </small>
              </p>
              <h6 class="text-danger semi-bold fs_12	">
                Characters left: 
							<span id="counter" data-maximum-length="<%= 480 %>"><%= 480 %></span>
              </h6>
              <div class="inputer">
                <div class="input-wrapper well">
                  <%= text_area_tag :message, nil, id: 'review_text', rows: 5, placeholder: "Start typing here...", class: "form-control" %>
                  <div id="atleast-ten" style="display: none">
                    <p class="text-danger">Your message must be at least 10 characters.</p>
                  </div>
                  <div id="less-than-max-char" style="display: none">
                    <p class="text-danger">Your message exceeds 480 characters.</p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="no-margin"/>
            <div class="panel-body">
              <%= hidden_field_tag :object_type, @object.class.to_s %>
              <%= hidden_field_tag :object_id, @object.id %>
              <%= submit_tag "Send Message", class: "btn btn-blue btn-block mt20", data: { disable_with: "Sending out messages. Please wait..." } %>
              <div class="pull-right" id="sent-message"></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-lg-8">
        <div class="panel box-shadow-ccc">
          <div class="panel-heading">
            <div class="panel-title">
              <h4 class="semi-bold">All Messages</h4>
            </div>
          </div>
          <div class="panel-body pb40">
            <div class="">
              <table id="announcement-list" class="table table-hover table-condensed" id="example">
                <thead>
                  <tr>
                    <th style="width:8%" class="semi-bold h6 text-muted">Date</th>
                    <th style="width:28%" class="semi-bold h6 text-muted">Message</th>
                    <th style="width:21%" class="semi-bold h6 text-muted">Sent To</th>
                    <% unless @object.class.to_s == "Team" %>
                      <th style="width:8%" class="semi-bold h6 text-muted">Sports</th>
                      <th style="width:8%" class="semi-bold h6 text-muted">Teams</th>
                    <% end %>
                    <th style="width:7%" class="semi-bold h6 text-muted">Sent As</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @objects %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
	      var review_text = $("#review_text");
	      var counter     = $("#counter");
	      var max_length  = counter.data("maximum-length");

	      review_text.keyup(function() {
	          counter.text(max_length - $(this).val().length);
	      });

	    });
    </script>