<div id="about" class="tab-pane active">
	 <!--.page-header-->
  <div class="page-header full-content parallax">
    <%= render "users/show/header" %>
    <%#= render "users/show/tab_navigation" %>
  </div>
  <!--.page-header-->

	<div class="">
		<div class="row">		
			<div class="col-md-4" style="margin-top: -296px;">
				<div class="card tile card-post" style="border-top: 3px solid #ccc;">
					<div class="card-heading pl40 pr40">
						 <% if current_user %>
							<div class="pull-right">
								<div id="fan-button">
									<% if current_user.follows.where(fannable_id: @object.id, fannable_type: @class).empty? %>
									<%= render 'fans/fan', object: @object %>
									<% else %>
									<%= render 'fans/unfan', object: @object %>
									<% end %>
								</div>
							</div>
						<% end %>
					  <% if @user.online? %>
						<p class="author">
							<a href="#">
							<i class="ion-ionic mr5"></i>
							Logged In</a> 
						</p>
						<p class="time">Last activity: <%= format(@user.online_status.last_seen, 4) %>, <%= format(@user.online_status.last_seen, 9) %> </p>
						<% else %>
						<p class="author">
							<a href="#" class="text-orange"> 
								<i class="ion-ionic mr5"></i>
								Logged Out</a> 
							</a>
						</p>
						<p class="time">Last activity: [Time]</p>
						<% end %>
					</div><!--.card-heading-->
					<hr class="light mt0"/>
					<div class="card-body pl40 pr40">
						<div class="clearfix row">
						  <div class="col-md-3">
						  	<div class="profile-photo">
						    	<%= image_tag(@user.avatar, class: "img-thumbnail") %>
						  	</div><!--.profile-photo-->
						  </div>
							<div class="col-md-9">
								<h3 class="semi-bold capitalize text-black no-margin lh_34">
									<%= @user.first_name %> <%#= @user.middle_name %>
									<%= @user.last_name %>
								</h3>
								<h6 class="semi-bold text-muted mb5 mt5"><%= @user.classification_list %></h6> 
								<p class="no-margin fs_14 text-muted">
									<%= @user.profile.sex %> | <%= @user.age %>
								</p>
							</div>
						</div>
						<p class="fs_14 lh_18 text-muted mb20 mt0">
							<%= @user.profile.description %>
						</p>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold mt0"><small>contact information</small></h6>
						<div class="clearfix">
							<p class="semi-bold fs_14 text-muted no-margin">
								<i class="ion-location fs_20 text-primary mr5"></i>
								<%= @user.profile.location_description %>
							</p>
							<p class="semi-bold fs_14 text-muted no-margin">
								<i class="ion-person-add fs_20 text-primary mr5"></i>
								<%= @user.username %>
							</p>
							<p class="semi-bold fs_14 text-muted no-margin">
								<i class="ion-email fs_20 text-primary mr5"></i>
								<%= @user.email %>
							</p>
							<p class="semi-bold fs_14 text-muted no-margin">
								<i class="ion-ios-telephone fs_20 text-primary mr5"></i>
								<%= @user.mobile_phone_number %>
							</p>
							<p class="semi-bold fs_14 text-muted no-margin">
								<i class="ion-android-calendar fs_20 text-primary mr5"></i>
								<%= @user.profile.date_of_birth %>
							</p>
							<% if @user.user_schools.present? %>
							<p class="semi-bold fs_14 text-muted no-margin">
								<i class="ion-university fs_20 text-primary mr5"></i>
								<%= @user.user_schools.first.name  %>
							</p>
							<% end %>
						</div>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold mt0"><small>certifications</small></h6>
						<!-- these must stay together as an interator -->
						<table class="table table-hover bgcolor-white box-shadow-ccc">
							<thead>
								<th><span class="text-muted semi-bold fs_12">Certificate</span></th>
								<th><span class="text-muted semi-bold fs_12">Exp.</span></th>
							</thead>
							<tbody>
								<% @user.certificates.each do |certificate| %>
									<tr>
										<td><span class="fs_12"><%= certificate.certification.name %></span></td>
										<td><span class="fs_12"><%= certificate.expiration %></span></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold"><small>athletic profile</small></h6>
						<div class="clearfix">
							<div class="pull-left">
								<p>
									<% if @user.profile.height_ft.to_i > 0 %>
									<span class="h3 inline">
										<strong><%= @user.profile.height_ft %></strong> 
										<small class="small">ft.</small>
									</span>
									<span class="h3 inline">
										<strong><%= @user.profile.height_in %></strong> 
										<small class="small"> in.</small>
									</span>
									<% end %>
								</p>
							</div>
							<div class="pull-right">
								<span class="h3 inline">
									<strong><%= @user.profile.weight %></strong>
									<% if @user.profile.weight.present? %>
									<small class="small"> lbs.</small>
									<% end %>
								</span>
							</div>
						</div>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold no-margin"><small>measurements</small></h6>
						<!-- these must stay together as an interator -->
						<div class="clearfix">
							<table class="table table-hover bgcolor-white box-shadow-ccc">
								<thead>
									<th><span class="text-muted semi-bold fs_12">Measurement</span></th>
									<th><span class="text-muted semi-bold fs_12">Sport</span></th>
									<th><span class="text-muted semi-bold fs_12">Score</span></th>
									<th><span class="text-muted semi-bold fs_12">Verified</span></th>
								</thead>
								<tbody>
									<% @user.measurables.each do |measurable| %>
										<tr>
											<td><span class="fs_12"><%= measurable.measurable %></span></td>
											<td><span class="fs_12"><%= measurable.sport %></span></td>
											<td><span class="fs_12"><%= measurable.result %></span></td>
											<% if false %>
											<td><span class="fs_12">
												<i class="ion-checkmark-circled fs_16 text-primary"></i>
												</span>
											</td>
											<% end %>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
						<!-- <h6 class="upper text-muted bold no-margin"><small>My favorites</small></h6> -->
						<%#= @user.profile.hudl %>
						<%#= @user.profile.favorite_pro_team %>													
						<%#= @user.profile.favorite_college_team %>
						<%#= @user.profile.favorite_pro_athlete %>	
					</div><!--.card-body-->
					<div class="card-footer mt20 pl40 pr40">
						<% if @user.social_media_present? %>
						<h6 class="upper text-muted bold"><small>social profiles</small></h6>
						<p>
						<% @user.profile.facebook.present? %>	
						   <% if @user.profile.facebook.present? %>	
								<%=  link_to @user.profile.facebook, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
									<i class="ion-social-facebook"></i>
								<% end %>
							<% end %>
							
							<% if @user.profile.linkedin.present? %>	
								<%=  link_to @user.profile.linkedin, class: "mr5 btn btn-floating btn-indigo btn-ripple" do %>
									<i class="ion-social-linkedin"></i>
								<% end %>
							<% end %>
							
							<% if @user.profile.youtube.present? %>
								<%=  link_to @user.profile.youtube, class: "mr5 btn btn-floating btn-red btn-ripple" do %>
									<i class="ion-social-youtube"></i>
								<% end %>
							<% end %>
							
							<% if @user.profile.twitter.present? %>
								<%=  link_to @user.profile.twitter, class: "mr5 btn btn-floating btn-light-blue btn-ripple" do %>
									<i class="ion-social-twitter"></i>
								<% end %>
							<% end %>
							
							<% if @user.profile.instagram.present? %>
								<%=  link_to @user.profile.instagram, class: "mr5 btn btn-floating btn-brown btn-ripple" do %>
									<i class="ion-social-instagram"></i>
								<% end %>
							<% end %>
							<% if @user.profile.pinterest.present? %>
								<%=  link_to @user.profile.pinterest, class: "mr5 btn btn-floating btn-pink btn-ripple" do %>
									<i class="ion-social-pinterest"></i>
								<% end %>
							<% end %>
							<% if @user.profile.foursquare.present? %>
								<%=  link_to @user.profile.foursquare, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
									<i class="ion-social-foursquare"></i>
								<% end %>
							<% end %>
						</p>
						<% end %>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-6-->

			<div class="col-md-8">

				<div class="col-md-6">	
					<div class="row">	
						<!-- My teammates -->
							<div class="col-md-12 clearfix">
					<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
						<div class="card-heading" style="border-top: 3px solid #ccc;">
							<h3 class="card-title">My Teammates</h3>
							<div class="card-subhead">
							 <!-- <a href="#">24 Teammates</a> -->
							</div><!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body">
							<ul class="users">
								<% @teammates.each do |teammate| %>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= teammate.full_name %>">
										<%= image_tag teammate.avatar %>
									</a>
								</li>
					           <% end %>
							</ul>
						</div><!--.card-body-->
						<div class="card-footer">
							<ul>
								<li><span class="mr5 fs_14"><%= pluralize @teammates.count, "Person" %></span></li>
								<li><%= link_to "View All Teammates", "/users/#{@user.slug}/#tab_teammates", class: "fs_14" %></li>
								
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
							</div><!--.col-md-12-->
						<!-- My teammates -->

						<!-- My teams -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
								<div class="card-heading" style="border-top: 3px solid #ccc;">
									<h3 class="card-title">My Teams</h3>
									<div class="card-subhead">
									 <!-- <a href="#">8 Teams</a> -->
									</div><!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body">
									<ul class="list-material borderless">
					                  <% @user.user_teams.each do |team| %>
										<li class="has-action-left">
											<a href="#" class="visible">
												<div class="list-action-left">
													<%= image_tag("http://www.oxtonhc.co.uk/wp-content/themes/oxtonhc/library/images/team-placeholder.jpg", class: "face-radius")%>
												</div>
												<div class="list-content">
													<span class="title"><%= team.name %></span>
													<span class="fs_11 text-muted">
														<%= pluralize team.people.count, "Person" %>,
														<i class="ion-location text-primary ml5"></i> <%= team.city_state %>
													</span>
												</div>
											</a>
										</li>
										<li class="divider with-border no-padding no-margin">
										</li>
										<% end %>
			
									</ul>
								</div><!--.card-body-->
								<hr class="no-margin"/>
								<div class="card-footer">
									<ul>
										<li class="fs_14"><span class="mr5"><%= pluralize @user.user_teams.count, "Team"%></span></li>
										<li><%= link_to "View All Teams", "/users/#{@user.slug}/#tab_teams", class: "fs_14" %></li>
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.col-md-12-->
						<!-- My teams -->

						<!-- My Schedule -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
								<div class="card-heading" style="border-top: 3px solid #ccc;">
									<h3 class="card-title">My Schedule</h3>
									<div class="card-subhead">
									 <!-- <a href="#">7 Upcoming Events</a> -->
									</div><!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body pl40">
									<div class="timeline single">
										<%= render 'shared/show_view_events', object: @user %>
									</div>
								</div>
								<hr class="no-margin"/>
								
								<div class="card-footer">
									<ul>
										<li class="fs_14"><span class="mr5"><%= pluralize @user.upcoming_events.count, "Upcoming Event" %> </span></li>
										<li><%= link_to "View All Events", "/users/#{@user.slug}/events", class: "fs_14" %></li>
									
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.timeline-->
					</div>
				</div>

				<div class="col-md-6">	
					<div class="col-md-12 clearfix">
						<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
						<div class="card-heading pb0" style="border-top: 3px solid #ccc;">
							<ul class="nav nav-tabs tabs-right-aligned pull-right fs_14 no-border" role="tablist">
								<li><a href="#articles" data-toggle="tab">Articles</a></li>
								<li><a href="#videos" data-toggle="tab">Videos</a></li>
								<li class="active"><a href="#photos" data-toggle="tab">Photos</a></li>
							</ul>
							<h3 class="card-title">My Sports Media</h3>
						</div><!--.card-heading-->
						<div class="card-body">
						

							<div class="tab-content">
								<div class="tab-pane active" id="photos">
									<%= render 'shared/gallery' %>
									<div class="row image-row">
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/1.jpg" title="Some title goes here" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/1.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/2.jpg" title="Another title goes here" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/2.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/3.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/3.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/4.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/4.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/5.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/5.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/6.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/6.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/7.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/7.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/8.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/8.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/9.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/9.jpg" alt=""></a>
									</div><!--.col-->

									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/10.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/10.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/11.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/11.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/12.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/12.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/13.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/13.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/14.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/14.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/15.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/15.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/16.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/16.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/17.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/17.jpg" alt=""></a>
									</div><!--.col-->
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
										<a href="../../assets/globals/img/picjumbo/18.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/18.jpg" alt=""></a>
									</div><!--.col-->
									</div><!--.row-->
								</div><!--.tab-pane-->
								
								<div class="tab-pane" id="videos">
									<div class="row">
										<% @videos.each do |vid| %>
											<div class="col-md-6">
												<div class="card card-video card-player-orange">
													<div class="card-heading">
														<video id="youtube1" class="video-js video-js-responsive vjs-default-skin vjs-big-play-centered" controls preload="none" data-width="100%" data-height="200" data-setup='{ "techOrder": ["youtube"], "src": "<%= vid.url %>" }' ></video>
													</div><!--.card-heading-->
													<div class="card-body padding-10">
														<p class="fs_12 lh_16 no-margin"><%= vid.title%></h5>
														<p class="text-muted fs_12">
															<em>Uploaded on <%= format(vid.publish_date, 2)%></em>
														</p>
													</div><!--.card-body-->

												</div><!--.card-->
											</div><!--.col-md-6-->
										<% end %>
									</div>
								</div><!--.tab-pane-->
								<div class="tab-pane" id="articles">
									<div class="row">
										<% @articles.each do |art| %>
											<div class="col-md-12">
												<div class="pull-left">
													<i class="ion-android-document h1 mr20"></i>
												</div>
												<div class="pull-left">
													<h5 class="semi-bold mb0 mt5"><%= link_to art.title, art.url %></h5>
													<p class="text-muted fs_14 no-margin">
														<small>Published on <%= format(art.publish_date, 2)%></small>
													</p>
												</div>
											</div>
										<% end %>
									</div>
								</div><!--.tab-pane-->
							</div>
						</div>
						<div class="card-footer">
							<ul>
								<li><span class="mr5 fs_14"><%= pluralize @teammates.count, "Video" %>, 12 Photos, 1 Article </span></li>
								<li><%= link_to "View All Media", "/users/#{@user.slug}/#tab_teammates", class: "fs_14" %></li>
							</ul>
						</div><!--.card-footer-->
						</div><!--.card-->
					</div>

					
					<!-- My teammates -->
					<div class="col-md-12">
						<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
							<div class="card-heading" style="border-top: 3px solid #ccc;">
								<h3 class="card-title">My Fans</h3>
								<div class="card-subhead">
								 <!-- <a href="#">24 Teammates</a> -->
								</div><!--.card-subhead-->
							</div><!--.card-heading-->
							<div class="card-body">
								<ul class="users">
									<% @teammates.each do |teammate| %>
									<li>
										<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= teammate.full_name %>">
											<%= image_tag teammate.avatar %>
										</a>
									</li>
						           <% end %>
								</ul>
							</div><!--.card-body-->
							<div class="card-footer">
								<ul>
									<li><span class="mr5 fs_14"><%= pluralize @teammates.count, "Person" %></span></li>
									<li><%= link_to "View All Fans", "/users/#{@user.slug}/#tab_teammates", class: "fs_14" %></li>
									
								</ul>
							</div><!--.card-footer-->
						</div><!--.card-->
					</div><!--.col-md-12-->

					<!-- My teammates -->
					<div class="col-md-12">
						<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
							<div class="card-heading" style="border-top: 3px solid #ccc;">
								<h3 class="card-title">My Followers</h3>
								<div class="card-subhead">
								 <!-- <a href="#">24 Teammates</a> -->
								</div><!--.card-subhead-->
							</div><!--.card-heading-->
							<div class="card-body">
								<ul class="users">
									<% @teammates.each do |teammate| %>
									<li>
										<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= teammate.full_name %>">
											<%= image_tag teammate.avatar %>
										</a>
									</li>
						           <% end %>
								</ul>
							</div><!--.card-body-->
							<div class="card-footer">
								<ul>
									<li><span class="mr5 fs_14"><%= pluralize @teammates.count, "Person" %></span></li>
									<li><%= link_to "View All Followers", "/users/#{@user.slug}/#tab_teammates", class: "fs_14" %></li>
									
								</ul>
							</div><!--.card-footer-->
						</div><!--.card-->
					</div><!--.col-md-12-->
					<!-- My teammates -->
				</div>


			</div><!--.col-md-12-->
			<!-- My Schedule -->
		</div>
	</div>
</div>
	
	