<div id="about" class="tab-pane active">
	<div class="container">
		<div class="row">

			<div class="col-md-6">
				<div class="card tile card-post" style="border-top: 3px solid #ccc;">
					<div class="card-heading pl40 pr40">
						<% if current_user %>
              <% if current_user.admin? or current_user == @user %>
                <button href="" class="pull-right btn bt-xs btn-grey button-striped button-full-striped btn-ripple fs_14">
                  <%= link_to edit_user_path(@user) do %>
                        <span class="text-muted">
                        	<i class="ion-gear-b fs_16 mr5"></i> Edit Profile
                        </span>
                    <% end %>
                  </button>
              <% end %>
            <% end %>
            <!-- <img src="../../assets/globals/img/faces/14.jpg" class="user-image" alt=""> -->
						<p class="author">
							<a href="#">
							<i class="ion-ionic mr5"></i>
							Logged In</a> 
						</p>
						<p class="time">Last logged in by March 25, 2015 02:33p</p>
					</div><!--.card-heading-->
					<hr class="light mt0"/>
					<div class="card-body pl40 pr40">
						<h3 class="semi-bold capitalize text-black no-margin lh_34">
							<%= @user.first_name %> <%= @user.middle_name %>
							<%= @user.last_name %>
						</h3>
						<p class="no-margin fs_14 text-muted">
							<%= @user.profile.sex %> | <%= @user.age %>
						</p>
						<h5 class="semi-bold text-black mt15 mb5"><%= @user.classification_list %></h5> 
						<p class="fs_14 lh_18 text-muted mb20 mt0">
							I am a young athlete born and raised in the baltimore area with a focus on a D1 program and earning an athletic scholarship. I am a young athlete born and raised in the baltimore area with a focus on a D1 program and earning an athletic scholarship. I am a young athlete born and raised in the baltimore are.
						</p>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold mt0"><small>contact information</small></h6>
						<div class="clearfix">
							<p class="semi-bold small text-muted no-margin">
								<i class="ion-location fs_20 text-primary mr5"></i>
								<%= @user.profile.location_description %>
							</p>
							<p class="semi-bold small text-muted no-margin">
								<i class="ion-person-add fs_20 text-primary mr5"></i>
								<%= @user.username %>
							</p>
							<p class="semi-bold small text-muted no-margin">
								<i class="ion-email fs_20 text-primary mr5"></i>
								<%= @user.email %>
							</p>
							<p class="semi-bold small text-muted no-margin">
								<i class="ion-ios-telephone fs_20 text-primary mr5"></i>
								<%= @user.mobile_phone_number %>
							</p>
							<p class="semi-bold small text-muted no-margin">
								<i class="ion-android-calendar fs_20 text-primary mr5"></i>
								<%= @user.profile.date_of_birth %>
							</p>
							<p class="semi-bold small text-muted no-margin">
								<i class="ion-university fs_20 text-primary mr5"></i>
								Woodrow Wilson High School
							</p>
						</div>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold mt0"><small>certifications</small></h6>
						<!-- these must stay together as an interator -->
						<table class="table table-hover bgcolor-white box-shadow-ccc">
							<thead>
								<th><span class="text-muted semi-bold fs_12">Certificate</span></th>
								<th><span class="text-muted semi-bold fs_12">Exp.</span></th>
							</thead>
							<tbody>
								<% @user.certificates.each do |certificate| %>
									<tr>
										<td><span class="fs_12"><%= certificate.certification.name %></span></td>
										<td><span class="fs_12"><%= certificate.expiration %></span></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold"><small>athletic profile</small></h6>
						<div class="clearfix">
							<div class="pull-left">
								<p>
									<span class="h3 inline">
										<strong><%= @user.profile.height_ft %></strong> 
										<small class="small">ft.</small>
									</span>
									<span class="h3 inline">
										<strong><%= @user.profile.height_in %></strong> 
										<small class="small"> in.</small>
									</span>
								</p>
							</div>
							<div class="pull-right">
								<span class="h3 inline">
									<strong><%= @user.profile.weight %></strong> 
									<small class="small"> lbs.</small>
								</span>
							</div>
						</div>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold no-margin"><small>measurements</small></h6>
						<!-- these must stay together as an interator -->
						<div class="clearfix">
							<table class="table table-hover bgcolor-white box-shadow-ccc">
								<thead>
									<th><span class="text-muted semi-bold fs_12">Measurement</span></th>
									<th><span class="text-muted semi-bold fs_12">Sport</span></th>
									<th><span class="text-muted semi-bold fs_12">Score</span></th>
									<th><span class="text-muted semi-bold fs_12">Verified</span></th>
								</thead>
								<tbody>
									<% @user.measurables.each do |measurable| %>
										<tr>
											<td><span class="fs_12"><%= measurable.measurable %></span></td>
											<td><span class="fs_12"><%= measurable.sport %></span></td>
											<td><span class="fs_12"><%= measurable.result %></span></td>
											<td><span class="fs_12">
												<i class="ion-checkmark-circled fs_16 text-primary"></i>
												</span>
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
						<!-- <h6 class="upper text-muted bold no-margin"><small>My favorites</small></h6> -->
						<%#= @user.profile.hudl %>
						<%#= @user.profile.favorite_pro_team %>													
						<%#= @user.profile.favorite_college_team %>
						<%#= @user.profile.favorite_pro_athlete %>	
					</div><!--.card-body-->
					<div class="card-footer mt20 pl40 pr40">
						<h6 class="upper text-muted bold"><small>social profiles</small></h6>
						<p>
							<%=  link_to @user.profile.facebook, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
								<i class="ion-social-facebook"></i>
							<% end %>
							<%=  link_to @user.profile.linkedin, class: "mr5 btn btn-floating btn-indigo btn-ripple" do %>
								<i class="ion-social-linkedin"></i>
							<% end %>
							<%=  link_to @user.profile.youtube, class: "mr5 btn btn-floating btn-red btn-ripple" do %>
								<i class="ion-social-youtube"></i>
							<% end %>
							<%=  link_to @user.profile.twitter, class: "mr5 btn btn-floating btn-light-blue btn-ripple" do %>
								<i class="ion-social-twitter"></i>
							<% end %>
							<%=  link_to @user.profile.instagram, class: "mr5 btn btn-floating btn-brown btn-ripple" do %>
								<i class="ion-social-instagram"></i>
							<% end %>
							<%=  link_to @user.profile.pinterest, class: "mr5 btn btn-floating btn-pink btn-ripple" do %>
								<i class="ion-social-pinterest"></i>
							<% end %>
							<%=  link_to @user.profile.foursquare, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
								<i class="ion-social-foursquare"></i>
							<% end %>
						</p>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-6-->

			<div class="col-md-6">

				<!-- My teammates -->
				<div class="col-md-12">
					<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
						<div class="card-heading" style="border-top: 3px solid #ccc;">
							<h3 class="card-title">My Teammates</h3>
							<div class="card-subhead">
							 <a href="#">24 Teammates</a>
							</div><!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body">
							<ul class="users">
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<img src="../../assets/globals/img/faces/1.jpg" alt="">
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<img src="../../assets/globals/img/faces/1.jpg" alt="">
									</a>
								</li>

								<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman"><img src="../../assets/globals/img/faces/2.jpg" alt=""></a></li>

								<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla Olsen"><img src="../../assets/globals/img/faces/3.jpg" alt=""></a></li>

								<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia Gagné"><img src="../../assets/globals/img/faces/4.jpg" alt=""></a></li>
								<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Nicoline Thomsen"><img src="../../assets/globals/img/faces/5.jpg" alt=""></a></li>
								<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Christian Roth"><img src="../../assets/globals/img/faces/6.jpg" alt=""></a></li>
								<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas Verbeke"><img src="../../assets/globals/img/faces/7.jpg" alt=""></a></li>
							</ul>
						</div><!--.card-body-->
						<div class="card-footer">
							<ul>
								<li><span class="mr5 fs_14">34 People</span></li>
								<li><a href="#" class="fs_14">View All Teammates</a></li>
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
				</div><!--.col-md-12-->
				<!-- My teammates -->

				<!-- My teams -->
				<div class="col-md-12">
					<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
						<div class="card-heading" style="border-top: 3px solid #ccc;">
							<h3 class="card-title">My Teams</h3>
							<div class="card-subhead">
							 <a href="#">8 Teams</a>
							</div><!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body">
							<ul class="list-material borderless">
								<li class="has-action-left">
									<a href="#" class="visible">
										<div class="list-action-left">
											<%= image_tag("http://www.oxtonhc.co.uk/wp-content/themes/oxtonhc/library/images/team-placeholder.jpg", class: "face-radius")%>
										</div>
										<div class="list-content">
											<span class="title">Women's Basketball Team</span>
											<span class="fs_11 text-muted">18 People, 
												<i class="ion-location text-primary ml5"></i> Upper Marlboro, MD
											</span>
										</div>
									</a>
								</li>
								<li class="divider with-border no-padding no-margin">
								</li>
								<li class="has-action-left">
									<a href="#" class="visible">
										<div class="list-action-left">
											<%= image_tag("http://www.oxtonhc.co.uk/wp-content/themes/oxtonhc/library/images/team-placeholder.jpg", class: "face-radius")%>
										</div>
										<div class="list-content">
											<span class="title">Lacrosse Recreational Adult League</span>
											<span class="fs_11 text-muted">
												18 People,
												<i class="ion-location text-primary ml5"></i> Upper Marlboro, MD
											</span>
										</div>
									</a>
								</li>
								<li class="divider with-border no-padding no-margin">
								</li>
								<li class="has-action-left">
									<a href="#" class="visible">
										<div class="list-action-left">
											<%= image_tag("http://www.oxtonhc.co.uk/wp-content/themes/oxtonhc/library/images/team-placeholder.jpg", class: "face-radius")%>
										</div>
										<div class="list-content">
											<span class="title">Rebecca Welch</span>
											<span class="fs_11 text-muted">
												18 People,
												<i class="ion-location text-primary ml5"></i> Upper Marlboro, MD
											</span>
										</div>
									</a>
								</li>
							</ul>
						</div><!--.card-body-->
						<hr class="no-margin"/>
						<div class="card-footer">
							<ul>
								<li class="fs_14"><span class="mr5">7 Teams</span></li>
								<li><a href="#" class="fs_14">View All Teams</a></li>
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
				</div><!--.col-md-12-->
				<!-- My teams -->

				<!-- My Schedule -->
				<div class="col-md-12">
					<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
						<div class="card-heading" style="border-top: 3px solid #ccc;">
							<h3 class="card-title">My Schedule</h3>
							<div class="card-subhead">
							 <a href="#">7 Upcoming Events</a>
							</div><!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body pl40">
							<div class="timeline single">
								<div class="frame">
									<div class="timeline-badge">
										<i class="ion-android-calendar"></i>
									</div><!--.timeline-badge-->
									<span class="timeline-date bold">Fri, Jul 30th, 2015</span>
									<div class="timeline-content">
										<h4  class="semi-bold no-margin">Lacrosse Practice</h4>
										<p class="fs_14 mb5">Meet on the field near the locker rooms. Remember to bring your pads and be warmed up and ready to go.</p>
										<p class="fs_11 text-muted mb0">
											<i class="ion-checkmark-circled text-primary mr5"></i>18 People Attending</p>
										<p class="fs_11 text-muted">
											<i class="ion-map text-primary mr5"></i> Woodrow Willson High School Baskebtall Gym, Upper Marlboro, MD
										</p>
									</div><!--.timeline-content-->
								</div><!--.frame-->
								<div class="frame">
									<div class="timeline-badge">
										<i class="ion-android-calendar"></i>
									</div><!--.timeline-badge-->
									<span class="timeline-date bold">Wed, Aug 4th, 2015</span>
									<div class="timeline-content">
										<h4  class="semi-bold no-margin">Basketball Practice</h4>
										<p class="fs_14 mb5">Be center court ready to got at 5pm</p>
										<p class="fs_11 text-muted mb0">
											<i class="ion-checkmark-circled text-primary mr5"></i>18 People Attending</p>
										<p class="fs_11 text-muted">
											<i class="ion-map text-primary mr5"></i> Woodrow Willson High School Baskebtall Gym, Upper Marlboro, MD
										</p>
									</div><!--.timeline-content-->
								</div><!--.frame-->
							</div>
						</div>
						<hr class="no-margin"/>
						
						<div class="card-footer">
							<ul>
								<li class="fs_14"><span class="mr5">7 Upcoming Events</span></li>
								<li><a href="#" class="fs_14">View All Events</a></li>
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
				</div><!--.timeline-->
			</div><!--.col-md-12-->
			<!-- My Schedule -->
		</div>
	</div>
</div>
	
	