<div id="about" class="tab-pane active">
	
	<!--.page-header-->
  <div class="page-header full-content parallax">
    <%= render "users/show/header" %>
    <%#= render "users/show/tab_navigation" %>
  </div>
  <!--.page-header-->

	<div class="">
		<div class="row">		
			<div class="col-md-4" style="margin-top: -296px;">
				<div class="card tile card-post" style="border-top: 3px solid #3e50b4;">
					<div class="card-heading pl40 pr40">
						<%= render "shared/fan" %>
					  <%= render 'shared/online' %>
					</div><!--.card-heading-->
					<hr class="light mt0"/>
					<div class="card-body pl40 pr40">
						<div class="clearfix row">
						  <div class="col-md-3">
						  	<div class="profile-photo-wrapper" style="height: 100px; width: 100px; overflow: hidden; border: 1px solid #ddd;">
									<%= image_tag(@user.avatar, class: "img-responsive", style: "height: auto; width: 100%; min-width: 100px; min-height: 100px;") %>
								</div>
						  </div>
							<div class="col-md-9">
								<h3 class="semi-bold capitalize text-black no-margin lh_34 mt10">
									<%= @user.first_name %> <%#= @user.middle_name %>
									<%= @user.last_name %>
								</h3>
								<p class="fs_12 semi-bold text-muted mb5 mt5"><%= @user.classification_list %></p> 
								<% if @user.user_schools.present? %>
									<p class="semi-bold fs_14 text-muted no-margin">
										<i class="ion-university fs_20 text-primary mr5"></i>
										<%= @user.user_schools.first.name  %>
									</p>
								<% end %>
							</div>
						</div>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="semi-bold capitalize">
							<i class="ion-information-circled text-indigo mr5"></i> About <%= @user.name %>
						</h6>
						<% if @user.profile.description.present? %>
						
						  <%= @user.profile.description %> 
						
						<% else %>
							<p class="fs_14 lh_18 text-muted mb20 mt10">
								No user description.
							</p>
						<% end %>
						<hr clas="light"/>

						<h6 class="upper mt0">
							<small class="text-grey bold">contact information</small>
						</h6>
						<div class="clearfix">

							<div class="row">
								<div class="col-md-6">
									<% if @user.profile.location_description.present? %>
										<p class="semi-bold fs_14 text-muted no-margin">
											<i class="ion-location fs_20 text-primary mr5"></i>
											<%= @user.profile.location_description %>
										</p>
									<% end %>
									<% if @user.username %>
										<p class="semi-bold fs_14 text-muted no-margin">
											<i class="ion-person-add fs_20 text-primary mr5"></i>
											<%= @user.username %>
										</p>
									<% end %>
									<p class="semi-bold fs_14 text-muted no-margin">
										<i class="ion-email fs_20 text-primary mr5"></i>
										<%= @user.email %>
									</p>
									<% if current_user.can_edit_user?(@user) %>
										<p class="semi-bold fs_14 text-muted no-margin">
											<i class="ion-ios-telephone fs_20 text-primary mr5"></i>
											<%= @user.mobile_phone_number %>
										</p>
									<% end %>
									<% if @user.profile.date_of_birth.present? %>
									<p class="semi-bold fs_14 text-muted no-margin">
										<i class="ion-android-calendar fs_20 text-primary mr5"></i>
										<%= @user.profile.date_of_birth %>
									</p>
									<% end %>
									<% if @user.user_schools.present? %>
									<p class="semi-bold fs_14 text-muted no-margin">
										<i class="ion-university fs_20 text-primary mr5"></i>
										<%= @user.user_schools.first.name  %>
									</p>
									<% end %>
								</div>
							</div>

						</div>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold mt0">
							<small class="text-grey bold">certifications</small></h6>
						<!-- these must stay together as an interator -->
						<table class="table table-hover bgcolor-white box-shadow-ccc">
							<thead>
								<th><span class="text-muted semi-bold fs_12">Certificate</span></th>
								<th><span class="text-muted semi-bold fs_12">Exp.</span></th>
							</thead>
							<tbody>
								<% @user.certificates.each do |certificate| %>
									<tr>
										<td><span class="fs_12"><%= certificate.certification.name %></span></td>
										<td><span class="fs_12"><%= certificate.expiration %></span></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold">
							<small class="text-grey bold">athletic profile</small>
						</h6>
						<div class="clearfix">
							<div class="pull-left">
								<p>
									<% if @user.profile.height_ft.to_i > 0 %>
									<span class="h3 inline">
										<strong><%= @user.profile.height_ft %></strong> 
										<small class="small">ft.</small>
									</span>
									<span class="h3 inline">
										<strong><%= @user.profile.height_in %></strong> 
										<small class="small"> in.</small>
									</span>
									<% end %>
								</p>
							</div>
							<div class="pull-right">
								<span class="h3 inline">
									<strong><%= @user.profile.weight %></strong>
									<% if @user.profile.weight.present? %>
									<small class="small"> lbs.</small>
									<% end %>
								</span>
							</div>
						</div>
					</div>
					<hr class="light mt15 mb15"/>
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold no-margin">
							<small class="text-grey bold">measurements</small>
						</h6>
						<!-- these must stay together as an interator -->
						<div class="clearfix">
							<table class="table table-hover bgcolor-white box-shadow-ccc">
								<thead>
									<th><span class="text-muted semi-bold fs_12">Measurement</span></th>
									<th><span class="text-muted semi-bold fs_12">Sport</span></th>
									<th><span class="text-muted semi-bold fs_12">Score</span></th>
									<th><span class="text-muted semi-bold fs_12">Verified</span></th>
								</thead>
								<tbody>
									<% @user.measurables.each do |measurable| %>
										<tr>
											<td><span class="fs_12"><%= measurable.measurable %></span></td>
											<td><span class="fs_12"><%= measurable.sport %></span></td>
											<td><span class="fs_12"><%= measurable.result %></span></td>
											<% if false %>
											<td><span class="fs_12">
												<i class="ion-checkmark-circled fs_16 text-primary"></i>
												</span>
											</td>
											<% end %>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
						<!-- <h6 class="upper text-muted bold no-margin"><small>My favorites</small></h6> -->
						<%#= @user.profile.hudl %>
						<%#= @user.profile.favorite_pro_team %>													
						<%#= @user.profile.favorite_college_team %>
						<%#= @user.profile.favorite_pro_athlete %>	
					</div><!--.card-body-->
					<%= render 'shared/about_tab_social_media'%>
				</div><!--.card-->
			</div><!--.col-md-6-->

			<div class="col-md-8">

				<div class="col-md-6">	
					<div class="row">	
						<!-- My teammates -->
						<div class="col-md-12 clearfix">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
								<div class="card-heading">
									<h3 class="card-title">My Teammates</h3>
									<div class="card-subhead">
									 <!-- <a href="#">24 Teammates</a> -->
									</div><!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body">
									<ul class="users">
										<% if @teammates.present? %>
											<% @teammates.each do |teammate| %>
												<li>
													<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= teammate.full_name %>">
														<%= image_tag teammate.avatar %>
													</a>
												</li>
									    <% end %>
										<% else %>
											<p class="mb0 mt0 center padding-10 text-grey">
												<!-- <i class="ion-person-add mr10"></i> Add teams to your profile -->
												No teammates for user
											</p>
									   <% end %>
									</ul>
								</div><!--.card-body-->
								<div class="card-footer">
									<ul>
										<li><span class="mr5 fs_14"><%= pluralize @teammates.count, "Person" %></span></li>
										<li><%= link_to "View All Teammates", "/users/#{@user.slug}/#tab_teammates", class: "fs_14" %></li>
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.col-md-12-->
						<!-- My teammates -->

           	<%= render 'shared/about_tab_teams', teams: @user.user_teams %>
						<!-- My teams -->

						<!-- My Schedule -->
            <%= render 'shared/about_tab_upcoming'%>
					</div>
				</div>
        <div class="col-md-6">	
	        <%= render 'shared/about_tab_media' %>


					<!-- My teammates -->
          <%= render 'shared/about_tab_fans' %>

					<!-- My teammates -->
					<div class="col-md-12">
						<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
							<div class="card-heading">
								<h3 class="card-title">I'm Following</h3>
								<div class="card-subhead">
								 <!-- <a href="#">24 Teammates</a> -->
								</div><!--.card-subhead-->
							</div><!--.card-heading-->
							<div class="card-body">
								<ul class="users">
									<% if @follows.present? %>
	 									<% @follows.each do |follow| %>
	 									<li>
	 										<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= follow.fannable.name %>">
	 											<%= image_tag follow.fannable.image %>
	 										</a>
	 									</li>
	 						           <% end %>
									
									<% else %>
										<p class="mb0 mt0 center padding-10 text-grey">
											<!-- <i class="ion-person-add mr10"></i> Build your sport community -->
											Not following anything yet
										</p>
									
								   <% end %>
								</ul>
							</div><!--.card-body-->
							<div class="card-footer">
								<ul>
									<li><span class="mr5 fs_14"><%= pluralize @follows.count, "Person" %></span></li>
									<li><%= link_to "View Following", "/users/#{@user.slug}/#tab_following", class: "fs_14" %></li>
									
								</ul>
							</div><!--.card-footer-->
						</div><!--.card-->
					</div><!--.col-md-12-->
					<!-- My teammates -->
				</div>


			</div><!--.col-md-12-->
			<!-- My Schedule -->
		</div>
	</div>
</div>
	
	