<%= render 'shared/background_photo_tab', photo_owner: @user %>

<!-- <div class="profile-info" style="z-index: 999999;">
  <div class="profile-photo">
    <%= image_tag(@user.avatar, height: "100", width: "100") %>
  </div>
  <div class="profile-text light">
    Sports Facility
    <span class="caption"><%= @user.name %></span>
  </div>
</div> -->



  <div class="bg-overlay"></div><!--.bg-overlay-->
  <%= render "shared/bg_edit" %>


  <!--.profile-info-->

  <div class="row">
    <div class="col-sm-5">
      <%= render 'shared/upcoming_event', object: @user %>
      
    </div>
  </div>
  <!--.row-->