<table class="table table-hover bgcolor-white box-shadow-ccc">
	<thead>
		<th><span class="text-muted semi-bold fs_12">Measurement</span></th>
		<th><span class="text-muted semi-bold fs_12">Sport</span></th>
		<th><span class="text-muted semi-bold fs_12">Score</span></th>
		<th><span class="text-muted semi-bold fs_12">Verified</span></th>
        <% if object.can_verify_user?(current_user)%>
          <th><span class="text-muted semi-bold fs_12">Verify</span></th>
        <% end %>
	</thead>
	<tbody>
		<% object.measurables.each do |measurable| %>
			<tr>
				<td><span class="fs_12"><%= measurable.measurable %></span></td>
				<td><span class="fs_12"><%= measurable.sport %></span></td>
				<td><span class="fs_12"><%= measurable.result %></span></td>
				
				<td>
                    <% if measurable.verified? %>
                    <span class="fs_12">
					<i class="ion-checkmark-circled fs_16 text-primary"></i>
					</span>
                     <% end %>
				</td>
               
                
				<% if object.can_verify_user?(current_user)%>
				<td><span class="fs_12">
                    <%= link_to measurable_verify_path(measurable), remote: true do%>
                        <% unless measurable.verified? %>
                          <i class="" id="verify-<%= "#{measurable.id}" %>">Verify</i>
                        <% end %>
                    <% end %>
					</span>
				</td>
                <% end %>
                
                
                
                
                
                
				
			</tr>
		<% end %>
	</tbody>
</table>