<h5 class="text-muted semi-bold text-center">LOGIN BELOW</h5>

<hr class="hr-333 mt10"/>

<%= form_for User.new, html: {class: "form-horizontal parsley-validate", id: 'signup-form'} do |f|   %>
	
	<div class="form-group">
		<div class="inputer">
			<div class="input-wrapper">
				<%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
			</div>
		</div>
	</div><!--.form-group-->
	<div class="form-group">
		<div class="inputer">
			<div class="input-wrapper">
				<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
			</div>
		</div>
	</div><!--.form-group-->
	<div class="form-group">
		<div class="inputer">
			<div class="input-wrapper">
				<%= f.email_field :email, class: "form-control", placeholder: "Email address" %>
			</div>
		</div>
	</div><!--.form-group-->
	<div class="form-group">
		<div class="inputer">
			<div class="input-wrapper">
                <%= f.text_field :mobile_phone_number, class: "form-control", placeholder: "Mobile Phone Number ex. 5556667777", "data-parsley-type" => "number", "data-parsley-type-message" => "Your message"%>
			</div>
		</div>
	</div><!--.form-group-->
	<div class="form-group">
		<div class="inputer">
			<div class="input-wrapper">
				<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
			</div>
		</div>
	</div><!--.form-group-->
	<div class="form-group">
		<label><input type="checkbox" name="remember" value="1"> I have read and agree to the term of use.</label>
	</div>

	<div class="form-buttons clearfix">
		<%= f.submit "Create Account", class: "btn btn-block btn-primary pull-right" %>
	</div><!--.form-buttons-->

	<div class="form-buttons clearfix">
		<ul class="extra-links mt5">
			<li>
				<a href="#" class="bold show-pane-login ls1"><u>I have an Account</u></a>
			</li>
		</ul>
	</div>
	
<% end %>