<h2>Login to FYESports</h2>
    		
<%= form_tag sessions_path, id: 'sign-in-form' do %>

	<div class="form-group">
		<div class="inputer">
			<div class="input-wrapper">
				<%= text_field_tag(:identifier, nil, {placeholder: "Enter your phone number or email address.", class: "form-control", type: "text"}) %>
			</div>
		</div>
	</div><!--.form-group-->
	<div class="form-group">
		<div class="inputer">
			<div class="input-wrapper">
				<%= text_field_tag(:password, nil, {placeholder: "Enter your password", type: "password", class: "form-control"}) %>
			</div>
		</div>
	</div><!--.form-group-->
	<div class="form-buttons clearfix">
		<label class="pull-left">
			<input type="checkbox" name="remember" value="1"> Remember me
		</label>
		<%= submit_tag "Login", type: "submit", class: "btn btn-primary pull-right" %>
	</div><!--.form-buttons-->

	<div class="social-accounts">
		<div class="btn-group-justified">
			<%=link_to "/auth/facebook", class: "btn-block btn btn-primary" do %>
				<i class="fa fa-facebook"></i> Facebook
			<% end %>
		</div>
	</div><!--.social-accounts-->

	<ul class="extra-links">
		<li>
			<%= link_to new_password_reset_path, class:"text-muted pull-right" do %>
				<h6>
					<a href="#" class="show-pane-forgot-password">Forgot your password ?</a>
				</h6>
			<% end %>
		</li>
		<li><a href="#" class="show-pane-create-account">Create a new account</a></li>
	</ul>
<% end %>