	<div class="page-header full-content bg-primary" style="min-height: 141px;">
		<div class="row">

			<div class="col-md-6">
				<%= link_to league_path(object) do %>
					<div class="pull-left margin-right-20">
						<div class="profile-photo-wrapper" style="height: 85px; overflow: hidden;">
							<%= image_tag(object.avatar, class: "img-thumbnail img-responsive", style: "height: 100%; width: 100%:") %>
						</div>	
					</div>
					<div class="pull-left">
						<h3 class="capitalize text-white mb5">
							<%= object.name %> 
						</h3>
						<h6 class="capitalize text-white">
							<i class="ion-map mr5"></i> <%= object.address.city %>, <%= object.address.state %> 
						</h6>
					</div>
				<% end %>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= leagues_path %>">leagues</a></li>
					<li><a href="<%= league_path %>"><%= object.name %></a></li>
					<li><a href="#" class="active">Edit</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<br/>
		<br/>

		<div class="clearfix"></div>


		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#general" data-toggle="tab">General</a></li>
				<li><a href="#social-media" data-toggle="tab">Social Media</a></li>
				<li><a href="#location" data-toggle="tab">Location</a></li>
				<li><a href="#media" data-toggle="tab">Upload Media</a></li>
			</ul>
		</div>
	</div><!--.page-header-->
	
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12">

			<div class="row">
				<div class="col-md-3">
			        <div id="profile-picture">
			          <%= render 'shared/profile_picture', object: @object %>
			        </div>
				</div>

				<div class="col-md-9">
					<div class="panel box-shadow-ccc">
						<div class="panel-body no-padding form-layout">
							<div class="tab-content with-panel">

								<div class="tab-pane active text-style" id="general">

									<div class="panel-header">
										<h4 class="text-right semi-bold text-primary">General</h4>
									</div>
									<hr class="margin-top-0"/>
									
									 <%= form_for object, html: {data: {remote: true }} do |f| %>
									
									<div class="panel-body">
										<div class="row">
											<div class="col-md-8 col-md-offset-2 col-sm-12">
												<div class="row example-row">
													<div class="col-md-12">Name</div><!--.col-md-3-->
													<div class="col-md-12">
														<div class="inputer">
															<div class="input-wrapper">
																<%= f.text_field :name, type: "text", class: "form-control", placeholder: "" %>
															</div>
														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->
												
												<div class="row example-row">
													<div class="col-md-12">Classification</div><!--.col-md-3-->
													<div class="col-md-12 margin-top-10">
														<div class="inputer">
															<%= f.select :classification, [ 'School District', 'Recreational: Adult', 'Recreational: Youth'], {:selected => object.classification }, {:class => 'selecter bg-white margin-bottom-0', :prompt=>'select level', :required => 'true', data:{live_search: 'true', width: '100%'}} %>
															

														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->

												<div class="row example-row">
													<div class="col-md-12">Sport</div><!--.col-md-3-->
													<div class="col-md-12 margin-top-10">
														<div class="inputer">
															<%= f.collection_select :sport_ids, Sport.all, :id, :sport, {:selected => object.sports.pluck(:id)}, {:multiple => true, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0" } %>

														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->

												<div class="row example-row">
													<div class="col-md-12">Description</div><!--.col-md-3-->
													<div class="col-md-12">
														<div class="inputer">
															<div class="input-wrapper">
																<%= f.text_area :description, type: "text", rows: "1", class: "form-control", placeholder: "" %>
															</div>
														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->

												<div class="row">

													<div class="col-md-4">
														<div class="row example-row">
															<div class="col-md-12">Phone Number</div><!--.col-md-3-->
															<div class="col-md-12">
																<div class="inputer">
																	<div class="input-wrapper">
																		<%= f.text_field :phone_number, type: "text", class: "form-control", placeholder: "" %>
																	</div>
																</div>
															</div><!--.col-md-9-->
														</div><!--.row-->
													</div>
												</div>
											</div>
										</div><!--.panel-body-->
									</div>
								</div><!--tab-pane-->
								
								<div class="tab-pane text-style" id="social-media">
									<div class="panel-header">
										<h4 class="text-right semi-bold text-primary">Social Media Profiles</h4>
									</div>
									<hr class="margin-top-0"/>
									
									<div class="panel-body pr40 pl40">
										<h5 class="bold text-primary">Add Social Media Accounts</h5>
										<br/>
										<%= render 'shared/social_edit', f: f %>
									</div>
								</div><!--tab-pane-->
								
								<div class="tab-pane text-style" id="location">
									<div class="panel-header">
										<h4 class="text-right semi-bold text-primary">Location</h4>
									</div>
									<hr class="margin-top-0"/>
									<div class="panel-body">
										<div class="row">
											<div class="col-md-8 col-md-offset-2 col-sm-12">
												
		                                <%= f.fields_for :address, address do |address|%>
											<div class="row example-row">
												<div class="col-md-12">Address</div><!--.col-md-3-->
												<div class="col-md-12">
													<div class="inputer">
														<div class="input-wrapper">
															<%= address.text_field :street_1, type: "text", class: "form-control", placeholder: "" %>
														</div>
													</div>
												</div><!--.col-md-9-->
											</div><!--.row-->

											<div class="row example-row">
												<div class="col-md-12">Address Line 2</div><!--.col-md-3-->
												<div class="col-md-12">
													<div class="inputer">
														<div class="input-wrapper">
															<%= address.text_field :street_2,  type: "text", class: "form-control", placeholder: "" %>
														</div>
													</div>
												</div><!--.col-md-9-->
											</div><!--.row-->


											<div class="row example-row">
												<div class="col-md-12">City</div><!--.col-md-3-->
												<div class="col-md-12">
													<div class="inputer">
														<div class="input-wrapper">
															<%= address.text_field :city, type: "text", class: "form-control", placeholder: "" %>
														</div>
													</div>
												</div><!--.col-md-9-->
											</div><!--.row-->

											<div class="row example-row">
												<div class="col-md-12">State</div><!--.col-md-3-->
												<div class="col-md-12">
													<div class="inputer">
														<div class="input-wrapper">
															<%= address.text_field :state, type: "text", class: "form-control", placeholder: "" %>
														</div>
													</div>
												</div><!--.col-md-9-->
											</div><!--.row-->


											<div class="row example-row">
												<div class="col-md-12">Zipcode</div><!--.col-md-3-->
												<div class="col-md-12">
													<div class="inputer">
														<div class="input-wrapper">
															<%= address.text_field :postcode,type: "text",  class: "form-control payment-restrict", :restrict => true, placeholder: "" %>
														</div>
													</div>
												</div><!--.col-md-9-->
											</div><!--.row-->

			
											<% end %>
												
											</div>
										</div>
									</div>
								</div><!--tab-pane-->
								
								

              	<div class="tab-pane text-style" id="media">
                  <div class="panel-header">
										<h4 class="text-right semi-bold text-primary">Upload Media</h4>
									</div>
									<hr class="margin-top-0"/>
									<div class="panel-body pr40 pl40">
										<%= render 'shared/edit_media', object: object, pictures: pictures %>
									</div>
								</div>
							</div><!--.tab-pane-->
						</div><!--.tab-content-->
						<div class="panel-footer form-layout">
							<p class="text-right">
								<p class="text-right">
									<%= f.submit "Update", class: "btn btn-primary btn-ripple" %>
								</p>
							</p>
						</div><!--.panel-body-->
					</div>
					<% end %>
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->
	</div>
</div>