

<% @leagues.each do |league| %>
	<%= link_to league_path(league) do %>
		<div class="col-md-6 col-lg-3 col-sm-12 element-item">
		    <div class="card card-user card-clickable card-clickable-over-content">
		      <div class="card-heading heading-full">
		        <div class="user-image sample-member9" style="background: url('http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif');"></div>

		        <%#= link_to "Edit", edit_league_path(user), class: "btn btn-sm btn-message" %>
			        <div class="clickable-button">
			          <div class="layer bg-orange"></div>
			          <a class="btn btn-floating btn-orange initial-position floating-open"><i class="ion-gear-b"></i></a>
			        </div>
			    <%# end %>
		      </div><!--.card-heading-->

		      <div class="card-body">
		        <h5 class="card-title capitalize fs_20">
		        	<a href="#"><%= truncate(league.name, length: 41) %></a>
		        </h5>

		        <div class="subhead">
		          <span class="text-muted inline">
		            <%= league.sport_list %> |
		          </span>
		          <span class="text-muted inline"><span class="ion-location inline mr5"></span><%= league.state %> |</span>
		          <span class="text-muted inline"><%= league.description %></span>
		        </div>
		      </div><!--.card-body-->

		      <!-- <div class="card-footer">
		        
		        <%#= link_to "Delete", team, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-sm btn-danger" %>
		      </div> --><!--.card-footer-->

		    </div><!--.card-->
	  	</div><!--.col-md-4-->
	<% end %>
<% end %>



<%#= link_to league.name, league_path(league) %>