
	<%= link_to league_path(league) do %>
	<div class="col-lg-2 col-md-6 col-sm-12 element-item <%= league.classification_with_hyphen %> all" data-category="<%= league.classification_with_hyphen %> all">
		    <div class="card card-user card-clickable card-clickable-over-content" style="height: 385px;">
		      <div class="card-heading heading-full">
		        <div class="user-image sample-member9" style="background: url('<%= league.avatar %>');"></div>
                  
                 <% if league.can_be_edited_by_user?(current_user)%> 
		          <div class="clickable-button">
		            <%= link_to edit_league_path(league), class: "btn btn-floating btn-orange initial-position floating-open" do %>
		              <i class="ion-gear-b"></i>
		          	<% end %>
			      </div>
                  <% end %>
		      </div><!--.card-heading-->

		      <div class="card-body">
		        <div style="height: 40px; position: relative;">
	        		<h4 class="card-title capitalize fs_14 lh_20 absolute bottom bold">
		        		<%= truncate(league.name, length: 33) %>
		        	</h4>
		        </div>

		        <hr class="light mt5 mb5" />

		        <div class="subhead mt5">
		          <span class="text-muted inline">
		          	<i class="ion-location mr5"></i>
		          	<%= league.address.city %>, <%= league.address.state %>
		      	  </span>
		          <span class="text-muted inline">
		            
		          </span>
		          <span class="text-muted lh_16 block mt5">
		          	<small class=""><%= truncate(league.description, length: 115) %></small>
		          </span>
		        </div>
		      </div><!--.card-body-->

		      <!-- <div class="card-footer">
		        
		        <%#= link_to "Delete", team, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-sm btn-danger" %>
		      </div> --><!--.card-footer-->

		    </div><!--.card-->
	  	</div><!--.col-md-4-->
	<% end %>




<%#= link_to league.name, league_path(league) %>