<style>
  .sample-bg-image13:before {
    background-image: url('');
  }
  .card-clickable {
    padding-bottom: 0;
  }
  .sample-member9 {
    background-image: url('http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif');
  }
  .card-friend .user-photo {
    float: left;
    width: 160px;
    height: auto;
    border-radius: 3px 0 0 3px;
  }
  .card-friend .friend-content {
    margin-left: 180px;
  }
</style>


<div class="content">

	<div class="page-header full-content bg-primary mb0" style="min-height: 141px;">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="capitalize semi-bold">
					<%= @league.name %>
					<small></small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= facilities_path %>">Facilities</a></li>
					<li><a href="<%= facility_path %>"><%= @league.name %></a></li>
					<li><a href="#" class="active">Edit</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			
      <% if current_user %>
        <% if current_user.can_edit_league?(@league)%>
          <%= link_to edit_league_path(@league), class: "mt10 pull-right btn btn-blue-grey button-striped button-full-striped btn-ripple mr20" do %>
              <i class="ion-gear-b fs_16 mr5"></i> Edit Profile
          <% end %>
        <% end %>
      <% end %>
		
		<%= render 'shared/show_navigations' %>
		</div>
	</div><!--.page-header-->

 	<!-- main content div -->
   <div class="row">
    <div class="col-md-12">
      <div class="tab-content without-border">

    		<%= render "leagues/show/tab_about" %>
				
			<!-- teams -->
		    <%= render "leagues/show/teams_tab" %>
			<!--#teams.tab-pane-->

			<!-- people -->
			<div id="people" class="tab-pane no-margin">
				<%= render 'shared/people' %>				
			</div>
			<!--#people.tab-pane-->

			<!-- facilities -->
			<div id="facilities" class="tab-pane tab-top-margin">
				<div class="col-lg-8 col-lg-offset-2">
					<p class="text-right">
						<button class="btn btn-blue" data-toggle="modal" data-target="#panel-new-facility">New Facility</button>
					</p>
				
					<%= render 'shared/facilities', facilities: @facilities %>
				</div>
			</div>

	        <div id="calendar-tab" class="tab-pane tab-top-margin">
	            <div class="row">
	              <%= render 'shared/calendar', eventable: @league %>
	            </div>
	        </div>
			<!--#facilities.tab-pane-->

			<!-- media -->
			<div id="media" class="tab-pane">
				<div id="load-masonry">
				  <div class="row">
				  	<div class="image-row masonry">
					  <%= render 'shared/media' %>
					</div>
				  </div>
			  </div>
			</div>

			<!--#media.tab-pane-->

			<% if false %>
	
					<!-- following -->
	      	<div id="following" class="tab-pane">
	        	<div class="row">
	          		<div class="col-md-3">
	            		<div class="card tile card-friend material-animate">
	              			<a href="user-profile.html"><img src="../../assets/globals/img/faces/1.jpg" class="user-photo" alt=""></a>
	              			<div class="friend-content">
	                			<p class="title">First Name, Last Name</p>
	                			<p><a href="user-profile.html">Title/Classification</a></p>
	                			<a class="btn btn-flat btn-primary btn-xs">Team/School</a>
	                			<p><a href="#" class="btn btn-default mt10">View Profile</a></p>
	              			</div><!--.friend-content-->
	            		</div><!--.card-->
	          		</div><!--.col-->
	        	</div>
	      	</div>

	  		<% end %>

      		<!-- fans -->
      		<div id="fans" class="tab-pane tab-top-margin">
		  		<%= render 'shared/fans', fans: @fans %>
      		</div>

				</div><!--.tab-content-->
			</div><!--.col-->
		</div><!--.row-->
	</div>

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->

<%= render "shared/panels/new_team" %>
