<ul class="list-material message-list">
	<li class="has-action-left has-action-right">
		<% current_user.relationships.each do |rel| %>
		
			<div class="list-action-left">
				<img src="<%= image_path("placeholders/user.jpg") %>" class="face-radius" alt="">
			</div>
			<div class="list-content">
				<span class="title"><%= link_to rel.team.proper_name, root_path, remote: true %></span>
				<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
			</div>
			<div class="list-action-right">
				<span class="top">15 min</span>
				<i class="ion-android-done bottom"></i>
			</div>
		
		<% end %>
	</li>
	<li class="has-action-left has-action-right">
		<a href="#" class="visible" data-message-id="2">
			<div class="list-action-left">
				<img src="<%= image_path("placeholders/user_1.jpg") %>" class="face-radius" alt="">
			</div>
			<div class="list-content">
				<span class="title">Andrew Fox</span>
				<span class="caption">Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value.</span>
			</div>
			<div class="list-action-right">
				<span class="top">2 hr</span>
				<i class="ion-android-done bottom"></i>
			</div>
		</a>
	</li>
	<li class="has-action-left has-action-right">
		<a href="#" class="visible" data-message-id="3">
			<div class="list-action-left">
				<img src="<%= image_path("placeholders/user_2.jpg") %>" class="face-radius" alt="">
			</div>
			<div class="list-content">
				<span class="title">Lieke Vermeulen</span>
				<span class="caption">Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</span>
			</div>
			<div class="list-action-right">
				<span class="top">Yesterday</span>
				<i class="ion-android-volume-off bottom"></i>
			</div>
		</a>
	</li>
	<li class="has-action-left has-action-right">
		<a href="#" class="visible" data-message-id="4">
			<div class="list-action-left">
				<img src="<%= image_path("placeholders/user_3.jpg") %>" class="face-radius" alt="">
			</div>
			<div class="list-content">
				<span class="title">Benjamin Beck</span>
				<span class="caption">Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.</span>
			</div>
			<div class="list-action-right">
				<span class="top">1 week ago</span>
				<i class="ion-android-done bottom"></i>
			</div>
		</a>
	</li>
	<li class="has-action-left has-action-right">
		<a href="#" class="visible" data-message-id="5">
			<div class="list-action-left">
				<img src="<%= image_path("placeholders/user.jpg") %>" class="face-radius" alt="">
			</div>
			<div class="list-content">
				<span class="title">Joshua Harris</span>
				<span class="caption">Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms.</span>
			</div>
			<div class="list-action-right">
				<span class="top">Jan 10, 2015</span>
				<i class="ion-android-done bottom"></i>
			</div>
		</a>
	</li>
	<li class="has-action-left has-action-right">
		<a href="#" class="visible" data-message-id="1">
			<div class="list-action-left">
				<img src="<%= image_path("placeholders/user_1.jpg") %>" class="face-radius" alt="">
			</div>
			<div class="list-content">
				<span class="title">Lisa Cooper</span>
				<span class="caption">Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</span>
			</div>
			<div class="list-action-right">
				<span class="top">Jan 5, 2015</span>
				<i class="ion-android-done bottom"></i>
			</div>
		</a>
	</li>
	<li class="has-action-left has-action-right">
		<a href="#" class="visible" data-message-id="2">
			<div class="list-action-left">
				<img src="<%= image_path("placeholders/user_2.jpg") %>" class="face-radius" alt="">
			</div>
			<div class="list-content">
				<span class="title">Matthew Harris</span>
				<span class="caption">Globally incubate standards compliant channels before scalable benefits. </span>
			</div>
			<div class="list-action-right">
				<span class="top">Jan 4, 2015</span>
				<i class="ion-android-done bottom"></i>
			</div>
		</a>
	</li>
	<li class="has-action-left has-action-right">
		<a href="#" class="visible" data-message-id="3">
			<div class="list-action-left">
				<img src="<%= image_path("placeholders/user_3.jpg") %>" class="face-radius" alt="">
			</div>
			<div class="list-content">
				<span class="title">Diana Nguyen</span>
				<span class="caption">Happy new yeaar!!</span>
			</div>
			<div class="list-action-right">
				<span class="top">Jan 1, 2015</span>
				<i class="ion-android-done bottom"></i>
			</div>
		</a>
	</li>
</ul>