<div class="menu-layer">
	<ul>
		<li>
			<a href="javascript:;">User</a>
			<ul class="child-menu">
				<li>
					<%= link_to "User Profile", user_path(User.first) %>
				</li>
				<li><%= link_to "Users Index", users_path %></li>
				<li><%= link_to "User Profile", user_path(User.first) %></li>
				<li><%= link_to "User Edit", edit_user_path(User.first) %></li>
			</ul>
		</li>

		
		<li>
			<a href="javascript:;">Teams</a>
			<ul class="child-menu">
				<% if Team.any? %>
					<li><%= link_to "Team Edit", edit_team_path(Team.first)%></li>
					<li><%= link_to "Team Profile/Page", team_path(Team.first)%></li>
				<% end %>
				<li>
					<a href="#" data-toggle="modal" data-target="#panel-new-team">
					New Team</a>
				</li>
			</ul>
		</li>


		<li>
			<a href="javascript:;">School</a>
			<ul class="child-menu">
				<li>
					<a href="#" data-toggle="modal" data-target="#panel-new-school">
					New School</a>
				</li>
				<% if School.any? %>
					<li>
						<%= link_to "School Edit", edit_school_path(School.first)%>
					</li>
					<li>
						<%= link_to "School Profile/Page", school_path(School.first)%>
					</li>
				<% end %>
			</ul>
		</li>


		<li>
			<a href="javascript:;">Facility</a>
			<ul class="child-menu">
				<li>
					<a href="#" data-toggle="modal" data-target="#panel-new-facility">
					New Facility</a>
				</li>
				<% if Facility.any? %>
					<li>
						<%= link_to "Facility Edit", edit_facility_path(Facility.first)%>
					</li>
					<li>
						<%= link_to "Facility Profile/Page", facility_path(Facility.first)%>
					</li>
				<% end %>
			</ul>
		</li>


		<li>
			<a href="javascript:;">League</a>
			<ul class="child-menu">
				<li>
					<a href="#" data-toggle="modal" data-target="#panel-new-league">
					New League</a>
				</li>
				<% if League.any? %>
					<li><%= link_to "League Edit", edit_league_path(League.first)%></li>
					<li><%= link_to "League Profile/Page", league_path(League.first)%></li>
				<% end %>
			</ul>
		</li>


		<li>
			<a href="javascript:;">Relationships</a>
			<ul class="child-menu">
				<% if Relationship.any? %>
					<li>
						<%= link_to "Relationship Edit", edit_relationship_path(Relationship.first)%>
					</li>
				<% end %>
			</ul>
		</li>
		
	</ul>
</div><!--.menu-layer-->