<div class="menu-layer">
	<% if current_user %>
	<ul>
		<li>
			<a href="javascript:;"><i class="ion-person mr5"></i> Profile</a>
			<ul class="child-menu">
				<li>
					<%= link_to user_path(current_user) do %>
						<i class="ion-person mr5"></i> View Profile
					<% end %>
				</li>
				<li>
					<%= link_to edit_user_path(current_user) do %>
						<i class="ion-gear-b mr5"></i> Edit Profile
					<% end %>
				</li>
				<li><%#= link_to "Users Index", users_path %></li>
			</ul>
		</li>
        
		<li>
			<a href="javascript:;"><i class="ion-person mr5"></i> Dashboard</a>
			<ul class="child-menu">
				<li>
					<%= link_to user_dashboard_index_path(current_user) do %>
						<i class="ion-person mr5"></i> View Dashboard
					<% end %>
				</li>
			</ul>
		</li>
        
        
		<li>
			<a href="javascript:;"><i class="ion-person mr5"></i> My Events</a>
			<ul class="child-menu">
				<li>
					<%= link_to user_events_path(current_user) do %>
						<i class="ion-person mr5"></i> View Events
					<% end %>
				</li>
				<li><%#= link_to "Users Index", users_path %></li>
			</ul>
		</li>

		<% if current_user.roles.any? %>
		<li>
			<a href="javascript:;"><i class="ion-flag mr5"></i> My Teams</a>
			<ul class="child-menu">
				<!-- <li><%#= link_to "Team New", new_team_path%></li> -->
				<!-- <li>
					<a href="#" data-toggle="modal" data-target="#panel-new-team">
					New Team Panel Form</a>
				</li> -->
				
					<% current_user.all_teams.each do |team| %>
					<li>
						<%= link_to team_path(team.friendly_id) do %>
								<i class="ion-flag mr5"></i> <%= "#{team.proper_name}" %>
							<% end %>
					</li>
						<% if false %> <!-- TODO change to real logic -->
						<li>
							<%= link_to edit_team_path(team.friendly_id) do %>
								<i class="ion-gear-b mr5"></i> <%= "Edit #{team.proper_name} Information" %>
							<% end %>
						</li>
						<% end %>
					<% end %>
				
				<li><%#= link_to "Teams Index", teams_path(Team.first)%></li>
			</ul>
		</li>
		<% end %>

       <% if current_user.all_schools.any? %>
		<li>
			<a href="javascript:;"><i class="ion-university mr5"></i> My Schools</a>
			<ul class="child-menu">
				<% current_user.all_schools.each do |school| %>
					<li>
						<%= link_to school_path(school) do %>
							<i class="ion-university mr5"></i> <%= school.name %>
						<% end %>
					</li>
				  <% if school.can_be_edited_by_user?(current_user)%>
				    <li>
				    	<%= link_to edit_school_path(school) do %>
								<i class="ion-gear-b mr5"></i> <%= "Edit #{school.name}" %>
							<% end %>
				    </li>
				  <% end %>
				<% end %>
				
					<%#= link_to "School New", new_school_path %>
				
				<!-- <li>
					<a href="#" data-toggle="modal" data-target="#panel-new-school">
					New School Panel Form</a>
				</li> -->
				<%# if School.any? %>
					<li>
						<%#= link_to "School Edit", edit_school_path(School.first)%>
					</li>
					<li>
						<%#= link_to "School Profile", school_path(School.first)%>
					</li>
				<%# end %>
				<li>
					<%#= link_to "Schools Index", schools_path %>
				</li>
			</ul>
		</li>
		<% end %>
        
        <% if current_user.all_clubs.any? %>
 		<li>
 			<a href="javascript:;"><i class="ion-university mr5"></i> My Clubs</a>
 			<ul class="child-menu">
 				<% current_user.all_clubs.each do |club| %>
 					<li>
 						<%= link_to club_path(club) do %>
 							<i class="ion-university mr5"></i> <%= club.name %>
 						<% end %>
 					</li>
 				  <% if club.can_be_edited_by_user?(current_user)%>
 				    <li>
 				    	<%= link_to edit_club_path(club) do %>
 								<i class="ion-gear-b mr5"></i> <%= "Edit #{club.name}" %>
 							<% end %>
 				    </li>
 				  <% end %>
 				<% end %>
				
 					<%#= link_to "School New", new_school_path %>
				
 				<!-- <li>
 					<a href="#" data-toggle="modal" data-target="#panel-new-school">
 					New School Panel Form</a>
 				</li> -->
 				<%# if School.any? %>
 					<li>
 						<%#= link_to "School Edit", edit_school_path(School.first)%>
 					</li>
 					<li>
 						<%#= link_to "School Profile", school_path(School.first)%>
 					</li>
 				<%# end %>
 				<li>
 					<%#= link_to "Schools Index", schools_path %>
 				</li>
 			</ul>
 		</li>
 		<% end %>
        
        <% if current_user.leagues.any? %>
 		<li>
 			<a href="javascript:;"><i class="ion-university mr5"></i> My Leagues</a>
 			<ul class="child-menu">
 				<% current_user.leagues.each do |league| %>
 					<li>
 						<%= link_to league_path(league) do %>
 							<i class="ion-university mr5"></i> <%= league.name %>
 						<% end %>
 					</li>
 				  <% if league.can_be_edited_by_user?(current_user)%>
 				    <li>
 				    	<%= link_to edit_league_path(league) do %>
 								<i class="ion-gear-b mr5"></i> <%= "Edit #{league.name}" %>
 							<% end %>
 				    </li>
 				  <% end %>
 				<% end %>
				
 					<%#= link_to "School New", new_school_path %>
				
 				<!-- <li>
 					<a href="#" data-toggle="modal" data-target="#panel-new-school">
 					New School Panel Form</a>
 				</li> -->
 				<%# if School.any? %>
 					<li>
 						<%#= link_to "School Edit", edit_school_path(School.first)%>
 					</li>
 					<li>
 						<%#= link_to "School Profile", school_path(School.first)%>
 					</li>
 				<%# end %>
 				<li>
 					<%#= link_to "Schools Index", schools_path %>
 				</li>
 			</ul>
 		</li>
 		<% end %>


		<!-- <li>
			<a href="javascript:;">Facility</a>
			<ul class="child-menu">
				<li>
					<%#= link_to "Facility New", new_facility_path %>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target="#panel-new-facility">
					New Facility Panel Form </a>
				</li>
				<%# if Facility.any? %>
					<li>
						<%#= link_to "Facility Edit", edit_facility_path(Facility.first)%>
					</li>
					<li>
						<%#= link_to "Facility Profile", facility_path(Facility.first)%>
					</li>
				<%# end %>
				<li>
					<%#= link_to "Facilities Index", facilities_path %>
				</li>
			</ul>
		</li> -->


		<!-- <li>
			<a href="javascript:;">League</a>
			<ul class="child-menu">
				<li>
					<%#= link_to "League New", new_league_path %>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target="#panel-new-league">
					New League Panel Form</a>
				</li>
				<%# if League.any? %>
					<li><%#= link_to "League Edit", edit_league_path(League.first)%></li>
					<li><%#= link_to "League Profile", league_path(League.first)%></li>
				<%# end %>
				<li>
					<%#= link_to "Leagues Index", leagues_path %>
				</li>
			</ul>
		</li> -->
			
			<li>
				<%#= link_to session_path(current_user.id), method: :delete do %>
					<!-- Logout &#32;&#32;<i class="ion-power m-l-5"></i> -->
				<%# end %>
				<% if current_user %>
				<%= link_to session_path(current_user.id), method: :delete do %>
					Logout &#32;&#32;<i class="ion-power m-l-5"></i>
				<% end %>
				<% end %>
			</li>

		
	</ul>
	<% else %>
	
	<ul>
		<%= link_to "Signup", signup_path %>
	</ul>
	
	<% end %>
</div><!--.menu-layer-->

