<% if false %>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>
  var pusher = new Pusher('<%=ENV["PUSHER_KEY"]%>'); // uses your APP KEY
  var user_id = <%=current_user.id%>;
  // $('#chat-message-form')[0].reset()

</script>

<% current_user.team_roles.each do |role| %>
    <script>
      pusher.subscribe("chat-<%= role.chatroom.id %>").bind('message-push', function (data) {
        // $("#message-<%#= @team.last_chat_stream_message_id %>").empty();
        // 	$("#message-<%#= @team.last_chat_stream_message_id %>").append("<%#= j render 'message', message: Message.where(chatroom_id: @team.id).last.beginning_of_stream %>")
        if ($("#messages-for-chat").data('room') != <%= role.chatroom.id %>){return false}

        if (data.user_id == user_id) {
          data.current_user = true;
        }
        else{
          data.current_user = false;
        }
        if (data.user_id != $('.message-wrap:last').data('id')){
          data.begin_stream = true;
        }else{
          data.begin_stream = false;
        }
        $("#messages-for-chat").append(JST['chat/message'](data));
        $('#messages-for-chat').scrollTop($('#messages-for-chat')[0].scrollHeight);

      });
    </script>
<% end %>


  <div id="pusher">

  </div>

<div class="user-layer">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active">
      <a href="#messages" data-toggle="tab">Community</a>
    </li>
    <li><a href="#">
        <i class="material-icons valign-middle">&#xE8A6;</i> Profile
      </a>
    </li>
    <li><a href="#"><i class="material-icons valign-middle">&#xE871;</i> Dashboard</a></li>
  </ul>

  <div class="row no-gutters tab-content">

    <div class="tab-pane fade in active" id="messages">
      <div class="col-md-4">
        <div class="message-list-overlay"></div>
          

        <ul class="list-material has-hidden">
          <li class="has-action-left has-action-right"></li>

          <% current_user.team_roles.each do |role| %>
            <li class="has-action-left has-action-right">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/user.jpg") %>" class="face-radius" alt="">
              </div>
              <div class="list-content" id="chatroom-label-<%= role.chatroom.id %>">
                <% if role.chatroom.id == current_user.chatroom_ids.first %>
                  <%= render 'shared/nav_layers/room',chatroom: role.chatroom %>
                <% else %>
                  <%= render 'shared/nav_layers/chatroom',chatroom: role.chatroom %>
                <% end %>
              </div>

              <div class="list-action-right">
                <!-- <span class="top">15 min</span>
                <i class="ion-android-done bottom"></i> -->
              </div>

            </li>
          <% end %>

           <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="<%= users_path %>" class="visible">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/coach.jpg") %>" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <h4 class"mb0">People</h4>
              </div>
              <div class="list-action-right">
                <span class="top">
                  <span class="label label-primary fs_20"><%= User.all.count %></span>
                </span>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="<%= teams_path %>" class="visible">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/classroom.jpg") %>" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <h4 class"mb0">Teams</h4>
              </div>
              <div class="list-action-right">
                <span class="top">
                  <span class="label label-primary fs_20"><%= Team.all.count %></span>
                </span>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="<%= schools_path %>" class="visible">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/team-3.jpg") %>" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <h4 class"mb0">Schools</h4>
              </div>
              <div class="list-action-right">
                <span class="top">
                  <span class="label label-primary fs_20"><%= School.all.count %></span>
                </span>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="<%= clubs_path %>" class="visible">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/team-2.jpg") %>" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <h4 class"mb0">Club</h4>
              </div>
              <div class="list-action-right">
                <span class="top">
                  <span class="label label-primary fs_20"><%= Club.all.count %></span>
                </span>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="<%= leagues_path %>" class="visible">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/female-team.png") %>" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <h4 class"mb0">Leagues</h4>
              </div>
              <div class="list-action-right">
                <span class="top">
                  <span class="label label-primary fs_20"><%= League.all.count %></span>
                </span>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="<%= facilities_path %>" class="visible">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/basketball-court.jpg") %>" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <h4 class="mb0">Facilities</h4>
              </div>
              <div class="list-action-right">
                <span class="top">
                  <span class="label label-primary fs_20"><%= Facility.all.count %></span>
                </span>
              </div>
            </a>
          </li>
          </ul>
        </div>
        <!--.col-->
        <div class="col-md-8">
        <div class="message-send-container" id="scroll">

          <% if current_user.team_roles.present? %>
            <div class="messages" id="messages-for-chat" data-room="<%=current_user.chatroom.id%>">
              <%= render 'shared/nav_layers/messages', messages: Message.where(chatroom_id: current_user.chatroom.id) %>
            </div>
            <!--.messages-->


            <div class="send-message" id="form-for-chat">
              <%= render 'shared/nav_layers/form', chatroom_id: current_user.chatroom.id %>
            </div>
          <% end %>
          </div>
        <!--.message-send-container-->
      </div>
      <!--.col-->

      <div class="mobile-back">
        <div class="mobile-back-button"><i class="ion-android-arrow-back"></i></div>
      </div>
      <!--.mobile-back-->
    </div>
    <!--.tab-pane #messages-->

    <div class="tab-pane fade" id="notifications">

      <div class="col-md-6 col-md-offset-3">

        <ul class="list-material has-hidden">
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="#" class="visible">
              <div class="list-action-left">
                <i class="ion-bag icon text-indigo"></i>
              </div>
              <div class="list-content">
                <span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
              </div>
              <div class="list-action-right">
                <span class="top">2 hr</span>
                <i class="ion-record text-green bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="#" class="visible">
              <div class="list-action-left">
                <i class="ion-image text-green icon"></i>
              </div>
              <div class="list-content">
                <span class="caption">Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value.</span>
              </div>
              <div class="list-action-right">
                <span class="top">16:55</span>
                <i class="ion-record text-green bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="#" class="visible">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/user.jpg") %>" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <span class="caption">Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</span>
              </div>
              <div class="list-action-right">
                <span class="top">Yesterday</span>
                <i class="ion-record text-green bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="#" class="visible">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/user_3.jpg") %>" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <span class="caption">Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.</span>
              </div>
              <div class="list-action-right">
                <span class="top">2 days ago</span>
                <i class="ion-android-done bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="#" class="visible">
              <div class="list-action-left">
                <i class="ion-location text-light-blue icon"></i>
              </div>
              <div class="list-content">
                <span class="caption">Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms.</span>
              </div>
              <div class="list-action-right">
                <span class="top">1 week ago</span>
                <i class="ion-android-done bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="#" class="visible">
              <div class="list-action-left">
                <i class="ion-bookmark text-deep-orange icon"></i>
              </div>
              <div class="list-content">
                <span class="caption">Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</span>
              </div>
              <div class="list-action-right">
                <span class="top">10 Jan</span>
                <i class="ion-android-done bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="#" class="visible">
              <div class="list-action-left">
                <i class="ion-locked icon"></i>
              </div>
              <div class="list-content">
                <span class="caption">Phosfluorescently engage worldwide methodologies with web-enabled technology.</span>
              </div>
              <div class="list-action-right">
                <span class="top">9 Jan</span>
                <i class="ion-android-done bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="#" class="visible">
              <div class="list-action-left">
                <img src="<%= image_path("placeholders/user_1.jpg") %>" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <span class="caption">Synergistically evolve 2.0 technologies rather than just in time initiatives. Quickly deploy strategic networks with compelling e-business. Credibly pontificate highly efficient manufactured products and enabled data.</span>
              </div>
              <div class="list-action-right">
                <span class="top">7 Jan</span>
                <i class="ion-android-done bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right has-long-story">
            <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
            <a href="#" class="visible">
              <div class="list-action-left">
                <i class="ion-navigate text-indigo icon"></i>
              </div>
              <div class="list-content">
                <span class="caption">Objectively pursue diverse catalysts for change for interoperable meta-services. Dramatically mesh low-risk high-yield alignments before transparent e-tailers.</span>
              </div>
              <div class="list-action-right">
                <span class="top">7 Jan</span>
                <i class="ion-android-done bottom"></i>
              </div>
            </a>
          </li>
        </ul>

      </div>
      <!--.col-->
    </div>
    <!--.tab-pane #notifications-->

  </div>
  <!--.row-->
</div><!--.user-layer-->
<% end %>
