<div class="col-md-4">
  <div class="card card-event">
    <div class="card-heading bg-image sample-bg-image12"></div>
    <div class="card-body">
      <div class="calendar">
        <div class="month"><%= event_schedule.starts_at.try(:strftime, "%B") %></div>
        <div class="date"><%= event_schedule.starts_at.try(:day) %></div>
      </div>
      <h4 style="margin-bottom: 0;"><%= event_schedule.title %></h4>
      <h5 class="text-grey">
        <%= event_schedule.event_type %>
      </h5>
      <h5 class="h6 text-orange bold">
        <%= format(event_schedule.starts_at, 4) %>
        <%= format(event_schedule.starts_at, 8) %>
        -
        <%= format(event_schedule.ends_at, 4) %>
        <%= format(event_schedule.ends_at, 8) %>
      </h5>
      <p class="small caption">
        <small>
          Created By:
          <%= link_to event_schedule.user.try(:full_name), user_path(event_schedule.user) %>
        </small>
      </p>
    </div>
    <div class="card-footer">
      <div class="btn-group btn-merged btn-group-sm pull-right">
          <%= render 'events/rsvp_index', event_schedule: event_schedule %>
      </div>
    </div>
  </div>
</div>