<tr>
    <td class="v-align-middle">
    	<%= position.position %>
    </td>
    <td><%= position.abbreviation %></td>
    <td><%= position.sport.try(:sport) %></td>
    <td class="v-align-middle">
    	<div class="row clearfix">
    		<div class="col-md-6">
        		<%= link_to position, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-block btn-sm btn-orange" do %>
        		 	<span class="ion-trash-b"></span>
        		<% end %>
        	</div>
        	<div class="col-md-6">
        		<button class="btn btn-block btn-sm btn-primary row" data-toggle="modal" data-target="#<%= position.id %>"> <span class="ion-gear-b"></span>
        		</button>
        	</div>
        </div>
		<%= render 'edit_position', position: position %>
    </td>
</tr>

