<div class="content">
	<div class="page-header full-content bg-blue mb0">
	  <div class="row">
	    <div class="col-sm-6">
	      <h1>Admin <small>positions</small></h1>
	    </div><!--.col-->
	    <div class="col-sm-6">
	      <ol class="breadcrumb">
	        <li><a href="/"><i class="ion-home"></i></a></li>
	        <li><a href="<%= users_path %>" class="active">all users</a></li>
	      </ol>
	    </div><!--.col-->
	  </div><!--.row-->
	</div><!--.page-header-->

	   
	  	
	<div class="pt60">
		<div class="row">
			<div class="col-lg-4">
	    	<%= form_for @position, html: {id: 'position-form', data: {remote: true}} do |f| %>
		    <div class="panel box-shadow-ccc">
		    	<div class="panel-heading">
						<div class="panel-title">
							<span class="ion-plus-circled text-primary h1 mr15 mt0 pull-left"></span>
							<h3 class="semi-bold mt10">
								<span class="">New Positions</span>
							</h3>
						</div>
					</div>
					<div class="panel-body">
			      <div class="row">
			      	<div class="col-md-12">
			        	<div class="row">
									<div class="col-md-12">
										<div class="row example-row no-margin">
											<div class="col-md-12">Position Name</div>
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= f.text_field :position, type: "text", class: "form-control", placeholder: "" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row example-row no-margin">
											<div class="col-md-12">Abbreviation</div>
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= f.text_field :abbreviation, type: "text", class: "form-control", placeholder: "" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->
									</div>
								</div>
								<div class="row mt20">
									<div class="col-md-12">
										<div class="example-row">
											<div class="col-md-12 mb10">Associated Sport</span></div>
											<div class="col-md-12">
												<div class="inputer">
													<%= f.collection_select :sport_id, Sport.all, :id, :sport, {:selected => ""}, {:multiple => false, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0", placeholder: "Select a Sport" } %>

												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->
									</div>
								</div>
								<div class="row mt10">
					        <div class="col-md-12">
					        	<%= f.submit "Create Position", class: "btn btn-blue btn-block mt20" %>
					        </div>
					      </div>
					    </div>
			      </div>
			    </div>
			  </div>
				<% end %>	
			</div>
			<div class="col-lg-8">
				<div class="panel box-shadow-ccc">
					<div class="panel-heading">
						<div class="panel-title">
							<h4 class="semi-bold">All Positions</h4>
						</div>
					</div>
					<div class="panel-body pb40">
						<div class="">
							<table id="position-list" class="table table-hover table-condensed" id="example">
			          <thead>
			            <tr>
			              <th style="width:25%" class="semi-bold h6 text-muted">Position</th>
			              <th style="width:25%" class="semi-bold h6 text-muted">Abbreviation</th>
										<th style="width:25%" class="semi-bold h6 text-muted">Sport</th>
			              <th style="width:25%" class="semi-bold h6 text-muted">Actions</th>
			            </tr>
			          </thead>
			          <tbody>
			            <%= render @positions %>
			          </tbody>
		        	</table>
		      	</div>
		      </div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

