								
<%= form_for new_user, url: rosters_path, method: :post, html: {id: "roster-form", data: {remote: true}} do |f| %>
<div class="pull-right" id="roster-spot-success" style="display: none">
<font size="2" color="green">Successfully created roster spot.</font>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="row example-row">
			<div class="col-md-12"><h4>First Name</h4></div><!--.col-md-3-->
			<div class="col-md-12">
				<div class="inputer">
					<div class="input-wrapper">
						<%= text_field_tag :first_name, user.first_name, type: "text", class: "form-control", placeholder: "", name: "first_name" %>
					</div>
					<div class="first_name_field"></div>
				</div>
			</div><!--.col-md-9-->
		</div><!--.row-->
	</div>

	<div class="col-md-4">
		<div class="row example-row">
			<div class="col-md-12"><h4>Last Name</h4></div><!--.col-md-3-->
			<div class="col-md-12">
				<div class="inputer">
					<div class="input-wrapper">
						<%= text_field_tag :last_name,user.last_name, type: "text", class: "form-control", placeholder: "", name: "last_name" %>
					</div>
					<div class="last_name_field"></div>
				</div>
			</div><!--.col-md-9-->
		</div><!--.row-->
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="row example-row">
			<div class="col-md-12"><h4>Classification</h4></div><!--.col-md-3-->
			<div class="col-md-12">
				<div class="inputer">
					<div class="input-wrapper">
						<%= text_field_tag :level,"" , placeholder: "", type: "text", class: "form-control", name: "level" %>
					</div>
				</div>
			</div><!--.col-md-9-->
		</div><!--.row-->
	</div>
	<div class="col-md-4">
		<div class="row example-row">
			<div class="col-md-12"><h4>Position</h4></div><!--.col-md-3-->
			<div class="col-md-12">
				<div class="inputer">
					<%= select_tag :position_ids, options_for_select(Position.pluck(:position, :id)), class: "selecter bg-white margin-bottom-0", multiple: true, "data-live-search" =>  true, name: "position_ids[]" %>
				</div><!--.col-md-9-->
			</div><!--.row-->
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="row example-row">
			<div class="col-md-12"><h4>Cell Phone</h4></div><!--.col-md-3-->
			<div class="col-md-12">
				<div class="inputer">
					<div class="input-wrapper">
                        <% if user.persisted? %>
  						  <%= text_field_tag :phone_number, user.hidden_phone_number, type: "text", class: "form-control", placeholder: "" %>
  						  <%= hidden_field_tag :mobile_phone_number, user.mobile_phone_number, type: "text", class: "form-control", placeholder: "" %>
                        <% else %>
    						<%= text_field_tag :phone_number,"", type: "text", class: "form-control", placeholder: "" %>
    						<%= hidden_field_tag :mobile_phone_number,"", type: "text", class: "form-control", placeholder: "" %>
                        <% end %>
						
					</div>
					<div class="mobile_phone_number_field"></div>
					<div class="" id="invalid-phone-message" style="display: none">

	                      	<font size="2" color="red">Phone Number is Invalid. Please enter 10 digits.</font>

					</div>
				</div>
			</div><!--.col-md-9-->
		</div><!--.row-->
	</div>
	
	<div class="col-md-4">
		<div class="row example-row">
			<div class="col-md-12"><h4>Jersey Number</h4></div><!--.col-md-3-->
			<div class="col-md-12">
				<div class="inputer">
					<div class="input-wrapper">
						<%= text_field_tag :jersey_number,"" , placeholder: "", type: "text", class: "form-control", name: "jersey_number" %>
					</div>
				</div>
			</div><!--.col-md-9-->
		</div><!--.row-->
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="row example-row">
			<div class="col-md-12"><h4>Assignments</h4></div><!--.col-md-3-->
			<div class="col-md-12">
			
					<%= hidden_field_tag :team_id,"", value: team.id %>

					<div class="checkboxer form-inline mb5">
                      	<%= check_box_tag :athlete, 1, user.persisted? ? (user.classifications.pluck(:classification) & ["Athlete", "Student Athlete"]).present? : false , id: "athlete"%>
                      	<label for="athlete">
                      		Athlete?
                      	</label>
                    </div>
					
					<div class="checkboxer form-inline mb5">
                      	<%= check_box_tag :coach, 1, user.persisted? ? user.classifications.pluck(:classification).include?("Coach") : false , id: "coach"%>
                      	<label for="coach">Coach?
                      	</label>
                    </div>

					<div class="checkboxer form-inline mb5">
                      	<%= check_box_tag :trainer, 1,false, id: "trainer"  %>
                      	<label for="trainer">Trainer?</label>
                    </div>

					<div class="checkboxer form-inline mb5">
                      	<%= check_box_tag :manager, 1,false, id: "manager"  %>
                      	<label for="manager">Manager?</label>
                    </div>
					
					<div class="checkboxer form-inline mb5">
                      	<%= check_box_tag :admin, 1,false, id: "access"  %>
                      	<label for="access">Admin?</label>
                    </div>
				
			</div><!--.col-md-9-->
			<div class="" id="blank-role-message-new" style="display: none">

                  	<font size="2" color="red">You must assign at least one role.</font>

			</div>
		</div><!--.row-->
		
	</div>
</div>


<hr class="mt0" />

<%= f.submit "Add New Team Member", class: "btn btn-primary pull-right add_team_member" %><br><br>
<div class="pull-right" id="roster-spot-created" style="display: none">

      	<font size="2" color="green">Roster spot created.</font>

</div>
<div class="pull-right" id="roster-spot-not-created" style="display: none">

      	<font size="2" color="red">Roster spot not created.</font>

</div>
<% end %>