<li id="head-<%= m.class.to_s %><%= m.id%>" class="">
    <div class="list-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-12">
                    <div class="pull-left mr20">
                        <% if m.class.to_s == "Role" %>
                          <%= image_tag m.user.avatar, class: "face-radius", alt: "", style: "width: 75px; height: 75px; border: 2px solid #ddd;" %>
                        <% else %>
                          <%= image_tag "http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-md.png", class: "face-radius pl", alt: "", style: "width: 75px; height: 75px; border: 2px solid #ddd;" %>
                        <% end %>
                    </div>
                    <div class="pull-left">
                        <h4 class="no-margin capitalize text-black semi-bold">
                            <% if m.class.to_s == "Role" %>
                              <%= m.user.full_name %>
                            <% else %>
                              <%= m.first_name  %> <%= m.last_name %>
                            <% end %>
                        </h4>
                        <p class="small text-grey">
                            <small>
                                <%= m.title.blank? ? "TBD" : m.title %>
                            </small>
                        </p>
                        <% if m.class.to_s == "Role" %>
                            <h5 class="no-margin capitalize semi-bold">
                                <%= m.user.certification_list.blank? ? "TBD" : m.user.certification_list %>
                            </h5>
                            <p class="small text-grey">
                                <small>
                                    Certifications
                                </small>
                            </p>
                        <% end %>
                        <% if m.class.to_s == "Role" %>
                            <h5 class="no-margin semi-bold">
                                <%= m.user.mobile_phone_number.blank? ? "TBD" : number_to_phone(m.user.mobile_phone_number) %>
                            </h5>
                            <p class="small text-grey">
                                <small>
                                    Phone
                                </small>
                            </p>
                        <% end %>
                    </div>
					<% if current_user %>
					<% if @team.can_be_edited_by_user?(current_user) %>
                        <div class="pull-right mr10">

                            <%= link_to m, method: :delete, remote: true,  class: "pull-right btn btn-orange", data: {confirm: "Are you sure?"} do %>
                                    <span class="ion-trash-b"></span>
                            <% end %>

                            <%= link_to roster_edit_roster_view_path(roster_id: @team.id, class: m.class, id: m.id, status: "head"), remote: true, class: "btn btn-primary pull-right mr10" do %>
                                    <span class="ion-ios-gear"></span>
                            <% end %>
                        </div>
					<% end %>
					<% end %>
                   
                </div>
            </div>
        </div>
    </div>
</li>

