<li id="member-<%= m.class.to_s %><%= m.id%>" class="">
	<div class="list-content">
		<div class="row">
			<div class="col-sm-2">
				<div class="center">
					<% if m.class.to_s == "Role" %>
					  <%= image_tag m.user.try(:avatar), class: "face-radius", alt: "", style: "width: 150px; height: 150px; border: 2px solid #ddd;" %>
					<% else %>
					  <%= image_tag "http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-md.png", class: "face-radius pl", alt: "", style: "width: 150px; height: 150px; border: 2px solid #ddd;" %>
					<% end %>
				</div>
			</div>
			<div class="col-sm-10">
				<h3 class="no-margin capitalize text-black semi-bold">
					<% if m.class.to_s == "Role" %>
					  <%= m.user.try(:full_name) %>
					<% else %>
					  <%= m.first_name  %> <%= m.last_name %>
					<% end %>
				</h3>
				<p class="small text-grey">
					<small>
						Name
					</small>
				</p>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<h5 class="no-margin semi-bold">
						<%= m.level.present? ? m.level : "TBD" %>
					</h5>
					<p class="small text-grey">
						<small>
							Year
						</small>
					</p>
				</div>
				<div class="col-sm-2">
					<h5 class="no-margin capitalize semi-bold">
						<%= m.nickname.present? ? m.nickname : "TBD" %>
					</h5>
					<p class="small text-grey">
						<small>
							Nickname
						</small>
					</p>
					</div>
				<div class="col-sm-2">
					<h5 class="no-margin semi-bold">
						<% if m.jersey_number.present? %>
						  #<%= m.jersey_number %>
						<% else %>
						   TBD
						<% end %>
					</h5>
					<p class="small text-grey">
						<small>
							Jersey No.
						</small>
					</p>
				</div>
				<div class="col-sm-2">
					<h5 class="no-margin semi-bold">
						<%= m.positions.present? ? m.position_list : "TBD" %>
					</h5>
					<p class="small text-grey">
						<small>
							Position(s)
						</small>
					</p>
					</div>
				<div class="col-sm-1">
                    <% if m.class.to_s == "Role" %>
					<h5 class="no-margin semi-bold">
						
						  <%= m.user.age.present? ? m.user.age : "TBD" %>
						
					</h5>
					<p class="small text-grey">
						<small>
							Age
						</small>
					</p>
					<% else %>
					  
					<% end %>
				</div>
			</div>
		</div>
	</div>
</li>