<li class="has-action-left" id="pending-<%= m.id %>">
	<%= form_for m, url: accept_user_team_path(@team, role_id: m.id), html: {data: {remote: true}} do |f| %>
		<%= f.hidden_field :accepted, value: true %>
		<div class="hidden pt30">
			<p class="text-center mb5">
				<%= link_to reject_user_team_path(m), method: :patch, remote: true, class: "btn btn-danger"  do %> 
				<span class="ion-close-circled"></span>
				<% end %>
			</p>
			<p class="text-center">
		    <%= f.button class: "btn btn-success" do %>  
					<i class="ion-checkmark-circled"></i> 
				<% end %>
						
			</p>
		</div>
		<a href="#" class="visible">
			<div class="list-content">
				<div class="row pt20">
					<div class="col-md-1">
					</div>
					<div class="col-md-5">
						<%= image_tag m.user.avatar, class: "face-radius margin-right-20 pull-left", alt: "", style: "width: 65px; height: 65px; border: 3px solid #ddd;" %>
						<div class="pull-left">
							<h4 class="semi-bold no-margin text-black">
								<%= m.user.full_name %>
							</h4>
							<p class="small">
								<small>
									Name
								</small>
							</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkboxer form-inline mb5">
	                      	<%= check_box_tag :admin, id: "#{m.id}-role_admin"  %>
	                      	<label for="<%= "#{m.id}" %>-role_admin"></label>
	                    </div>
						<p class="small">
							<small>
								Admin?
							</small>
						</p>
					</div>
					<div class="col-md-2">
						<div class="checkboxer form-inline mb5">
	                      	<%= check_box_tag :coach, id: "#{m.id}-role_head"  %>
	                      	<label for="<%= "#{m.id}" %>-role_head"></label>
	                    </div>
						<p class="small">
							<small>
								Coach?
							</small>
						</p>
					</div>
					<div class="col-md-2">
						<div class="checkboxer form-inline mb5">
	                      	<%= check_box_tag :athlete, id: "#{m.id}-role_participant"  %>
	                      	<label for="<%= "#{m.id}" %>-role_participant"></label>
	                    </div>
						<p class="small">
							<small>
								Athlete?
							</small>
						</p>
					</div>
				</div>
			</div>
		</a>
	<% end %>
</li>
