<li class="has-action-left" id="pending-<%= m.user.id %>">
	<%= form_for m, url:  roster_accept_path(roster_id: @team.id), method: :get, html: {data: {remote: true}} do |f| %>
		<%= hidden_field_tag :accepted, true %>
		<%= hidden_field_tag :user_id, m.user.id %>
		<%= hidden_field_tag :roleable_type, @team.class.to_s %>
		<%= hidden_field_tag :roleable_id, @team.id %>
		<div class="hidden pt30">
			<p class="text-center mb5">
				<%= link_to reject_user_team_path(m), method: :patch, remote: true, class: "btn btn-danger"  do %> 
				<span class="ion-close-circled"></span>
				<% end %>
			</p>
			<p class="text-center">
		    <%= f.button class: "btn btn-success" do %>  
					<i class="ion-checkmark-circled"></i> 
				<% end %>
						
			</p>
		</div>
		<a href="#" class="visible">
			<div class="list-content">
				<div class="row pt20">
					<div class="col-md-1">
					</div>
					<div class="col-md-5">
						<%= image_tag m.user.avatar, class: "face-radius margin-right-20 pull-left", alt: "", style: "width: 65px; height: 65px; border: 3px solid #ddd;" %>
						<div class="pull-left">
							<h4 class="semi-bold no-margin text-black">
								<%= m.user.full_name %>
							</h4>
							<p class="small">
								<small>
									Name
								</small>
							</p>
						</div>
					</div>
					<div class="col-md-1">
						<div class="checkboxer form-inline mb5">
	                      	<%= check_box_tag :athlete, true, nil, id: "#{m.id}-role-athlete"  %>
	                      	<label for="<%= "#{m.id}" %>-role-athlete"></label>
	                    </div>
						<p class="small">
							<small>
								Athlete?
							</small>
						</p>
					</div>
					<div class="col-md-1">
						<div class="checkboxer form-inline mb5">
	                      	<%= check_box_tag :coach, true, nil, id: "#{m.id}-role-coach"  %>
	                      	<label for="<%= "#{m.id}" %>-role-coach"></label>
	                    </div>
						<p class="small">
							<small>
								Coach?
							</small>
						</p>
					</div>
					<div class="col-md-1">
						<div class="checkboxer form-inline mb5">
	                      	<%= check_box_tag :parent,true, nil,  id: "#{m.id}-role-parent"  %>
	                      	<label for="<%= "#{m.id}" %>-role-parent"></label>
	                    </div>
						<p class="small">
							<small>
								Parent?
							</small>
						</p>
					</div>
					<div class="col-md-1">
						<div class="checkboxer form-inline mb5">
	                      	<%= check_box_tag :manager, true, nil, id: "#{m.id}-role-manager"  %>
	                      	<label for="<%= "#{m.id}" %>-role-manager"></label>
	                    </div>
						<p class="small">
							<small>
								Manager?
							</small>
						</p>
					</div>
					<div class="col-md-1">
						<div class="checkboxer form-inline mb5">
	                      	<%= check_box_tag :trainer,true, nil, id: "#{m.id}-role-trainer"  %>
	                      	<label for="<%= "#{m.id}" %>-role-trainer"></label>
	                    </div>
						<p class="small">
							<small>
								Trainer?
							</small>
						</p>
					</div>
					<div class="col-md-1">
						<div class="checkboxer form-inline mb5">
	                      	<%= check_box_tag :admin,true, nil,  id: "#{m.id}-role-admin"  %>
	                      	<label for="<%= "#{m.id}" %>-role-admin"></label>
	                    </div>
						<p class="small">
							<small>
								Admin?
							</small>
						</p>
					</div>
				</div>
			</div>
		</a>
	<% end %>
</li>
