<div id="about" class="tab-pane active">
	<!--.page-header-->
  <div class="page-header full-content parallax">
    <%= render "teams/show/header" %>
    <%#= render "users/show/tab_navigation" %>
  </div>
  <!--.page-header-->

	<div class="">
		<div class="row">		
			<div class="col-md-4" style="margin-top: -241px;">
				<div class="card tile card-post" style="border-top: 3px solid #ccc;">
					<div class="card-heading pl40 pr40">
						<%= render "shared/fan" %>
						<p class="author">
							<a href="#">
							<i class="ion-ionic mr5"></i>
							<%= pluralize @team.number_of_people_online, "Person" %> Online</a> 
						</p>
						<% if @team.number_of_people_online > 0 %>
						<p class="fs_11 time">Last activity: <%= format(@team.last_activity, 4) %>, <%= format(@team.last_activity, 9) %></p>
						<% end %>
						<p class="time">Last activity: [Time]</p>
					</div><!--.card-heading-->
					<hr class="light mb10 mt0"/>
					<div class="card-body pl40 pr40">
						<h3 class="semi-bold capitalize text-black mb0">
							<%= @team.name %>
						</h3>
						<% if @team.school.present? %>
					  	<h5 class="semi-bold no-margin lh_30">
					  		<%= link_to @team.school.name, school_path(@team.school) %>
					  	</h5>
						<% end %>
						
						<p class="semi-bold fs_12 text-muted no-margin">
							<i class="ion-person-stalker fs_20 text-primary mr5"></i>
							<%= pluralize @team.accepted_coach_relationships.count, "Coach" %>, 
							<%= pluralize @team.accepted_athlete_relationships.count, "Player" %>, <%= pluralize @team.accepted_manager_relationships.count, "Manager" %>, <%= pluralize @team.accepted_trainer_relationships.count, "Trainer" %>
						</p>
								<!-- 	
						<p class="fs_14 lh_18 text-muted mb20 mt10">
							The mission of Walt Whitman High School is to prepare our students for the rigorous demands of the academic and work worlds so that they may reach their potential as self-directed, creative, and socially responsible individuals.
						</p> -->
					</div>
					
					<hr class="light mt15 mb0"/>
					<div class="card-heading pl40 p40">
						<h6 class="semi-bold mb0 fs_14"><%= @team.name %></h6>
						<h5 class="semi-bold mt0 mb0 text-black">Coaches and Management</h3>
					</div><!--.card-heading-->
					<div class="card-body pr40">
						<ul class="list-material borderless">
							<% @heads.each do |head| %>
								<li class="has-action-left">
								<a href="#" class="visible">
									<div class="pull-right pt20">
										<span class="text-muted fs_11">
											<i class="ion-ios-telephone text-primary mr5"></i>
											<%= head.mobile_phone_number %> 
										</span>
										<span class="text-muted fs_11">
											<i class="ion-email text-primary mr5"></i>
											<%#= head.email %> 
										</span>
									</div>

									<div class="list-action-left">
										<%= image_tag("http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif", class: "face-radius")%>
									</div>
									<div class="list-content">
										
										<% if head.class.to_s == "Relationship" %>
										  <span class="title"><%= head.user.full_name %></span>
										<% else %>
										  <span class="title"><%= head.first_name %> <%= head.last_name %></span>
										<% end %>
									</div>

								</a>
								</li>
								<li class="divider with-border no-padding no-margin">
								</li>
							<% end %>
						</ul>
					</div><!--.card-body-->
						
					<br/>
					<hr class="light mt15 mb15"/>
					<!-- My teams -->
					<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold mt0"><small>general information</small></h6>
						<div class="clearfix">
							<p class="semi-bold fs_12 text-muted no-margin">
								<i class="ion-person-stalker fs_20 text-primary mr5"></i>
								<%= pluralize @team.accepted_coach_relationships.count, "Coach" %>, 
								<%= pluralize @team.accepted_athlete_relationships.count, "Player" %>, <%= pluralize @team.accepted_manager_relationships.count, "Manager" %>, <%= pluralize @team.accepted_trainer_relationships.count, "Trainer" %>
							</p>

							<p class="semi-bold fs_14 text-muted no-margin">
								<i class="ion-monitor fs_20 text-primary mr5"></i>
								<%= @team.website %>
							</p>
								<p class="semi-bold fs_14 text-muted no-margin">
								<i class="ion-ios-telephone fs_20 text-primary mr5"></i>
								<%= @team.phone_number %> 
							</p>
							<p class="semi-bold fs_14 text-muted no-margin">
								<i class="ion-email fs_20 text-primary mr5"></i>
								<% if @team.email.present? %>
									<%= mail_to @team.email, "Email" %>
								<% else %>
									Email (to be provided)
								<% end %>
							</p>	
						</div>
					</div>
					
					<%#= render 'teams/show/awards_and_distinctions' %>
					<div class="card-footer mt20 pl40 pr40">
						<% if @team.social_media_present? %>
						<h6 class="upper text-muted bold"><small>social profiles</small></h6>
							  <% @team.facebook.present? %>	
							    <% if @team.facebook.present? %>	
									<%=  link_to @team.facebook, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
										<i class="ion-social-facebook"></i>
									<% end %>
								<% end %>
				
								<% if @team.linkedin.present? %>	
									<%=  link_to @team.linkedin, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
										<i class="ion-social-linkedin"></i>
									<% end %>
								<% end %>
							
				            <% if @team.youtube.present? %>
									<%=  link_to @team.youtube, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
										<i class="ion-social-youtube"></i>
									<% end %>
							<% end %>
							
							<% if @team.twitter.present? %>
									<%=  link_to @team.twitter, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
										<i class="ion-social-twitter"></i>
									<% end %>
							<% end %>
							
							<% if @team.instagram.present? %>
									<%=  link_to @team.instagram, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
										<i class="ion-social-instagram"></i>
									<% end %>
							<% end %>
							
							<% if @team.pinterest.present? %>
									<%=  link_to @team.pinterest, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
										<i class="ion-social-pinterest"></i>
									<% end %>
							<% end %>
						</p>
						<% end  %>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div>

			<div class="col-md-8">
				
				<div class="col-md-6">
					<div class="row">
						<!-- Roster -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
								<div class="card-heading" style="border-top: 3px solid #ccc;">
									<h6 class="semi-bold fs_14 mb0"><%= @team.name %></h6>
									<h3 class="card-title">Player Roster</h3>
									<!-- <div class="card-subhead">
									 <a href="#">
									 	<span class="text-muted">
									 		36 Teams - 10 Freshman, 10 Junior Varsity, 10 Varsity
									 	</span>
									 	</a>
									</div> -->
									<!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body">
									<p class="mt10 center">
										<button class="btn btn-blue-grey button-striped button-full-striped btn-ripple">
											<i class="ion-person-add mr5"></i> Add Players to Update Roster
										</button>
									</p>
									<ul class="list-material borderless">
										<% @members.each do |member| %>
										<li class="has-action-left">
											<a href="#" class="visible">
												<div class="pull-right pr20">
													<span class="lh_20 pull-right h3 inline">
														<% if member.jersey_number.present? %>
														 <sup class="fs_18">#</sup><%= member.jersey_number %>
														<% else %>
														   TBD
														<% end %>
														
													</span>
												</div>

												<div class="list-action-left">
													<%= image_tag("http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif", class: "face-radius")%>
												</div>
												<div class="list-content">
												
													<span class="title"><% if member.class.to_s == "Relationship" %>
													  <%= member.user.try(:full_name) %>
													<% else %>
													  <%= member.first_name  %> <%= member.last_name %>
													<% end %></span>
													<span class="fs_11 text-muted"><%= member.participant_classification.capitalize %><%= "#{', ' if (member.participant_classification.present? && member.position_list.present?) }"%> <%= member.position_list %></span>
												</div>

											</a>
										</li>
										
										<li class="divider with-border no-padding no-margin">
										</li>
										<% end %>
									</ul>
								</div><!--.card-body-->
								<hr class="no-margin"/>
								<div class="card-footer">
									<ul>
										<li class="fs_14"><span class="mr5"><%= pluralize @members.count, "Player" %> Players</span></li>
										<li><a href="#roster" data-toggle="tab" class="fs_14">View Complete Roster</a></li>
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.col-md-12-->
						<!-- Roster -->
						<!-- My Schedule -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
								<div class="card-heading" style="border-top: 3px solid #ccc;">
									<h6 class="semi-bold fs_14 mb0"><%= @team.name %></h6>
									<h3 class="card-title">Upcoming Events</h3>
									<!-- <div class="card-subhead">
									 <a href="#">7 Upcoming Events</a>
									</div> -->
									<!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body pl40">
									<div class="timeline single">
										<%= render 'shared/show_view_events', object: @team %>
									</div>
								</div>
								<hr class="no-margin"/>
								
								<div class="card-footer">
									<ul>
										<li class="fs_14"><span class="mr5"><%= pluralize @team.upcoming_events.count, "Upcoming Event" %> </span></li>
										<li><a href="#calendar-tab" data-toggle="tab" class="fs_14">View All Events</a></li>
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.timeline-->
					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<!-- My teammates -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
								<div class="card-heading" style="border-top: 3px solid #ccc;">
									<h6 class="semi-bold fs_14 mb0"><%= @team.name %></h6>
									<h3 class="card-title">Team Staff, Athletes, and Parents</h3>
									<!-- <div class="card-subhead">
									 <a href="#">124 Students</a>
									</div> -->
									<!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body">
									<ul class="users bgcolor-light-grey">
										<p class="mt10">
											<button class="btn btn-blue-grey button-striped button-full-striped btn-ripple">
												<i class="ion-person mr5"></i> No Users Added
											</button>
										</p>
										<% @team.people.each do |rel|%>
										<li>
											<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= rel.user.full_name %>">
												<%= image_tag rel.user.avatar %>
											</a>
										</li>
										<% end %>
									</ul>
								</div><!--.card-body-->
								<div class="card-footer">
									<ul>
										<li><span class="mr5 fs_14"><%= pluralize @team.people.count, "Person" %></span></li>
										<!-- <li><a href="#" class="fs_14">View All</a></li> -->
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.col-md-12-->
						<div class="col-md-12 clearfix">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
								<div class="card-heading" style="border-top: 3px solid #ccc;">
									<ul class="nav nav-tabs tabs-right-aligned pull-right fs_14 no-border" role="tablist">
										<li><a href="#articles" data-toggle="tab">Articles</a></li>
										<li><a href="#videos" data-toggle="tab">Videos</a></li>
										<li class="active"><a href="#photos" data-toggle="tab">Photos</a></li>
									</ul>
									<h6 class="semi-bold fs_14 mb0"><%= @team.name %></h6>
									<h3 class="card-title">Our Sports Media</h3>
								</div><!--.card-heading-->
								<div class="card-body">
							

									<div class="tab-content">
										<div class="tab-pane active" id="photos">
											<%= render 'shared/gallery' %>
											<div class="row image-row">
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/1.jpg" title="Some title goes here" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/1.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/2.jpg" title="Another title goes here" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/2.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/3.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/3.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/4.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/4.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/5.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/5.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/6.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/6.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/7.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/7.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/8.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/8.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/9.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/9.jpg" alt=""></a>
											</div><!--.col-->

											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/10.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/10.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/11.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/11.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/12.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/12.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/13.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/13.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/14.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/14.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/15.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/15.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/16.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/16.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/17.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/17.jpg" alt=""></a>
											</div><!--.col-->
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
												<a href="../../assets/globals/img/picjumbo/18.jpg" title="" data-gallery="#user-gallery"><img src="../../assets/globals/img/picjumbo/18.jpg" alt=""></a>
											</div><!--.col-->
											</div><!--.row-->
										</div><!--.tab-pane-->
										
										<div class="tab-pane" id="videos">
											<div class="row">
												<% @videos.each do |vid| %>
													<div class="col-md-6">
														<div class="card card-video card-player-orange">
															<div class="card-heading">
																<video id="youtube1" class="video-js video-js-responsive vjs-default-skin vjs-big-play-centered" controls preload="none" data-width="100%" data-height="200" data-setup='{ "techOrder": ["youtube"], "src": "<%= vid.url %>" }' ></video>
															</div><!--.card-heading-->
															<div class="card-body padding-10">
																<p class="fs_12 lh_16 no-margin"><%= vid.title%></h5>
																<p class="text-muted fs_12">
																	<em>Uploaded on <%= format(vid.publish_date, 2)%></em>
																</p>
															</div><!--.card-body-->

														</div><!--.card-->
													</div><!--.col-md-6-->
												<% end %>
											</div>
										</div><!--.tab-pane-->
										<div class="tab-pane" id="articles">
											<div class="row">
												<% @articles.each do |art| %>
													<div class="col-md-12">
														<div class="pull-left">
															<i class="ion-android-document h1 mr20"></i>
														</div>
														<div class="pull-left">
															<h5 class="semi-bold mb0 mt5"><%= link_to art.title, art.url %></h5>
															<p class="text-muted fs_14 no-margin">
																<small>Published on <%= format(art.publish_date, 2)%></small>
															</p>
														</div>
													</div>
												<% end %>
											</div>
										</div><!--.tab-pane-->
									</div>
								</div>
								<div class="card-footer">
									<ul>
										<li><span class="mr5 fs_14"><%= pluralize @fans.count, "Video" %>, 12 Photos, 1 Article </span></li>
										<li><%= link_to "View All Media", "", class: "fs_14" %></li>
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div>

						<!-- Followers -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
								<div class="card-heading" style="border-top: 3px solid #ccc;">
									<h6 class="semi-bold fs_14 mb0"><%= @team.name %></h6>
									<h3 class="card-title">Our Fans</h3>
									<!-- <div class="card-subhead">
									 <a href="#">124 Students</a>
									</div> -->
									<!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body">
									<ul class="users bgcolor-light-grey">
										<p class="mt10">
											<button class="btn btn-blue-grey button-striped button-full-striped btn-ripple">
												No Fans
											</button>
										</p>
										<% @team.people.each do |rel|%>
										<li>
											<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= rel.user.full_name %>">
												<%= image_tag rel.user.avatar %>
											</a>
										</li>
										<% end %>
									</ul>
								</div><!--.card-body-->
								<div class="card-footer">
									<ul>
										<li><span class="mr5 fs_14"><%= pluralize @team.people.count, "Fan" %></span></li>
										<!-- <li><a href="#" class="fs_14">View All</a></li> -->
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.col-md-12-->
					
						<!-- Followers -->
					</div>
				</div>

				
			</div><!--.col-md-12-->

		</div>
	</div>
</div>