<script type="text/javascript">
// alert("facilities js loaded")
	
	// QUICKSEARCH USERS

	$( function() {
	  // quick search regex
	  var qsRegex;
	  
	  // init Isotope
	  var $grid = $('.facilities').isotope({
	    itemSelector: '.element-item',
	    layoutMode: 'fitRows',
	    filter: function() {
	      return qsRegex ? $(this).text().match( qsRegex ) : true;
	    }
	  });

	  // use value of search field to filter
	  var $quicksearch = $('.quicksearch-facilities').keyup( debounce( function() {
	    qsRegex = new RegExp( $quicksearch.val(), 'gi' );
	    $grid.isotope();
	  }, 200 ) );

	});

	// debounce so filtering doesn't happen every millisecond
	function debounce( fn, threshold ) {
	  var timeout;
	  return function debounced() {
	    if ( timeout ) {
	      clearTimeout( timeout );
	    }
	    function delayed() {
	      fn();
	      timeout = null;
	    }
	    timeout = setTimeout( delayed, threshold || 100 );
	  }
	}

</script>
	
<h1><%#= format(Date.today, 4)%></h1>


<% if current_user %>
  <% if @object.can_be_edited_by_user?(current_user) %>

		<div id="admin" class="tab-pane tab-top-margin">

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="pull-right">
						<a href="#add_user" class="mr10 btn btn-primary" data-toggle="collapse">
							<i class="ion-person-add mr5"></i> Add User
						</a>
						<a href="#panel-new-facility" class="btn btn-primary mr10" data-toggle="modal">
							<i class="ion-plus-circled mr5"></i> Add Facility
						</a>
						<a href="#panel-new-team-league" class="btn btn-primary" data-toggle="modal">
							<i class="ion-plus-circled mr5"></i> Add League
						</a>
					</div>
				</div>
			</div>
			
			<div class="pt40">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<!-- coaches and staff -->
						<div class="panel panel-transparent box-shadow-ccc">
							<div class="panel-heading no-margin">
								<div class="panel-title" id="admin-count">
						      <%= render 'rosters/admin_count', admins: @admins %>
						      <h3 class="semi-bold fs_20 mb0">
											Administrative Users
									</h3>
								</div>
							</div><!--.panel-heading-->
							<hr class="no-margin"/>
							<div class="panel-body no-padding" id="admins-of-team">
								<%= render 'rosters/admins_of_team', admins: @admins %>
							</div><!--.panel-body-->
						</div><!--.panel-->
						<br/>
						<!-- coaches and staff -->
					
						<div id="add_user" class="collapse">
							<div class="panel box-shadow-ccc">
								<div class="panel-heading no-margin">
									<div class="panel-title" id="admin-count">
							      <h3 class="semi-bold fs_20 mb0">
											Add a New User
										</h3>
									</div>
								</div><!--.panel-heading-->
								<div class="panel-body padding-40">
									<div class="pr40 pl40">
										<h4 class="semi-bold text-primary">
											1. Does this user already have a SportsMarkit Account?
										</h4>
										<div class="row">
											<div class="col-md-6">
												<h5 class="bold"><i class="ion-search mr5"></i>
															 Find an Account</h5>
												<div class="inputer">
													<div class="input-wrapper">
														<%= form_tag find_user_rosters_path, method: :get, remote: true do %>
															<%= select_tag  'user_id', options_from_collection_for_select(User.smart_order(current_user), "id", "name"), {:multiple => false, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0 autosubmit"  } %>
						                <%= hidden_field_tag :team_id, @team.id %>
						                <% end %>
													</div>
												</div>
											</div>
										</div>
										<br/>
										<div id="new-roster-spot-form">
											<h4 class="semi-bold text-primary">2. No SportsMarkit Account?</h4>
											<h5 class="bold">
												<i class="ion-person-add mr5"></i>
												Please complete the form below.
											</h5>
											<br/>
	                  	<div class="well bgcolor-white">
	                  		<%= render 'rosters/add_new_roster_spot_form', user: @new_user, team: @team %>
	                  	</div>
	                  </div>
	                </div>
              	</div>
							</div><!--.panel-->
						</div>
					</div>
				</div>
			</div>
			

			<br/>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="panel panel-transparent box-shadow-ccc">
						<div class="panel-heading no-margin">
							<div class="panel-title" id="coach-count">
					      <span class="ion-clipboard mr5 pull-right"></span>
				       	<h3 class="semi-bold fs_20 mb0">
									Pending Users
								</h3>
							</div>
						</div><!--.panel-heading-->
						<div class="panel-body no-padding">
							<ul class="list-material has-hidden pending-members">
								<% @join_requests.each do |m| %>
							    	<%= render 'rosters/pending', m: m%>
							  	<% end %>
							</ul>
						</div><!--.panel-body-->
					</div><!--.panel-->
				</div>
			</div>
		</div>
	</div>



<% end %>

<% end %>

