<% @coaches.each do |coach| %>
<tr>
    <td class="v-align-middle">
    	<%= coach.team.name   %><br>
    </td>
    <td class="v-align-middle">
    	<span class="capitalize"><%= coach.user.full_name %></span>
    </td>
    <td class="v-align-middle">
    	<%= coach.user.mobile_phone_number   %>
    </td>
     <td class="v-align-middle">
    	<h5 class="semi-bold muted"><%= coach.created_at %></h4>
    </td>
    <td class="v-align-middle">
    	<div class="row clearfix">
        	<div class="col-md-12">
				<%= link_to "Accept", approve_coach_approval_path(coach.id), method: :patch, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-block btn-small btn-success row" %>
        		<%#= link_to "Delete", ad, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-block btn-small btn-danger" %>
        	</div>
        </div>
    </td>
</tr>
<% end %>
	                	