<table class="table table-condensed">
	<thead>
		<tr>
			<th>Team</th>
			<th>Requesting User</th>
			<th>Mobile #</th>
			<th>Date of Request</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
								
							
<% team_managers.each do |tm| %>
<tr>
    <td class="v-align-middle">
    	<%= tm.roleable.name   %><br>
    </td>
    <td class="v-align-middle">
    	<span class="capitalize"><%= tm.user.full_name %></span>
    </td>
    <td class="v-align-middle">
    	<%= tm.user.mobile_phone_number   %>
    </td>
     <td class="v-align-middle">
    	<p class="small muted"><%= tm.created_at %></p>
    </td>
    <td class="v-align-middle">
    	<div class="row clearfix">
        	<div class="col-md-12">
				<%= link_to "Accept", approve_approval_path(tm.id), method: :patch, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-block btn-small btn-success row" %>
        		<%#= link_to "Delete", ad, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-block btn-small btn-danger" %>
        	</div>
        </div>
    </td>
</tr>
<% end %>

	</tbody>
</table>
                    