
<div class="content">
  <!-- page header -->
  <div class="page-header full-content bg-blue">
    <div class="row">
      <div class="col-sm-6">
        <h1>Administrative Approvals <small clas="margin-left-10"> Let's Get Started</small></h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= teams_path %>">Teams</a></li>
          <li><a href="#" class="active">New</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->



	<div class="row">


<div class="row">
	<div class="col-lg-10 col-lg-offset-1 col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title"><h4>Pending Administrative Approvals</h4></div>
			</div><!--.panel-heading-->
			<div class="panel-body padding-left-40 padding-right-40">
				<div class="row example-row">
					<div class="col-md-12">
						<h4 class="semi-bold text-primary">Athletic Directors</h4>
					</div><!--.col-md-3-->
					<div class="col-md-12" id="directors-list">
						<%= render 'approval/athletic_directors', athletic_directors: @athletic_directors  %>
					</div><!--.col-md-9-->
				</div><!--.row-->
			</div><!-- panel-body -->

			<div class="panel-body padding-left-40 padding-right-40">
				<div class="row example-row">
					<div class="col-md-12">
						<h4 class="semi-bold text-primary">Coaches</h4>
					</div><!--.col-md-3-->
					<div class="col-md-12" id="coaches-list">
						<%= render 'approval/coaches', coaches: @coaches %>
					</div><!--.col-md-9-->
				</div><!--.row-->
			</div><!-- panel-body -->
            
			<div class="panel-body padding-left-40 padding-right-40">
				<div class="row example-row">
					<div class="col-md-12">
						<h4 class="semi-bold text-primary">Club Directors</h4>
					</div><!--.col-md-3-->
					<div class="col-md-12" id="club-directors-list">
						<%= render 'approval/club_directors', club_directors: @club_directors  %>
					</div><!--.col-md-9-->
				</div><!--.row-->
			</div><!-- panel-body -->
            
			<div class="panel-body padding-left-40 padding-right-40">
				<div class="row example-row">
					<div class="col-md-12">
						<h4 class="semi-bold text-primary">School Managers</h4>
					</div><!--.col-md-3-->
					<div class="col-md-12" id="school-managers-list">
						<%= render 'approval/school_managers', school_managers: @school_managers  %>
					</div><!--.col-md-9-->
				</div><!--.row-->
			</div><!-- panel-body -->
            
			<div class="panel-body padding-left-40 padding-right-40">
				<div class="row example-row">
					<div class="col-md-12">
						<h4 class="semi-bold text-primary">Team Managers</h4>
					</div><!--.col-md-3-->
					<div class="col-md-12" id="team-managers-list">
						<%= render 'approval/team_managers', team_managers: @team_managers  %>
					</div><!--.col-md-9-->
				</div><!--.row-->
			</div><!-- panel-body -->
            
            
		</div>
	</div>
</div>



