<div id="new-facility-partial">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 pr20 pl20 pt10">
						<p>
						    <% if @object.present? %>
							<% if @object.try(:teamable).try(:present?) == true %>
							<%= link_to "Add a School Facility", selection_option_facilities_path(selection: "school", object: object.class.to_s, object_id: object.id), remote: true, class: "btn btn-xs btn-primary button-striped button-full-striped btn-ripple" %> 
                            <% end %>
                            <% end %>
                            
							<%= link_to "Search Existing Facilities",  selection_option_facilities_path(selection: "search", object: object.class.to_s, object_id: object.id), remote: true, class: "btn btn-xs btn-primary button-striped button-full-striped btn-ripple" %>
						</p>
						<div class="panel">
							<div class="panel-heading no-border">
								<div class="panel-title">
									<h3 class="modal-title bold mt0 mb0">Add a New Facility</h3>
								</div>
							</div><!--.panel-heading-->
							<div class="panel-body pt20">

								<%= form_for Facility.new, url: create_from_modal_facilities_path, html: {remote: true, id: 'facility-form'} do |f|   %>
								<%= f.hidden_field :facility_owner_id, value: object.id %>
								<%= f.hidden_field :facility_owner_type, value: object.class.to_s %>
				

								<div class="row example-row">
									<div class="col-md-3">Name </div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.text_field :name, type: "text", class: "form-control", placeholder: ""%>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->

								 <%= render 'shared/new_address', f: f, object: Facility.new %>


								<div class="row example-row">
									<div class="col-md-3">Website </div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.text_field :website, type: "text", class: "form-control", placeholder: ""  %>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->

								<div class="row example-row">
									<div class="col-md-3">Email</div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.text_field :email, type: "text", class: "form-control inputmask inputmask-email" %>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->

								<div class="row example-row">
									<div class="col-md-3">Phone</div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.text_field :phone_number, type: "text", class: "form-control inputmask inputmask-phone" %>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->

								<div class="clearfix margin-bottom-10">
									<div class="checkboxer form-inline">
										<%= f.check_box :is_private %>
										<label for="facility_is_private">Private</label>
									</div>
									<div class="checkboxer form-inline">
										<input type="checkbox" id="inlineCheckbox2" value="option2">
										<%= f.check_box :publicly_visible %>
										<label for="facility_publicly_visible">Publicly Visible</label>
									</div>
								</div>
						
							<div class="modal-footer bg-light-grey padding-40">
								<%= f.submit "Create Facility", class: "btn btn-block btn-blue" %>
							</div>
							<% end %>

						</div><!--.panel-body-->
					</div><!--.col-md-12-->
				</div><!--.row-->
			</div>
		</div>
		<!-- <div class="modal-footer bg-light-grey padding-40">
			<%#= f.submit "Create Facility", class: "btn btn-block btn-blue" %>
		</div>
		<%# end %> -->
			

			
						
		</div>
	</div>
</div>
