<div id="new-facility-partial">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 pr20 pl20 pt10">
						<p>
							<%= link_to "Create a New Facility", selection_option_facilities_path(selection: "form", object: object.class.to_s, object_id: object.id), remote: true, class: "btn btn-xs btn-primary button-striped button-full-striped btn-ripple"%>
							<%= link_to "Add an Existing Facility",  selection_option_facilities_path(selection: "search", object: object.class.to_s, object_id: object.id), remote: true, class: "btn btn-xs btn-primary button-striped button-full-striped btn-ripple" %>
						</p>
						<div class="panel">
							<div class="panel-heading no-border">
								<div class="panel-title">
									<h3 class="modal-title bold mt0 mb0">Add a New Facility</h3>
								</div>
							</div><!--.panel-heading-->
							<div class="panel-body pt20">
				   		  <% object.teamable.facilities.each do |facility| %>
				   		    <div class="pull-left"><%= facility.name %></div>
					   			<div id="facility-link-<%= facility.id %>">
					   			    <%= add_or_remove_facility_button(object.class.to_s, object.id, facility.id) %>
		   		          		</div>
			     	    	<% end %>
							</div><!--.panel-body-->
						</div><!--.col-md-12-->
					</div><!--.row-->
				</div>
			</div>
		</div>
	</div>
</div>				   		
						
				
		   
		