<body class="error-body no-top lazy" data-original="http://xyer.co/wallpaper/6/8/black-background-2-free-desktop.jpg"  style=""> 
<div class="container">
  <div class="row login-container animated fadeInUp pt60">

    <%= form_for ContactMessage.new, html: {id: "contact-message-form", data: {remote: true}} do |f| %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel box-shadow-ccc pb60">
          <div class="panel-heading">
            <div class="panel-title"><h4>CONTACT US</h4></div>
          </div><!--.panel-heading-->
          <div class="panel-body">
            <h2 class="text-center no-margin bold text-orange">We'll get back to you shortly.</h2>
            <h5 class="text-center semi-bold muted">Feedback. Questions. Inquiries. Complaints.</h5>

            <br/><br/>

            
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Name</label>
                      <div class="inputer">
                        <div class="input-wrapper">
                          <%= f.text_field :name, placeholder: "Fullname", type: "text", class: "form-control", :required => true %>
                        </div><!--.input-wrapper-->
                      </div><!--.inputer-->
                    </div><!--.form-group-->
                  </div><!--.col-md-6-->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Email</label>
                      <div class="inputer">
                        <div class="input-wrapper">
                          <% if current_user %>
                            <%= f.email_field :email, value: current_user.email, placeholder: "Email", class: "form-control", :readonly => true, type: "text" %>
                          <% else %>
                            <%= f.email_field :email, placeholder: "Email", class: "form-control", :required => true, type: "text" %>
                          <% end %>
                        </div><!--.input-wrapper-->
                      </div><!--.inputer-->
                    </div><!--.form-group-->
                  </div><!--.col-md-6-->
                </div><!--.row-->

                <div class="row pt20">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Your Message</label>
                      <div class="inputer">
                        <div class="input-wrapper">
                          <%= f.text_area :message, rows: "1", placeholder: "Message", class: "form-control js-auto-size", :required => true %>
                        </div>
                      </div>
                    </div><!--.form-group-->
                  </div><!--.col-md-12-->
                </div><!--.row-->

                <%= f.submit "Submit Message", :class => "btn btn-primary btn-cons pull-right", type: "submit" %>

              </div><!--col-->
            </div><!--.row-->

          </div><!--.panel-body-->
        </div><!--.panel-->
      </div><!--.col-md-12-->
    </div><!--.row-->

    <% end %>
	
	<h2 class="text-center no-margin text-white"><div id="message-wrapper"><div id="message"></div></div></h2>
  </div>
  
  