<!-- Modal -->
<div class="modal fade" id="<%= amenity.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_for amenity, html: {id: "edit-amenity-form", multipart: true, data: {remote: true}} do |f| %>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <br>
        <i class="icon-credit-card icon-7x"></i>
        <h4 id="myModalLabel" class="semi-bold"><%= amenity.amenity %></h4>
        <p class="no-margin">Place the new amenity name in the field below. </p>
        <br>
      </div>
      <div class="modal-body">
		  <!-- jasny -->
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-new thumbnail no-padding" style="width: 300px; max-height: 180px;">
			  
			   

          </div>
          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 300px; max-height: 180px;"></div>
          
		  <br>
		  <%= f.text_field :amenity, placeholder: "Description" %>
        </div>
      </div>
	  
	  
      <div class="modal-footer">
		 
		  <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  <% end %>

</div>
<!-- /.modal -->