<div class="modal fade full-height from-right" id="panel-new-event" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add a New Event</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-heading">
								<div class="panel-title"><h4>Complete the form below. </h4></div>
							</div><!--.panel-heading-->
							<div class="panel-body">

								<%= form_for [@object, @event] do |f| %>
					

								<!-- event title -->
								<div class="row example-row">
									<div class="col-md-3">title </div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.text_field :title, type: "text", class: "form-control", placeholder: ""%>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->


								<!-- event type -->
								<div class="row example-row">
									<div class="col-md-3">Event Type </div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.text_field :event_type, type: "text", class: "form-control", placeholder: "" %>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->


								<div class="control-group">
									<div class="controls">
										<div class="input-group">
											<span class="input-group-addon"><i class="ion-android-calendar"></i></span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" style="width: 400px" name="reservation" class="form-control bootstrap-daterangepicker-date-time" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM">
												</div>
											</div>
										</div>
									</div>
								</div>


								


								<!-- event checkbox options -->
								<div class="clearfix margin-bottom-10">
									<div class="checkboxer form-inline">
										<%= f.check_box :all_day %>
										<label for="all_day">All Day?</label>
									</div>
									<div class="checkboxer form-inline">
										<%= f.check_box :private %>
										<label for="private">Private?</label>
									</div>
								</div>

								

								<!-- event description -->
								<div class="row example-row">
									<div class="col-md-3">Description</div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.text_area :description, type: "text", class: "form-control", placeholder: "", rows: "6" %>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->


								<%= f.hidden_field :user_id, value: current_user.id %>
  								<%= f.hidden_field :eventable_type, value: @class %>
  

							</div><!--.panel-body-->
						</div><!--.panel-->
					</div><!--.col-md-12-->
				</div><!--.row-->
			</div>
			<div class="modal-footer">
				<%= f.submit "Create Event", class: "btn btn-blue" %>
			</div>
			<% end %>			
		</div>
	</div>
</div><!--.modal-->



<%#= @id %>
<%#= @class %>





  <div class="field">
    <%= f.label :starts_at %><br />
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.datetime_select :ends_at %>
  </div>
  
  
  
  <%= f.collection_select :facility_ids, Facility.all, :id, :name, {:selected => ""}, {  :multiple => false, :style => "width:100%", :id => "multi", :class => "select2-offscreen", :placeholder => "Select A Facility"  } %>