<div class="modal fade full-height from-right" id="panel-new-league" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-heading no-border">
								<div class="panel-title">
									<h4 class="text-primary">
										<span class="ion-plus-circled mr5"></span>
										Complete the form below.
									</h4>
									<h3 class="modal-title bold mt0 mb0">Add a New League</h3>
								</div>
							</div><!--.panel-heading-->
							<div class="panel-body">

								<%= form_for League.new, url: leagues_path, method: :post do |f| %>
					

								<div class="row example-row">
									<div class="col-md-3">Name </div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.text_field :name, type: "text", class: "form-control", placeholder: ""%>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->

								<div class="row example-row">
									<div class="col-md-3">Sport </div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.collection_select :sport_ids, Sport.all, :id, :sport, {:selected => ""}, {:multiple => true, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0" } %>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->

								<div class="row example-row">
									<div class="col-md-3">Description </div><!--.col-md-3-->
									<div class="col-md-9">
										<div class="inputer">
											<div class="input-wrapper">
												<%= f.text_area :description, type: "text", class: "form-control", placeholder: "", row: "6" %>
											</div>
										</div>
									</div><!--.col-md-9-->
								</div><!--.row-->
								
								<%= render 'shared/new_address', f: f %>

							</div><!--.panel-body-->
						</div><!--.panel-->
					</div><!--.col-md-12-->
				</div><!--.row-->
			</div>
			<div class="modal-footer bg-light-grey padding-40">
				<%= f.submit "Create League", class: "btn btn-block btn-blue" %>
			</div>
			<% end %>			
		</div>
	</div>
</div><!--.modal-->

