 <%= form_for Connect.new, html: {id: 'facility-connect-form', data: {remote: true}} do |f|   %>
    <%= f.hidden_field :connectable_id, value: facility_id %>
	<%= f.hidden_field :connectable_type, value: "Facility" %>
    <%= f.hidden_field :ownerable_id, value: ownerable_id %>
    <%= f.hidden_field :ownerable_type, value:  ownerable_type %>
    <%= button_tag class: "btn btn-blue btn-sm pull-right" do %>
	 Add Facility <i class="ion-plus-circled pull-right margin-left-10"></i>
	<% end %>
	<div class="clearfix"></div>
	<hr/>
  <% end %>