<!-- following -->
<div id="about" class="tab-pane active">
	<div class="page-header full-content parallax">
		<%= render "facilities/show/header" %>
	</div><!--.page-header-->
	<div class="col-md-3" style="margin-top: -223px;">
		<div class="row">
			<div class="col-md-12">
				<div class="card tile card-post" style="border-top: 3px solid #ccc;">
	
					<!--.card-heading-->
					<div class="card-heading pl40 pr40">
						<div class="row">
							<div class="pull-right">
								<%= render "shared/fan" %>
							</div>
						</div>
					</div>
					
					<hr class="light mt10 mb10"/>
					<div class="card-body pl40 pr40 pb0">

						<h3 class="semi-bold capitalize text-black no-margin">
							<%= @facility.name %>
						</h3>
						<p class="author lh_26 mt5">
							<a href="#" class="semi-bold"><i class="ion-map mr10"></i>Location & Map</a> 
						</p>
						<p class="no-margin fs_14 text-muted">
							<i class="ion-location"></i> <%= @facility.address.street_1 %><br/>
							 <%= @facility.address.city %>, <%= @facility.address.state %>, <%= @facility.address.postcode %>
						</p>
						<% if @facility.phone_number.present? || @facility.website.present? || @facility.email.present?  %>
						  <hr class="light mb0 mt10"/>
						<% end %>
						<ul class="fs_12 mt10">
							<% if @facility.phone_number.present? %>
							<li>
								<i class="ion-ios-telephone fs_20 text-primary mr5"></i>
								<%= @facility.phone_number %> 
							</li>
							<% end %>
							<% if @facility.website.present? %>
							<li>
								<i class="ion-monitor fs_20 text-primary mr5"></i>
								<a href="<%= @facility.website %>"><%= @facility.website %></a>
							</li>
							<% end %>
							<% if @facility.email.present? %>
							<li>
								<i class="ion-email fs_20 text-primary mr5"></i>
								<%= @facility.email %>
							</li>
							<% end %>
						</ul>
					</div>
					<hr class="light mt10 mb10"/>
					<div class="card-body pl40 pr40 pb40">
			    		<div id="gmaps_10" class="map" style="min-height: 100%;">
			      			<%= gmaps("map_options" => { "detect_location" => true, "auto_zoom" => false, "center_on_user" => false, "zoom" => 15, "maxZoom" => 15, "minZoom" => 3},"markers" => { "data" => @json }) %>
			    		</div>
					</div>
					<!-- <hr class="light mt10 mb10"/>
					<div class="card-body pl40 pr40 pb40">
						<h5 class="mt10">Facility Features and Amenities</h5>
							<ul class="list-material fs_14">
								<li class="">
									<i class="fa fa-check-circle m-r-5 text-indigo"></i>
									Soccer Field
								</li>
								<li class="">
									<i class="fa fa-check-circle m-r-5 text-indigo"></i>
									Basketball Court
								</li>
								<li class="">
									<i class="fa fa-check-circle m-r-5 text-indigo"></i>
									Tennis Court
								</li>
							</ul>
					</div> -->

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
	  <%= render 'shared/calendar_filters_horizontal', eventable: @facility %>
	</div>
</div>
