
	<div class="page-header full-content bg-primary" style="min-height: 141px;">
		<div class="row">
			<div class="col-md-6">
				<%= link_to user_path(user) do %>
					<div class="pull-left margin-right-20" id="edit-header-avatar">
						<%= image_tag(user.avatar, class: "img-thumbnail img-responsive", height: "", width: "100") %>
					</div>
					<div class="pull-left">
						<h1 class="capitalize h1-xlarge">
							<%= user.full_name %> 
						</h1>
						<h6 class="capitalize h1-xlarge text-white">
							<%= user.classification_list %>
						</h6>
					</div>
				<% end %>
			</div><!--.col-->
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= users_path %>">users</a></li>
					<li><a href="<%= user_path %>"><%= user.full_name %> </a></li>
					<li><a href="<%= edit_user_path %>" class="active">Edit</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<br/>
		<br/>
		<div class="clearfix"></div>

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#general" data-toggle="tab">General</a></li>
				<li><a href="#social-media" data-toggle="tab">Social Media</a></li>
				<li><a href="#media" data-toggle="tab">Upload Media</a></li>
				<li><a href="#stats" data-toggle="tab">Sports Resume</a></li>
				<% if user.is_coach? %>
				<li><a href="#certifications" data-toggle="tab">Certifications</a></li>
				<% end %>
				<li><a href="#favorites" data-toggle="tab">Favorites</a></li>
				<li><a href="#password" data-toggle="tab">Password</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

	
  	<div class="col-md-10 col-md-offset-1 col-sm-12">
  		<div class="row">
  			
			<div class="col-md-3">
	          <div id="user-profile-picture">
	            <%= render 'user_profile_picture', user: user, user_profile_pictures: user_profile_pictures, user_profile_picture: user_profile_picture%>
	          </div>
			</div>
		

			<%= form_for user, html: {class: "edit-user-form form-horizontal parsley-validate", data: {remote: true }} do |f| %>
			
			<div class="col-md-9">

				

					<div class="row">
						<div class="col-md-12">
							<div class="panel box-shadow-ccc">
								<div class="panel-body">
									<div class="tab-content with-panel transparent">

										<div class="tab-pane active text-style" id="general">
											<div class="panel-body">

												<h4 class="text-right">General</h4>
												<hr class="margin-top-0"/>
												<h5 class="bold text-primary">The Basics</h4>
												<br/>

												<div class="col-md-12">
			
													<div class="row example-row">
														<div class="col-md-12">
															<div class="row example-row">
																<div class="col-md-12">First Name </div><!--.col-md-3-->
																<div class="col-md-12">
																	<div class="inputer">
																		<div class="input-wrapper">
																			<%= f.text_field :first_name, type: "text", class: "form-control", placeholder: "", "data-parsley-required" => "true", "data-parsley-length" => "[2, 25]" %>
																		</div>
																		<div class="user_first_name_field"></div>
																	</div>
																</div><!--.col-md-9-->
															</div><!--.row-->

															<div class="row example-row">
																<div class="col-md-12">Middle Name </div><!--.col-md-3-->
																<div class="col-md-12">
																	<div class="inputer">
																		<div class="input-wrapper">
																			<%= f.text_field :middle_name, type: "text", class: "form-control", placeholder: ""  %>
																		</div>
																	</div>
																</div><!--.col-md-9-->
															</div><!--.row-->

															<div class="row example-row">
																<div class="col-md-12">Last Name </div><!--.col-md-3-->
																<div class="col-md-12">
																	<div class="inputer">
																		<div class="input-wrapper">
																			<%= f.text_field :last_name, type: "text", class: "form-control", placeholder: "", "data-parsley-required" => "true", "data-parsley-length" => "[2, 25]"  %>
																		</div>
																		<div class="user_last_name_field"></div>
																	</div>
																</div><!--.col-md-9-->
															</div><!--.row-->

															<%= f.fields_for :profile, @profile do |builder| %>

																<div class="row">
																	<div class="col-md-6 row">
																		<div class="row example-row">
																			<div class="col-md-12">Gender</div><!--.col-md-3-->
																			<div class="col-md-12">
																				<div class="inputer">
																					<%= builder.select(:sex, [ 'Male', 'Female'], {prompt: "Select Gender"}, {:class => "selecter"}) %>
																				</div>
																			</div><!--.col-md-9-->
																		</div><!--.row-->
																	</div>

																	<div class="col-md-6">
																		<div class="row example-row">
																			<div class="col-md-12">Birthday</div><!--.col-md-3-->
																			<div class="col-md-12">
																				<div class="inputer">
																					<div class="input-wrapper">
																						<%= builder.date_field :date_of_birth, class: "form-control" %>
																					</div>
																				</div>
																			</div><!--.col-md-9-->
																		</div><!--.row-->
																	</div>
																</div>

															<% end %>
														</div>
													</div>

													<br/>	
													
													<h5 class="bold text-primary">Contact Information</h5>
													
													<br/>

													<div class="row example-row">
														<div class="col-md-12">Email</div><!--.col-md-3-->
														<div class="col-md-12">
															<div class="inputer">
																<div class="input-wrapper">
																	<%= f.email_field :email, class: "form-control", placeholder: "", "data-parsley-required" => "true", "data-parsley-type" => "email"  %>
																</div>
																<div class="user_email_field"></div>
									 						    <!-- <div id="email-taken-wrapper"> -->
									 								<div id="email-taken" style="display: none">
									 								    <font size="2" color="red">Email is already taken.</font>
									 							   </div>
									 						   <!-- </div> -->
															</div>
														</div><!--.col-md-9-->
													</div><!--.row-->


													<div class="row example-row">
														<div class="col-md-12">Phone Number</div><!--.col-md-3-->
														<div class="col-md-12">
															<div class="inputer">
																<div class="input-wrapper">
																	<%= f.text_field :mobile_phone_number, class: "form-control", placeholder: "5556667777", "data-parsley-type" => "number", "data-parsley-type-message" => "Your message"%>
																</div>
																<div class="user_mobile_phone_number_field"></div>
  									 						    <!-- <div id="email-taken-wrapper"> -->
  									 								<div id="phone-taken" style="display: none">
  									 								    <font size="2" color="red">Phone number is already in use.</font>
  									 							   </div>
  									 						   <!-- </div> -->
															</div>
														</div><!--.col-md-9-->
													</div><!--.row-->

													<div class="row example-row">
														<div class="col-md-12 margin-bottom-10">Location</div><!--.col-md-3-->
														<div class="col-md-12">
															<div class="inputer margin-bottom-10">
																<%= f.fields_for :profile, @profile do |builder| %>
																	<%= builder.select(:city, [], {}, {:class => 'city-preloader', data:{live_search: 'true', width: '100%', current_city: builder.object.city}}) %>
																<% end %>
															</div>
														</div><!--.col-md-9-->
													</div><!--.row-->

													<div class="row example-row">
														<div class="col-md-12">Username</div><!--.col-md-3-->
														<div class="col-md-12">
															<div class="inputer">
																<div class="input-wrapper">
																	<%= f.text_field :username, class: "form-control", placeholder: "" %>
																</div>
															</div>
														</div><!--.col-md-9-->
													</div><!--.row-->
													
													<br/>	
													
													<h5 class="bold text-primary">Description</h5>
													
													<br/>
													
													<div class="row example-row">
														<div class="col-md-12">About Me</div><!--.col-md-3-->
														<div class="col-md-12">
															<div class="inputer">
																<div class="input-wrapper">
																	<%= f.fields_for :profile, @profile do |builder| %>
																	<%= builder.text_field :description, class: "form-control", placeholder: "" %>
																	<% end %>
																</div>
															</div>
														</div><!--.col-md-9-->
													</div><!--.row-->
													
												</div>
											</div>

											<div class="form-buttons">
												<div class="row">
													<div class="col-lg-8 col-lg-offset-2">
														<%= f.submit "Update Profile", class: "btn btn-large btn-blue btn-block" %>
														<% end %>
													</div>
												</div>
											</div>
										</div><!--tab-pane-->

										<div class="tab-pane text-style" id="social-media">
											<div class="panel-body ">
												<%= form_for user, html: {class: "form-horizontal parsley-validate", data: {remote: true }} do |f| %>
												<h4 class="text-right">Social Media Profiles</h4>
												<hr class="margin-top-0"/>
												<h5 class="bold text-primary">Add Social Media Accounts</h5>
												<br/>
												<%= f.fields_for :profile, @profile do |builder| %>
													<%= render 'shared/social_edit', f: builder %>
													<%#= render 'athlete', f: builder %>
												<% end %> 
    											<div class="form-buttons">
    												<div class="row">
    													<div class="col-lg-8 col-lg-offset-2">
    														<%= f.submit "Update Social Media", class: "btn btn-large btn-blue btn-block" %>
    														
    													</div>
    												</div>
    											</div>
												<% end %>
											</div>
										</div><!--tab-pane-->
										
										<div class="tab-pane text-style" id="stats">

											<div class="panel-body">
												<%= form_for user, html: {class: "form-horizontal parsley-validate", data: {remote: true }} do |f| %>
												<h4 class="text-right">Sports Resume</h4>
												<hr class="margin-top-0"/>
												<h5 class="bold text-primary">Athletic Profile</h4>
													
												<div class="col-md-12">
													<%= f.fields_for :profile, @profile do |builder| %>
													
														<br/>
														<div class="row">
															<div class="col-md-3">
																<div class="row example-row">
																	<div class="col-md-12">Height (Ft.) </div><!--.col-md-3-->
																	<div class="col-md-12">
																		<div class="inputer">
																			<div class="input-wrapper">
																				<%= builder.text_field :height_ft, class: "form-control", placeholder: "Feet", "data-parsley-type" => "number" %>
																			</div>
																		</div>
																	</div><!--.col-md-9-->
																</div><!--.row-->
															</div>

															<div class="col-md-3">
																<div class="row example-row">
																	<div class="col-md-12">Height (In.) </div><!--.col-md-3-->
																	<div class="col-md-12">
																		<div class="inputer">
																			<div class="input-wrapper">
																				<%= builder.text_field :height_in, class: "form-control", placeholder: "Inches", "data-parsley-type" => "number" %>
																			</div>
																		</div>
																	</div><!--.col-md-9-->
																</div><!--.row-->
															</div>

															<div class="col-md-3">
																<div class="row example-row">
																	<div class="col-md-12">Weight </div><!--.col-md-3-->
																	<div class="col-md-12">
																		<div class="inputer">
																			<div class="input-wrapper">
																				<%= builder.text_field :weight, class: "form-control", placeholder: "lbs.", "data-parsley-type" => "number" %>
																			</div>
																		</div>
																	</div><!--.col-md-9-->
																</div><!--.row-->
															</div>
														</div>

														<br/>
														<h5 class="bold text-primary">Online Athletic Profiles</h4>
														<br/>

														<%= f.fields_for :profile, @profile do |builder| %>

															<div class="row example-row">
																<div class="col-md-12">Hudl Profile</div><!--.col-md-3-->
																<div class="col-md-12">
																	<div class="inputer">
																		<div class="input-wrapper">
																			<%= builder.text_field :hudl, class: "form-control", placeholder: "" %>
																		</div>
																	</div>
																</div><!--.col-md-9-->
															</div><!--.row-->


															<div class="row example-row">
																<div class="col-md-12">Youtube Channel</div><!--.col-md-3-->
																<div class="col-md-12">
																	<div class="inputer">
																		<div class="input-wrapper">
																			<%= builder.text_field :youtube, class: "form-control", placeholder: "" %>
																		</div>
																	</div>
																</div><!--.col-md-9-->
															</div><!--.row-->

														<% end %>

														<br/>
													  <br/>
														    
														<%#= render 'athlete', f: builder %>
													<% end %>  
												</div>

												<br/>
												<h5 class="bold text-primary">Add Athletic Profiles</h4>
												<h4 class="text-right">Measurables</h4>
								                <hr/>
								                
								                </br>
								                <%= link_to "Add Measure", new_user_measurable_path(user), method: :get ,remote: true, class: 'btn btn-large btn-blue pull-right' %>
							                

												<div id="measures">
								                  <% user.measurables.each do |m| %>
								                    <%= render 'measurables/form', m: m, u: user %>
								                  <% end %>
							                	</div>
							              	</div>
							              	<div class="form-buttons">
												<div class="row">
													<div class="col-lg-8 col-lg-offset-2">
														<%= f.submit "Update Profile", class: "btn btn-large btn-blue btn-block" %>
														<% end %>
													</div>
												</div>
											</div>
										</div><!--tab-pane-->

										<% if user.is_coach? %>
											<div class="tab-pane text-style" id="certifications">
												<div class="panel-body">
													<h4 class="text-right">Certifications</h4>
													<hr class="margin-top-0"/>
													<h5 class="bold text-primary">My Certifications</h5>
													<br/>

			                  	<div id="certificates">
			                    	<% user.certificates.each do |m| %>
			                      		<%= render 'certificates/form', m: m, u: user %>
			                    	<% end %>
			                  	</div>
												</div>
												<div class="form-buttons">
													<div class="row">
														<div class="col-lg-8 col-lg-offset-2">
															<%= link_to new_user_certificate_path(user), method: :get ,remote: true, class: 'btn btn-large btn-blue btn-block' do %>
																Add New Certificate 
																<i class="ion-plus-circled margin-left-10"></i>
															<% end %>
														</div>
													</div>
												</div>
											</div><!--tab-pane-->
										<% end %>

										<div class="tab-pane text-style" id="favorites">
											<div class="panel-body">
												<%= form_for user, html: {id: "favorite-form", class: "form-horizontal parsley-validate", data: {remote: true }} do |f| %>
												<h4 class="text-right">Sports Favorites</h4>
												<div class="col-md-12">
													<hr class="margin-top-0"/>
													<h5 class="bold text-primary">
														Add Fan Sports Profiles
													</h4>
						        					<br/>

													<%= f.fields_for :profile, @profile do |builder| %>

														<div class="row example-row">
															<div class="col-md-12">Favorite Pro Team</div><!--.col-md-3-->
															<div class="col-md-12">
																<div class="inputer">
																	<div class="input-wrapper">
																		<%= builder.text_field :favorite_pro_team, class: "form-control", placeholder: " " %>
																	</div>
																</div>
															</div><!--.col-md-9-->
														</div><!--.row-->

														<div class="row example-row">
														<div class="col-md-12">Favorite College Team</div><!--.col-md-3-->
														<div class="col-md-12">
															<div class="inputer">
																<div class="input-wrapper">
																	<%= builder.text_field :favorite_college_team, class: "form-control", placeholder: "" %>
																</div>
															</div>
														</div><!--.col-md-9-->
														</div><!--.row-->

														<div class="row example-row">
														<div class="col-md-12">Favorite Pro Athlete</div><!--.col-md-3-->
														<div class="col-md-12">
															<div class="inputer">
																<div class="input-wrapper">
																	<%= builder.text_field :favorite_pro_athlete, class: "form-control", placeholder: "" %>
																</div>
															</div>
														</div><!--.col-md-9-->
														</div><!--.row-->

													<% end %>
												</div>
											</div>
											<div class="form-buttons">
												<div class="row">
													<div class="col-lg-8 col-lg-offset-2">
														<%= f.submit "Update Profile", class: "btn btn-large btn-blue btn-block" %>
														<% end %>
													</div>
												</div>
											</div>
										</div><!--tab-pane-->

										<div class="tab-pane text-style" id="password">
											<div class="panel-body">
												<%= form_for user, html: {id: "password-form", class: "form-horizontal parsley-validate", data: {remote: true }} do |f| %>
												<h4 class="text-right">Password</h4>
												<hr class="margin-top-0"/>
												<h5 class="bold text-primary">Reset Your Password</h4>
												<br/>
												
												<div class="row example-row">
													<div class="col-md-12">Current Password </div><!--.col-md-3-->
													<div class="col-md-12">
														<div class="inputer">
															<div class="input-wrapper">
																<%= f.password_field :current_password, label:false, placeholder:"", :class => "form-control" %>
															</div>
														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->

												<div class="row example-row">
													<div class="col-md-12">New Password </div><!--.col-md-3-->
													<div class="col-md-12">
														<div class="inputer">
															<div class="input-wrapper">
																<%= f.password_field :password, label:false, placeholder:"", :class => "form-control" %>
															</div>
														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->

												<div class="row example-row">
													<div class="col-md-12">Verify Password </div><!--.col-md-3-->
													<div class="col-md-12">
														<div class="inputer">
															<div class="input-wrapper">
																<%= f.password_field :password_confirmation, label:false, placeholder:"", :class => "form-control" %>
															</div>
														</div>
													</div><!--.col-md-9-->
												</div><!--.row-->
											</div>
											<div class="form-buttons">
												<div class="row">
													<div class="col-lg-8 col-lg-offset-2">
														<%= f.submit "Reset password", class: "btn btn-large btn-blue btn-block" %>
														<% end %>
													</div>
												</div>
											</div>
										</div>

		              	<div class="tab-pane text-style" id="media">

		              		<div class="panel-body">
												<h4 class="text-right">Upload Media</h4>
												<hr class="margin-top-0"/>
		                  	
		                  	<%= render 'shared/edit_media', videos: videos, pictures: pictures, articles: articles, object: object %>

		                  </div>
										</div><!--.tab-pane-->

								</div><!--.panel-body-->
							</div><!--.panel-->		
						</div><!--.row-->
					</div>
				
			</div>
		</div>
	</div>
<!--.content-->

