<style>
  .sample-bg-image13:before {
    background-image: url('<%=background_url(@user) %>');
  }
  .card-clickable {
    padding-bottom: 0;
  }
  .sample-member9 {
    background-image: url('http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif');
  }

  .card-friend .user-photo {
    float: left;
    width: 160px;
    height: auto;
    border-radius: 3px 0 0 3px;
  }
  .card-friend .friend-content {
    margin-left: 180px;
  }
</style>


<div class="content">

  <!--.page-header-->
  <div class="page-header full-content parallax">
    <%= render "users/show/header" %>
    <%= render "users/show/tab_navigation" %>
  </div>
  <!--.page-header-->


  <!-- main content div -->
  <div class="container">
    <div class="user-profile">
      <div class="row">
        <div class="col-md-2" style="margin-top: -180px; z-index: 99999;">
          <%= image_tag(@user.avatar, class: "img-thumbnail img-responsive b-rad-6") %>
        </div>
        <div class="col-md-10">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tab-content without-border">
      
            <!-- teams -->
            <%= render 'users/show/about_tab' %>

            <!-- teams -->
            <%= render 'users/show/teams_tab' %>

            <!-- teammates -->
            <%= render 'users/show/teammates_tab' %>

            <!-- calendar -->
            <%= render 'users/show/calendar_tab' %>

            <!-- facilities -->
            <%= render 'users/show/facilities_tab' %>

            <!-- media -->
            <%= render 'users/show/media_tab' %>

            <!-- media -->
            <%= render 'users/show/photo_tab' %>

            <!-- following -->
            <%= render 'users/show/following_tab' %>

            <!-- fans -->
            <%= render 'users/show/fans_tab' %>

          </div><!--.tab-content-->
        </div>
      </div>
    </div>
  </div>
  <!-- main content div -->

  <%= render "shared/modals/boostrap_image_gallery_lightbox" %>

  <%#= render "shared/panels/new_event" %>

</div><!--.content-->

<%#= render "shared/panels/new_event"%>