	<div class="nav-bar-container">

		<!-- BEGIN ICONS -->
		<div class="nav-menu">
			<div class="hamburger">
				<span class="patty"></span>
				<span class="patty"></span>
				<span class="patty"></span>
				<span class="patty"></span>
				<span class="patty"></span>
				<span class="patty"></span>
			</div><!--.hamburger-->
		</div><!--.nav-menu-->

		<div class="nav-search">
			<span class="search"></span>
		</div><!--.nav-search-->

		<div class="nav-user">
			<div class="user">
				<img src="../../assets/globals/img/faces/tolga-ergin.jpg" alt="">
				<span class="badge">3</span>
			</div><!--.user-->
			<div class="cross">
				<span class="line"></span>
				<span class="line"></span>
			</div><!--.cross-->
		</div><!--.nav-user-->
		<!-- END OF ICONS -->

		<div class="nav-bar-border"></div><!--.nav-bar-border-->

		<!-- BEGIN OVERLAY HELPERS -->
		<div class="overlay">
			<div class="starting-point">
				<span></span>
			</div><!--.starting-point-->
			<div class="logo">PLEASURE</div><!--.logo-->
		</div><!--.overlay-->

		<div class="overlay-secondary"></div><!--.overlay-secondary-->
		<!-- END OF OVERLAY HELPERS -->

	</div><!--.nav-bar-container-->


	<div class="content">

		<div class="page-header full-content parallax" style="height: 600px; overflow: hidden">
			<div class="parallax-bg" style="background: url('http://svite-league-apps-content.s3.amazonaws.com/bgimages/sports-wave.jpg') 50% 50%; background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
			</div>

			<div class="profile-info">
				<div class="profile-photo">
					<img src="<%= image_path("placeholders/user.jpg") %>" alt="">
				</div><!--.profile-photo-->
				<div class="profile-text light capitalize">
					<%= @user.full_name %>
					<span class="caption">
						<%= "Baltimore, Maryland" %> 
					</span>
				</div><!--.profile-text-->
			</div><!--.profile-info-->

			<div class="social-buttons">
				<%= render 'shared/fan' %>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<h1>
						<span class="fa fa-calendar m-r-5"></span>
						Upcoming event 
						<small>[event]</small>
					</h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#" class="active">User Profile</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->

			<div class="header-tabs scrollable-tabs sticky">
				<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
					<li class="active"><a href="#timeline" data-toggle="tab" class="btn-ripple">Teams</a></li>
					<li><a href="#about" data-toggle="tab" class="btn-ripple">Photos</a></li>
					<li><a href="#photos" data-toggle="tab" class="btn-ripple">Schedule</a></li>
					<li><a href="#friends" data-toggle="tab" class="btn-ripple">Friends</a></li>
				</ul>
			</div>
		</div><!--.page-header-->

		<br>
<br>


<p>
	<button class="btn btn-pink" data-toggle="modal" data-target="#panel-modal2">New Team</button>
</p>


<p>
	<button class="btn btn-pink" data-toggle="modal" data-target="#panel-modal2">New Facility</button>
</p>

<br/>

Teams:<br><br>


<% @teams.each do |team| %>

<%= link_to team.name, team_path(team) %><br>


<br><% end %><br><br>




Teammates:<br><br>


<% @teammates.each do |teammate| %>

<%= link_to teammate.full_name, user_path(teammate) %><br>


<% end %>

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-datatables-extensions.html">
						<span class="state">Tables</span>
						<span>Datatable Extensions</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-indigo">
					<a href="user-lock-screen.html" target="_blank">
						<span class="state">Pages</span>
						<span>Lock Screen</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

		<!-- Bootstrap Image Gallery lightbox -->
		<!-- To use original bootstrap modal window erase data-use-boostrap-model attr -->
		<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
			<div class="slides"></div>
			<h3 class="title">Gallery</h3>
			<a class="prev">‹</a>
			<a class="next">›</a>
			<a class="close">×</a>
			<a class="play-pause"></a>
			<ol class="indicator"></ol>
			<div class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Gallery</h4>
						</div>
						<div class="modal-body next"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left prev">
								<i class="glyphicon glyphicon-chevron-left"></i>
								Previous
							</button>
							<button type="button" class="btn btn-primary next">
								Next
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Bootstrap Image Gallery lightbox -->

	</div><!--.content-->

	<div class="modal fade full-height from-right" id="panel-modal2" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Panel Modal</h4>
					</div>
					<div class="modal-body">
						<%= form_for Team.new, url: teams_path, method: :post do |f| %>

							<%= f.text_field :name %><br><br>

							<%= f.text_field :sport %><br><br>

							<%= f.submit %>

						<% end %>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-flat-primary" data-dismiss="modal">DISAGREE</button>
						<button type="button" class="btn btn-flat-primary" data-dismiss="modal">AGREE</button>
					</div>
				</div>
			</div>
		</div><!--.modal-->