<div class="content">

	<div class="page-header full-content parallax" style="height: 600px; overflow: hidden">
		<div class="parallax-bg" style="background: url('http://svite-league-apps-content.s3.amazonaws.com/bgimages/sports-wave.jpg') 50% 50%; background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
		</div>

		<div class="profile-info">
			<div class="profile-photo">
				<img src="<%= image_path("placeholders/user.jpg") %>" alt="">
			</div><!--.profile-photo-->
			<div class="profile-text light capitalize">
				<%= @user.full_name %>
				<span class="caption">
					<%= "Baltimore, Maryland" %> 
				</span>
			</div><!--.profile-text-->
		</div><!--.profile-info-->

		<div class="social-buttons">
			<%= render 'shared/fan' %>
		</div>

		<div class="row">
			<div class="col-sm-5">
				<h1>
					<i class="ion-calendar m-r-5"></i>
					Upcoming event 
					<small>[event]</small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= users_path %>">users</a></li>
					<li><a href="#" class="active">My Profile</a></li>
				</ol>
			</div><!--.col-->
			<div class="col-sm-1 text-right">
				<a href="<%= edit_user_path(User.first) %>" class="btn btn-floating btn-light-blue">
					<i class="ion-android-settings"></i>
				</a>
			</div>
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#following" data-toggle="tab" class="btn-ripple">Following</a></li>
				<li><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
				<li><a href="#people" data-toggle="tab" class="btn-ripple">People</a></li>
				<li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li>
				<li><a href="#facilities" data-toggle="tab" class="btn-ripple">Facilties</a></li>
				<li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

	<div class="row user-profile">
			<div class="col-md-12">
				<div class="tab-content without-border">
					

					<!-- following -->
					<div id="following" class="tab-pane active">

						
					</div>
					<!--#following.tab-pane-->

					<!-- teams -->
					<div id="teams" class="tab-pane">

						<p class="text-right">
							<button class="btn btn-pink" data-toggle="modal" data-target="#panel-new-team">New Team</button>
						</p>

						<hr/>

						<div class="row masonry">
							<% @teams.each do |team| %>
								<div class="col-md-4">
									<div class="card card-meal card-meal-green card-square card-shadow">
									<div class="card-heading">
										<h3 class="card-title">
											<%= link_to team.name, "teams/#{team.slug}" %>
										</h3>
										<div class="card-subhead">
											<%= team.sport %>
										</div><!--.card-subhead-->
									</div><!--.card-heading-->
									<div class="card-body">
										<div class="image">
											<a href="#"><img src="http://themighty1290am.com/files/2015/01/FreeVector-Grunge-Basketball-Background.jpg" alt=""></a>
										</div><!--.image-->
									</div><!--.card-body-->
									</div><!--.card-->
								</div><!--.col-md-4-->
							<% end %>
						</div><!--.row-->

					</div>
					<!--#teams.tab-pane-->

					<!-- people -->
					<div id="people" class="tab-pane">

						<div class="row">

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/1.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Nicholas Murray</p>
										<p><a href="#">180 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/2.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Jason Herrera</p>
										<p><a href="#">423 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/3.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Michael Bell</p>
										<p><a href="#">490 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/5.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Henry Allen</p>
										<p><a href="#">859 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/7.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Nicholas Baker</p>
										<p><a href="#">103 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/10.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Vincent Gardner</p>
										<p><a href="#">19 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/9.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Henry Allen</p>
										<p><a href="#">85 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/12.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Walter George</p>
										<p><a href="#">13 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/20.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Lauren Grant</p>
										<p><a href="#">1491 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/16.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Ronald Ray</p>
										<p><a href="#">393 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/17.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Henry Allen</p>
										<p><a href="#">85 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/21.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Louis Willis</p>
										<p><a href="#">99 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/22.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Thomas Curtis</p>
										<p><a href="#">466 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

							<div class="col-md-6">
								<div class="card tile card-friend">
									<img src="../../assets/globals/img/faces/23.jpg" class="user-photo" alt="">
									<div class="friend-content">
										<p class="title">Susan Willis</p>
										<p><a href="#">343 friends</a></p>
										<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
									</div><!--.friend-content-->
								</div><!--.card-->
							</div><!--.col-md-6-->

						</div><!--.row-->
					</div>
					<!--#people.tab-pane-->

					<!-- events -->
					<div id="events" class="tab-pane">

						<p class="text-right">
							<button class="btn btn-pink" data-toggle="modal" data-target="#panel-new-event">New Event</button>
						</p>

						<hr/>

					</div>
					<!--#events.tab-pane-->

					<!-- facilities -->
					<div id="facilities" class="tab-pane">
						<div class="row">
							<div class="col-md-3">
								<ul class="nav nav-tabs borderless vertical">
									<li class="active"><a href="#about_overview" data-toggle="tab">Overview</a></li>
									<li><a href="#about_timeline" data-toggle="tab">Timeline</a></li>
								</ul>
							</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="tab-content">

									<div class="tab-pane active" id="about_overview">
										<div class="legend">Contact Information</div>
										<div class="row">
											<div class="col-md-3">Mobile Phones</div><!--.col-md-3-->
											<div class="col-md-9">+1-202-555-0173</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Address</div><!--.col-md-3-->
											<div class="col-md-9">2002 Holcombe Boulevard<br>Houston, TX 77030 </div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Website</div><!--.col-md-3-->
											<div class="col-md-9">http://www.teamfox.co</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Email</div><!--.col-md-3-->
											<div class="col-md-9">info@teamfox.com</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Facebook</div><!--.col-md-3-->
											<div class="col-md-9">fb.com/teamfoxco</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Twitter</div><!--.col-md-3-->
											<div class="col-md-9">twitter.com/teamfox</div><!--.col-md-9-->
										</div><!--.row-->

										<div class="legend">Basic Information</div>
										<div class="row">
											<div class="col-md-3">Birth Date</div><!--.col-md-3-->
											<div class="col-md-9">July 17</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Birth Year</div><!--.col-md-3-->
											<div class="col-md-9">2014</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Gender</div><!--.col-md-3-->
											<div class="col-md-9">Male</div><!--.col-md-9-->
										</div><!--.row-->
									</div><!--#about_overview.tab-pane-->

									<div class="tab-pane" id="about_timeline">
										<div class="timeline single">
											<div class="frame">
												<div class="timeline-badge">
													<i class="fa fa-headphones"></i>
												</div><!--.timeline-badge-->
												<span class="timeline-date">17 August 1999</span>
												<div class="timeline-content">
													<p>The 1999 Kocaeli earthquake occurred with a moment magnitude of 7.4 that struck northwestern Turkey on 17 August at about 3:02 a.m. local time.</p>
												</div><!--.timeline-content-->
											</div><!--.frame-->
											<div class="frame">
												<div class="timeline-badge">
													<i class="fa fa-tree"></i>
												</div><!--.timeline-badge-->
												<span class="timeline-date">December 28, 1908</span>
												<div class="timeline-content">
													The 1908 Messina earthquake and tsunami took about 123,000 lives on December 28, 1908, in Sicily and Calabria, southern Italy.
												</div><!--.timeline-content-->
											</div><!--.frame-->

											<div class="frame">
												<div class="timeline-badge">
													<i class="fa fa-tree"></i>
												</div><!--.timeline-badge-->
												<span class="timeline-date">18 April 1906</span>
												<div class="timeline-content">
													The San Francisco earthquake of 1906 struck San Francisco and the coast of Northern California at 5:12 a.m. on Wednesday, April 18, 1906.
												</div><!--.timeline-content-->
											</div><!--.frame-->

											<div class="frame">
												<div class="timeline-badge">
													<i class="fa fa-tree"></i>
												</div><!--.timeline-badge-->
												<span class="timeline-date">May, 526</span>
												<div class="timeline-content">
													The 526 Antioch earthquake hit Syria (region) and Antioch in the Byzantine Empire in 526. It struck during late May, probably between May 20–29, at mid-morning, killing approximately 250,000 people.
												</div><!--.timeline-content-->
											</div><!--.frame-->
										</div><!--.timeline-->

									</div><!--#about_timeline.tab-pane-->

								</div><!--.tab-content-->

							</div><!--.col-md-9-->
						</div><!--.row-->
					</div>
					<!--#facilities.tab-pane-->

					<!-- media -->
					<div id="media" class="tab-pane">

					</div>
					<!--#media.tab-pane-->
				</div><!--.tab-content-->
			</div><!--.col-->
		</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->

<%#= render "shared/panels/new_event"%>