<% cache ["v1", "v1", @cache_key] do %>
<style>
  .sample-bg-image13:before {
    background-image: url('<%=background_url(@user) %>');
  }
  .card-clickable {
    padding-bottom: 0;
  }
  .sample-member9 {
    background-image: url('http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif');
  }

  .card-friend .user-photo {
    float: left;
    width: 161px;
    height: auto;
    border-radius: 3px 0 0 3px;
  }
  .card-friend .friend-content {
    margin-left: 180px;
  }

  .card.card-meal .card-body .users {
    width: 100%;
    height: 64px;
    padding: 3px 20px;
    border-top: none;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    text-align: center;
    background-color: #f5f5f5;
  }
  .timeline .frame .timeline-date {
    display: block;
    color: #337ab7;
    font-style: normal;
    font-size: 14px;
    margin: 10px 30px 0 30px;
  }
</style>


<div class="content">
  <div class="page-header full-content bg-primary mb0" style="min-height: 141px;">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="capitalize semi-bold">
          <%= @user.name %>
          <small></small>
        </h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= users_path %>">users</a></li>
          <% if current_user %>
            <% if current_user.id == User.find(params[:id]).id %>
              <li><a href="#" class="active">My Profile</a></li>
            <% else %>
              <li><a href="#" class="active"><%= @user.full_name %></a></li>
            <% end %>
          <% else %>
             <li><a href="#" class="active"><%= @user.full_name %></a></li>
          <% end %>
        </ol>
      </div>
    </div><!--.row-->

    <div class="header-tabs scrollable-tabs sticky">
       <% if current_user %>
        <% if current_user.admin? or current_user == @user %>
          <button href="" class="pull-right mt10 btn btn-lg btn-blue-grey button-striped button-full-striped btn-ripple fs_14 mr20">
            <%= link_to edit_user_path(@user) do %>
              <span class="text-blue-grey">
                <i class="ion-gear-b fs_16 mr5"></i> Edit Profile
              </span>
            <% end %>
          </button>
        <% end %>
      <% end %>
     <ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
        <li class="active">
          <a href="#about" data-toggle="tab" class="btn-ripple">About</a>
        </li>
        <li><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
        <li><a href="#teammates" data-toggle="tab" class="btn-ripple">Teammates</a></li>
        <li>
          <a href="#media" data-toggle="tab" class="btn-ripple">Photos & Videos</a>
        </li>
        <% if ParentChild.where(child_id: @user.id).present? %>
          <li>
            <a href="#parent-child" data-toggle="tab" class="btn-ripple">Parents</a>
          </li>
        <% end %>
        <li>
          <a href="#calendar-tab" data-toggle="tab" class="btn-ripple">
            Calendar
          </a>
        </li>
        <li>
          <a href="#following" data-toggle="tab" class="btn-ripple">Following</a>
        </li>
        <li><a href="#fans" data-toggle="tab" class="btn-ripple">Fans</a></li>
        <%# if ParentChild.where(parent_id: @user.id).present? %>
          <!-- <li><a href="#parent-child" data-toggle="tab" class="btn-ripple">Children</a></li> -->
        <%# end %>
        <!-- <li><a href="#photo" data-toggle="tab" class="btn-ripple">Photo</a></li> -->
      </ul>
    </div>
  </div><!--.page-header-->


   <!-- main content div -->
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content without-border">
        <!-- teams -->
        <%= render 'users/show/about_tab' %>

        <!-- teammates -->
        <%= render 'users/show/teams_tab' %>

        <!-- teammates -->
        <%= render 'users/show/teammates_tab' %>

        <!-- calendar -->
        <%= render 'users/show/calendar_tab' %>
        
        <!-- facilities -->
        <%= render 'users/show/facilities_tab' %>

        <!-- media -->
        <%= render 'users/show/media_tab' %>

        <!-- media -->
        <%= render 'users/show/photo_tab' %>

        <!-- following -->
        <%= render 'users/show/following_tab' %>

        <!-- fans -->
        <%= render 'users/show/fans_tab' %>
      </div><!--.tab-content-->
    </div>
  </div>
  <!-- main content div -->

  <%= render "shared/modals/boostrap_image_gallery_lightbox" %>

  <%#= render "shared/panels/new_event" %>

</div><!--.content-->

<%#= render "shared/panels/new_event"%>
<% end %>