<div class="content">
  <div class="page-header full-content bg-primary" style="min-height: 141px;">
    <div class="row">
      <div class="col-md-6">
          <div class="pull-left margin-right-20" id="edit-header-avatar">
            <%#= image_tag(user.avatar, class: "img-thumbnail img-responsive", height: "", width: "100") %>
          </div>
          <div class="pull-left">
            <h1 class="capitalize h1-xlarge">
              Team Registration
            </h1>
            <h6 class="bold capitalize h1-xlarge text-white">
              <%= @object.name %>
            </h6>
          </div>
        
      </div><!--.col-->
      <div class="col-md-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->
  

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel box-shadow-ccc">
        <div class="panel-body pr50 pl50 pt50 pb50 labels-light labels-16">

          <h3>Registrations.</h3>
          <p class="text-muted fs_16">
          	Please complete the information below to complete the regisration process. 
          </p>

          <ul class="nav nav-tabs fs_16" role="tablist">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All</a></li>
				    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Paid</a></li>
				    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Unpaid</a></li>
				    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Roster</a></li>
				  </ul>


          <div class="panel">
						<div class="panel-heading">
							<!-- <div class="panel-title"><h4>REGISTRATIONS</h4></div> -->
						</div><!--.panel-heading-->
						<div class="panel-body without-padding">
							<ul class="list-material wide">
								<li class="has-action-left has-action-right has-long-story">
									<a href="#" class="visible">
										<div class="list-action-left">
											<%= image_tag("faces/1.jpg", class: "face-radius", alt:"") %>
										</div>
										<div class="list-content">
											<span class="title">Ruth Barnes</span>
											<span class="caption">[Registration option], [Registration price] </span>
										</div>
										<div class="list-action-right">
											<span class="top">1/16/16 1:06pm</span>
											<span class="bottom  text-green"><i class="ion-android-done inline fs_22"></i>  Paid</span>
										</div>
									</a>
								</li>
								<li class="has-action-left has-action-right has-long-story">
									<a href="#" class="visible">
										<div class="list-action-left">
											<%= image_tag("faces/2.jpg", class: "face-radius", alt:"") %>
										</div>
										<div class="list-content">
											<span class="title">Mark Estrada</span>
											<span class="caption">[Registration option], [Registration price] </span>
										</div>
										<div class="list-action-right">
											<span class="top">Yesterday 1:06pm</span>
											<span class="bottom  text-green"><i class="ion-android-done inline fs_22"></i>  Paid</span>
										</div>
									</a>
								</li>
								<li class="has-action-left has-action-right has-long-story">
									<a href="#" class="visible">
										<div class="list-action-left">
											<%= image_tag("faces/3.jpg", class: "face-radius", alt:"") %>
										</div>
										<div class="list-content">
											<span class="title">Brenda Warren</span>
											<span class="caption">[Registration option], [Registration price] </span>
										</div>
										<div class="list-action-right">
											<span class="top">2 hr ago</span>
											<span class="bottom  text-red"><i class="ion-card inline fs_22 mr5"></i>  Not Paid</span>
										</div>
									</a>
								</li>
							</ul>
						</div><!--.panel-body-->
					</div><!--.panel-->
        </div>
      </div>
    </div>
  </div>



          <% @registrations.each do |registration| %>

					<%= registration.registrant.full_name %>-
					<%= registration.paid? ? "Paid" : "" %></br>
					<%= registration.paid? ? "Paid" : "" %></br>

					<% end %>
</div>


