<div class="content">

  <div class="page-header full-content bg-primary mb0" style="min-height: 121px;">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="capitalize semi-bold">
          <%= @object.name %>
          <small>Team Registration</small>
        </h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= teams_path %>">Teams</a></li>
          <% if @object.teamable.present? %>
              <li><a href="#"><%= @object.teamable.name %></a></li>
              <!-- add path for linking -->
          <% end %>
          <li><a href="#" class="active"><%= @object.name %></a></li>
        </ol>
      </div>
    </div><!--.row-->

   <%= render "shared/show_navigation_admin" %>
          
      <script>
      onclick="theFunction(event)"
      </script>

  </div><!--.page-header-->

  <br/><br/>
  

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel box-shadow-ccc">
        <div class="panel-body pr50 pl50 pt50 pb50 labels-light labels-16">

          <h3>Please complete the form below.</h3>
          <p class="text-muted fs_16">Please complete the information below to complete the regisration process. </p>
          <hr/>

          <%= form_tag change_submitter_registrations_path, method: :get, remote: true do %>
            <%= hidden_field_tag :form_id, @form.id %>
            <%= hidden_field_tag :object_id, @object.id %>
            <%= hidden_field_tag :object_type, @object.class.to_s %>
            
            <h4 class="text-primary semi-bold">1. Who is this registration for?</h4>
            <div class="well">
              <h6 class="semi-bold text-muted">Select User</h6>
              <%= select_tag  'user_id', options_from_collection_for_select(User.smart_order(current_user), "id", "name"), {:multiple => false, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0" } %>
              </div>
              <% end %>
          
            <br/>

            <div id="form-reg">
              <%= render 'registrations/form', form: @form, master: @master, object: @object, submitter: current_user %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>