<div class="content">
  <div class="page-header full-content bg-primary" style="min-height: 141px;">
    <div class="row">
      <div class="col-md-6">
          <div class="pull-left margin-right-20" id="edit-header-avatar">
            <%#= image_tag(user.avatar, class: "img-thumbnail img-responsive", height: "", width: "100") %>
          </div>
          <div class="pull-left">
            <h1 class="capitalize h1-xlarge">
              Team Registration
            </h1>
            <h6 class="bold capitalize h1-xlarge text-white">
              <%= @object.name %>
            </h6>
          </div>
        
      </div><!--.col-->
      <div class="col-md-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->
  

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel box-shadow-ccc">
        <div class="panel-body pr50 pl50 pt50 pb50 labels-light labels-16">

          <h3>Please complete the form below.</h3>
          <p class="text-muted fs_16">Please complete the information below to complete the regisration process. </p>
          <hr/>

          <%= form_tag change_submitter_registrations_path, method: :get, remote: true do %>
            <%= hidden_field_tag :form_id, @form.id %>
            <%= hidden_field_tag :object_id, @object.id %>
            <%= hidden_field_tag :object_type, @object.class.to_s %>
            
            <h4 class="text-primary semi-bold">1. Who is this registration for?</h4>
            <h5>Select User</h5>
            <div class="well">
            <%= select_tag 'user_id', options_from_collection_for_select(User.smart_order(current_user), "id", "name"), :id => "user-select-box", class: ' bg-white autosubmit form-control' %>
            </div>
          <% end %>
          
          <br/>

          <div id="form-reg">
            <%= render 'registrations/form', form: @form, master: @master, object: @object, submitter: current_user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>