<div class="content">
  <div class="page-header full-content bg-primary mb0" style="min-height: 121px;">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="capitalize semi-bold">
          <%= @object.name %>
          <small>Manage Registrations</small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= eval("#{@object.class.to_s.downcase.pluralize}_path")%>"><%= @object.class.to_s.pluralize %></a></li>
          <li><%= link_to @object.name, @object %></li>
        </ol>
      </div>
    </div>
    <%= render "shared/show_navigation_admin" %>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel box-shadow-ccc">
        <div class="panel-body pr50 pl50 pt50 pb50 labels-light labels-16">
          <h3 class="mb5">Registration Details: </h3>
          <p class="text-muted fs_16 mt0">
            View registation details for this user below.
          </p>
          <hr class="mt0"/>
          <p class="no-margin"><b> Submitted By:</b> <%= @form.submitter.name %></p>
          <p class="no-margin"><b> Registration Date:</b> <%= format(@form.created_at, 4) %></p>
          <p class="no-margin"><b> Paid:</b> <%= @form.paid %></p>
          <p class="no-margin"><b> Payment Type:</b> <%= @form.payment_type %></p>
          <p class="no-margin"><b> Option:</b>
            <%= @form.selected_option.option.name %>
          </p>
          <p class="no-margin"><b> Amount Paid:</b>
            <%= number_to_currency(@form.selected_option.option.price) %>
          </p>
          <p class="no-margin"><b> Confirmation Code:</b>
            <%= @form.confirmation %>
          </p>
          <p>Registrant info
            <% @form.user_data.values.each do |hash| %>
              <p class="no-margin">
                <b><%= hash.keys.first %>:</b>
                <%= hash.values.join(', ') %>
              </p>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>