<div id='option-<%= o.fake_id %>' style='margin-bottom: 50px; display: block; float: left; width: 100%;'>
  <%= form_for [form.formable, form, o], remote: true, html: { data: { toggle: "validator", disable: false }} do |f| %>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)%>
    <h4 class="text-primary semi-bold">Option</h4>
    <div class="col-md-12">
      <div class="row example-row">
        <div class="col-md-12">Name</div>
        <div class="col-md-12">
          <div class="inputer">
            <div class="input-wrapper form-group">
              <%= f.text_field :name, class: "form-control", required: true %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row example-row">
        <div class="col-md-12">Description</div>
        <div class="col-md-12">
          <div class="inputer">
            <div class="input-wrapper">
              <%= f.text_field :description, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row example-row">
        <div class="col-md-12">Price</div>
        <div class="col-md-12">
          <div class="inputer">
            <div class="input-wrapper form-group">
              <%= f.text_field :price, class: "form-control", required: true, disabled: o.selected_options.present? %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <%= f.hidden_field :object, value: form.object %>
      <% if o.persisted? %>
        <button class="btn btn-large btn-blue" type="submit">Update</button>
        <% unless o.selected_options.present? %>
          <button class="btn btn-large btn-blue">
            <%= link_to "Remove", eval("#{form.formable.class.to_s.downcase}_form_option_path(form.formable, form, o)"), method: :delete, remote: :true %>
          </button>
        <% end %>
      <% else %>
        <button class="btn btn-large btn-blue" type="submit">Create</button>
        <%= f.hidden_field :fake_id %>
        <button class="btn btn-large btn-danger remove-form">Remove</button>
      <% end %>
    </div>
  <% end %>
</div>