<div class="col-md-12">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<% if @object.class.to_s == "User" %>
			  <h3 class="card-title">My Teams</h3>
			<% else %>
				<h6 class="semi-bold fs_14 mb0"><%= @object.name %></h6>
				<h3 class="card-title">Our Sports Teams</h3>
			<% end %>
			<!-- <div class="card-subhead">
			 <a href="#">
			 	<span class="text-muted">
			 		36 Teams - 10 Freshman, 10 Junior Varsity, 10 Varsity
			 	</span>
			 	</a>
			</div> -->
			<!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<ul class="list-material borderless">
				<% unless teams.present? %>
					<p class="mb0 mt0 center padding-10 text-grey">
						 <!-- <i class="ion-person-add mr10"></i>  -->No teams for profile
					</p>
				<% else %>
					<% teams.each do |team| %>
						<li class="has-action-left">
							<a href="<%= team_path(team) %>" class="visible">
								<div class="list-action-left">
									<i class="ion-flag icon-circle"></i>
								</div>
								<div class="list-content">
									<span class="title">
										<span class="bold"><%= team.name %></span>
									</span>
									<span class="fs_11 text-muted"><%= pluralize team.coach_roles.count, "Coach" %>, 
										<%= pluralize team.athlete_roles.count, "Player" %>, <%= pluralize team.manager_roles.count, "Manager" %>, <%= pluralize team.trainer_roles.count, "Trainer" %>
									</span>
								</div>
							</a>
						</li>
						<ul class="users bgcolor-light-grey" style="border-bottom: 1px solid #ddd;">
							<% team.coaches.each do |user| %>
								<li>
									<a href="<%= user_path(user) %>" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
										<%= image_tag user.avatar %>
									</a>
								</li>
							<% end %>
							<% (team.athletes - team.coaches).each do |user| %>
								<li>
									<a href="<%= user_path(user) %>" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
										<%= image_tag user.avatar %>
									</a>
								</li>
							<% end %>
							<% team.userless_athletes.each do |user| %>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.first_name %> <%= user.last_name %>">
										<%= image_tag user.avatar %>
									</a>
								</li>
							<% end %>
						</ul>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>