<% model = object.class.to_s.downcase %>
<div class="row example-row">
  <div class="col-md-12">
    <h4>Street 1</h4>
  </div>
  <div class="col-md-12">
    <div class="inputer">
      <div class="input-wrapper form-group">
        <input class="form-control street_1" id="<%= "#{model}_address_attributes_street_1"%>" name= "<%= "#{model}[address_attributes][street_1]"%>" required="required" type="text" value="<%= params[:parent_address].present? ? owner.address.street_1 : "" %>">
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</div>
<div class="row example-row">
  <div class="col-md-12">
    <h4>Street 2</h4>
  </div>
  <div class="col-md-12">
    <div class="inputer">
      <div class="input-wrapper form-group">
        <input class="form-control street_2" id="<%= "#{model}_address_attributes_street_2"%>" name="<%= "#{model}[address_attributes][street_2]"%>" type="text" value="<%= params[:parent_address].present? ? owner.address.street_2 : "" %>">
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</div>
<div class="row example-row">
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-12">
        <h4>City</h4>
      </div>
      <div class="col-md-12">
        <div class="inputer">
          <div class="input-wrapper form-group">
            <input class="form-control city" id="<%= "#{model}_address_attributes_city"%>" name="<%= "#{model}[address_attributes][city]"%>" required="required" type="text" value="<%= params[:parent_address].present? ? owner.address.city : "" %>">
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">
        <h4>State</h4>
      </div>
      <div class="col-md-12">
        <div class="inputer">
          <div class="input-wrapper form-group">
            <input class="form-control state" id="<%= "#{model}_address_attributes_state"%>" name="<%= "#{model}[address_attributes][state]"%>" required="required" type="text" value="<%= params[:parent_address].present? ? owner.address.state : "" %>">
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <h4>Zipcode</h4>
      </div>
      <div class="col-md-12">
        <div class="inputer">
          <div class="input-wrapper form-group">
            <input class="form-control postcode" id="<%= "#{model}_address_attributes_postcode"%>" name="<%= "#{model}[address_attributes][postcode]"%>" required="required" type="text" value="<%= params[:parent_address].present? ? owner.address.postcode : "" %>">
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
