<div id="image-cropper" class="parallax-bg" src="<%=background_url(photo_owner)%>" data-settings="<%= photo_owner.main_photo.settings.to_json %>">
  <div class="cropit-image-preview" style="width:100%; height: 500px"></div>
  <div style="position: absolute; bottom: 110px; z-index: 100;" />
    
  </div>
  <div id="bg-photo" class='crop-ui' style="background: rgba(0,0,0, .75); padding: 20px 50px 20px; border-radius: 6px; margin-right: 10%; position: absolute; top: 20px; right: 0px; display:none">
    <%= form_for [photo_owner, photo_owner.main_photo], html: { multipart: true, id: 'bg_image' } do |f| %>
      <div>
        <h4 class="text-white mb20 semi-bold mt0">
          Update Background Photo
        </h4>
        <div>
          <span class="btn btn-primary select-image-btn">Select image</span>
          <%= f.hidden_field :main, value: true %>
          <%= f.file_field :image, class: 'cropit-image-input'  %>
          <%= f.hidden_field :image_crop_x, id: :f_x %>
          <%= f.hidden_field :image_crop_y, id: :f_y %>
          <%= f.hidden_field :image_crop_w, id: :f_w %>
          <%= f.hidden_field :image_crop_h, id: :f_h %>
          <%= f.hidden_field :offset_x, id: :offset_x %>
          <%= f.hidden_field :offset_y, id: :offset_y %>
          <%= f.hidden_field :zoom, id: :zoom %>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
        <br/>
        <h5 class="text-white mb10 semi-bold">
          <i class="ion-arrow-expand mr5"></i> Drag Photo to Reposition
        </h5>

        <h5 class="text-white mb15 mt20 semi-bold">
          <i class="ion-arrow-resize mr5"></i> Adjust Background Photo Zoom
        </h5>
        <input type="range" class="cropit-image-zoom-input crop-ui"/>
      </div>
    <% end %>
  </div>
</div> 