<div id="image-cropper" class="parallax-bg" src="<%=background_url(photo_owner)%>" data-settings="<%= photo_owner.main_photo.settings.to_json %>">
  <div class="cropit-image-preview" style="width:100%; height: 350px"></div>
  <input type="range" class="cropit-image-zoom-input crop-ui" style="position: absolute; bottom: 60px; z-index: 100; display: none" />
  <div id="bg-photo" class='crop-ui' style="position: absolute; bottom: 120px; right: 200px; display:none">
    <%= form_for [photo_owner, photo_owner.main_photo], html: { multipart: true, id: 'bg_image' } do |f| %>
      <div >
        <div>
          <span class="btn btn-primary select-image-btn">Select image</span>
          <%= f.hidden_field :main, value: true %>
          <%= f.file_field :image, class: 'cropit-image-input'  %>
          <%= f.hidden_field :image_crop_x, id: :f_x %>
          <%= f.hidden_field :image_crop_y, id: :f_y %>
          <%= f.hidden_field :image_crop_w, id: :f_w %>
          <%= f.hidden_field :image_crop_h, id: :f_h %>
          <%= f.hidden_field :offset_x, id: :offset_x %>
          <%= f.hidden_field :offset_y, id: :offset_y %>
          <%= f.hidden_field :zoom, id: :zoom %>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>