<div class="row">
	<% if current_user.can_edit_object?(@object) %>
	<p class="text-right">
		<%= link_to "New Event", eval("new_#{@object.class.to_s.downcase}_event_path(@object.friendly_id)"), class: "btn btn-pink" %>
	</p>
	<% end %>
  <div class="col-md-2">
    <div class="filters">
    <%= form_tag "", method: :get, id: "calendar_filter", remote: true do %>

      <h4 class="semi-bold no-margin">Filters</h4>
      <hr class="mt0 mb10"/>
    
      <h6 class="semi-bold">Events</h6>
      <% eventable.all_events.pluck(:event_type).uniq.each do |e_type| %>
        <label class="btn btn-alizarin btn-block btn-white fs_16 text-left">
          <%= check_box_tag "q[event_type_in][]", e_type %>
          <span class="mrl5"><%= e_type %></span>
        </label>
      <% end %>

      <hr class="mt10 mb10"/>

     <h6 class="semi-bold">People</h6>
      <% eventable.all_events.includes(:user).map(&:user).uniq.compact.each do |user| %>
         <label class="btn btn-alizarin btn-block btn-white fs_14 text-left capitalize">
          <%= check_box_tag "q[user_id_in][]", user.id %>
          <span class="ml5"><%= creator_name(user) %></span>
        </label>
      <% end %>
      <br>
    <%= button_tag "Clear all Filters", id: "reset_filters", class: "btn btn-white btn-block" %>
  <% end %>
    </div>
  </div>
  <div class="col-md-10">
    <div class="panel box-shadow-ccc">
      <div class="panel-body transparent">
        <div id="calendar" data-root="<%= request.url %>"></div>
      </div>
    </div>
  </div>
</div>