				<!-- events -->
				<div id="events" class="tab-pane">

					<div class="row">
						<div class="col-md-4">
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
										<h4>
											<%= image_tag("icons/today.png", class: "margin-right-10",height: "30", width: "auto")%>
											TODAY'S SPORTS CALENDAR
										</h4>
									</div>
								</div><!--.panel-heading-->
								<div class="panel-body without-padding">
									<ul class="list-calendar list-calendar-fixed">
										<li>
											<div class="date">
												<span class="number">27</span>
												<span class="text">Mon</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-green">
													<div class="event-detail">
														<div class="primary">Women's Baskebtall Practice</div><!--.primary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
									</ul>
									<ul class="list-calendar list-calendar-day-view" style="height: 700px; overflow: auto">
										<li>
											<div class="date">
												<span class="text">00:00</span>
											</div><!--.date-->
											<div class="event">

											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">01:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">02:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">03:00</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-teal">
													<div class="event-detail">
														<div class="primary">Softball Awards Ceremony</div><!--.primary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">04:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">05:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">06:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">07:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">08:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">09:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">10:00</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-blue">
													<div class="event-detail">
														<div class="primary">	 Davidson</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
														<div class="related-image">
															<img src="../../assets/globals/img/faces/12.jpg" alt="">
														</div><!--.related-image-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">11:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">12:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">13:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">14:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">15:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">16:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">17:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">18:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">19:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">20:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">21:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">22:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">23:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
									</ul>
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div><!--.col-->
						<div class="col-md-4">
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
										<h4>
											<%= image_tag("icons/practice.png", class: "margin-right-10", height: "30", width: "auto")%>
											PRACTICE CALENDAR
										</h4>
									</div>
								</div><!--.panel-heading-->
								<div class="panel-body without-padding">
									<ul class="list-calendar" style="height: 700px; overflow: auto">
										<li>
											<div class="date">
												<span class="number">27</span>
												<span class="text">Mon</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-green">
													<div class="event-detail">
														<div class="primary">Future of Web Design</div><!--.primary-->
														<div class="secondary">Event</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
											<div class="event">
												<div class="card card-calendar card-teal">
													<div class="event-detail">
														<div class="primary">Stay at 85m2 Central Apartment, London England</div><!--.primary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
											<div class="event">
												<div class="card card-calendar card-blue">
													<div class="event-detail">
														<div class="primary">Donald Davidson</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
														<div class="related-image">
															<img src="../../assets/globals/img/faces/12.jpg" alt="">
														</div><!--.related-image-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li>
											<div class="date text-blue">
												<span class="number">28</span>
												<span class="text">Tue</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-calendar-image card-black bg-image sample-bg-image4 bg-opaque5">
													<div class="event-detail">
														<div class="primary">After party at FOWA</div><!--.primary-->
														<div class="secondary">London, England</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li class="week-seperator">
											<span>April 4-10</span>
										</li>
										<li>
											<div class="date text-red">
												<span class="number">6</span>
												<span class="text">Wed</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-brown">
													<div class="event-detail">
														<div class="primary">Dinner with colleague friends</div><!--.primary-->
														<div class="secondary">Istanbul, Turkey</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li class="month-seperator bg-image sample-bg-image11 bg-opaque7">
											<span>June</span>
										</li>
										<li class="week-seperator">
											<span>June 7-14</span>
										</li>
										<li>
											<div class="date text-blue-grey">
												<span class="number">12</span>
												<span class="text">Thu</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-blue-grey">
													<div class="event-detail">
														<div class="primary">Brenda Thompson, Sandra Jimenez</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
									</ul>
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div><!--.col-->
						<div class="col-md-4">
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
										<h4>
											<%= image_tag("icons/game.png", class: "margin-right-10",height: "30", width: "auto")%>
												GAME CALENDAR
											</h4>
										</div>
								</div><!--.panel-heading-->
								<div class="panel-body without-padding">
									<ul class="list-calendar" style="height: 700px; overflow: auto">
										<li>
											<div class="date">
												<span class="number">27</span>
												<span class="text">Mon</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-green">
													<div class="event-detail">
														<div class="primary">Future of Web Design</div><!--.primary-->
														<div class="secondary">Event</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
											<div class="event">
												<div class="card card-calendar card-teal">
													<div class="event-detail">
														<div class="primary">Stay at 85m2 Central Apartment, London England</div><!--.primary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
											<div class="event">
												<div class="card card-calendar card-blue">
													<div class="event-detail">
														<div class="primary">Donald Davidson</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
														<div class="related-image">
															<img src="../../assets/globals/img/faces/12.jpg" alt="">
														</div><!--.related-image-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li>
											<div class="date text-blue">
												<span class="number">28</span>
												<span class="text">Tue</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-calendar-image card-black bg-image sample-bg-image4 bg-opaque5">
													<div class="event-detail">
														<div class="primary">After party at FOWA</div><!--.primary-->
														<div class="secondary">London, England</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li class="week-seperator">
											<span>April 4-10</span>
										</li>
										<li>
											<div class="date text-red">
												<span class="number">6</span>
												<span class="text">Wed</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-brown">
													<div class="event-detail">
														<div class="primary">Dinner with colleague friends</div><!--.primary-->
														<div class="secondary">Istanbul, Turkey</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li class="month-seperator bg-image sample-bg-image11 bg-opaque7">
											<span>June</span>
										</li>
										<li class="week-seperator">
											<span>June 7-14</span>
										</li>
										<li>
											<div class="date text-blue-grey">
												<span class="number">12</span>
												<span class="text">Thu</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-blue-grey">
													<div class="event-detail">
														<div class="primary">Brenda Thompson, Sandra Jimenez</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
									</ul>
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div><!--.col-->
						
					</div><!--.row-->
					
					<% @events.each do |event| %>
						<div class="col-md-6">
							<div class="card card-event card-clickable">

								<div class="card-heading bg-image sample-bg-image13" style="">
								</div><!--.card-heading-->

								<div class="card-body">
									<div class="calendar">
										<div class="month">November</div>
										<div class="date">27</div>
									</div><!--.calendar-->
									<h4 style="margin-bottom: 0;">
										<%= link_to event.title,  "/events/#{event.slug}" %>
									</h4>
									<p>
										<%= event.event_type %>
									</p>
									<h5 class="h6 text-primary bold">
										<%= format(event.starts_at, 4) %>
										<%= format(event.starts_at, 8) %>
										- 
										<%= format(event.ends_at, 4) %>
										<%= format(event.ends_at, 8) %>
									</h5>
								</div><!--.card-body-->

								<div class="clickable-button">
									<div class="layer bg-primary"></div>
									<a class="btn btn-floating btn-primary initial-position floating-open"><i class="ion-android-more-horizontal"></i></a>
								</div>

								<div class="layered-content bg-red">
									<div class="overflow-content">
										<h4>How Many People Are Attending?</h4>
										<%= event.people_that_are_going.count %>
									</div><!--.overflow-content-->
									<div class="clickable-close-button">
										<a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
									</div>
								</div>
							</div><!--.card-->
						</div><!--.col-md-6-->
					<% end %>
					
				</div>
