<% fans.each do |fan| %>
  <%= link_to user_path(fan.user) do %>
    <div class="col-md-6 col-lg-4 col-sm-12">
      <div class="card tile card-friend horizontal material-animate" height: "170px;"> 
        <a href="<%= user_path(fan.user) %>">
          <img src="<%= fan.user.avatar %>" class="user-photo" alt="">
        </a>
        <div class="friend-content">
          <p class="title pt20 mb0"><%= fan.user.full_name %></p>
          <p><a href="<%= user_path(fan.user) %>"><%= fan.user.classification_list(3) %></a></p>
          <hr class="light mt5 mb0"/>
          <small class="small mr10 text-muted fs_11">
            Following 
            <p class="inline-block ml5">
              <i class="label label-primary fs_11">
                <%= fan.user.follows.count %>
              </i>
            </p>
          </small>
          <small class="small mr10 text-muted fs_11">
            Followers 
            <p class="inline-block ml5">
              <i class="label label-primary fs_11">
                <%= fan.user.fans.count %>
              </i>
            </p>
          </small>
        </div><!--.friend-content-->
      </div><!--.card-->
    </div><!--.col-->
  <% end %>
<% end %>