<% fans.each do |fan| %>

<div class="col-md-3">
  <div class="card tile card-friend material-animate">
    <a href="user-profile.html"><img src="<%= fan.user.avatar %>" class="user-photo" alt=""></a>
    <div class="friend-content">
	<% if true %>
      <p class="title"><%= fan.user.full_name %></p>
      <p><a href="user-profile.html"><%= fan.user.classification_list(3) %></a></p>
      <a class="btn btn-flat btn-primary btn-xs"><%= truncate fan.user.lead_affiliation.try(:proper_name), length: 17 %></a>
	  <% end %>
	  
	  <p><%= link_to "View Profile", user_path(fan.user), class: "btn btn-default mt10" %></p>
    </div><!--.friend-content-->
  </div><!--.card-->
</div><!--.col-->

<% end %>