<div class="row">
  <% follows.each do |follow| %>
    <div class="col-md-6">
      <div class="card tile card-friend material-animate">
        <a href="user-profile.html"><img src="<%= follow.fannable.image %>" class="user-photo" alt=""></a>
        <div class="friend-content">
          <p class="inline-block mt20 mb0">
            <span class="label label-primary"><%= follow.fannable_type %></span>
          </p>
          <p class="title mt0"><%= follow.fannable.name %></p>
          <p><a href="user-profile.html"><%= follow.fannable.classification_list if follow.fannable.class.to_s == "User" %></a></p>
          <hr class="light mt5 mb0"/>
          
          <%= link_to "View Profile", eval("#{follow.fannable.class.to_s.downcase}_path(follow.fannable)"), class: "fs_14 ml10 btn btn-default btn-xs btn-ripple mt15" %>
        </div><!--.friend-content-->
      </div><!--.card-->
    </div><!--.col-->
  <% end %>
</div>
