<% @videos.each do |vid| %>
	<div class="col-md-2">
		<div class="card card-video card-player-orange">
			<div class="card-heading">
				<video id="youtube1" class="video-js video-js-responsive vjs-default-skin vjs-big-play-centered" controls preload="none" data-width="640" data-height="360" data-setup='{ "techOrder": ["youtube"], "src": "<%= vid.url %>" }'></video>
			</div><!--.card-heading-->
			<div class="card-body">
				<h5 class="semi-bold no-margin"><%= vid.title%></h5>
				<p class="small text-muted">
					<small>Published on <%= format(vid.publish_date, 2)%></small>
				</p>
			</div><!--.card-body-->

		</div><!--.card-->
	</div><!--.col-md-6-->
<% end %>


<% @articles.each do |art| %>
	<div class="col-md-2">
		<div class="panel panel-white box-shadow-ccc">
			<div class="panel-header">
			</div>
			<div class="panel-body">
				<h4 class="lh_28 mb0"><%= link_to art.title, art.url %></h4>
				<small class="text-muted fs_12">Published on <%= format(art.publish_date, 2)%></small>
			</div>
		</div>
	</div>
<% end %>

