<div class="nav-bar-container">
<% if current_user %>
	<!-- BEGIN ICONS -->
	<div class="nav-menu">
		<div class="hamburger">
			<span class="patty"></span>
			<span class="patty"></span>
			<span class="patty"></span>
			<span class="patty"></span>
			<span class="patty"></span>
			<span class="patty"></span>
		</div><!--.hamburger-->
	</div><!--.nav-menu-->

	<!-- <div class="nav-search">
		<span class="search"></span>
	</div> -->

	<div class="nav-pages">
		<a href="<%= schools_path %>" type="button" data-toggle="tooltip" data-placement="right" title="Schools">
			<span class="ion-university text-indigo"></span>
		</a>
		<a href="<%= users_path %>" type="button" data-toggle="tooltip" data-placement="right" title="People">
			<span class="ion-person-stalker text-indigo"></span>
		</a>
		<a href="<%= teams_path %>" type="button" data-toggle="tooltip" data-placement="right" title="Teams">
			<span class="ion-flag text-indigo"></span>
		</a>
		<a href="<%= clubs_path %>" type="button" data-toggle="tooltip" data-placement="right" title="Clubs">
			<span class="ion-ios-people text-indigo"></span>
		</a>
		<a href="<%= leagues_path %>" type="button" data-toggle="tooltip" data-placement="right" title="Leagues">
			<span class="ion-trophy text-indigo"></span>
		</a>
		<a href="<%= facilities_path %>" type="button" data-toggle="tooltip" data-placement="right" title="Facilities">
			<span class="ion-map text-indigo"></span>
		</a>
		<a href="<%= user_overview_path(current_user) %>" type="button" data-toggle="tooltip" data-placement="right" title="Setup">
			<span class="ion-gear-b text-indigo"></span>
		</a>
	</div><!--.nav-search -->
    
    <%#= link_to user_path(current_user) do %>
	<div class="nav-user"> 
		<div class="user" id="sidenav-avatar">
			<img src="<%= image_path(current_user.avatar)%>" alt="">
			<span class="badge"></span>
		</div><!--.user-->
		<div class="cross">
			<span class="line"></span>
			<span class="line"></span>
		</div><!--.cross-->
	</div><!--.nav-user-->
	<%# end %>
	<!-- END OF ICONS -->

	<div class="nav-bar-border"></div><!--.nav-bar-border-->

	<!-- BEGIN OVERLAY HELPERS -->
	<div class="overlay">
		<div class="starting-point">
			<span></span>
		</div><!--.starting-point-->
		<div class="logo"></div><!--.logo-->
	</div><!--.overlay-->

	<div class="overlay-secondary"></div><!--.overlay-secondary-->
	<!-- END OF OVERLAY HELPERS -->
	
	<% else %>
	
	<!-- BEGIN ICONS -->
	<div class="nav-menu">
		<div class="hamburger">
			<span class="patty"></span>
			<span class="patty"></span>
			<span class="patty"></span>
			<span class="patty"></span>
			<span class="patty"></span>
			<span class="patty"></span>
		</div><!--.hamburger-->
	</div><!--.nav-menu-->




	<div class="nav-bar-border"></div><!--.nav-bar-border-->

	<!-- BEGIN OVERLAY HELPERS -->
	<div class="overlay">
		<div class="starting-point">
			<span></span>
		</div><!--.starting-point-->
		<div class="logo"></div><!--.logo-->
	</div><!--.overlay-->

	<div class="overlay-secondary"></div><!--.overlay-secondary-->
	<!-- END OF OVERLAY HELPERS -->
	
	
	
	
	<% end %>

</div><!--.nav-bar-container-->