<div class="row pt40">
	<div class="well">
		<h3 class="center">
			<i class="ion-search margin-right-20 text-blue"></i>	
			Find anyone in our Athletic Community
		</h3>
		<div class="row margin-top-20">
			<div class="col-md-3">
				<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
					Find a Student-Athlete <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<% @athletes.each do |user| %>
						<li>
							<%= link_to user_path(user) do %>
					  			<%= user.full_name %>
					  		<% end %>
					  	</li>
					<% end %>
					<% @userless_athletes.each do |user| %>
						<li>
							<%= user.first %> <%= user.last %>
					  	</li>
					<% end %>
				</ul>
			</div><!--.btn-group-->
			<div class="col-md-3">
				<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
					Find a Coach <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<% @coaches.each do |user| %>
						<li>
							<%= link_to user_path(user) do %>
					  			<%= user.full_name %>
					  		<% end %>
					  	</li>
					<% end %>
					<% @userless_coaches.each do |user| %>
						<li>
							<%= user.first %> <%= user.last %>
					  	</li>
					<% end %>
				</ul>
			</div><!--.btn-group-->
			<div class="col-md-3">
				<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
					Find an Staff Member <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<% @manager_and_trainers.each do |user| %>
						<li>
							<%= link_to user_path(user) do %>
					  			<%= user.full_name %>
					  		<% end %>
					  	</li>
					<% end %>
					<% @userless_managers_and_trainers.each do |user| %>
						<li>
							<%= user.first %> <%= user.last %>
					  	</li>
					<% end %>
				</ul>
			</div><!--.btn-group-->
			<div class="col-md-3">
				<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
					Find an Administrator <span class="caret"></span>
					</button>
				<ul class="dropdown-menu" role="menu">
					<% @admins.each do |user| %>
						<li>
							<%= link_to user_path(user) do %>
					  			<%= user.full_name %>
					  		<% end %>
					  	</li>
					<% end %>
					
					<% @userless_admins.each do |user| %>
						<li>
							<%= user.first %> <%= user.last %>
					  	</li>
					<% end %>
				</ul>
			</div><!--.btn-group-->
		</div>
	</div><!--.col-md-9-->
</div>
<hr/>

<div class="row">
	<% @people.each_with_index do |person, i| %>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card tile card-friend material-animate box-shadow-ccc">
				<a href="user-profile.html">
					<%= image_tag person.avatar, class: "user-photo" %>
				</a>
				<div class="friend-content">
					<div class="margin-bottom-5">
						<h4 class="title"><%= person.name %></h4>
						<p class="no-margin"><%= %></p>
						<h6 class="m-t-5">
							<small><%= pluralize person.teams.count, "Team" %>: <a href="#">team 1</a>, <a href="#">team 2</a>, <a href="#">team 3</a></small>
						</h6>
						<div class="ml10">
							<%= link_to user_path(person), class: "btn btn-orange btn-sm mr10"  do %>
								<i class="ion-clipboard mr5"></i> View Profile
							<% end %>
							<% if current_user %>
								<% if current_user.admin? or (current_user == person)%>
									<%= link_to edit_user_path(person), class: "btn btn-primary btn-sm" do %>
										<i class="ion-gear-b mr5"></i> Edit
									<% end %>
								<% end %>
							<% end %>
							
						</div>
					</div>
				</div><!--.friend-content-->
			</div><!--.card-->
		</div><!--.col-->
	<% end %>

	<% @userless_people.each_with_index do |person, i| %>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card tile card-friend material-animate box-shadow-ccc">
				<a href="user-profile.html">
					<%= image_tag "http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif", class: "user-photo" %>
				</a>
				<div class="friend-content">
					<div class="margin-bottom-5">
						<p class="title">
							<%= person.first_name %> <%= person.last_name %>
						</p>
						<p class="no-margin">[Status], [Title/Level]</p>
						<h6 class="m-t-5">
							<small><%#= pluralize person.teams.count, "Team" %>[4 Teams]: <a href="#">team 1</a>, <a href="#">team 2</a>, <a href="#">team 3</a></small>
						</h6>
						<div class="ml10">
							<%= link_to user_path(person), class: "btn btn-orange btn-sm mr10"  do %>
								<i class="ion-clipboard mr5"></i> View Profile
							<% end %>
							<a class="btn btn-primary btn-sm">
								<i class="ion-gear-b mr5"></i> Edit
							</a>
						</div>
					</div>
				</div><!--.friend-content-->
			</div><!--.card-->
		</div><!--.col-->
	<% end %>
</div>