<div class="col-md-3">
	<div class="pt30 pr40">
		<div class="row">
			<div class="col-lg-12 col-md-4 col-sm-6">
				<h4 class="text-indigo bold fs_20 text-center">
					<span class="ion-person mr10"></span> School Athletic Directory
				</h4>
				<!-- <div class="row example-row no-margin">
					<div class="inputer floating-labe no-margin">
						<div class="input-wrapper">
							<input type="text" class="form-control" id="exampleInput1">
							<label for="exampleInput1">
								<span class="ion-search mr5"></span>
								Search name...
							</label>
						</div>
					</div>
				</div> -->
			</div>
		</div>

		<div class="text-center">
			<div class="well bgcolor-light-grey no-margin">
				<div class="btn-group btn-block">
					<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
						Student-Athletes <span class="ml5 caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<% @athletes.each do |user| %>
							<li>
								<%= link_to user_path(user) do %>
						  			<%= user.full_name %>
						  		<% end %>
						  	</li>
						<% end %>
				
					</ul>
				</div><!--.btn-group-->
				<br/>
				<br/>
				<div class="btn-group btn-block">
					<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
						Coaches <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<% @coaches.each do |user| %>
							<li>
								<%= link_to user_path(user) do %>
						  			<%= user.full_name %>
						  		<% end %>
						  	</li>
						<% end %>
						
					</ul>
				</div><!--.btn-group-->
				<br/>
				<br/>
				<div class="btn-group btn-block">
					<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
						Staff Members <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<% @manager_and_trainers.each do |user| %>
							<li>
								<%= link_to user_path(user) do %>
						  			<%= user.full_name %>
						  		<% end %>
						  	</li>
						<% end %>
					
					</ul>
				</div><!--.btn-group-->
				<br/>
				<br/>
				<div class="btn-group btn-block">
					<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
					Administrators <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<% @admins.each do |user| %>
							<li>
								<%= link_to user_path(user) do %>
						  			<%= user.full_name %>
						  		<% end %>
						  	</li>
						<% end %>
						
					
					</ul>
				</div><!--.btn-group-->
			</div>
		</div>
	</div>
</div>

<div class="col-md-9 pt30 bgcolor-white" style="min-height: 1000px;">
	<div class="">
	<% @people.each_with_index do |person, i| %>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card tile card-friend material-animate box-shadow-ccc">
				<a href="<%= user_path(person) %>">
					<%= image_tag person.avatar, class: "user-photo" %>
				</a>
				<div class="friend-content">
					<div class="margin-bottom-5">
						<span class="title">
							<span class="fs_20"><%= person.first_name %> <%= person.last_name %></span>
						<span>
						<h6 class="no-margin">
							<small><%= truncate(person.classification_list, length: 38) %>
								<br/>
								<%= pluralize person.teams.count, "Team" %>
							</small>
						</h6>
						<hr class="light mt10 mb15"/>
						<div class="ml10">
							<%= link_to user_path(person), class: "btn btn-primary button-striped button-full-striped btn-ripple btn-xs fs_14" do %>
							View Profile
						<% end %>

						<% if current_user %>
							<% if current_user.admin? or (current_user == person)%>
								<%= link_to edit_user_path(person), class: "btn btn-blue-grey button-striped button-full-striped btn-ripple btn-xs ml10 fs_14" do %>
									<span class="text-blue-grey"><i class="ion-gear-b"></i> Edit</span>
								<% end %>
							<% end %>
						<% end %>
						
					</div>
				</div>
			</div><!--.friend-content-->
			</div><!--.card-->
			</div><!--.col-->
	<% end %>
	<% @userless_people.each_with_index do |person, i| %>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card tile card-friend material-animate box-shadow-ccc">
				<a href="javascript: void(0)">
					<%= image_tag "http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif", class: "user-photo" %>
				</a>
				<div class="friend-content">
					<div class="margin-bottom-5">
						<span class="title">
							<span class="fs_20"><%= person.first_name %> <%= person.last_name %></span>
						<span>
						<h6 class="no-margin">
							<small><%= person.titles_list %></small>
						</h6>
						<hr class="light mt10 mb15"/>
						<div class="ml10">
								

						
						</div>
					</div>
				</div><!--.friend-content-->
			</div><!--.card-->
		</div><!--.col-->
	<% end %>
	</div>
</div>