<div id="photo" class="tab-pane">
  <%= form_for [photo_owner, photo_owner.main_photo], html: { multipart: true } do |f| %>
    <div class="fileinput fileinput-new" data-provides="fileinput">

      <div id="photo_image" class="jcrop-preimage jcrop-server fileinput-preview" data-trigger="fileinput">
        <%= image_tag photo_owner.main_photo.image.url(:cropped) %>
      </div>

      <div id="preview-pane" style="right: -800px; display: none;">
        <div class="preview-container" style="width: 600px; height: 200px;">
          <%= image_tag photo_owner.main_photo.image.url(:cropped), style: 'width: 600px; height: 200px;' %>
        </div>
      </div>

      <div>
        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="photo[image]"></span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        <%= f.hidden_field :main, value: true %>
        <%= f.hidden_field :image_crop_x, id: :f_x %>
        <%= f.hidden_field :image_crop_y, id: :f_y %>
        <%= f.hidden_field :image_crop_w, id: :f_w %>
        <%= f.hidden_field :image_crop_h, id: :f_h %>
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Crop", '#', id: 'crop-image', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

</div>