<div class="row example-row">
  <div class="col-md-12">
    <a class="btn btn-social-icon btn-linkedin btn-ripple margin-right-10">
      <i class="fa fa-linkedin"></i>
    </a>
    <span class="h4">Linkedin</span>
  </div>
  <div class="col-md-12 mt10">
    <div class="inputer">
      <div class="input-wrapper form-group">
        <%= f.text_field :linkedin, class: "form-control", placeholder: "https://www.linkedin.com/in/account_name", class: "form-control", pattern: "(https:\\/\\/)?(www.)?linkedin\\.com\\/in\\/[\\w_\\-\\d\\.\\/]+", "data-error" => "Please use: \"https://www.linkedin.com/in/[account_name]\"" %>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</div>
<div class="row example-row">
  <div class="col-md-12">
    <a class="btn btn-social-icon btn-facebook btn-ripple margin-right-10">
      <i class="fa fa-facebook"></i>
    </a>
    <span class="h4">Facebook</span>
  </div>
  <div class="col-md-12 mt10">
    <div class="inputer">
      <div class="input-wrapper form-group">
        <%= f.text_field :facebook, class: "form-control", placeholder: "https://wwww.facebook.com/account_name", pattern: "(https:\\/\\/)?(www.)?facebook\\.com\\/[\\w_\\-\\d\\.\\/]+", "data-error" => "Please use: \"https://www.facebook.com/[account_name]\"" %>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</div>
<div class="row example-row">
  <div class="col-md-12">
    <a class="btn btn-social-icon btn-twitter btn-ripple margin-right-10">
      <i class="fa fa-twitter"></i>
    </a>
    <span class="h4">Twitter</span>
  </div>
  <div class="col-md-12 mt10">
    <div class="inputer">
      <div class="input-wrapper form-group">
        <%= f.text_field :twitter, class: "form-control", placeholder: "https://wwww.twitter.com/account_name", pattern: "(https:\\/\\/)?(www.)?twitter\\.com\\/[\\w_\\-\\d\\.\\/]+", "data-error" => "Please use: \"https://www.twitter.com/[account_name]\"" %>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</div>
<div class="row example-row">
  <div class="col-md-12">
    <a class="btn btn-social-icon btn-instagram btn-ripple margin-right-10">
      <i class="fa fa-instagram"></i>
    </a>
    <span class="h4">Instagram</span>
  </div>
  <div class="col-md-12 mt10">
    <div class="inputer">
      <div class="input-wrapper form-group">
        <%= f.text_field :instagram, class: "form-control", placeholder: "https://wwww.instagram.com/account_name", pattern: "(https:\\/\\/)?(www.)?instagram\\.com\\/[\\w_\\-\\d\\.\\/]+", "data-error" => "Please use: \"https://www.instagram.com/[account_name]\"" %>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</div>
<div class="row example-row">
  <div class="col-md-12">
    <a class="btn btn-social-icon btn-pinterest btn-ripple margin-right-10">
      <i class="fa fa-pinterest"></i>
    </a>
    <span class="h4">Pinterest</span>
  </div>
  <div class="col-md-12 mt10">
    <div class="inputer">
      <div class="input-wrapper form-group">
        <%= f.text_field :pinterest, class: "form-control", placeholder: "https://www.pinterest.com/account_name", pattern: "(https:\\/\\/)?(www.)?pinterest\\.com\\/[\\w_\\-\\d\\.\\/]+", "data-error" => "Please use: \"https://www.pinterest.com/[account_name]\"" %>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</div>
<% if @object.class.to_s == "User" %>
  <div class="row example-row">
    <div class="col-md-12">
      <a class="btn btn-social-icon btn-foursquare btn-ripple margin-right-10">
        <i class="fa fa-foursquare"></i>
      </a>
      <span class="h4">Foursquare</span>
    </div>
    <div class="col-md-12 mt10">
      <div class="inputer">
        <div class="input-wrapper form-group">
          <%= f.text_field :foursquare, class: "form-control", placeholder: "https://foursquare.com/user/user_id", pattern: "(https:\\/\\/)?(www.)?foursquare\\.com\\/user\\/[\\w_\\-\\d\\.\\/]+", "data-error" => "Please use: \"https://foursquare.com/user/[account_id]\"" %>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>