<% @teams.each do |team| %>
	<div class="col-md-6 col-lg-4 col-sm-6">
		<div class="panel box-shadow-ccc">
			<div class="panel-heading">
				<div class="panel-title">
					<div class="pull-left">
						<%= image_tag("placeholders/league.jpg", height: "30", width: "30") %>
					</div>
					<div class="pull-left margin-left-10">
						<h4 class="normal fs_18">	
							<%= team.name %>
						</h4>
						<p class="text-muted mb5">
							<small>
								<%= pluralize team.accepted_coach_relationships.count, "Coach" %>, 
								<%= pluralize team.accepted_athlete_relationships.count, "Player" %>, <%= pluralize team.accepted_manager_relationships.count, "Manager" %>, <%= pluralize team.accepted_trainer_relationships.count, "Trainer" %>
							</small>
						</p>
					</div>
					<div class="row mt5 pl40">
						<div class="col-md-12">
							<div class="mr10">
								<%= link_to edit_team_path(team), class: "btn btn-primary btn-sm mr5" do %>
									<i class="ion-gear-b"></i>
								<% end %>
								
								<%= link_to team_path(team), class: "btn btn-orange btn-sm" do %>
									<i class="ion-clipboard"></i>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div><!--.panel-heading-->
			<div class="panel-body without-padding">
				<ul class="list-material borderless">
					<li class="divider with-border">
						Coaching Staff
					</li>
					<% team.accepted_coach_relationships.each do |rel| %>
					<li class="has-action-left">
						<a href="#" class="visible">
							<div class="list-action-left">
								<% if rel.class.to_s == "Relationship" %>
								<img src="<%= rel.user.avatar %>" class="face-radius" alt="">
								<% else %>
								 <img src="http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif" class="face-radius" alt="">
								<% end %>
							</div>
							<div class="list-content">
								<% if rel.class.to_s == "Relationship" %>
								<span class="title"><%= rel.user.full_name %></span>
								<% else %>
								 <span class="title"><%= rel.first_name  %> <%= rel.last_name %></span>
								<% end %>
								<span class="caption"><%= rel.head_title %></span>
							</div>
						</a>
					</li>
					<% end %>
					<li class="divider with-border">
						Management & Support Staff
					</li>
					<% team.accepted_manager_relationships.each do |rel| %>
					<li class="has-action-left">
						<a href="#" class="visible">
							<div class="list-action-left">
								<% if rel.class.to_s == "Relationship" %>
								<img src="<%= rel.user.avatar %>" class="face-radius" alt="">
								<% else %>
								 <img src="http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif" class="face-radius" alt="">
								<% end %>
							</div>
							<div class="list-content">
								<% if rel.class.to_s == "Relationship" %>
								<span class="title"><%= rel.user.full_name %></span>
								<% else %>
								 <span class="title"><%= rel.first_name  %> <%= rel.last_name %></span>
								<% end %>
								<span class="caption"><%= rel.head_title %></span>
							</div>
						</a>
					</li>
					<% end %>
					<li class="divider with-border">
						Team Trainer
					</li>
					<% team.accepted_trainer_relationships.each do |rel| %>
					<li class="has-action-left">
						<a href="#" class="visible">
							<div class="list-action-left">
								<% if rel.class.to_s == "Relationship" %>
								<img src="<%= rel.user.avatar %>" class="face-radius" alt="">
								<% else %>
								 <img src="http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif" class="face-radius" alt="">
								<% end %>
							</div>
							<div class="list-content">
								<% if rel.class.to_s == "Relationship" %>
								<span class="title"><%= rel.user.full_name %></span>
								<% else %>
								 <span class="title"><%= rel.first_name  %> <%= rel.last_name %></span>
								<% end %>
								<span class="caption"><%= rel.head_title %></span>
							</div>
						</a>
					</li>
					<% end %>
					<li class="divider with-border">
						Team Roster
					</li>
					<% team.accepted_athlete_relationships.each do |rel| %>
					<li class="has-action-left">
						<a href="#" class="visible">
							<div class="list-action-left">
								<% if rel.class.to_s == "Relationship" %>
								<img src="<%= rel.user.avatar %>" class="face-radius" alt="">
								<% else %>
								 <img src="http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif" class="face-radius" alt="">
								<% end %>
								
							</div>
							<div class="list-content">
								<% if rel.class.to_s == "Relationship" %>
								<span class="title"><%= rel.user.full_name %></span>
								<% else %>
								 <span class="title"><%= rel.first_name  %> <%= rel.last_name %></span>
								<% end %>
								<span class="caption"><%= rel.participant_classification %>, <%= rel.position %></span>
							</div>
						</a>
					</li>
				<% end %>	
			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.col-->
<% end %>