<% @teams.each do |team| %>
	<div class="col-md-6 col-lg-4 col-sm-6">
		<div class="panel box-shadow-ccc">
			<div class="panel-heading b-b-ccc" style="border-bottom: 5px solid #eee;">
				<div class="panel-title">
					<!-- <div class="pull-left">
						<%# if Sport.find_by_sport(team.sport).present? %>
						<%#= image_tag(Sport.find_by_sport(team.sport).try(:default_photo), height: "30", width: "30") %>
						<%# else %>
						<%#= image_tag(team.image, height: "30", width: "30") %>
						<%# end %>
					</div>
					 -->
					 

					 <div class="pull-right">
						<% if current_user %>
						  <% if team.can_be_edited_by_user?(current_user) %>
								<%= link_to edit_team_path(team), class: "btn btn-primary btn-sm mr5" do %>
									<i class="ion-gear-b"></i>
								<% end %>
						  <% end %>
						<% end %>

						<%= link_to team_path(team), class: "btn btn-orange btn-sm" do %>
							<i class="ion-clipboard"></i>
						<% end %>
					</div>

					<div class="margin-left-10">
							<h3 class="fs_24 no-margin text-black semi-bold"><%= team.name %></h3>
							<p class="text-muted no-margin">
							<small>
								<%= pluralize team.coach_roles.count, "Coach" %>, 
								<%= pluralize team.athlete_roles.count, "Player" %>, <%= pluralize team.team_manager_roles.count, "Manager" %>, <%= pluralize team.trainer_roles.count, "Trainer" %>
							</small>
						</p>
					</div>
				</div>
			</div>
			<div class="panel-body without-padding bgcolor-light-grey">
				<ul class="list-material borderless bgcolor-light-grey">
					<li class="divider text-muted no-margin">
						Coaching Staff
					</li>
					<% team.coach_roles.each do |rel| %>
					<li class="has-action-left b-b-eee">
						<a href="#" class="visible">
							<div class="list-action-left">
								<% if rel.class.to_s == "Role" %>
								<img src="<%= rel.user.avatar %>" class="face-radius" alt="">
								<% else %>
								 <img src="http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif" class="face-radius" alt="">
								<% end %>
							</div>
							<div class="list-content">
								<% if rel.class.to_s == "Role" %>
								<span class="title">
									<span class="fs_18 thin"><%= rel.user.full_name %></span>
								</span>
								<% else %>
								 <span class="title">
								 	<span class="fs_18 thin">
								 		<%= rel.first_name  %> <%= rel.last_name %>
								 	</span>
								 </span>
								<% end %>
								<span class="caption lh_12">
									<span class="text-muted small lh_12">
										<%= rel.title %>
									</span>
								</span>
							</div>
						</a>
					</li>
					<% end %>
					<li class="divider with-border no-margin text-muted">
						Management & Support Staff
					</li>
					<% team.team_manager_roles.each do |rel| %>
					<li class="has-action-left">
						<a href="#" class="visible">
							<div class="list-action-left">
								<% if rel.class.to_s == "Role" %>
								<img src="<%= rel.user.avatar %>" class="face-radius" alt="">
								<% else %>
								 <img src="http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif" class="face-radius" alt="">
								<% end %>
							</div>
							<div class="list-content">
								<% if rel.class.to_s == "Role" %>
								<span class="title">
									<span class="fs_18 thin"><%= rel.user.full_name %>
									</span>
								</span>
								<% else %>
								 <span class="title">
								 	<span class="fs_18 thin">
								 		<%= rel.first_name  %> <%= rel.last_name %>
								 	</span>
								 </span>
								<% end %>
								<span class="caption lh_12">
									<span class="text-muted small lh_12">
										<%= rel.title %>
									</span>
								</span>
							</div>
						</a>
					</li>
					<% end %>
					<li class="divider with-border no-margin text-muted">
						Team Trainer
					</li>
					<% team.trainer_roles.each do |rel| %>
					<li class="has-action-left b-b-eee">
						<a href="#" class="visible">
							<div class="list-action-left">
								<% if rel.class.to_s == "Role" %>
								<img src="<%= rel.user.avatar %>" class="face-radius" alt="">
								<% else %>
								 <img src="http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif" class="face-radius" alt="">
								<% end %>
							</div>
							<div class="list-content">
								<% if rel.class.to_s == "Role" %>
								<span class="title">
									<span class="fs_18 thin">
										<%= rel.user.full_name %>
									</span>
								</span>
								<% else %>
								 <span class="title">
								 	<span class="fs_18 thin">
								 		<%= rel.first_name  %> <%= rel.last_name %>
								 	</span>
								 </span>
								<% end %>
								<span class="caption lh_12">
									<span class="text-muted small lh_12">
										<%= rel.title %>
									</span>
								</span>
							</div>
						</a>
					</li>
					<% end %>
					<li class="divider with-border no-margin text-muted">
						Team Roster
					</li>
					<% team.athlete_roles.each do |rel| %>
					<li class="has-action-left b-b-eee">
						<a href="#" class="visible">
							<div class="list-action-left">
								<% if rel.class.to_s == "Role" %>
								<img src="<%= rel.user.avatar %>" class="face-radius" alt="">
								<% else %>
								 <img src="http://hasslefreeliving.com/wp-content/uploads/2012/10/placeholder.gif" class="face-radius" alt="">
								<% end %>
								
							</div>
							<div class="list-content">
								<% if rel.class.to_s == "Role" %>
								<span class="title">
									<span class="fs_18 thin">
										<%= rel.user.full_name %>
									</span>
								</span>
								<% else %>
								 <span class="title">
								 	<span class="fs_18 thin"><%= rel.first_name  %> <%= rel.last_name %>
								 	</span>
								 </span>
								<% end %>
								<span class="caption lh_12">
									<span class="text-muted small lh_12">
										<%= rel.level %>, <%= rel.position_list %>
									</span>
								</span>
							</div>
						</a>
					</li>
				<% end %>	
			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.col-->
<% end %>