		  <%= form_for @user.attendances.where(event_id: event.id).last, html: {method: :patch, remote: true } do |f| %>
			  <%= f.hidden_field :user_id, value: @user.id %>
			  <%= f.hidden_field :event_id, value: event.id %>
			  <%= f.hidden_field :yes, value: true %>
			  <%= f.hidden_field :maybe, value: false %>
			  <%= f.hidden_field :no, value: false %>
			  <%= f.submit "Attend", class: "btn btn-green btn-flat" %>
		  <% end %>
		  
		  <%= form_for @user.attendances.where(event_id: event.id).last, html: {method: :patch, remote: true } do |f| %>
			  <span class="fa fa-check-circle m-r-5"><%= f.submit "Maybe", type: "button", class: "btn btn-orange btn-flat", disabled: true %></span>
		  <% end %>
		  
		  <%= form_for @user.attendances.where(event_id: event.id).last, html: {method: :patch, remote: true } do |f| %>
			  <%= f.hidden_field :user_id, value: @user.id %>
			  <%= f.hidden_field :event_id, value: event.id %>
			  <%= f.hidden_field :yes, value: false %>
			  <%= f.hidden_field :maybe, value: false %>
			  <%= f.hidden_field :no, value: true %>
			  <%= f.submit "Decline", class: "btn btn-red btn-flat" %>
		  <% end %>
