<div class="btn-group" data-toggle="buttons">

  <%= form_for current_user.attendances.where(event_id: @event.id).last, html: {method: :patch, remote: true } do |f| %>
        <%= f.submit "IM GOING", class: "btn btn-white", disabled: true %>
  <% end %>

  <%= form_for current_user.attendances.where(event_id: @event.id).last, html: {method: :patch, remote: true } do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.hidden_field :yes, value: false %>
    <%= f.hidden_field :maybe, value: true %>
    <%= f.hidden_field :no, value: false %>
    <%= f.submit "MAYBE", class: "btn btn-white" %>
  <% end %>

  <%= form_for current_user.attendances.where(event_id: @event.id).last, html: {method: :patch, remote: true } do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.hidden_field :yes, value: false %>
    <%= f.hidden_field :maybe, value: false %>
    <%= f.hidden_field :no, value: true %>
    <%= f.submit "NOT GOING", class: "btn btn-white" %>
  <% end %>

</div>