<% facilities.each do |facility| %>
	<%= link_to facility_path(facility) do %>
	<div class="col-md-3 col-lg-2 col-sm-12 element-item <%= facility.type_with_hyphen %> all" data-category="<%= facility.type_with_hyphen %> all">
		    <div class="card card-user card-clickable card-clickable-over-content">
		      <div class="card-heading heading-full">
		        <div class="user-image sample-member9" style="background: url(<%= image_path(facility.avatar)%>;">
		        </div>

	            <div class="clickable-button">
	            	<%= link_to edit_facility_path(facility), class: "btn btn-floating btn-orange initial-position floating-open" do %>
			          	<i class="ion-gear-b"></i>
			        <% end %>
			    </div>

	      </div><!--.card-heading-->

	      <div class="card-body">
	        <div style="height: 40px; position: relative;">
        		<h4 class="card-title capitalize fs_16 lh_20 absolute bottom bold">
		        	<a href="#">
			        	<% if facility.school.present? %>
						  	<%= truncate("#{facility.school.name} #{facility.name}", length: 40) %>
						<% else %>
						   	<%= truncate(facility.name, length: 40) %>
						<% end %>
						<br/>
					</a>
				</h4>
			</div>
			<hr class="light mt5 mb10"/>
			<p class="lh_16 text-muted fs_12">
				<%= facility.address_1 %><br/>
				<%= facility.city %>, <%= facility.state %> 
			</p>
        

      <div class="subhead">
        <span class="text-muted">
          <%= facility.email %>
        </span>
        <%= facility.website %>
        <%= facility.phone_number %>
      </div>
    </div>
    	<!--.card-body-->

	      <!-- <div class="card-footer">
	        <%#= link_to "Delete", facility, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "btn btn-orange btn-xs" %>
			
	      </div> --><!--.card-footer-->

	    </div><!--.card-->
  	</div><!--.col-md-4-->
	<% end %>
<% end %>



<%#= link_to league.name, league_path(league) %>
<%#= link_to facility.name, facility_path(facility) %>