<% facilities.each do |facility| %>
	<%= link_to facility_path(facility) do %>
	<div class="col-md-4 col-lg-2 col-sm-12 element-item <%= facility.type_with_hyphen %> all" data-category="<%= facility.type_with_hyphen %> all">
    <div class="card card-user card-clickable card-clickable-over-content visible"  style="height: 380px;">
      <div class="card-heading heading-full">
       <div class="user-image sample-member9" style="background: url('<%= facility.avatar %>');"></div>
        
        <% if facility.can_be_edited_by_user?(current_user) %>
        <div class="clickable-button">
        	<%= link_to edit_facility_path(facility), class: "btn btn-floating btn-orange initial-position floating-open" do %>
          	<i class="ion-gear-b"></i>
        	<% end %>
    		</div>
        <% end %>
	  	</div><!--.card-heading-->

      <div class="card-body">
        <div style="height: 40px; position: relative;">
      		<h4 class="card-title capitalize fs_14 lh_20 absolute bottom bold">
	        	<a href="#">
		        	<% if facility.school.present? %>
					  		<%= link_to truncate("#{facility.school.name} #{facility.name}", length: 35), facility %>
							<% else %>
					   		<%= link_to truncate(facility.name, length: 31), facility %>
							<% end %>
						</a>
					<br/>
				</h4>
			</div>
			<hr class="light mt5 mb10"/>
			<p class="lh_16 text-muted fs_12 no-margin">
			<!-- <i class="ion-location pull-left mr10"></i>  -->
			<span class="pull-left">
				<% if facility.address.city.present? %>
					<%= facility.address.street_1 %><br/>
					<%= facility.address.city %>, <%= facility.address.state %> 
				<% else %>
					Address not available.
				<% end %>
				<% if facility.email.present? %>
					<br/>
					<span class="text-muted pull-left">
	        	<a type="button" class="" data-toggle="tooltip" data-placement="top" title="<%= facility.email %>">
	        		Email
	        	</a>
	      	</span>
	      <% else %>
	      <% end %>

      	<br/>
      	<span class="text-muted pull-left">
        	<a href="<%= facility.website %>" target="_blank">Visit Website</a>
      	</span>
      	<br/>
      	<span class="text-muted pull-left">
        	<%= facility.phone_number %>
      	</span>
			</span>
		</p>
  </div>
  	<!--.card-body-->

      <!-- <div class="card-footer">
        <%#= link_to "Delete", facility, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "btn btn-orange btn-xs" %>
		
      </div> --><!--.card-footer-->

	    </div><!--.card-->
  	</div><!--.col-md-4-->
	<% end %>
<% end %>



<%#= link_to league.name, league_path(league) %>
<%#= link_to facility.name, facility_path(facility) %>