<div class="content">
	<div class="page-header full-content bg-primary" style="min-height: 141px;">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="capitalize">
					<%= @facility.name %>
					<small></small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= facilities_path %>">Facilities</a></li>
					<li><a href="<%= facility_path %>"><%= @facility.name %></a></li>
					<li><a href="#" class="active">Edit</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#general" data-toggle="tab">General</a></li>
				<li><a href="#tab2" data-toggle="tab">Tabs [2]</a></li>
				<li><a href="#tab3" data-toggle="tab">Tabs [3]</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-body">

					<div class="tab-content with-panel">
						<div class="tab-pane active text-style" id="general">

								<%= form_for @facility do |f| %>
								
								<%= f.text_field :name, type: "text", class: "form-control", placeholder: ""%><br>
								
								<%= f.check_box :private %><br>
								
								<%= f.check_box :publicly_visible %><br>
								
								<%= f.text_field :address_1, type: "text", class: "form-control", placeholder: "" %><br>
								
								<%= f.text_field :address_2, type: "text", class: "form-control", placeholder: "" %><br>
								
								<%= f.text_field :city, type: "text", class: "form-control", placeholder: "" %><br>
								
								<%= f.text_field :state, type: "text", class: "form-control", placeholder: "" %><br>
								
								<%= f.text_field :zip, type: "text", class: "form-control payment-restrict", :restrict => true %><br>
								
								<%= f.text_field :zip_ext, type: "text", class: "form-control payment-restrict", :restrict => true %><br>
								
								<%= f.text_field :website, type: "text", class: "form-control", placeholder: ""  %><br>
								
								<%= f.text_field :email, type: "text", class: "form-control inputmask inputmask-email" %><br>
								
								<%= f.text_field :phone_number, type: "text", class: "form-control inputmask inputmask-phone" %><br>
								
								<%= f.submit "Awesome. Let's create a facility!", class: "btn btn-blue btn-lg btn-block btn-ripple" %><br>
								
								
					
								<% end %>

						</div><!--tab-pane-->

						<div class="tab-pane text-style" id="tab2">
							
								put some more stuff here

						</div><!--tab-pane-->

						<div class="tab-pane text-style" id="tab3">

								finish it up here, or nah...?

						</div><!--.tab-pane-->
					</div><!--.tab-content-->

				</div><!--.panel-body-->
			</div><!--.panel-->
		</div><!--.col-md-12-->
	</div><!--.row-->
</div>
<!--.content-->
                        



                            



