<style>
  .card-friend .user-photo {
    float: left;
    width: 160px;
    height: 160px;
    border-radius: 3px 0 0 3px;
  }
  .card-friend .friend-content {
    margin-left: 180px;
  }
</style>


<div class="content">

	<div class="page-header full-content bg-primary mb0" style="min-height: 141px;">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="capitalize semi-bold">
					<%= @facility.name %>
					<small></small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= facilities_path %>">Facilities</a></li>
					<li><a href="<%= facility_path %>"><%= @facility.name %></a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">

			 <a class="mt10 pull-right btn btn-orange mr20">
	            Register
	        </a>

	        <% if current_user %>
			        <% if @object.can_be_edited_by_user?(current_user) %>
		          <%= link_to edit_facility_path(@facility), class: "mt10 pull-right btn btn-primary button-striped button-full-striped btn-ripple mr20" do %>
		              <i class="ion-gear-b fs_16 mr5"></i> Edit Profile
		          <% end %>
		        <% end %>
		      <% end %>

		      <%= render 'shared/view_announcement_button', object: @object %>

	    <%= render 'shared/show_navigations'%>
	
	        	<% if @object.can_be_edited_by_user?(current_user)%>
	          		<%= link_to edit_facility_path(@facility) do %>
		            <button href="" class="btn btn-floating btn-blue btn-ripple pull-right">
		          		<i class="ion-gear-b"></i>
		          	</button>
	          	<% end %>
	        	<% end %>

		</div>
	</div><!--.page-header-->

	<!-- main content div -->
  	<div class="row">
		<div class="col-md-12">
			<div class="tab-content without-border">
				
				<%= render "facilities/show/about" %>

				<%= render "facilities/show/calendar" %>

				<%= render "facilities/show/teams" %>

				<%#= render "facilities/show/people" %>

				<%= render "facilities/show/media" %>
				
				<%#= render 'shared/photo_tab', photo_owner: @facility %>

				<%#= render "facilities/show/following" %>

				<%= render "facilities/show/fans" %>

				<%#= render "facilities/show/map" %>
			  
			</div><!--.tab-content-->
		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->














