<div class="content">

	<div class="page-header full-content parallax" style="height: 600px; overflow: hidden">
		
		<div class="parallax-bg" style="background: url('http://despacedesigns.com/wp-content/uploads/2013/11/blog_YMCA_AB_2L3V9636.jpg') 50% 50%; background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
		</div>

		<div class="bg-overlay"></div><!--.bg-overlay-->

		<div class="profile-info">
			<div class="profile-photo">
				<img src="<%= image_path("placeholders/school.jpg") %>" alt="">
			</div><!--.profile-photo-->
			<div class="profile-text light capitalize">
				<%= @facility.name %>
				<span class="caption">
					<% if @facility.school.present? %>
					  <%= @facility.school.name %><br>
					  <%= @facility.school.address_1 %><br>
					  <%= @facility.school.city %>, <%= @facility.school.state %>
					
					<% else %>
					
					  <%= @facility.address_1 %><br>
					  <%= @facility.city %>, <%= @facility.state %>
					
					<% end %>
				</span>
			</div><!--.profile-text-->
		</div><!--.profile-info-->

		<div class="social-buttons">
			<%= render 'shared/fan' %>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h1>
					<i class="ion-calendar m-r-5"></i>
					Upcoming event 
					<small>[event]</small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= facilities_path %>">Facilities</a></li>
					<li><a href="#" class="active"><%= @facility.name %></a></li>
				</ol>
			</div><!--.col-->

		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
				<li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li>
				<li><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
				<li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
				<li><a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Calendar</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

	<div class="row user-profile">
		<div class="col-md-12">
			<div class="tab-content without-border">

				<!-- following -->
				<div id="about" class="tab-pane active">

					<div class="row">
						<div class="panel">
							<div class="panel-body transparent">
								<div class="row margin-top-20">
									<div class="col-md-3">
										<div class="address">
											<h4>Facilities</h4>
											<ul class="list-material">
												<li class="">
													<span class="fa fa-check-circle m-r-5"></span>
													<span class="h6 semi-bold text-primary">Soccer Field</span>
												</li>
												<li class="">
													<span class="fa fa-check-circle m-r-5"></span>
													<span class="h6 semi-bold text-primary">Basketball Court</span>
												</li>
												<li class="">
													<span class="fa fa-check-circle m-r-5"></span>
													<span class="h6 semi-bold text-primary">Tennis Court</span>
												</li>
											</ul>
										</div><!--.panel-->
									</div><!--.col-md-3-->
									<div class="col-md-3">
										<div class="address">
											<h4>Address</h4>
											<span class="h6 semi-bold">
												<%= @facility.address_1 %>
											</span>
											<br>
											<span class="h6 semi-bold">
												<%= @facility.city %>, <%= @facility.state %>, <%= @facility.zip %>
											</span>
										</div>
									</div><!--.col-md-3-->
									<div class="col-md-3">
										<div class="address">
											<h4>Phone</h4>
											<span class="fa fa-phone m-r-5"></span>
											<span class="h4">
												<%= @facility.phone_number %>
											</span>
											<br/>
											<span class="fa fa-clock-o m-r-5"></span>
											8am - 5pm<br>
										</div>
									</div><!--.col-md-3-->
									<div class="col-md-3">
										<div class="address">
											<h4>Online</h4>
											<span class="fa fa-desktop m-r-5 gray-text"></span>
											<span class="text-primary  gray-text semi-bold h6">
												<%= @facility.website %>
											</span>

											<br>

											<span class="fa fa-envelope m-r-5"></span>
											<span class="text-primary  gray-text semi-bold h6">
												<%= @facility.email %>
											</span>
										</div>
									</div><!--.col-md-3-->
								</div><!--.row-->
							</div><!--.panel-body-->
						</div><!--.panel-->
					</div><!--.row-->

					<div class="row about-us">
						<div id="gmaps_10" class="map">
							<%= gmaps4rails(@json) %>
						</div>
					</div><!--.row-->

					
				</div>
				<!--#following.tab-pane-->

				<!-- teams -->
				<div id="teams" class="tab-pane">
                  
				  <% @teams.each do |team| %>
				  
				  <%= team.name %>
				  
				  <% end %>
					
				</div>
				<!--#teams.tab-pane-->

				<!-- people -->
				<div id="people" class="tab-pane">
					
				</div>
				<!--#people.tab-pane-->

				<!-- events -->
				<div id="events" class="tab-pane">

					

					
				</div>
				<!--#events.tab-pane-->

				<!-- facilities -->
				<div id="facilities" class="tab-pane">
					
				</div>
				<!--#facilities.tab-pane-->

				<!-- media -->
				<div id="media" class="tab-pane">
					
				</div>
				<!--#media.tab-pane-->
        <div id="calendar-tab" class="tab-pane">

          <div class="row">
            <%= render 'shared/calendar', eventable: @facility %>
          </div>

        </div>
				

			</div><!--.tab-content-->
		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->












