<div id="attendee-buttons">
  <div id="attendee-buttons-<%=@event.id %>">

   <%= current_user.attendances.where(event_id: @event.id, yes: true).last.present? %>

      <div class="btn-group">

        <% if current_user.attendances.where(event_id: @event.id).empty? %>

    	    <div class="inline">
            <%= render 'attendees/attendee' %>	  
          </div>
       
        <% elsif current_user.attendances.where(event_id: @event.id, yes: true).last.present? %>
          
    	   <div class="inline">
            <%= render 'attendees/yes'%>	  
          </div>
       
        <% elsif current_user.attendances.where(event_id: @event.id, maybe: true).last.present? %>

          <div class="inline">
            <%= render 'attendees/maybe'%>
          </div>

        <% elsif current_user.attendances.where(event_id: @event.id, no: true).last.present? %>
    		  
    	     <div class="inline">
            <%= render 'attendees/no'%>
          </div>

       </div>
  		  
    <% end %>
  </div>
</div>
		  
		