<div id="attendee-buttons">
<%= current_user.attendances.where(event_id: @event.id, yes: true).last.present? %>

   <% if current_user.attendances.where(event_id: @event.id).empty? %>
      
	  <%= render 'attendees/attendee' %>	  
   
   <% elsif current_user.attendances.where(event_id: @event.id, yes: true).last.present? %>
      
	  <%= render 'attendees/yes'%>	  
   
   <% elsif current_user.attendances.where(event_id: @event.id, maybe: true).last.present? %>

      <%= render 'attendees/maybe'%>

   <% elsif current_user.attendances.where(event_id: @event.id, no: true).last.present? %>
		  
	   <%= render 'attendees/no'%>
		  
<% end %>
</div>
		  
		