<div class="content" id="multiple-events-page">
  <div class="page-header full-content bg-blue">
    <div class="row">
      <div class="col-sm-6">
        <h1>Events <small>(<%= @object.events.count %>)</small></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="#" class="active">all events</a></li>
        </ol>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <p>
        <%= link_to @object, class: "btn btn-white" do %>
          <span class="material-icons valign-middle lh_12">&#xE314;</span>
          Back to My Profile
        <% end %>
        <%= link_to "/#{@object.class.to_s.pluralize.downcase.underscore}/#{@object.slug}#tab_calendar-tab", class: "btn btn-white pull-right" do %>
          <i class="material-icons valign-middle lh_12">&#xE8DF;</i>
          View Calendar
        <% end %>
      </p>
      <div class="panel box-shadow-ccc pb50">
        <div class="panel-header bg-cyan pl20 pt20">
          <h4 class="text-left text-white semi-bold">Create Multiple Events (<%= link_to @object.name, @object %>)</h4>
          <hr class="margin-top-0"/>
        </div>
        <div class="panel-body pl20 pr20">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <% if false %>
                  <%= link_to eval("add_#{@object.class.to_s.downcase.underscore}_events_path(@object)"), method: :get ,remote: true, class: 'btn btn-large btn-blue' do %>
                    <i class="ion ion-plus-circled mr5"></i> Add Another Event
                  <% end %>
                <% end %>
              </div>
              <h3 class="semi-bold text-bold mb0">Need to create multiple events, no problem.</h3>
              <p class="text-muted">Use the form below to create multiple events</p>
            </div>
          </div>
          <hr class="mt10"/>
          <h5 class="semi-bold text-primary" id="add-event-header">1. Add New Event
            <div class="pull-right" id='created-message'>
            </div>
          </h4>
          <div id="new-events">
            <%= render 'events/small_form', object: @object, e: @event %>
          </div>
          <br/>
          <div id="old-events">
            <% @object.events.where.not(id: nil).each do |event| %>
              <%= render 'events/small_form', object: @object, e: event %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>