<style>

.sample-bg-image13:before {
  background-image: url(http://ww3.hdnux.com/photos/15/43/32/3552938/9/628x471.jpg);
	}
</style>

<div class="content">

	<div class="page-header full-content bg-blue">
		<div class="row">
			<div class="col-sm-5">
				<h1>All Events <small>(<%= @object.events.count %>)</small></h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="#" class="active">all events</a></li>
				</ol>
			</div><!--.col-->
			<div class="col-sm-1 text-right">
				<a class="btn btn-floating btn-red" data-toggle="modal" data-target="#panel-new-event">
					<i class="ion-android-add"></i>
				</a>
			</div>
		</div><!--.row-->
	</div><!--.page-header-->

	<div class="row">
		
		<% @object.upcoming_events.each do |event| %>
			<div class="col-md-4">
			<div class="card card-event">
				<div class="card-heading bg-image sample-bg-image12">
				</div><!--.card-heading-->

				<div class="card-body">
					<div class="calendar">
						<div class="month">May</div>
						<div class="date">13</div>
					</div><!--.calendar-->
					<h4 style="margin-bottom: 0;"><%= event.title %></h4>
					<h5 class="text-grey">
						<%= event.event_type %>
					</h5>
					<h5 class="h6 text-orange bold">
						<%= format(event.starts_at, 4) %>
						<%= format(event.starts_at, 8) %>
						- 
						<%= format(event.ends_at, 4) %>
						<%= format(event.ends_at, 8) %>
					</h5>  	
					<p class="small caption">
						<small>
							Created By: 
							<%= link_to event.user.full_name, user_path(event.user) %>
						</small>
					</p>
				</div><!--.card-body-->

				<div class="card-footer">
					<div class="btn-group btn-merged btn-group-sm pull-right">
						
						<div class="attendee_buttons" id="attendee-buttons-<%= event.id %>">
							<%= render 'events/rsvp_index', event: event %>
					    </div>
					
					</div>
				</div><!--.card-footer-->
			</div><!--.card-->
			</div><!--.col-md-6-->
		<% end %>

	</div><!--.row-->

</div><!--.content-->


