<div class="content">
  <div class="page-header full-content bg-blue">
    <div class="row">
      <div class="col-sm-6">
        <h1>New Event<small></small></h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="#" class="active"><%= @object.class == "User" ? @object.full_name : @object.name %></a></li>
          <li><a href="#" class="active">events</a></li>
          <li><a href="#" class="active">new</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title"><h4>Complete the form below. </h4></div>
        </div><!--.panel-heading-->
        <div class="panel-body">

          <%= form_for [@object, @event], html: {id: 'event-form'} do |f| %>
    

          <!-- event title -->
          <div class="row example-row">
            <div class="col-md-3">Event Title </div><!--.col-md-3-->
            <div class="col-md-9">
              <div class="inputer">
                <div class="input-wrapper">
                  <%= f.text_field :title, type: "text", class: "form-control", placeholder: ""%>
                </div>
              </div>
            </div><!--.col-md-9-->
          </div><!--.row-->


          <!-- event type -->
          <div class="row example-row">
            <div class="col-md-3">Event Type </div><!--.col-md-3-->
            <div class="col-md-9">
              <div class="inputer">
                <div class="input-wrapper">
                  <%= f.text_field :event_type, type: "text", class: "form-control", placeholder: "" %>
                </div>
              </div>
            </div><!--.col-md-9-->
          </div><!--.row-->
          

          <!-- event type -->
          <div class="row example-row">
            <div class="col-md-3">Facility</div><!--.col-md-3-->
            <div class="col-md-9">
              <%= f.collection_select :facility_ids, Facility.all, :id, :name, {:selected => ""}, {  :multiple => false, :id => "multi", :class => "selecter", :placeholder => "Select A Facility"  } %>
            </div><!--.col-md-9-->
          </div><!--.row-->


          <!-- event type -->
          <div class="row example-row">
            <div class="col-md-3">Date and Time</div><!--.col-md-3-->
            <div class="col-md-9">
              <div class="inputer">
                  <div class="input-wrapper">
                    <input type="text" style="width: 400px" name="event[reservation]" class="form-control bootstrap-daterangepicker-date-time" value="06/05/2015 3:00 PM - 06/05/2015 3:30 PM">
                  </div>
                </div>
            </div><!--.col-md-9-->
          </div><!--.row-->


          <!-- <div class="field">
            <%#= f.label :starts_at %><br />
            <%#= f.datetime_select :starts_at %>
          </div>
          <div class="field">
            <%#= f.label :ends_at %><br />
            <%#= f.datetime_select :ends_at %>
          </div> -->

          <!-- event checkbox options -->
           <!-- event type -->
          <div class="row example-row">
            <div class="col-md-3">Options</div><!--.col-md-3-->
              <div class="col-md-9">
                <div class="clearfix margin-bottom-10">
                  <div class="checkboxer form-inline">
                    <%= f.check_box :all_day %>
                    <label for="all_day">All Day?</label>
                  </div>
                  <div class="checkboxer form-inline">
                    <%= f.check_box :private %>
                    <label for="private">Private?</label>
                  </div>
                </div>
            </div><!--.col-md-9-->
          </div><!--.row-->


          <!-- event description -->
          <div class="row example-row">
            <div class="col-md-3">Description</div><!--.col-md-3-->
            <div class="col-md-9">
              <div class="inputer">
                <div class="input-wrapper">
                  <%= f.text_area :description, type: "text", class: "form-control", placeholder: "" %>
                </div>
              </div>
            </div><!--.col-md-9-->
          </div><!--.row-->


          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :eventable_type, value: @class %>


        </div><!--.panel-body-->
      </div><!--.panel-->
    </div><!--.col-md-12-->
  </div><!--.row-->
  <%= f.submit "Create Event", class: "btn btn-blue" %>
  <% end %>     
</div>
<%#= @id %>
<%#= @class %>
