<div class="content">
  <div class="page-header full-content bg-primary mb0" style="min-height: 121px;">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="capitalize semi-bold">
          <%= @object.name %>
          <small>Manage Documents</small>
        </h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= teams_path %>">Teams</a></li>
          <% if @object.teamable.present? %>
              <li><a href="#"><%= @object.teamable.name %></a></li>
              <!-- add path for linking -->
          <% end %>
          <li><a href="#" class="active"><%= @object.name %></a></li>
        </ol>
      </div>
    </div><!--.row-->

   <%= render "shared/show_navigation_admin" %>
          
    <script>
    onclick="theFunction(event)"
    </script>

  </div><!--.page-header-->

  <div class="pt60">
    <div class="row">
      <% if @document.can_be_edited_by_user?(current_user) %>
        <div class="col-lg-3">
          <%= form_for [@object, @document], html: {:multipart => true, id: "document-form" }, remote: true do |f| %>
          <div class="panel box-shadow-ccc">
            <div class="panel-heading">
              <div class="panel-title">
                <span class="ion-plus-circled text-primary h2 mr15 mt0 pull-left"></span>
                <h3 class="semi-bold mt10 fs_24">
                  <span class="">Upload a New Document</span>
                </h3>
              </div>
            </div>
            <div class="panel-body">


              <div class="row example-row no-margin">
                <div class="col-md-12">Document File</div>
                  <div class="col-md-12">
                    <div class="fileinput fileinput-new mt20" data-provides="fileinput">
                    <span class="btn btn-default btn-file">
                      <span class="fileinput-new">Select file</span>
                      <span class="fileinput-exists">Change</span>
                      <%= f.file_field :file, type: "file" %>
                    </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                  </div>
                </div>
              </div>

              <br/>

              <div class="row example-row no-margin">
                <div class="col-md-12">Document Name</div>
                <div class="col-md-12">
                  <div class="inputer">
                    <div class="input-wrapper">
                      <%= f.text_field :name, type: "text", class: "form-control", placeholder: "" %>
                    </div>
                  </div>
                </div>
              </div>

              <br/>

              <div class="row example-row no-margin">
                <div class="col-md-12">Document Description</div>
                <div class="col-md-12">
                  <div class="inputer">
                    <div class="input-wrapper">
                      <%= f.text_area :description, type: "text", class: "form-control", placeholder: "" %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt10">
                <div class="col-md-12">
                  <%= f.submit "Create Document", class: "btn btn-blue btn-block mt20 create_document" %>
                </div>
              </div>
            </div>
          </div>
          <% end %> 
        </div>
      <% end %>

      <div class="col-lg-9">
        <div class="panel box-shadow-ccc">
          <div class="panel-heading">
            <div class="panel-title">
              <h4 class="semi-bold">All Documents</h4>
            </div>
          </div>
          <div class="panel-body pb40">
            <div class="">
              <table id="document-list" class="table table-hover table-condensed" id="example">
                <thead>
                  <tr>
                    <th class="semi-bold h6 text-muted">Name</th>
                    <th class="semi-bold h6 text-muted">Description</th>
                    <th class="semi-bold h6 text-muted">File</th>
                    <th class="semi-bold h6 text-muted">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @documents %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
