<div id="about" class="tab-pane active">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header full-content parallax mb0">
				<%= render "schools/show/header" %>
			</div><!--.page-header-->
		</div>
	</div>
	<div class="row tab-top-margin">
		<div class="col-md-4" style="margin-top: -249px;">
			<div class="row">
				<div class="col-md-12">
					<div class="card tile card-post" style="border-top: 3px solid #ccc;">
						<div class="card-heading pl40 pr40">
							<% if current_user %>
	             <% if current_user.admin? or current_user.can_edit_school?(@school)%>
	                <button href="" class="pull-right btn bt-xs btn-grey button-striped button-full-striped btn-ripple fs_14">
	                  <a href="<%= edit_school_path(@school)%>">
	                    <span class="text-muted">
	                    	<i class="ion-gear-b fs_16 mr5"></i> Edit Profile
	                    </span>
	                  </a>
	                  </button>
	              <% end %>
	            <% end %>
	            <!-- <img src="../../assets/globals/img/faces/14.jpg" class="user-image" alt=""> -->
	            			<p class="author">
								<a href="#">
								<i class="ion-ionic mr5"></i>
								<%= pluralize @school.number_of_people_online, "Person" %> Online</a> 
							</p>
							<% if @school.number_of_people_online > 0 %>
							<p class="fs_11 time">Last activity: <%= format(@school.last_activity, 4) %>, <%= format(@school.last_activity, 9) %></p>
							<% end %>
						</div><!--.card-heading-->
						<hr class="light mt0"/>
						<div class="card-body pl40 pr40">
							<h3 class="semi-bold capitalize text-black no-margin lh_34">
								<%= @school.name %>
							</h3>
							<p class="semi-bold small text-muted no-margin fs_14">
								<span class="inline">
									<i class="ion-ios-telephone fs_16 text-primary mr5"></i>
									<%= @school.phone_number %> 
								</span>

								<span class="inline mr10 ml10 text-muted">|</span>

								<span class="inline">
									<i class="ion-monitor fs_16 text-primary mr5"></i>
									<a href="<%= @school.website %>">Website</a>
								</span>

								<span class="inline mr10 ml10 text-muted">|</span>

								<span class="inline">
									<i class="ion-email fs_20 text-primary mr5 v-align-middle"></i>
									<%= @school.email %> Email
								</span>
							</p>
								
							<p class="fs_14 lh_18 text-muted mb20 mt10">
								<%= @school.description %>
							</p>
						</div>
						<hr class="light mt15 mb15"/>
						<div class="card-heading pl40 pr40">
							<p class="author lh_26">
								<a href="#" class="semi-bold"><i class="ion-map mr10"></i>Location & Map</a> 
							</p>
							<p class="no-margin fs_14 text-muted">
								<i class="ion-location"></i> <%= @school.address_1 %>, <%= @school.city %>, <%= @school.state %>, <%= @school.zip %>
							</p>
							<hr class="light mt10 mb5"/>
						</div>
						<div class="card-body pl40 pr40">
							<%= gmaps("map_options" => { "detect_location" => true, "auto_zoom" => false, "center_on_user" => false, "zoom" => 15, "maxZoom" => 15, "minZoom" => 3},"markers" => { "data" => @json }) %>
						</div>
						<hr class="light mt15 mb15"/>
						<div class="card-body pl40 pr40">
							<% if @school.general_information_present? %>
							<h6 class="upper text-muted bold mt0"><small>general information</small></h6>
							<div class="clearfix">
								<% if @school.number_of_students.present? %>
								<p class="semi-bold fs_14 text-muted no-margin">
									<i class="ion-university fs_20 text-primary mr5"></i>
									Public School - <%= pluralize @school.number_of_students, "Student"  %>
								</p>
								<% end %>
								<% if @school.motto.present? %>
								<p class="semi-bold small fs_14 text-muted no-margin">
									<i class="ion-quote fs_20 text-primary mr5"></i>
									Motto - <%= @school.motto %>
								</p>
								<% end %>
								<% if @school.colors.present? %>
								<p class="semi-bold small fs_14 text-muted no-margin">
									<i class="ion-speakerphone fs_20 text-primary mr5"></i>
									<%= @school.colors %>
								</p>
								<% end %>
								<% if @school.number_of_teams.present? %>
								<p class="semi-bold small fs_14 text-muted no-margin">
									<i class="ion-document-text fs_20 text-primary mr5"></i>
									<%= pluralize @school.number_of_teams, "Sports Team"  %>
								</p>
								<% end %>
								<% if @school.mascot.present? %>
								<p class="semi-bold small fs_14 text-muted no-margin">
									<i class="ion-flag fs_20 text-primary mr5"></i>
									Mascot - <%= @school.mascot %>
								</p>
								<% end %>
							</div>
							<% end %>
						</div>
						<hr class="light mt15 mb15"/>
							<div class="card-heading pl40 pr40">
								<p class="author">
									<a href="#">
									<i class="ion-trophy mr5"></i>
									Academic and Athletic Achievements</a> 
								</p>
							</div>
							<div class="card-body pl40 pr40">
							<h6 class="upper text-muted bold mt0"><small>School Awards</small></h6>
							<!-- these must stay together as an interator -->
							<table class="table table-hover bgcolor-white box-shadow-ccc">
								<thead>
									<th><span class="text-muted semi-bold fs_12">Award/Distinction</span></th>
									<th><span class="text-muted semi-bold fs_12">Year</span></th>
								</thead>
								<tbody>
									<%# @user.certificates.each do |certificate| %>
										<tr>
											<td><span class="fs_12"><%#= certificate.certification.name %></span></td>
											<td><span class="fs_12"><%#= certificate.expiration %></span></td>
										</tr>
									<%# end %>
								</tbody>
							</table>
						</div>
						<hr class="light mt15 mb15"/>
						<div class="card-body pl40 pr40">
							<h6 class="upper text-muted bold no-margin"><small><SPAN></SPAN>Sports Team Awards & Distinctions</small></h6>
							<!-- these must stay together as an interator -->
							<div class="clearfix">
								<table class="table table-hover bgcolor-white box-shadow-ccc">
									<thead>
										<th><span class="text-muted semi-bold fs_12">Team</span></th>
										<th><span class="text-muted semi-bold fs_12">Award</span></th>
										<th><span class="text-muted semi-bold fs_12">Year</span></th>
									</thead>
									<tbody>
										<%# @user.measurables.each do |measurable| %>
											<tr>
												<td><span class="fs_12"><%#= measurable.measurable %></span></td>
												<td><span class="fs_12"><%#= measurable.sport %></span></td>
												<td><span class="fs_12"><%#= measurable.result %></span></td>
											</tr>
										<%# end %>
									</tbody>
								</table>
							</div>

							<br/>
							<h6 class="upper text-muted bold no-margin"><small><SPAN></SPAN>Individual Athlete Awards & Distinctions</small></h6>
							<!-- these must stay together as an interator -->
							<div class="clearfix">
								<table class="table table-hover bgcolor-white box-shadow-ccc">
									<thead>
										<th><span class="text-muted semi-bold fs_12">Athlete</span></th>
										<th><span class="text-muted semi-bold fs_12">Award</span></th>
										<th><span class="text-muted semi-bold fs_12">Year</span></th>
									</thead>
									<tbody>
										<%# @user.measurables.each do |measurable| %>
											<tr>
												<td><span class="fs_12"><%#= measurable.measurable %></span></td>
												<td><span class="fs_12"><%#= measurable.sport %></span></td>
												<td><span class="fs_12"><%#= measurable.result %></span></td>
											</tr>
										<%# end %>
									</tbody>
								</table>
							</div>
							<!-- <h6 class="upper text-muted bold no-margin"><small>My favorites</small></h6> -->
							<%#= @user.profile.hudl %>
							<%#= @user.profile.favorite_pro_team %>													
							<%#= @user.profile.favorite_college_team %>
							<%#= @user.profile.favorite_pro_athlete %>	
						</div><!--.card-body-->
						<div class="card-footer mt20 pl40 pr40">
							<% if @school.social_media_present? %>
							<h6 class="upper text-muted bold"><small>social profiles</small></h6>
								  <% @school.facebook.present? %>	
								    <% if @school.facebook.present? %>	
										<%=  link_to @school.facebook, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
											<i class="ion-social-facebook"></i>
										<% end %>
									<% end %>
					
									<% if @school.linkedin.present? %>	
										<%=  link_to @school.linkedin, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
											<i class="ion-social-linkedin"></i>
										<% end %>
									<% end %>
								
					            <% if @school.youtube.present? %>
										<%=  link_to @school.youtube, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
											<i class="ion-social-youtube"></i>
										<% end %>
								<% end %>
								
								<% if @school.twitter.present? %>
										<%=  link_to @school.twitter, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
											<i class="ion-social-twitter"></i>
										<% end %>
								<% end %>
								
								<% if @school.instagram.present? %>
										<%=  link_to @school.instagram, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
											<i class="ion-social-instagram"></i>
										<% end %>
								<% end %>
								
								<% if @school.pinterest.present? %>
										<%=  link_to @school.pinterest, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
											<i class="ion-social-pinterest"></i>
										<% end %>
								<% end %>
							</p>
							<% end  %>
						</div><!--.card-footer-->
					</div><!--.card-->
				</div><!--.col-md-6-->

				
				<!-- My Schedule -->
			</div>
		</div>
		<div class="col-md-8">
			<!-- My teammates -->
			<div class="col-md-12">
				<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
					<div class="card-heading" style="border-top: 3px solid #ccc;">
						<h6 class="semi-bold fs_14 mb0"><%= @school.name %></h6>
						<h3 class="card-title">Student-Athletes</h3>
						<!-- <div class="card-subhead">
						 <a href="#">124 Students</a>
						</div> -->
						<!--.card-subhead-->
					</div><!--.card-heading-->
					<div class="card-body">
						<ul class="users expanded">
							<% @athletes.each do |user| %>
							<li>
								<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
									<%= image_tag user.avatar %>
								</a>
							</li>
							<% end %>
							
							<% @userless_athletes.each do |user| %>
							<li>
								<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.first %> <%= user.last %>">
									<%= image_tag "http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-md.png" %>
								</a>
							</li>
							<% end %>
						</ul>
					</div><!--.card-body-->
					<div class="card-footer">
						<ul>
							<li><span class="mr5 fs_14"><%= pluralize [@athletes.count, @userless_athletes.count].sum, "Student-Athlete"  %></span></li>
							<li><a href="#people" data-toggle="tab" class="fs_14">View All</a></li>
						</ul>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-12-->
			<!-- My teammates -->

				<!-- My teams -->
				<div class="col-md-6">
				<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
					<div class="card-heading" style="border-top: 3px solid #ccc;">
						<h6 class="semi-bold fs_14 mb0"><%= @school.name %></h6>
						<h3 class="card-title">Our Sports Teams</h3>
						<!-- <div class="card-subhead">
						 <a href="#">
						 	<span class="text-muted">
						 		36 Teams - 10 Freshman, 10 Junior Varsity, 10 Varsity
						 	</span>
						 	</a>
						</div> -->
						<!--.card-subhead-->
					</div><!--.card-heading-->
					<div class="card-body">
						<ul class="list-material borderless">
							<% @teams.each do |team| %>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<%= image_tag("http://www.oxtonhc.co.uk/wp-content/themes/oxtonhc/library/images/team-placeholder.jpg", class: "face-radius")%>
									</div>
									<div class="list-content">
										<span class="title"><%= team.name %></span>
										<span class="fs_11 text-muted"><%= pluralize team.accepted_coach_relationships.count, "Coach" %>, 
											<%= pluralize team.accepted_athlete_relationships.count, "Player" %>, <%= pluralize team.accepted_manager_relationships.count, "Manager" %>, <%= pluralize team.accepted_trainer_relationships.count, "Trainer" %></span>
									</div>
								</a>
							</li>
							<ul class="users" style="border-bottom: 1px solid #ddd;">
								<% @coaches.each do |user| %>
									<li>
										<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
											<%= image_tag user.avatar %>
										</a>
									</li>
								<% end %>
								<% @athletes.each do |user| %>
									<li>
										<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
											<%= image_tag user.avatar %>
										</a>
									</li>
								<% end %>
							</ul>

							<li class="divider with-border no-padding no-margin">
							</li>
							<% end %>
				

						</ul>
					</div><!--.card-body-->
					<hr class="no-margin"/>
					<div class="card-footer">
						<ul>
							<li class="fs_14"><span class="mr5"><%= pluralize @teams.count, "Sports Team" %></span></li>
								<li><a href="#teams" data-toggle="tab" class="fs_14">View All Teams</a></li>
								
						
						</ul>
					</div><!--.card-footer-->
				</div><!--.card-->
				</div><!--.col-md-12-->
				<!-- My teams -->

				<!-- My Schedule -->
				<div class="col-md-6">
					<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
						<div class="card-heading" style="border-top: 3px solid #ccc;">
							<h6 class="semi-bold fs_14 mb0"><%= @school.name %></h6>
							<h3 class="card-title">Upcoming Events</h3>
							<!-- <div class="card-subhead">
							 <a href="#">7 Upcoming Events</a>
							</div> -->
							<!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body pl40">
							<div class="timeline single">
				              <%= render 'shared/show_view_events', object: @school %>
							</div>
						</div>
						<hr class="no-margin"/>
						
						<div class="card-footer">
							<ul>
								<li class="fs_14"><span class="mr5"><%= pluralize @school.upcoming_events.count, "Upcoming Event" %></span></li>
								<li><a href="#calendar-tab" data-toggle="tab" class="fs_14">View All Events</a></li>
								
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
				</div><!--.timeline-->
			</div>
		</div><!--.col-md-12-->
		<!-- My Schedule -->
	</div>
</div>