<div id="about" class="tab-pane active">
	<div class="row pt40">
		<div class="col-lg-12">
			<div class="panel">
				<div class="panel-body">
					<div class="row contact-us">
						<div class="col-md-12 col-sm-12">
							<div class="row">
								<div class="col-md-6">
									<div class="address">
										<h3 class="bold no-margin"><%= @school.name %></h3>
										<span class="ion-university mr5"></span> <%= @school.classification %><br>
										<span class="ion-location mr5"></span> <%= @school.address_1 %>
										<%= @school.city %>, <%= @school.state %>, <%= @school.zip %>
									</div>
								</div><!--.col-md-3-->
								<div class="col-md-3">
									<div class="address">
										<h4>Phone</h4>
										<span class="fa fa-phone m-r-5"></span>
										<%= @school.phone_number %><br>
										<span class="fa fa-clock-o m-r-5"></span>
										8am - 5pm<br>
									</div>
								</div><!--.col-md-3-->
								<div class="col-md-3">
									<div class="address">
										<h4>Online</h4>
										<span class="fa fa-desktop m-r-5"></span>
										<%= @school.website %><br>
										<span class="fa fa-envelope m-r-5"></span>
										<%= @school.email %><br>
									</div>
								</div><!--.col-md-3-->
							</div><!--.row-->
						</div><!--col-->
					</div><!--.row-->

					<hr/>

					<div class="col-md-12">
  						<%= gmaps("map_options" => { "detect_location" => true, "auto_zoom" => false, "center_on_user" => false, "zoom" => 15, "maxZoom" => 15, "minZoom" => 3},"markers" => { "data" => @json }) %>
					</div><!--.col-->
					
				</div><!--.panel-body-->
			</div><!--.panel-->
		</div><!--.col-md-12-->
	</div><!--.row-->
</div>
<!--#following.tab-pane-->
