<%= render 'shared/background_photo_tab', photo_owner: @school %>

<div class="bg-overlay"></div>

<div class="social-buttons">
	<%= render 'shared/fan' %>
</div>

<div class="row">
	<div class="col-sm-6">
	  <%= render 'shared/upcoming_event', object: @school %>
	</div><!--.col-->
	<div class="col-sm-6">
		<ol class="breadcrumb">
			<li><a href="/"><i class="ion-home"></i></a></li>
			<li><a href="<%= schools_path %>">Schools</a></li>
			<li><a href="#" class="active"><%= @school.name %></a></li>
		</ol>
	</div><!--.col-->
</div><!--.row-->

