		                  	<tr>
			                    <td class="v-align-middle">
			                    	<%= link_to certification.name, certification_path(certification) %>
			                    </td>
			                    <td class="v-align-middle">
			                    	<%= certification.issuer %>
			                    </td>
			                     <td class="v-align-middle">
			                    	<h5 class="semi-bold muted"><%#= tag.sub_category%></h4>
			                    </td>
			                    <td class="v-align-middle">
			                    	<div class="row clearfix">
			                    		<div class="col-md-6">
				                    		<%= link_to "Delete", certification, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-block btn-small btn-danger" %>
				                    	</div>
				                    	<div class="col-md-6">
				                    		<%= render 'edit_certification', certification: certification %>
				                    		<button class="btn btn-block btn-small btn-success row" data-toggle="modal" data-target="#<%= certification.id %>"> Edit</button>
				                    	</div>
				                    </div>
			                    </td>
			                </tr>
	                	