<div class="row mb5">
	<div class="col-md-8">
	 	<%= object.name %> 
	 	<%= hidden_field_tag :object, "#{object.class.to_s}" %>
	 	<%= hidden_field_tag :id, object.id %>
	</div>
	<div class="col-md-2">
		<%= text_field_tag :price, object.price, class: "form-control input-sm", placeholder: "$0.00"	%>
	</div>
	<div class="col-md-2">
		<%= submit_tag "#{params[:event].present? ? "Update" : "Add"} Price", class: "btn btn-#{params[:event].present? ? 'success btn-block pull-right btn-sm' : 'primary btn-block pull-right btn-sm'}"  %>
	</div>
</div>