<div class="content">
  <div class="page-header full-content bg-primary mb0">
    <div class="row">
      <div class="col-sm-4">
        <div class="logo text-white">
          <%= image_tag("icons/flag.png", height: "15", class: "margin-right-5", style: "margin-top: -5px; width: 15px;") %>
          SportsMarkit
        </div><!--.logo-->
        <h1>Our Sports Community <small class="ml5"><%= User.all.count%> people</small></h1>
      </div><!--.col-->
      <div class="col-sm-4">
          
      </div>
      <div class="col-sm-4">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= users_path %>" class="active">Our Community</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->


  <div class="row pt60">
		<div id="progress-bar"></div>
		<div class="col-md-6 col-md-offset-3">
			<div class="panel">
				<div class="panel-heading">
					<%#= text_field_tag :search, "",  id: "school-pricings-search-box" %>
					
					<div class="panel-title"><h4>SET PRICING</h4></div><!--.panel-title-->
				
					<ul class="nav nav-tabs with-panel" id="object-labels">
						<%= render 'labels' %>
					</ul>
					
				</div><!--.panel-heading-->
				<div class="panel-body" id="objects">
					<table class="table table table-bordered table-striped table-condensed" id="pricing-table">
					  <tbody>
							<%= render 'pricings/list', objects: @schools %>
					  </tbody>
					</table>
				</div><!--.panel-body-->
			</div><!--.panel-->
		</div><!--.col-->
	</div>
</div>



