      <div class="panel-body margin-top-10">
	    	<div class="row">
				<div class="col-lg-10 col-lg-offset-1">

					<div class="row">
						<div class="pull-left">
							<%= image_tag(@user.avatar, class: "img-circle margin-left-20 margin-right-20", height: "65", width: "65" ) %>
						</div>
						<div class="pull-left">
							<% if @user.first_name.present? %>
					          <h4 class="margin-bottom-5"><%= @user.full_name %></h4>
					        <% else %>
					          <h4 class="margin-bottom-5">My Profile</h4>
					        <% end %>
					        <p class="small">Athlete Profile Setup</p>
						</div>
					</div>

					<div class="note note-warning note-left-striped">
						<h4>Adding teams to your athlete profile.</h4>
						<p class="small text-grey">
							Use the search box below to find your teams. Once added, the team administrator will be notified of your request to join that team. In the meantime, your status will be pending.
						</p>
					</div>

					<hr class="no-margin"/>
					<br/>
					<div class="row well padding-bottom-0">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<h3 class="bold text-primary margin-top-10">
								<i class="ion ion-search margin-right-5"></i> Find your teams
							</h3>
						</div><!--.col-md-3-->
						<div class="col-lg-8 col-md-6 col-sm-12">
							<div class="inputer">
								<!-- isotope filtering and typeahead-->
								<textarea type="text" class="fs_30 lh_55 quicksearch-teams typeahead typeahead-teams form-control" rows="1" placeholder="start typing..."></textarea>
							</div>
						</div><!--.col-md-9-->
					</div><!--.row-->
					<hr class="margin-top-10"/>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">

					<h5 class="bold text-black">Your Teams
		   			<span class="small semi-bold text-orange">(<%=@user.relationships.where(participant: true).count %>)</span>
		       		</h5>
	        
	   				<div class="panel-body without-padding">
						
							<ul class="list-material" id="user-team-list">
				        <%= render 'setup/athlete_setup/user_non_school_team_list', users_non_schools_teams: @users_non_schools_teams %>
							</ul>
							
						</div><!--.panel-body-->
				</div>
		  </div>
		</div>

		<div class="bg-muted padding-top-40 padding-right-40 padding-left-40" style="background: #F7F7F7; height: 500px; overflow: scroll;">

			<div class="row teams images" id="non-school-team-list">
			<%= render 'setup/athlete_setup/non_school_team_list', non_school_teams: @non_school_teams %>
			</div>
			<div class="clearfix"></div>
		</div><!--.row-->

	
	
	
	
	
	