<h3 class="semi-bold">Bank Account Information</h3>

  <%= form_for([@bankable, @bank_account], :url => {:controller => "bank_account",:action => :create}, role: "form", html:{class: "bank_account_form"}) do |f| %>
      
      <div class="form-group">
        <label class="form-label control-label semi-bold">Name on Account</label>
        <%= f.text_field :name_on_account, class: "form-control", placeholder: "John Smith" %>
      </div>

      <div class="form-group">
        <label class="form-label control-label semi-bold">Routing Number</label>
        <%= text_field_tag :routing_number, nil, name: nil, required: true, class: "form-control", placeholder: "#########" %>
      </div>

      <div class="form-group">
        <label class="form-label control-label semi-bold">Account Number</label>
        <%= text_field_tag :account_number, nil, name: nil, required: true, class: "form-control", placeholder: "####-####-####-#####" %>
      </div>

      <div class="form-group">
        <div class="form-group p-t-10">
          <%= f.radio_button :category, 'individual' %>   
          <label class="form-label">Individual</label>                        

          <%= f.radio_button :category, 'corporation' %> 
          <label class="form-label">Corporation</label>
        </div>

        <%= hidden_field_tag :country, 'US', name: nil, required: true %>
        <%= hidden_field_tag :stripe_token %>
      </div>
 <%= f.submit value: "Add", class: "btn btn-success btn-cons" %>
<% end %>
