<%= form_for Classification.new, html: {method: :post, remote: true } do |f| %>
	<div class="row">
		<div class="col-md-6">
			<span class="h4 semi-bold text-black margin-left-20"><%= type %></span>
		</div>
		<div class="col-md-6">
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :classification, value: type %>
			<%= button_tag class: "btn btn-primary btn-block pull-right" do %>
			    Add Profile <i class="ion-plus-circled pull-right"></i>
			<% end %>
		</div>
	</div>
	<br/>
<% end %>