<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New School</h4>
      </div>
      <div class="modal-body">
		<%= form_for @school, html: {id: 'school-form', data: {remote: true}} do |f|   %>
		  Name: <%= f.text_field  :name  %><br><br>
		  
		  Classification: <%= f.text_field :classification %><br><br>
		  Abbreviation: <%= f.text_field :abbreviation %><br><br>
		  
		  Address: <%= f.text_field :address_1 %><br><br>
		  Address Line 2: <%= f.text_field :address_2 %><br><br>
		  City: <%= f.text_field :city %><br><br>
		  State: <%= f.text_field :state %><br><br>
		  Zip: <%= f.text_field :zip %><br><br>
		  Zip-ext: <%= f.text_field :zip_ext %><br><br>
		  
		  Website: <%= f.text_field :website %><br><br>
		  Email: <%= f.text_field :email %><br><br>
		  Phone Number: <%= f.text_field :phone_number %><br><br>
		  
		  Phone Number: <%= f.text_field :phone_number %><br><br>
		 
		  
		  
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"> <%= f.submit :submit %></button>
      </div>
    </div>
  </div>
</div>
<% end %>

