<div class="content">
	<div class="page-header full-content bg-primary" style="min-height: 141px;">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="capitalize">
					<%= @school.name %> 
					<small></small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= schools_path %>">Schools </a></li>
					<li><a href="<%= school_path %>"><%= @school.name %> </a></li>
					<li><a href="#" class="active">Edit</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#general" data-toggle="tab">General</a></li>
				<li><a href="#location" data-toggle="tab">Location</a></li>
				<li><a href="#contact" data-toggle="tab">Contact</a></li>
				<li><a href="#admin" data-toggle="tab">Admin</a></li>
				<li><a href="#media" data-toggle="tab">Media</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-body">

						<%= form_for @school, html: {id: 'school-form', data: {remote: true}} do |f|   %>

							<div class="tab-content with-panel">
								<div class="tab-pane active text-style" id="general">

									Name: <%= f.text_field  :name  %><br><br>
								  	Classification: <%= f.select :classification, [ 'College', 'High School', 'Middle School'], :prompt => 'Select One' %><br><br>
								  	Abbreviation: <%= f.text_field :abbreviation %><br><br>
		  
									
								</div><!--tab-pane-->

								<div class="tab-pane text-style" id="location">
									Address: <%= f.text_field :address_1 %><br><br>
									  Address Line 2: <%= f.text_field :address_2 %><br><br>
									  City: <%= f.text_field :city %><br><br>
									  State: <%= f.text_field :state %><br><br>
									  Zip: <%= f.text_field :zip %><br><br>
									  Zip-ext: <%= f.text_field :zip_ext %><br><br> 

								</div><!--tab-pane-->

								<div class="tab-pane text-style" id="contact">
									
									  Website: <%= f.text_field :website %><br><br>
									  Email: <%= f.text_field :email %><br><br>
									  Phone Number: <%= f.text_field :phone_number %><br><br>

								</div><!--.tab-pane-->
								<div class="tab-pane text-style" id="admin">
									<%= link_to "Add Teams", new_school_team_path(@school)%>
								</div><!--.tab-pane-->
							</div><!--.tab-content-->

							<%= f.submit class: "btn btn-primary" %>

						<% end %>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->
</div>
<!--.content-->

				
		
		
		
		  
		  
		  
		  