<style>
	.card-friend .friend-content {
	  margin-left: 170px;
	}

	.card-friend .user-photo {
	  float: left;
	  width: 160px;
	  height: auto;
	  border-radius: 3px 0 0 3px;
	}
</style>

<div class="content">
	<div class="page-header full-content parallax">
		<%= render "schools/show/header" %>
		<%= render "schools/show/tab_navigation" %>
	</div><!--.page-header-->

	<!-- main content div -->
  <div class="container">
    <div class="user-profile">
      <div class="row">
        <%= image_tag("thumbs/school.jpg", class: "col-md-2 img-thumbnail img-responsive b-rad-6", style: "margin-top: -180px; z-index: 99999;") %>
        <div class="col-md-10">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tab-content without-border">

						<!-- about -->
						<%= render "schools/show/about_tab" %>
						
						<!-- teams -->
						<%= render "schools/show/teams_tab" %>
						
						<!-- people -->
						<%= render "schools/show/people_tab" %>

						<!-- facilities -->
						<%= render "schools/show/facilities_tab" %>

						<!-- facilities -->
						<%= render "schools/show/calendar_tab" %>
						
						<!-- media -->
						<%= render "schools/show/media_tab" %>

						<!-- following -->
				    <%= render "schools/show/following_tab" %>

			      <!-- fans -->
			      <%= render "schools/show/fans_tab" %>
					
					</div><!--.tab-content-->
				</div><!--.col-->
			</div><!--.row-->
		</div>
	</div>

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->


