<style>
	.card-friend .friend-content {
	  margin-left: 180px;
	}

	.card-friend .user-photo {
	  float: left;
	  height: 160px;
	  width: 160px;
	  border-radius: 3px 0 0 3px;
	}
</style>

<div class="content">
	<div class="page-header full-content bg-primary mb0" style="min-height: 141px;">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="capitalize semi-bold">
					<%= @school.name %>
					<small></small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= facilities_path %>">Facilities</a></li>
					<li><a href="<%= facility_path %>"><%= @school.name %></a></li>
					<li><a href="#" class="active">Edit</a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active">
					<a href="#about" data-toggle="tab" class="btn-ripple">About</a>
				</li>
				<li>
					<a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a>
				</li>
				<li>
					<a href="#people" data-toggle="tab" class="btn-ripple">People</a>
				</li>
				<!-- <li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li> -->
				<li>
					<a href="#facilities" data-toggle="tab" class="btn-ripple">Facilities</a>
				</li>
				<li>
					<a href="#media" data-toggle="tab" class="btn-ripple">Media</a>
				</li>
				<li>
					<a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Calendar</a>
				</li>
				<% if false %>
				<li>
					<a href="#following" data-toggle="tab" class="btn-ripple">Following</a>
				</li>
				<% end %>
					<li>
					<a href="#fans" data-toggle="tab" class="btn-ripple">Fans</a>
				</li>
				<% if AthleticDirector.where(user_id: current_user.id, school_id: @school.id).present? %>
			  	<li>
			  		<a href="#certifications" data-toggle="tab" class="btn-ripple">Certifications</a>
			  	</li>
			  	<li>
					<% if current_user %>
					  <% if current_user.admin? or current_user.can_edit_school?(@school)%>
					    <button href="" class="ml10 mt15 btn btn-blue btn-ripple btn-xs">
					    	<%= link_to edit_school_path(@school) do %>
          	  		<span class=" text-white">
          	  			<span class="ion-gear-b mr5"></span> Edit</span>
              	<% end %>
              </button>
					  <% end %>
					<% end %>
				</li>
			<% end %>
		</div>
	</div><!--.page-header-->


	<!-- main content div -->
  <div class="container">
    <!-- <div class="user-profile">
      <div class="row">
        <%= image_tag("thumbs/school.jpg", class: "col-md-2 img-thumbnail img-responsive b-rad-6", style: "margin-top: -180px; z-index: 99999;  min-width; 195px; min-height: 195px;") %>
      </div>
  	</div> -->
	</div>
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content without-border">

			<!-- about -->
			<%= render "schools/show/about_tab" %>
			
			<!-- teams -->
			<%= render "schools/show/teams_tab" %>
			
			<!-- people -->
			<%= render "schools/show/people_tab" %>

			<!-- facilities -->
			<%= render "schools/show/facilities_tab" %>

			<!-- facilities -->
			<%= render "schools/show/calendar_tab" %>
			
			<!-- media -->
			<%= render "schools/show/media_tab" %>

			<% if false %>	<!-- following -->
		    <%= render "schools/show/following_tab" %>
			<% end %>
			
			<%= render "schools/show/certifications_tab"%>

	      <!-- fans -->
	      <%= render "schools/show/fans_tab" %>
			
			</div><!--.tab-content-->
		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->


