<style>
	.card-friend .friend-content {
	  margin-left: 170px;
	}

	.card-friend .user-photo {
	  float: left;
	  width: 160px;
	  height: auto;
	  border-radius: 3px 0 0 3px;
	}
</style>

<div class="content">
	<div class="page-header full-content parallax">
		
    <%= render 'shared/background_photo_tab', photo_owner: @school %>

		<div class="bg-overlay"></div>
		
		<div class="profile-info">
			<div class="profile-photo">
				<img src="<%= image_path("thumbs/school.jpg") %>" alt="">
			</div><!--.profile-photo-->
			<div class="profile-text light capitalize">
				<%= @school.name %>
				<span class="caption">
					<%= @school.address_1 %><br>
					<%= @school.city %>, <%= @school.state %>
				</span>
			</div><!--.profile-text-->
		</div><!--.profile-info-->

		<div class="social-buttons">
			<%= render 'shared/fan' %>
		</div>

		<div class="row">
			<div class="col-sm-6">
			  <%= render 'shared/upcoming_event', object: @school %>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= schools_path %>">Schools</a></li>
					<li><a href="#" class="active"><%= @school.name %></a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
				<li class="active"><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
				<li><a href="#people" data-toggle="tab" class="btn-ripple">People</a></li>
				<!-- <li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li> -->
				<li><a href="#facilities" data-toggle="tab" class="btn-ripple">Facilities</a></li>
				<li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
        <li><a href="#calendar-tab" data-toggle="tab" class="btn-ripple">Calendar</a></li>

        <% if AthleticDirector.where(user_id: current_user.id, school_id: @school.id).present? %>
				  <li><a href="#certifications" data-toggle="tab" class="btn-ripple">Certifications</a></li>
				<% end %>
			</ul>
		</div>
	</div><!--.page-header-->

	<div class="row user-profile">
		<div class="col-md-12">
			<div class="tab-content without-border">
				

				<!-- following -->
				<div id="about" class="tab-pane">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12">
							<div class="panel">
								<div class="panel-body">
									<div class="row contact-us">
										
										<br/>
										<div class="col-md-3 col-sm-12">
											<h2 class="text-center">
												Contact
											</h2>
										</div><!--.col-->
										<div class="col-md-9 col-sm-12">
											<div class="row">
												<div class="col-md-4 ">
													<div class="address">
														<h4>Address</h4>
														<%= @school.address_1 %><br>
														<%= @school.city %>, <%= @school.state %>, <%= @school.zip %>
													</div>
												</div><!--.col-md-3-->
												<div class="col-md-4">
													<div class="address">
														<h4>Phone</h4>
														<span class="fa fa-phone m-r-5"></span>
														<%= @school.phone_number %><br>
														<span class="fa fa-clock-o m-r-5"></span>
														8am - 5pm<br>
													</div>
												</div><!--.col-md-3-->
												<div class="col-md-4">
													<div class="address">
														<h4>Online</h4>
														<span class="fa fa-desktop m-r-5"></span>
														<%= @school.website %><br>
														<span class="fa fa-envelope m-r-5"></span>
														<%= @school.email %><br>
													</div>
												</div><!--.col-md-3-->
											</div><!--.row-->
										</div><!--col-->
									</div><!--.row-->

									<hr/>

									<div class="col-md-12">
                  						<%= gmaps4rails(@json) %>
									</div><!--.col-->
									
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div><!--.col-md-12-->
					</div><!--.row-->
				</div>
				<!--#following.tab-pane-->

				<!-- teams -->
				<div id="teams" class="tab-pane active">

					<div class="row">
						<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 well">
							<h3 class="center">
								<i class="ion-search margin-right-20 text-blue"></i>	
								Quickly find a team
							</h3>
							<div class="btn-group btn-block">
								<button type="button" class="btn btn-block btn-white dropdown-toggle" data-toggle="dropdown">
								Select a Team <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<% @teams.each do |team| %>
										<li>
											<%= link_to team_path(team) do %>
									  			<%= team.name %>
									  		<% end %>
									  	</li>
									<% end %>
								</ul>
							</div><!--.btn-group-->
						</div><!--.col-md-9-->
					</div>
					<br/>
					<div class="row teams">
					<%= render 'shared/team_rosters' %>
						
	
					</div>
					<!-- <ul class="list-material">
						<% @teams.each do |team| %>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<i class="ion-university icon-circle"></i>
									</div>
									<div class="list-content">
										<span class="title">
											<%= link_to team.name, "/teams/#{team.slug}" %>
										</span>
										<span class="caption">Basketball</span>
									</div>
									<div class="list-action-right">
										<span class="top">15 min</span>
										<i class="ion-android-done bottom"></i>
									</div>
								</a>
							</li>
						<% end %>
					</ul> -->
				</div>
				<!--#teams.tab-pane-->

				<!-- people -->
				<div id="people" class="tab-pane">
					
	               <%= render 'shared/people' %>
						<!-- <ul class="list-material has-hidden">
							<%# @people.each do |person| %>
					       		<%#= render 'person', person: person %>
					    	<%# end %>
						</ul> -->
				</div>
				<!--#roster.tab-pane-->

				<!--#events.tab-pane-->
				<% if AthleticDirector.where(user_id: current_user.id, school_id: @school.id).present? %>
					<!-- certifications -->
					<div id="certifications" class="tab-pane">
						
						<% @certifications.each do |cert| %>
						
							certification: <%= cert.certification.name %><br>
							issuer: <%= cert.certification.issuer %><br>
							user: <%= cert.user.full_name %><br>
							expiration: <%= cert.expiration %><br>
							send notification: <%=  %><br>
							<br><br>

						<% end %>
						
					</div>
					<!--#certfications.tab-pane-->
				<% end %>

				<!-- facilities -->
				<div id="facilities" class="tab-pane">
					<%= render 'shared/facilities', facilities: @facilities %>
				</div>
				<!--#facilities.tab-pane-->
        <div id="calendar-tab" class="tab-pane">

          <div class="row">
            <%= render 'shared/calendar', eventable: @school %>
          </div>

        </div>
				<!-- media -->
				<div id="media" class="tab-pane">

					<div class="row">
	
                    <%= render 'shared/media' %>
						
					</div>

				</div>

				<!-- roster -->
				<div id="certifications" class="tab-pane">

					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
							<h3>
								<i class="ion-paperclip text-primary margin-right-20"></i>
								Certifications 
							</h3>
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
									</div>
								</div><!--.panel-heading-->
								<div class="panel-body without-padding">
									<ul class="list-material has-hidden">
										
									</ul>
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div>
						<!--#roster.tab-pane-->
					</div>
				</div>
				
			</div><!--.tab-content-->
		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->


