<div class="content">

	<div class="page-header full-content parallax" style="height: 600px; overflow: hidden">
		
		<div class="parallax-bg" style="background: url(<%= background_url(@school) %>) 50% 50%; background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
		</div>

		<div class="bg-overlay"></div><!--.bg-overlay-->


		<div class="profile-info">
			<div class="profile-photo">
				<img src="<%= image_path("thumbs/school.jpg") %>" alt="">
			</div><!--.profile-photo-->
			<div class="profile-text light capitalize">
				<%= @school.name %>
				<span class="caption">
					<%= @school.address_1 %><br>
					<%= @school.city %>, <%= @school.state %>
				</span>
			</div><!--.profile-text-->
		</div><!--.profile-info-->

		<div class="social-buttons">
			<%= render 'shared/fan' %>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h1>
					<i class="ion-calendar m-r-5"></i>
					Upcoming event 
					<small><% if @school.upcoming_events.empty? %>
						[<%= @school.next_event %>]
						<% else %>
						[<%= link_to @school.next_event, event_path(@school.upcoming_events.first.friendly_id) %>]
						<% end %>
					</small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= schools_path %>">Schools</a></li>
					<li><a href="#" class="active"><%= @school.name %></a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li class="active"><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
				<li><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
				<li><a href="#people" data-toggle="tab" class="btn-ripple">People</a></li>
				<li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li>
				<li><a href="#facilities" data-toggle="tab" class="btn-ripple">Facilities</a></li>
				<li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
				<li><a href="#photo" data-toggle="tab" class="btn-ripple">Photo</a></li>
			</ul>
		</div>
	</div><!--.page-header-->

	<div class="row user-profile">
		<div class="col-md-12">
			<div class="tab-content without-border">
				

				<!-- following -->
				<div id="about" class="tab-pane active">

					<div class="row">
						<div class="col-md-12">
							<div class="panel">
								<div class="panel-body">
									<div class="row contact-us">
										
										<br/>
										<div class="col-md-3 col-sm-12">
											<h2 class="text-center">
												Contact
											</h2>
										</div><!--.col-->
										<div class="col-md-9 col-sm-12">
											<div class="row">
												<div class="col-md-4 ">
													<div class="address">
														<h4>Address</h4>
														<%= @school.address_1 %><br>
														<%= @school.city %>, <%= @school.state %>, <%= @school.zip %>
													</div>
												</div><!--.col-md-3-->
												<div class="col-md-4">
													<div class="address">
														<h4>Phone</h4>
														<span class="fa fa-phone m-r-5"></span>
														<%= @school.phone_number %><br>
														<span class="fa fa-clock-o m-r-5"></span>
														8am - 5pm<br>
													</div>
												</div><!--.col-md-3-->
												<div class="col-md-4">
													<div class="address">
														<h4>Online</h4>
														<span class="fa fa-desktop m-r-5"></span>
														<%= @school.website %><br>
														<span class="fa fa-envelope m-r-5"></span>
														<%= @school.email %><br>
													</div>
												</div><!--.col-md-3-->
											</div><!--.row-->
										</div><!--col-->
									</div><!--.row-->

									<hr/>

									<div class="col-md-12">
                  						<%= gmaps4rails(@json) %>
									</div><!--.col-->
									
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div><!--.col-md-12-->
					</div><!--.row-->
				</div>
				<!--#following.tab-pane-->

				<!-- teams -->
				<div id="teams" class="tab-pane">

					<div class="panel">
						<div class="panel-body without-padding">
							<ul class="list-material">
								
								<% @teams.each do |team| %>

									<li class="has-action-left has-action-right">
										<a href="#" class="visible">
											<div class="list-action-left">
												<i class="ion-university icon-circle"></i>
											</div>
											<div class="list-content">
												<span class="title">
													<%= link_to team.name, "/teams/#{team.slug}" %>
												</span>
												<span class="caption">Basketball</span>
											</div>
											<div class="list-action-right">
												<span class="top">15 min</span>
												<i class="ion-android-done bottom"></i>
											</div>
										</a>
									</li>

								<% end %>

							</ul>
						</div><!--.panel-body-->
					</div><!--.panel-->
				</div>
				<!--#teams.tab-pane-->

				<!-- people -->
				<div id="people" class="tab-pane">
					<div class="panel">
						<div class="panel-body without-padding">
							<ul class="list-material has-hidden">
								<% @people.each do |person| %>
						       		<%= render 'person', person: person %>
						    	<% end %>
							</ul>
						</div><!--.panel-body-->
					</div><!--.panel-->
				</div>
				<!--#roster.tab-pane-->
				
				<!-- events -->
				<div id="events" class="tab-pane">
					
					<% @events.each do |event| %>
						<div class="col-md-6">
							<div class="card card-event card-clickable">

								<div class="card-heading bg-image sample-bg-image13" style="">
								</div><!--.card-heading-->

								<div class="card-body">
									<div class="calendar">
										<div class="month">November</div>
										<div class="date">27</div>
									</div><!--.calendar-->
									<h4 style="margin-bottom: 0;">
										<%= link_to event.title,  "/events/#{event.slug}" %>
									</h4>
									<p>
										<%= event.event_type %>
									</p>
									<h5 class="h6 text-primary bold">
										<%= format(event.starts_at, 4) %>
										<%= format(event.starts_at, 8) %>
										- 
										<%= format(event.ends_at, 4) %>
										<%= format(event.ends_at, 8) %>
									</h5>
								</div><!--.card-body-->

								<div class="clickable-button">
									<div class="layer bg-primary"></div>
									<a class="btn btn-floating btn-primary initial-position floating-open"><i class="ion-android-more-horizontal"></i></a>
								</div>

								<div class="layered-content bg-red">
									<div class="overflow-content">
										<h4>How Many People Are Attending?</h4>
										<%= event.people_that_are_going.count %>
									</div><!--.overflow-content-->
									<div class="clickable-close-button">
										<a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
									</div>
								</div>
							</div><!--.card-->
						</div><!--.col-md-6-->
					<% end %>
					
				</div>


				<!--#events.tab-pane-->

				<!-- facilities -->
				<div id="facilities" class="tab-pane">
					<% @facilities.each do |facility| %>
					
					<%= link_to facility.name, "/facilities/#{facility.slug}" %>
					
					<% end %>
				</div>
				<!--#facilities.tab-pane-->

				<!-- media -->
				<div id="media" class="tab-pane">

				</div>
				<!--#media.tab-pane-->
        <div id="photo" class="tab-pane">
          <%= form_for [@school, @school.main_photo], html: { multipart: true } do |f| %>
            <div class="fileinput fileinput-new" data-provides="fileinput">

              <div id="photo_image" class="jcrop-preimage jcrop-server fileinput-preview" data-trigger="fileinput">
                <%= image_tag @school.main_photo.image.url(:cropped) %>
              </div>

              <div id="preview-pane" style="right: -800px; display: none;">
                <div class="preview-container" style="width: 600px; height: 200px;">
                  <%= image_tag @school.main_photo.image.url(:cropped), style: 'width: 600px; height: 200px;' %>
                </div>
              </div>

              <div>
                <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="photo[image]"></span>
                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                <%= f.hidden_field :main, value: true %>
                <%= f.hidden_field :image_crop_x, id: :f_x %>
                <%= f.hidden_field :image_crop_y, id: :f_y %>
                <%= f.hidden_field :image_crop_w, id: :f_w %>
                <%= f.hidden_field :image_crop_h, id: :f_h %>
                <%= f.submit class: 'btn btn-primary' %>
                <%= link_to "Crop", '#', id: 'crop-image', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>

        </div>
			</div><!--.tab-content-->
		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->










