<style>
	.card-friend .friend-content {
	  margin-left: 170px;
	}

	.card-friend .user-photo {
	  float: left;
	  width: 160px;
	  height: auto;
	  border-radius: 3px 0 0 3px;
	}
</style>

<div class="content">
	<div class="page-header full-content parallax">
		
    <%= render 'shared/background_photo_tab', photo_owner: @school %>

		<!--<div class="bg-overlay"></div>&lt;!&ndash;.bg-overlay&ndash;&gt;-->


		<div class="profile-info">
			<div class="profile-photo">
				<img src="<%= image_path("thumbs/school.jpg") %>" alt="">
			</div><!--.profile-photo-->
			<div class="profile-text light capitalize">
				<%= @school.name %>
				<span class="caption">
					<%= @school.address_1 %><br>
					<%= @school.city %>, <%= @school.state %>
				</span>
			</div><!--.profile-text-->
		</div><!--.profile-info-->

		<div class="social-buttons">
			<%= render 'shared/fan' %>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h1>
					<i class="ion-calendar m-r-5"></i>
					Upcoming event 
					<small><% if @school.upcoming_events.empty? %>
						[<%= @school.next_event %>]
						<% else %>
						[<%= link_to @school.next_event, event_path(@school.upcoming_events.first.friendly_id) %>]
						<% end %>
					</small>
				</h1>
			</div><!--.col-->
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><a href="/"><i class="ion-home"></i></a></li>
					<li><a href="<%= schools_path %>">Schools</a></li>
					<li><a href="#" class="active"><%= @school.name %></a></li>
				</ol>
			</div><!--.col-->
		</div><!--.row-->

		<div class="header-tabs scrollable-tabs sticky">
			<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
				<li><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
				<li class="active"><a href="#teams" data-toggle="tab" class="btn-ripple">Teams</a></li>
				<li><a href="#people" data-toggle="tab" class="btn-ripple">People</a></li>
				<li><a href="#events" data-toggle="tab" class="btn-ripple">Events</a></li>
				<li><a href="#facilities" data-toggle="tab" class="btn-ripple">Facilities</a></li>
				<li><a href="#media" data-toggle="tab" class="btn-ripple">Media</a></li>
				
				<% if AthleticDirector.where(user_id: current_user.id, school_id: @school.id).present? %>
				  <li><a href="#certifications" data-toggle="tab" class="btn-ripple">Certifications</a></li>
				<% end %>
			</ul>
		</div>
	</div><!--.page-header-->

	<div class="row user-profile">
		<div class="col-md-12">
			<div class="tab-content without-border">
				

				<!-- following -->
				<div id="about" class="tab-pane">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12">
							<div class="panel">
								<div class="panel-body">
									<div class="row contact-us">
										
										<br/>
										<div class="col-md-3 col-sm-12">
											<h2 class="text-center">
												Contact
											</h2>
										</div><!--.col-->
										<div class="col-md-9 col-sm-12">
											<div class="row">
												<div class="col-md-4 ">
													<div class="address">
														<h4>Address</h4>
														<%= @school.address_1 %><br>
														<%= @school.city %>, <%= @school.state %>, <%= @school.zip %>
													</div>
												</div><!--.col-md-3-->
												<div class="col-md-4">
													<div class="address">
														<h4>Phone</h4>
														<span class="fa fa-phone m-r-5"></span>
														<%= @school.phone_number %><br>
														<span class="fa fa-clock-o m-r-5"></span>
														8am - 5pm<br>
													</div>
												</div><!--.col-md-3-->
												<div class="col-md-4">
													<div class="address">
														<h4>Online</h4>
														<span class="fa fa-desktop m-r-5"></span>
														<%= @school.website %><br>
														<span class="fa fa-envelope m-r-5"></span>
														<%= @school.email %><br>
													</div>
												</div><!--.col-md-3-->
											</div><!--.row-->
										</div><!--col-->
									</div><!--.row-->

									<hr/>

									<div class="col-md-12">
                  						<%= gmaps4rails(@json) %>
									</div><!--.col-->
									
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div><!--.col-md-12-->
					</div><!--.row-->
				</div>
				<!--#following.tab-pane-->

				<!-- teams -->
				<div id="teams" class="tab-pane active">

					<div class="row">
						<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 well">
							<h3 class="center">
								<i class="ion-search margin-right-20 text-blue"></i>	
								Quickly find a team
							</h3>
							<select class="selecter bg-white margin-bottom-0" data-width="100%" data-live-search="true">
								<option>Receational</option>
								<option>School</option>
								<option>School District</option>
								<option>Youth</option>
								<option>Adult</option>
							</select>
						</div><!--.col-md-9-->
					</div>
					<br/>
					<div class="row teams">
				<%= render 'shared/team_rosters' %>
						
	
					</div>
					<!-- <ul class="list-material">
						<% @teams.each do |team| %>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<i class="ion-university icon-circle"></i>
									</div>
									<div class="list-content">
										<span class="title">
											<%= link_to team.name, "/teams/#{team.slug}" %>
										</span>
										<span class="caption">Basketball</span>
									</div>
									<div class="list-action-right">
										<span class="top">15 min</span>
										<i class="ion-android-done bottom"></i>
									</div>
								</a>
							</li>
						<% end %>
					</ul> -->
				</div>
				<!--#teams.tab-pane-->

				<!-- people -->
				<div id="people" class="tab-pane">
					
               <%= render 'shared/people' %>
					<!-- <ul class="list-material has-hidden">
						<%# @people.each do |person| %>
				       		<%#= render 'person', person: person %>
				    	<%# end %>
					</ul> -->
				</div>
				<!--#roster.tab-pane-->
				
				<!-- events -->
				<div id="events" class="tab-pane">

					<div class="row">
						<div class="col-md-4">
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
										<h4>
											<%= image_tag("icons/today.png", class: "margin-right-10",height: "30", width: "auto")%>
											TODAY'S SPORTS CALENDAR
										</h4>
									</div>
								</div><!--.panel-heading-->
								<div class="panel-body without-padding">
									<ul class="list-calendar list-calendar-fixed">
										<li>
											<div class="date">
												<span class="number">27</span>
												<span class="text">Mon</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-green">
													<div class="event-detail">
														<div class="primary">Women's Baskebtall Practice</div><!--.primary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
									</ul>
									<ul class="list-calendar list-calendar-day-view" style="height: 700px; overflow: auto">
										<li>
											<div class="date">
												<span class="text">00:00</span>
											</div><!--.date-->
											<div class="event">

											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">01:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">02:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">03:00</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-teal">
													<div class="event-detail">
														<div class="primary">Softball Awards Ceremony</div><!--.primary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">04:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">05:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">06:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">07:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">08:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">09:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">10:00</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-blue">
													<div class="event-detail">
														<div class="primary">	 Davidson</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
														<div class="related-image">
															<img src="../../assets/globals/img/faces/12.jpg" alt="">
														</div><!--.related-image-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">11:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">12:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">13:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">14:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">15:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">16:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">17:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">18:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">19:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">20:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">21:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">22:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
										<li>
											<div class="date">
												<span class="text">23:00</span>
											</div><!--.date-->
											<div class="event">
											</div><!--.event-->
										</li>
									</ul>
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div><!--.col-->
						<div class="col-md-4">
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
										<h4>
											<%= image_tag("icons/practice.png", class: "margin-right-10", height: "30", width: "auto")%>
											PRACTICE CALENDAR
										</h4>
									</div>
								</div><!--.panel-heading-->
								<div class="panel-body without-padding">
									<ul class="list-calendar" style="height: 700px; overflow: auto">
										<li>
											<div class="date">
												<span class="number">27</span>
												<span class="text">Mon</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-green">
													<div class="event-detail">
														<div class="primary">Future of Web Design</div><!--.primary-->
														<div class="secondary">Event</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
											<div class="event">
												<div class="card card-calendar card-teal">
													<div class="event-detail">
														<div class="primary">Stay at 85m2 Central Apartment, London England</div><!--.primary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
											<div class="event">
												<div class="card card-calendar card-blue">
													<div class="event-detail">
														<div class="primary">Donald Davidson</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
														<div class="related-image">
															<img src="../../assets/globals/img/faces/12.jpg" alt="">
														</div><!--.related-image-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li>
											<div class="date text-blue">
												<span class="number">28</span>
												<span class="text">Tue</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-calendar-image card-black bg-image sample-bg-image4 bg-opaque5">
													<div class="event-detail">
														<div class="primary">After party at FOWA</div><!--.primary-->
														<div class="secondary">London, England</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li class="week-seperator">
											<span>April 4-10</span>
										</li>
										<li>
											<div class="date text-red">
												<span class="number">6</span>
												<span class="text">Wed</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-brown">
													<div class="event-detail">
														<div class="primary">Dinner with colleague friends</div><!--.primary-->
														<div class="secondary">Istanbul, Turkey</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li class="month-seperator bg-image sample-bg-image11 bg-opaque7">
											<span>June</span>
										</li>
										<li class="week-seperator">
											<span>June 7-14</span>
										</li>
										<li>
											<div class="date text-blue-grey">
												<span class="number">12</span>
												<span class="text">Thu</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-blue-grey">
													<div class="event-detail">
														<div class="primary">Brenda Thompson, Sandra Jimenez</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
									</ul>
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div><!--.col-->
						<div class="col-md-4">
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
										<h4>
											<%= image_tag("icons/game.png", class: "margin-right-10",height: "30", width: "auto")%>
												GAME CALENDAR
											</h4>
										</div>
								</div><!--.panel-heading-->
								<div class="panel-body without-padding">
									<ul class="list-calendar" style="height: 700px; overflow: auto">
										<li>
											<div class="date">
												<span class="number">27</span>
												<span class="text">Mon</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-green">
													<div class="event-detail">
														<div class="primary">Future of Web Design</div><!--.primary-->
														<div class="secondary">Event</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
											<div class="event">
												<div class="card card-calendar card-teal">
													<div class="event-detail">
														<div class="primary">Stay at 85m2 Central Apartment, London England</div><!--.primary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
											<div class="event">
												<div class="card card-calendar card-blue">
													<div class="event-detail">
														<div class="primary">Donald Davidson</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
														<div class="related-image">
															<img src="../../assets/globals/img/faces/12.jpg" alt="">
														</div><!--.related-image-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li>
											<div class="date text-blue">
												<span class="number">28</span>
												<span class="text">Tue</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-calendar-image card-black bg-image sample-bg-image4 bg-opaque5">
													<div class="event-detail">
														<div class="primary">After party at FOWA</div><!--.primary-->
														<div class="secondary">London, England</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li class="week-seperator">
											<span>April 4-10</span>
										</li>
										<li>
											<div class="date text-red">
												<span class="number">6</span>
												<span class="text">Wed</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-brown">
													<div class="event-detail">
														<div class="primary">Dinner with colleague friends</div><!--.primary-->
														<div class="secondary">Istanbul, Turkey</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
										<li class="month-seperator bg-image sample-bg-image11 bg-opaque7">
											<span>June</span>
										</li>
										<li class="week-seperator">
											<span>June 7-14</span>
										</li>
										<li>
											<div class="date text-blue-grey">
												<span class="number">12</span>
												<span class="text">Thu</span>
											</div><!--.date-->
											<div class="event">
												<div class="card card-calendar card-blue-grey">
													<div class="event-detail">
														<div class="primary">Brenda Thompson, Sandra Jimenez</div><!--.primary-->
														<div class="secondary">Birthday</div><!--.secondary-->
													</div><!--.event-detail-->
												</div><!--.card-->
											</div><!--.event-->
										</li>
									</ul>
								</div><!--.panel-body-->
							</div><!--.panel-->
						</div><!--.col-->
						
					</div><!--.row-->
					
					<% @events.each do |event| %>
						<div class="col-md-6">
							<div class="card card-event card-clickable">

								<div class="card-heading bg-image sample-bg-image13" style="">
								</div><!--.card-heading-->

								<div class="card-body">
									<div class="calendar">
										<div class="month">November</div>
										<div class="date">27</div>
									</div><!--.calendar-->
									<h4 style="margin-bottom: 0;">
										<%= link_to event.title,  "/events/#{event.slug}" %>
									</h4>
									<p>
										<%= event.event_type %>
									</p>
									<h5 class="h6 text-primary bold">
										<%= format(event.starts_at, 4) %>
										<%= format(event.starts_at, 8) %>
										- 
										<%= format(event.ends_at, 4) %>
										<%= format(event.ends_at, 8) %>
									</h5>
								</div><!--.card-body-->

								<div class="clickable-button">
									<div class="layer bg-primary"></div>
									<a class="btn btn-floating btn-primary initial-position floating-open"><i class="ion-android-more-horizontal"></i></a>
								</div>

								<div class="layered-content bg-red">
									<div class="overflow-content">
										<h4>How Many People Are Attending?</h4>
										<%= event.people_that_are_going.count %>
									</div><!--.overflow-content-->
									<div class="clickable-close-button">
										<a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
									</div>
								</div>
							</div><!--.card-->
						</div><!--.col-md-6-->
					<% end %>
					
				</div>


				<!--#events.tab-pane-->
				<% if AthleticDirector.where(user_id: current_user.id, school_id: @school.id).present? %>
					<!-- certifications -->
					<div id="certifications" class="tab-pane">
						
						<% @certifications.each do |cert| %>
						
							certification: <%= cert.certification.name %><br>
							issuer: <%= cert.certification.issuer %><br>
							user: <%= cert.user.full_name %><br>
							expiration: <%= cert.expiration %><br>
							send notification: <%=  %><br>
							<br><br>

						<% end %>
						
					</div>
					<!--#certfications.tab-pane-->
				<% end %>

				<!-- facilities -->
				<div id="facilities" class="tab-pane">
					<%= render 'shared/facilities', facilities: @facilities %>
				</div>
				<!--#facilities.tab-pane-->

				<!-- media -->
				<div id="media" class="tab-pane">

					<div class="row">
	
                    <%= render 'shared/media' %>
						
					</div>

				</div>
				
			</div><!--.tab-content-->
		</div><!--.col-->
	</div><!--.row-->

	<%= render "shared/modals/boostrap_image_gallery_lightbox" %>

</div><!--.content-->


