<div class="content">
  
  <!-- page header -->
  <div class="page-header full-content bg-blue">
    <div class="row">
      <div class="col-sm-6">
        <h1>Account Upgrade <small class="m-l-10 inline-block"> Payment information</small></h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= teams_path %>">Schools</a></li>
          <li><a href="#">[School Name]</a></li>
          <li><a href="#" class="active">Upgrade</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->

	<div class="row">
		<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-md-offset-2">
			<div class="panel box-shadow-ccc">
				
				<!-- panel header -->
				<div class="panel-heading">
					<div class="panel-title text-center">
						<br/>
						<h3>Account Upgrade.</h3>
					</div>
				</div>
				<!--.panel-heading-->
				
				<!-- panel body -->
				<div class="panel-body m-b-30 pr40 pl40">

					<%= form_for [@school], url: school_upgrade_school_path(@school), role: "form", html:{class: "card_form"} do |f| %>

						<div class="form-row text-center">
	        		<div class="row example-row no-margin">
								<div class="col-md-12">Upgrade Plan </div><!--.col-md-3-->
								<div class="col-md-12">
									<label class="text-primary semi-bold text-center h4 MB0">
		            		Premium High School Plan
		            	</label>
		            	<h1 class="text-center no-margin semi-bold">3,499 <small class="small h6">/year</small></h1>
									<%#= f.hidden_field :total_price, value: @cart.total_price(current_user)%>
								</div><!--.col-md-9-->
							</div><!--.row-->
						</div>
					</div>

					<hr class="no-margin"/>
					<br/>

					<h5 class="text-muted text-center">Please enter your payment information below.</h5>

					<div class="panel-body m-b-30 pr40 pl40">
						<div class="form-row">
	        		<div class="row example-row">
								<div class="col-md-12">Name on Card </div><!--.col-md-3-->
								<div class="col-md-12">
									<div class="inputer">
										<div class="input-wrapper">
											<%= text_field_tag :card_number, nil, name: nil, required: true, class: "form-control", placeholder: "John Smith" %>
												<%#= text_field_tag :name_on_card, nil, class: "form-control", placeholder: "John Smith" %>
	          				</div>
										</div>
									</div>
								</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="form-row">
	        		<div class="row example-row">
								<div class="col-md-12">Credit card number</div><!--.col-md-3-->
								<div class="col-md-12">
									<div class="inputer">
										<div class="input-wrapper">
											<%= text_field_tag :card_number, nil, name: nil, required: true, class: "form-control", placeholder: "4242 4242 4242 4242" %>
	          				</div>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->
										
	         <div class="form-group m-t-30">
		        <div class="form-row">
	          	<div class="controls">
	          		<div clas="row clearfix form-row">

	            		<div class="col-md-5">
										<div class="row example-row">
											<div class="col-md-12">Expiration Month</div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= text_field_tag :card_month, nil, name: nil, required: true, class: "form-control", placeholder: "January" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->
		            	</div>
		            	<div class="col-md-4">
										<div class="row example-row">
											<div class="col-md-12">Expiration Year </div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= text_field_tag :card_year, nil, name: nil, required: true, class: "form-control", placeholder: "2020" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->
		            	</div>
		            	<div class="col-md-3">
										<div class="row example-row">
											<div class="col-md-12">CVC Number</div><!--.col-md-3-->
											<div class="col-md-12">
												<div class="inputer">
													<div class="input-wrapper">
														<%= text_field_tag :card_year, nil, name: nil, required: true, class: "form-control", placeholder: "035" %>
													</div>
												</div>
											</div><!--.col-md-9-->
										</div><!--.row-->
		            	</div>
		            </div>
	            </div>
	          </div>
	        </div>
	      </div>
				<!--.panel-body-->
				<div class="panel-footer form-layout">
					<br/>
						<%= f.submit value: "Upgrade Account", class: "btn btn-primary btn-block "%>	
  					<%= f.hidden_field :stripe_token %>
  					<br/>
				</div><!--.panel-body-->
				<% end %>
			</div><!--.panel-->
		</div><!--.col-md-12-->
	</div><!--.row-->

</div>