        	<div class="form-group m-t-10">
        		<div class="form-row">
        			<div class="controls">
									<%= form_for [@school], url: school_upgrade_school_path(@school), role: "form", html:{class: "card_form"} do |f| %>
		            <label class="h5 text-black semi-bold">Name on Card</label>
									<%#= text_field_tag :name_on_card, nil, class: "form-control", placeholder: "John Smith" %>
									<br>Amount
									<%#= f.hidden_field :total_price, value: @cart.total_price(current_user)%>
		          </div>
	          </div>
	        </div>

				  <div class="form-row">
        		<label class="h5 semi-bold text-black">Credit card number</label>
						<%= text_field_tag :card_number, nil, name: nil, required: true, class: "form-control", placeholder: "4242 4242 4242 4242" %>
          </div>

	        <div clas="row clearfix m-t-10">
						<img style="width: 30px;" src="https://s3.amazonaws.com/spatravlr_production/uploads/img/icons/credit-cards/american_express_128.png" />
						<img style="width: 30px;" src="https://s3.amazonaws.com/spatravlr_production/uploads/img/icons/credit-cards/diners_club-128.png" />
						<img style="width: 30px;" src="https://s3.amazonaws.com/spatravlr_production/uploads/img/icons/credit-cards/discover-128.png" />
						<img style="width: 30px;" src="https://s3.amazonaws.com/spatravlr_production/uploads/img/icons/credit-cards/jcb-128.png" />
						<img style="width: 30px;" src="https://s3.amazonaws.com/spatravlr_production/uploads/img/icons/credit-cards/mastercard_1_128.png" />
						<img style="width: 30px;" src="https://s3.amazonaws.com/spatravlr_production/uploads/img/icons/credit-cards/visa-128.png" />
					</div>

	        <div class="form-group m-t-30">
		        <div class="form-row">
	          	<div class="controls">
	          		<label class="h5 semi-bold text-black">Expiration Date</label>
	            	<div clas="row clearfix form-row">
	            		<div class="row col-md-6">
										<%= text_field_tag :card_month, nil, name: nil, required: true, class: "form-control", placeholder: "Month" %>
		            	</div>
		            	<div class="col-md-4">
										<%= text_field_tag :card_year, nil, name: nil, required: true, class: "form-control", placeholder: "Year" %>
		            	</div>
		            </div>
	            </div>
	          </div>
	        </div>

	        <div class="clearfix"></div>
		      <div class="form-group m-t-10">
		        <div class="row form-row">
	          	<div class="col-md-12">
		            <label class="h5 semi-bold text-black">Security code (or "CVC" or CVV)</label>
		            <div class="row col-md-4">
									<%= text_field_tag :card_code, nil, name: nil, required: true, class: "form-control", placeholder: "198"%>
		            </div>
		            <div class="col-md-8">
		            	<p class="m-t-10">( 3 digit code on back of your card )</p>
		            </div>
		          </div>
		        </div>
	        </div>

	      </div>
        <div class="row form-row">
          
        </div>
		
        <%= f.hidden_field :stripe_token %>
      </div>
      <div class="modal-footer text-center">
		  <%= f.submit value: "Pay", class: "btn-primary btn-large custom-font h3 padding-20", style: "font-size: 18px; word-spacing: 5px;" %>
		<% end %>