<div id='media-<%= m.fake_id %>' style='margin-bottom: 20px; display: block; float: left; width: 100%;'>
  <% url = m.persisted? ? user_medium_path(user_id: u.id, id: m.id) : user_media_path(user_id: u.id) %>
  <% method = m.persisted? ? :put : :post %>
  <%= form_for m, remote: true, url: url, method: method do |f| %>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)%>
    <div class="col-md-12">
      

      <div class="row example-row"></div>

      <div class="">
        <div class="radioer form-inline">
          <%= f.radio_button :category, 'Article', 'data-label'=>'article_label', type: "radio", id: "media_category_article" %>
          <label for="media_category_article">Article</label>
        </div>
        <div class="radioer form-inline">
          <%= f.radio_button :category, 'Video', 'data-label'=>'video_label', type: "radio", id: "media_category_video"%>
          <label for="media_category_video">Video</label>
        </div>
      </div>
      <br/>
      <div class="row example-row">
        <div class="col-md-12">Title </div><!--.col-md-3-->
        <div class="col-md-12">
          <div class="inputer">
            <div class="input-wrapper">
              <%= f.text_field :title, class: "form-control", placeholder: "", required: true %>
            </div>
          </div>
        </div><!--.col-md-9-->
      </div>
      <div class="row example-row">
        <div class="col-md-12">Url</div><!--.col-md-3-->
        <div class="col-md-12">
          <div class="inputer">
            <div class="input-wrapper">
              <%= f.text_field :url, class: "form-control", placeholder: "", required: true %>
            </div>
          </div>
        </div><!--.col-md-9-->
      </div>
      <div class="row example-row">
        <div class="col-md-12">Publication date</div><!--.col-md-3-->
        <div class="col-md-12">
          <div class="inputer">
            <div class="input-wrapper">
              <%= f.text_field :publish_date, class: "form-control  bootstrap-daterangepicker-basic active", placeholder: "", required: true  %>
            </div>
          </div>
        </div><!--.col-md-9-->
      </div>
      <!--.row-->
    </div>

    <div class="col-md-12">
      <%= f.hidden_field :mediable_id, value: u.id %>
      <%= f.hidden_field :mediable_type, value: u.class.to_s %>
      <% if m.persisted? %>
        <button class="btn btn-blue submit-form"> Update </button>
        <%= link_to "Remove", medium_path(m), class: "btn btn-orange", method: :delete, remote: :true %>
      <% else %>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-blue submit-form mr10"> Create </button>
            <%= f.hidden_field :fake_id %>
            <button class="btn btn-orange remove-form">Remove</button>
          </div>
        </div>
        <hr/>
      <% end %>
    </div>
  <% end %>
</div>
