<div class="col-md-4 element-item" data-category="" style="min-height: 400px;">

  <div class="card card-meal card-meal-blue card-square card-shadow">
    <div class="card-heading">
      <% if team.teamable == "School" %>
        <h3 class="card-title"><%= team.teamable.name %></h3>

        <div class="card-subhead">
          <a href="#">
            <%= team.name %><br>

      <% else %>

        <h3 class="card-title"><%= team.name %></h3>

        <div class="card-subhead">
          <a href="#">

      <% end %>
      <i class="glyphicon glyphicon-map-marker"></i>
      <%= team.city_state %>
      </a>
      </div><!--.card-subhead-->
      </div><!--.card-heading-->
      <div class="card-body">
        <div class="image">
          <a href="#">
            <!-- placeholder image for school image -->
            <%= image_tag("placeholders/classroom.jpg") %>
          </a>
        </div>
        <!--.image-->
      </div>
      <!--.card-body-->
      <div class="card-footer">
        <div id="apply-for-school-team-<%= team.id %>">

         
            <%= render 'setup/coach_setup/coach_setup_add_coach_team_form', team: team %>
          


        </div>
        <!-- team id -->
      </div>
      <!--.card-footer-->
    </div>
    <!--.card-->


    <div class="clearfix"></div>

  </div>
  <!--.col-md-4-->
