<!-- Modal -->
<div class="modal fade" id="<%= event_type.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_for event_type, html: {id: "edit-event-type-form", multipart: true, data: {remote: true}} do |f| %>

   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <br>
        <i class="icon-credit-card icon-7x"></i>
        <h4 id="myModalLabel" class="semi-bold">Edit "<span class="bold"><%= event_type.event_type %></span>"" position</h4>
      </div>
      <hr class="no-margin"/>
      <div class="modal-body">
        
        <div class="row example-row">
          <div class="col-md-12">Event Type</div>
          <div class="col-md-12">
            <div class="inputer">
              <div class="input-wrapper">
                <%= f.text_field :event_type, placeholder: "event type", class: "form-control" %>
              </div>
            </div>
          </div><!--.col-md-9-->
        </div><!--.row-->

        <div class="row example-row">
          <div class="col-md-12">Associated Sport</div>
          <div class="col-md-12">
            <div class="inputer">
              <div class="input-wrapper mt10">
                <% if event_type.sport_id.present? %>]
                  <%= f.collection_select :sport_id, Sport.all, :id, :sport, {:selected => [event_type.sport_id]}, {:multiple => false, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0", placeholder: "Select a Sport" } %>
                <% else %>
                  <%= f.collection_select :sport_id, Sport.all, :id, :sport, {:prompt => 'Select a sport if applicable'}, {:multiple => false, "data-live-search" =>  true, "data-width"=> "100%", class: "selecter bg-white margin-bottom-0", placeholder: "Select a Sport" } %>
                <% end %>
              </div>
            </div>
          </div><!--.col-md-9-->
        </div><!--.row-->


      </div>
      <div class="modal-footer bg-primary">
        <%= f.submit "Save", class: "btn btn-white" %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  <% end %>

</div>
<!-- /.modal -->


