<div class="content">
  <div class="page-header full-content bg-primary" style="min-height: 141px;">
    <div class="row">
      <div class="col-md-6">
          <div class="pull-left margin-right-20" id="edit-header-avatar">
            <%#= image_tag(user.avatar, class: "img-thumbnail img-responsive", height: "", width: "100") %>
          </div>
          <div class="pull-left">
            <h1 class="capitalize h1-xlarge">
              Customize Your Form
            </h1>
            <h6 class="capitalize h1-xlarge text-white">
              classification
            </h6>
          </div>
        
      </div><!--.col-->
      <div class="col-md-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->
  

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel box-shadow-ccc">
        <div class="panel-body pr50 pl50 pt50 pb50">
          <h4 class="bold">General</h4>
          <% Form.general_fields.each do |field| %>
            <%= render 'field', object: @object, label: field.first, field: field.last, button_style: button_styling(@object.class.to_s, @object.id, "Registration", field.last) %>
          <% end %>

          <hr/>

          <h4 class="bold">Guardian</h4>
          <% Form.guardian_fields.each do |field| %>
            <%= render 'field', object: @object, label: field.first, field: field.last, button_style: button_styling(@object.class.to_s, @object.id, "Registration", field.last) %>
            <% if field.first == "Guardian Email"%></br><% end %>
          <% end %>


          <hr/>

          <h4 class="bold">Emergency</h4>
          <% Form.emergency_fields.each do |field| %>
            <%= render 'field', object: @object, label: field.first, field: field.last, button_style: button_styling(@object.class.to_s, @object.id, "Registration", field.last) %>
            <% if field.first == "Emergency Email"%></br><% end %>
          <% end %>

          <hr/>

          <h4 class="bold">Insurance</h4>
          <% Form.insurance_fields.each do |field| %>
            <%= render 'field', object: @object, label: field.first, field: field.last, button_style: button_styling(@object.class.to_s, @object.id, "Registration", field.last) %>
          <% end %>

          <hr/>

          <h4 class="bold">Health</h4>
          <% Form.health_fields.each do |field| %>
            <%= render 'field', object: @object, label: field.first, field: field.last, button_style: button_styling(@object.class.to_s, @object.id, "Registration", field.last) %>
          <% end %>

          <hr/>

          <h4 class="bold">Membership</h4>
          <% Form.membership_fields.each do |field| %>
            <%= render 'field', object: @object, label: field.first, field: field.last, button_style: button_styling(@object.class.to_s, @object.id, "Registration", field.last) %>
          <% end %>

          <hr/>

          <h4 class="bold">School</h4>
          <% Form.school_fields.each do |field| %>
            <%= render 'field', object: @object, label: field.first, field: field.last, button_style: button_styling(@object.class.to_s, @object.id, "Registration", field.last) %>
          <% end %>

          <hr/>

          <h4 class="bold">Financial</h4>
          <% Form.financial_fields.each do |field| %>
            <%= render 'field', object: @object, label: field.first, field: field.last, button_style: button_styling(@object.class.to_s, @object.id, "Registration", field.last) %>
          <% end %>


          <hr/>
          <%= form_tag create_or_update_form_team_forms_path(@object) do %>
          <h4 class="bold">Waiver</h4>
          <div class="well">
            <%= text_area_tag :waiver, "", size: "60x6", class: "form-control", placeholder: "Enter text here." %>
          </div>

          <hr/>
          <h4 class="bold">Agreements</h4>
          <div class="well">
            <%= text_area_tag :agreements, "", size: "60x6", class: "form-control", placeholder: "Enter text here." %>
          </div>
          <%= hidden_field_tag :formable_id, 1 %>
          <%= hidden_field_tag :formable_type, "Team" %>
          <%= hidden_field_tag :object, "Registration" %>
           
          <%= submit_tag "Create Form", class: "btn btn-primary pull-right" %>

        <% end %>
      </div>
    </div>
  </div>
</div>