<div id='certificate-<%= m.fake_id %>' class="row margin-top-20">
  <%= form_for [u, m], remote: true do |f| %>
    <%= hidden_field_tag request_forgery_protection_token, value: form_authenticity_token %>
    <div class="row">
      <div class="col-md-1">
        <div class="list-action-left">
          <% if m.persisted? %>
            <%= link_to certificate_path(m), class: "btn btn-floating btn-orange btn-sm btn-ripple margin-top-10", method: :delete, remote: :true  do %>
              <i class="ion-close"></i>
            <% end %>
          <% end %>
          <% if m.new_record? %>
            <a class="btn btn-floating btn-orange btn-sm btn-ripple margin-top-10 remove-form">
              <i class="ion-android-close"></i>
            </a>
          <% end %>
        </div>
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-5">
            <div class="row example-row">
              <div class="col-md-12">Certification Name</div>
              <div class="col-md-12">
                <div class="inputer">
                  <%= f.select(:certification_id, Certification.pluck(:name, :id), {}, {:class => 'selecter', :required => 'true', data:{live_search: 'true', width: '100%'}}) %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row example-row">
              <div class="col-md-12">File</div>
              <div class="col-md-12">
                <div class="inputer">
                  <%= f.file_field :file %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row example-row">
              <div class="col-md-12"> </div>
              <div class="col-md-12">
                <%= f.hidden_field :user_id %>
                <% if m.persisted? %>
                  <input type="submit" value="Update" class="margin-top-20 btn btn-blue btn-ripple"/>
                <% else %>
                  <input type="submit" value="Create" class="btn btn-blue"/>
                  <%= f.hidden_field :fake_id %>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-11">
        <div class="col-md-2">
          <div class="row example-row">
            <div class="col-md-12">Expires</div>
            <div class="col-md-12">
              <div class="checkboxer form-inline">
                <!-- THIS NEEDS TO BE PASSED A UNIQUE ID INORDER TO WORK -->
                <%= f.check_box :expires, id: "certificate_expires_#{m.fake_id}" %>
                <label for="certificate_expires_<%=m.fake_id%>"></label>
                <!-- THIS NEEDS TO BE PASSED A UNIQUE ID INORDER TO WORK -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row example-row">
            <div class="col-md-12">Expiration Date</div>
            <div class="col-md-12">
              <div class="inputer">
                <div class="input-wrapper">
                  <%= f.text_field :expiration, class: "form-control  bootstrap-daterangepicker-basic active", placeholder: "", required: true  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
<% end %>
</div>