<%= form_for @user, url: athlete_setup_path(@user) do |f| %>
	<% if @user.is_athlete? %>	
		<% if @user.relationships.where(participant: true).present? %>
	       <h3 class="bold">Team Added 
	       		<span class="small text-muted">(<%= pluralize @user.relationships.where(participant: true).count, "team" %>)</span>
	       	</h3>
	       
	       <hr class="no-margin"/>

	       <% @user.relationships.where(participant: true).each do |relationship| %>
		   	<h3 class="margin-top-10"><%= relationship.team.name %></h3>
		   <% end %>

	       <br/>
	       <br/>
	       <div class="row example-row">
				<div class="col-md-3">
					<h4 class="bold text-primary ">
						<i class="ion ion-android-add-circle margin-right-10"></i> Add a School
					</h4>
				</div><!--.col-md-3-->
				<div class="col-md-9">
					<div class="inputer">
						<div class="input-wrapper">
							<%= f.text_field :name, type: "text", class: "form-control", placeholder: ""%>
						</div>
					</div>
				</div><!--.col-md-9-->
			</div><!--.row-->

		<% else %>
			
			You are currently not a member of any teams. Let's get you started. Find your teams below.

		<% end %>

			<%#= f.collection_select :team_ids, @athlete_teams, :id, :name, {:selected => nil}, {  :multiple => true, :style => "width:100%", :id => "multi", :class => "select2-offscreen", :placeholder => "Select Your Team"  } %>
			<%#= f.submit class: "btn btn-primary" %>

			<div class="margin-top-40 bg-muted padding-top-40 padding-right-40 padding-left-40" style="background: #F7F7F7;">
				<div class="row masonry">
					<div class="col-md-4">
					<div class="card card-meal card-meal-green card-square card-shadow">
						<div class="card-heading">
							<h3 class="card-title">School Name</h3>
							<div class="card-subhead">
								<a href="#">
									<i class="glyphicon glyphicon-map-marker"></i>
								 	[City, State]
								</a>
							</div><!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body">
							<div class="image">
								<a href="#">
									<%= image_tag("placeholders/school-1.jpg") %>
								</a>
							</div><!--.image-->
							<ul class="users">
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user_1.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_2.jpg") %>
									</a>
								</li>
								<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_3.jpg") %>
									</a>
								<li>
							</ul>
						</div><!--.card-body-->
						<div class="card-footer">
							<ul>
								<li>1,378 Students</li>
								<li><a href="#">Add School</a></li>
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
					</div><!--.col-md-4-->

					<div class="col-md-4">
					<div class="card card-meal card-meal-green card-square card-shadow">
						<div class="card-heading">
							<h3 class="card-title">School Name</h3>
							<div class="card-subhead">
								<a href="#">
									<i class="glyphicon glyphicon-map-marker"></i>
								 	[City, State]
								</a>
							</div><!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body">
							<div class="image">
								<a href="#">
									<%= image_tag("placeholders/school-2.jpg") %>
								</a>
							</div><!--.image-->
							<ul class="users">
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user_1.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_2.jpg") %>
									</a>
								</li>
								<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_3.jpg") %>
									</a>
								<li>
							</ul>
						</div><!--.card-body-->
						<div class="card-footer">
							<ul>
								<li>1,378 Students</li>
								<li><a href="#">Add School</a></li>
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
					</div><!--.col-md-4-->

					<div class="col-md-4">
					<div class="card card-meal card-meal-green card-square card-shadow">
						<div class="card-heading">
							<h3 class="card-title">School Name</h3>
							<div class="card-subhead">
								<a href="#">
									<i class="glyphicon glyphicon-map-marker"></i>
								 	[City, State]
								</a>
							</div><!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body">
							<div class="image">
								<a href="#">
									<%= image_tag("placeholders/school-3.jpg") %>
								</a>
							</div><!--.image-->
							<ul class="users">
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user_1.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_2.jpg") %>
									</a>
								</li>
								<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_3.jpg") %>
									</a>
								<li>
							</ul>
						</div><!--.card-body-->
						<div class="card-footer">
							<ul>
								<li>1,378 Students</li>
								<li><a href="#">Add School</a></li>
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
					</div><!--.col-md-4-->

					<div class="col-md-4">
					<div class="card card-meal card-meal-green card-square card-shadow">
						<div class="card-heading">
							<h3 class="card-title">School Name</h3>
							<div class="card-subhead">
								<a href="#">
									<i class="glyphicon glyphicon-map-marker"></i>
								 	[City, State]
								</a>
							</div><!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body">
							<div class="image">
								<a href="#">
									<%= image_tag("placeholders/school-1.jpg") %>
								</a>
							</div><!--.image-->
							<ul class="users">
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user_1.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_2.jpg") %>
									</a>
								</li>
								<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_3.jpg") %>
									</a>
								<li>
							</ul>
						</div><!--.card-body-->
						<div class="card-footer">
							<ul>
								<li>1,378 Students</li>
								<li><a href="#">Add School</a></li>
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
					</div><!--.col-md-4-->

					<div class="col-md-4">
					<div class="card card-meal card-meal-green card-square card-shadow">
						<div class="card-heading">
							<h3 class="card-title">French Cooking</h3>
							<div class="card-subhead">
								By <a href="#">Richard Sanders</a>
							</div><!--.card-subhead-->
						</div><!--.card-heading-->
						<div class="card-body">
							<div class="image">
								<a href="#">
									<%= image_tag("placeholders/school-5.jpg") %>
								</a>
							</div><!--.image-->
							<ul class="users">
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa">
										<%= image_tag("placeholders/user_1.jpg") %>
									</a>
								</li>
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_2.jpg") %>
									</a>
								</li>
								<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman">
										<%= image_tag("placeholders/user_3.jpg") %>
									</a>
								<li>
							</ul>
						</div><!--.card-body-->
						<div class="card-footer">
							<ul>
								<li>1,378 Students</li>
								<li><a href="#">Add School</a></li>
							</ul>
						</div><!--.card-footer-->
					</div><!--.card-->
					</div><!--.col-md-4-->
				</div>
			</div><!--.row-->
	<% end %>
<% end %>