
<div class="element-item width-100p" data-category="" id="<%= classification %>-<%= object.class.to_s %>-<%= object.id %>">
  <% role = Role.where(roleable_type: object.class.to_s, roleable_id: object.id, status: "Pending", role: classification, user_id: user.id) %>
  <div class="card mb0" id="apply-for-school-team-<%= object.id %>">
         
    <%= link_to add_role_path(id: user.id, roleable_type: object.class.to_s, roleable_id: object.id, status: "Pending", role: classification, user_id: user.id), remote: true, id: "#{classification.delete(" ")}-#{object.class.to_s}-#{object.id}-add-button", style: (role.present? ? "display: none" : "display: block") do %>
  
      <div class="card-heading padding-10">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="fs_14 lh_18 bold no-margin">
              <%= object.proper_name %>
            </h5>
            <p class="small text-muted fs_12 mb0">
              <span class="material-icons fs_14 text-primary inline-block">&#xE8B4;</span>
              <% if object.address.city.present? && object.address.state.present? %>
                <span class="inline-block"><%= object.address.city_state unless object.instance_of?(User)%></span>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div><!--.card-->
  <div class="clearfix"></div>
</div>


