<div class="element-item col-md-6" data-category="" id="<%= classification %>-<%= object.class.to_s %>-<%= object.id %>" >
  <div class="card card-meal card-meal-blue card-square card-shadow">
    <div class="card-heading pl10">
      <div class="row">
        <div class="col-sm-9">
          <div class="pull-left">
            <h5 class="fs_14 lh_18 bold no-margin">
              <%= object.proper_name %>
            </h5>
            <% if false %>
              <% if object.address.city.present? && object.address.state.present? %>
                <font size="2"><%= object.address.city_state unless object.instance_of?(User)%></font>
              <% end %>
            <% end %>
          </div><!--.image-->
        </div>
        <div class="col-sm-3">

          <div id="apply-for-school-team-<%= object.id %>">
            <% role = Role.where(roleable_type: object.class.to_s, roleable_id: object.id, status: "Pending", role: classification, user_id: user.id) %>
            
              <%= link_to add_role_path(id: user.id, roleable_type: object.class.to_s, roleable_id: object.id, status: "Pending", role: classification, user_id: user.id), class: "btn btn-floating btn-orange btn-ripple", remote: true, id: "#{classification.delete(" ")}-#{object.class.to_s}-#{object.id}-add-button", style: (role.present? ? "display: none" : "display: block") do %>
                <i class="text-white ion-plus-round"></i>
              <% end %>
              
              <%= link_to "#", class: "btn btn-floating btn-orange btn-ripple", remote: true, id: "#{classification.delete(" ")}-#{object.class.to_s}-#{object.id}-claimed-button", style: (role.present? ? "display: block" : "display: none"), disabled: true do %>
                <i class="text-white ion-checkmark"></i>
              <% end %>
          </div><!-- team id -->
        </div>
      </div>
    </div>
  </div><!--.card-->
  <div class="clearfix"></div>
</div>

