<div class="panel-body margin-top-10">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="pull-left">
					<%= image_tag(@user.avatar, class: "img-circle margin-left-20 margin-right-20", height: "65", width: "65" ) %>
				</div>
				<div class="pull-left">
					<h4 class="margin-bottom-5"><% @user.first_name.present? ? @user.full_name : "My Profile"  %>
						<p class="small"><%= classification %> Profile Setup</p>
					</div>
				</div>
				<div class="note note-warning note-left-striped">
					<h4>Adding <%= description.pluralize.downcase %> to your <%= classification.downcase %> profile.</h4>
					<p class="small text-grey">
						Use the search box below to find your <%= description.pluralize.downcase %>. Once added, the <%= description.downcase %> will be notified of your request and will have the ability to approve your request. In the meantime, your status will be pending.
					</p>
				</div>
				<hr class="no-margin"/>
				<br/>
				<div class="row well padding-bottom-0">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<h3 class="bold text-primary margin-top-10">
							<i class="ion ion-search margin-right-5"></i> Find your <%= description.pluralize.downcase %>
						</h3>
					</div><!--.col-md-3-->
					<div class="col-lg-8 col-md-6 col-sm-12">
						<div class="inputer">
							<!-- isotope filtering and typeahead-->
							<textarea type="text" class="fs_30 lh_55 quicksearch-teams typeahead typeahead-<%= typeahead %> form-control" rows="1" placeholder="start typing..."></textarea>
						</div>
					</div><!--.col-md-9-->
				</div><!--.row-->
				<hr class="margin-top-10"/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h5 class="bold text-black">Your <%= description.pluralize.downcase %>
					<span class="small semi-bold text-orange"></span>
				</h5>
				<div class="panel-body without-padding">
					<ul class="list-material" id="<%= classification.delete(" ") %>-list">
						<%= render 'selected_objects', objects: selected_objects, classification: classification, user: @user %>	
					</ul>
				</div><!--.panel-body-->
			</div>
		</div>
	</div>
	<div class="bg-muted padding-top-40 padding-right-40 padding-left-40" style="background: #F7F7F7; height: 500px; overflow: scroll;">
		<div class="row teams images" id="list">
			<%= render 'list', objects: objects, classification: classification, user: @user %>
		</div>
		<div class="clearfix"></div>
	</div><!--.row-->







