<h4 class="text-white text-center mt0 bold"><span class="text-orange mr5">Step 2:</span> Add Your <%= description.pluralize.downcase %></h4>

<% if ["Athlete", "Athletic Director", "School Manager", "Club Director"].include? classification  %>
	<h6 class="muted semi-bold">Can't find your <%= description.downcase %>?
		<a href="#" data-toggle="modal" data-target="#panel-new-<%= description.downcase %>-setup" class="open-modal"><u>Create a <%= description %></u></a>
	</h6>
<% end %>
<div style="box-shadow: 0 0 20px #333;">
	<div class="panel-body pt20 bg-white b-rad-4-top bg-light-grey">
		<div class="input-group mb0">
			<span class="input-group-addon">
				<i class="ion ion-ios-search-strong text-primary fs_24"></i>
			</span>
			<div class="inputer">
				<div class="inputer-wrapper">
					<input type="text" class="fs_18 bold quicksearch-teams typeahead typeahead-<%= typeahead %> form-control"placeholder="Search for your <%= description.downcase %>"></input>
				</div>
			</div>
		</div>
	</div>
	<hr class="no-margin light"/>
	<div class="" style="background: #ddd; height: 400px; overflow: scroll;">
		<div class="panel-body padding-20">
			<div class="well b-rad-4 mb0">
				<h6 class="text-muted text-center bold">Teams Added</h6>
				<ul class="list-material" id="<%= classification.delete(" ") %>-list">
					<%= render 'selected_objects', objects: selected_objects, classification: classification, user: @user %>
				</ul>
			</div>
		</div>
		<h6 class="text-muted text-center bold mb10">Search Results</h6>
		<div class="teams images" id="list">
			<%= render 'list', objects: objects, classification: classification, user: @user %>
		</div>
		<div class="clearfix"></div>
	</div>
	



<%= render "shared/panels/new_team_setup", role: role_for(classification), classification: classification %>
<%= render "shared/panels/new_school_setup", role: role_for(classification), classification: classification %>
<%= render "shared/panels/new_club_setup", role: role_for(classification), classification: classification %>





