<body class="bg-login" style="background: url(http://elitesportsmiami.com/wp-content/uploads/2015/04/elitesportmiami-2.jpg); background-size: cover;">
  <div class="bg-overlay"></div>
    <div class="container pt60">
    	<div class="panel panel-transparent bs-wizard bs-wizard-steps">
		  	<div class="row">
				   <div class="col-lg-3 pt60">
				   	<br/><br/>
				   	<h4 class="text-center h4 bold no-margin text-white">
			      	<% if @user.first_name.present? %>
								<%= @user.full_name %>
								<!-- <p class="small"><%= @user.profile.location_description %></p> -->
							<% end %>
						</h4>
			      <p class="text-white text-center no-margin small"><strong class="text-orange">Step 1:</strong> Select a Profile</p>
			      <div class="steps">
							<ul class="wizard-steps">
								<% @user.classifications.each_with_index do |c, i| %>
								<li class="step">
									<% if i == 0 %>
									<a href="#form2_tab<%= i + 1 %>" data-toggle="tab">
										<% else %>
										<a href="#form2_tab<%= i + 1 %>" data-toggle="tab">
											<% end %>
											<%= i + 1%>
										</a>
										<%= c.classification %>
									</li>
									<% end %>
								</ul>
							</div><!--.steps-pull-right-->
				   </div>
				   <div class="col-lg-6">
				  	<div class="panel panel-transparent">
				  		<h4 class="logo mt20 logo text-center text-white fs_28">
					      <%= image_tag("icons/flag.png", height: "20", width: "auto", class: "margin-right-5", style: "margin-top: -3px;") %>
					      <span class="text-white">SportsMarkit</span>
					    </h4>
				    </div>
						<div class="panel panel-transparent bg-white b-rad-4 no-border">
							<div id="form2">
								<div class="tab-content no-border">
									<% @user.classifications.each_with_index do |c, i| %>
									<div class="tab-pane pane" id="form2_tab<%= i+1 %>">
										<%= render "setup", classification: c.classification, objects: objects(c.classification, @user), selected_objects: selected_objects(c.classification, @user), description: object_description(c.classification), typeahead: typeahead(c.classification)  %>
									</div><!--.tab-pane-->
									<% end %>
								</div><!--.tab-content-->
							</div>
							<div class="panel-footer">
								<ul class="wizard clearfix">
									<li class="bs-wizard-prev pull-left"><button class="btn btn-flat btn-default">Previous</button></li>
									<li class="bs-wizard-next pull-right"><button class="btn btn-blue">Next</button></li>
									<li class="bs-wizard-submit pull-right">
										<%= link_to user_dashboard_index_path(@user), class: "btn btn-blue" do %> 
										Complete setup
										<% end %>
									</li>
								</ul>
							</div><!--.panel-footer-->
						</div>
						</div>
					</div>
			  </div>
	    </div>
	  </div>
	</div>
</body>




<style>
.wizard-steps .step .btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 1px 0;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  -webkit-transition: background-color 400ms linear;
}

.panel .steps-centered .progress {
  float: none;
  position: absolute;
  top: 40px;
  width: 100%;
  border-radius: 0;
  height: 2px;
}

.panel > .panel-heading {
  padding: 0;
  border-radius: 0;
  border-bottom: none; 
}

.panel > .panel-heading .panel-title {
	font-size: 26px;
}

.panel .steps-centered {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}

li.step {
	width: 125px;
}

li.step h6 {
	background: #ffffff;
	color: #666;
	margin-top: 10px;
	line-height: 18px;
	text-align: center;
	font-weight: 400;
}

.wizard-steps {
	width: 100%;
}

.list-material > li .list-content .caption {
	color: rgba(0, 0, 0, 0.5);
}

</style>

<script>

  $(document).ready(function() {
    $('a[data-toggle=tab]').each(function () {
      var $this = $(this);

      $this.on('shown.bs.tab', function () {
        $('#form2 .images').masonry();
      });
    });
  })

</script>



<%= render 'typeahead' %>