<div class="content">
  

  <!-- page header -->
  <div class="page-header full-content bg-blue">
    <div class="row">
      <div class="col-sm-6">
        <h1>Welcome <small> Let's Get Started</small></h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= teams_path %>">Teams</a></li>
          <li><a href="#" class="active">New</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->

	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-6 col-md-offset-3">
			<div class="panel">
				
				<!-- panel heading -->
				<div class="panel-heading">
					<div class="panel-title">
						<br/>
						<h3>Setup.</h3>
					</div>
				</div>
				<!--.panel-heading-->
				

				<!-- panel body -->
				<div class="panel-body">
					<%= render 'setup/athlete_setup'%>
					<br><br><br>
	                <%= render 'setup/coach_setup'%>
					
					<br><br><br>
					<%= render 'setup/parent_setup'%>
					
					<br><br><br>
					<%= render 'setup/director_setup'%>
				</div><!--.panel-body-->

			</div><!--.panel-->


			<%= link_to "Update your Profile", edit_user_path(@user), class: "btn btn-block btn-primary" %> 

		</div>
	</div><!--.row-->
	<%#= f.submit %>
	<%# end %>
  
	
	<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-orange">
					<a href="layout-flexible-space.html">
						<span class="state">Step 1</span>
						<span>Welcome</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-orange">
					<a href="layout-fixed-footer.html">
						<span class="state">Step 2</span>
						<span>Account Setup</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

</div>
<%#= @id %>
<%#= @class %>
