<div class="col-md-4 element-item">
  <div class="card card-user card-clickable card-clickable-over-content">

    <div class="card-heading heading-full">
      <div class="user-image sample-member4l" style="background: url('<%= child.avatar  %>');"></div>

      <div class="clickable-button">
        <div class="layer bg-orange"></div>
        <a class="btn btn-floating btn-orange initial-position floating-open"><i class="ion-person-stalker"></i></a>
      </div>

      <div class="layered-content bg-orange">
        <div class="overflow-content">
          <div class="btn-group btn-group-justified margin-bottom-20">
            <button type="button" class="btn btn-primary btn-block">View Profile</button>
          </div>
        </div>
        <!--.overflow-content-->
        <div class="clickable-close-button">
          <a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
        </div>
      </div>
    </div>
    <!--.card-heading-->

    <div class="card-body">
      <h3 class="card-title">
        <a href="#"><%= child.full_name %></a>
      </h3>

      <div class="subhead">
	    <% if child.age.present? %>
	       <%= child.age %>
	   	<% end %>
        <i class="ion-location"></i>
		<% if child.profile.city.present? %>
							, <%= child.profile.residence %>
							<% end %>
	<% if child.teammates.count > 0 %>
	,<%= pluralize child.teammates.count, "Teammate"%> 
	<% end %>
      </div>
    </div>
    <!--.card-body-->
						

    <div class="card-footer">
      <%= render 'setup/parent_setup/parent_setup_add_child_form', child: child %>
    </div>
    
    <!--.card-footer-->

  </div>
  <!--.card-->
</div>