<div class="content">

  <div class="page-header full-content bg-primary mb0" style="min-height: 121px;">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="capitalize semi-bold">
          <%= @object.name %>
          <small>Signed Documents</small>
        </h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="/"><i class="ion-home"></i></a></li>
          <li><a href="<%= eval("#{@object.class.to_s.downcase.pluralize}_path")%>"><%= @object.class.to_s.pluralize %></a></li>
          <li><%= link_to @object.name, @object %></li>
        </ol>
      </div>
    </div><!--.row-->

   <%= render "shared/show_navigation_admin" %>
          
      <script>
      onclick="theFunction(event)"
      </script>

  </div><!--.page-header-->
 
  <div class="pt60">
    <div class="row">
      <div class="col-lg-8 col-sm-offset-2">
        <div class="panel box-shadow-ccc">
          <div class="panel-heading">
            <div class="panel-title">
              <h4 class="semi-bold">Signed Documents</h4>
            </div>
          </div>
          <div class="panel-body pb40">
            <div class="overflow-table">
              <table id="document-list" class="pt30 pb30 table display datatables-basic table-hover table-condensed" id="example">
                <thead>
                  <tr>
                    <th class="semi-bold fs_14 text-muted">Name</th>
                    <th class="semi-bold fs_14 text-muted">Description</th>
                    <th class="semi-bold fs_14 text-muted">File</th>
                    <th  class="semi-bold fs_14 text-muted">Actions</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th class="semi-bold fs_14 text-muted">Name</th>
                    <th class="semi-bold fs_14 text-muted">Description</th>
                    <th class="semi-bold fs_14 text-muted">File</th>
                    <th  class="semi-bold fs_14 text-muted">Actions</th>
                  </tr>
                </tfoot>
                <tbody>
                  <% if @documents.present? %>
                    <% @documents.each do |document| %>
                      <%= render partial: 'signed_documents/document', locals: { document: document } %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>