<div class="parallax-bg" style="background: url('http://svite-league-apps-content.s3.amazonaws.com/bgimages/sports-wave.jpg') 50% 50%;">
</div>

<div class="bg-overlay"></div><!--.bg-overlay-->

<div class="row">
	<div class="col-sm-5">
		<h1>
			<i class="ion-calendar m-r-5"></i>
			<small>
				<%= @event.title %>
				<% if @event.can_be_edited_by_user?(current_user) %>
					  <%= link_to "Cancel", @event, method: :delete, class: "ml20 btn btn-danger btn-xs" %>
					  <%= link_to "Reschedule", edit_event_path(@event), class: "btn btn-white btn-xs" %>
				<% end %>
			</small>
		</h1>
	</div><!--.col-->
	<div class="col-sm-6">
		<ol class="breadcrumb">
			<!-- <li><a href="/"><i class="ion-home"></i></a></li> -->
			<!-- <li><a href="<%= teams_path %>">[User Name]</a></li> -->
			<li><a href="<%= teams_path %>">Events</a></li>
			<li><a href="#" class="active"><%= @event.title %></a></li>
		</ol>
	</div><!--.col-->
	<div class="col-sm-1 text-right">

	</div>
</div><!--.row-->





<div class="social-buttons" id="social-buttons">
	<% @event.event_schedules.each do |event_schedule| %>
		<%= render 'rsvp_buttons', event_schedule: event_schedule %>
	<% end %>
</div>