<%= render 'shared/background_photo_tab', photo_owner: @event %>
<div class="bg-overlay"></div>
<%= render "shared/bg_edit" %>

<div class="row">
  <div class="col-sm-5">
    <h1>
      <i class="ion-calendar m-r-5"></i>
      <small>
        <%= @event.title %>
        <% if @event.can_be_edited_by_user?(current_user) %>
          <%= link_to "Cancel", @event, method: :delete, class: "ml20 btn btn-danger btn-xs" %>
          <%= link_to "Reschedule", edit_event_path(@event), class: "btn btn-white btn-xs" %>
        <% end %>
      </small>
    </h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb">
      <li><a href="<%= teams_path %>">Events</a></li>
      <li><a href="#" class="active"><%= @event.title %></a></li>
    </ol>
  </div>
  <div class="col-sm-1 text-right">
  </div>
</div>

<div class="social-buttons" id="social-buttons">
  <%= render 'rsvp_buttons', event: @event %>
</div>