<div class="modal fade full-height from-right" id="modal-<%= response %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 pr20 pl20 pt10">
            <div class="panel">
              <div class="panel-heading no-border">
                <div class="panel-title">
                  <h4 class="text-primary">
                    People <%= group %> <%= @event_schedule.title %>
                  </h4>
                  <h3 class="modal-title bold mt0 mb0"></h3>
                </div>
              </div>
              <div class="panel-body">
                <ul class="users">
                  <% people.each do |person| %>
                    <li>
                      <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= person.user.full_name %>">
                        <%= image_tag person.user.avatar, size: "50x50" %>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-light-grey padding-40">
      </div>
    </div>
  </div>
</div>
