
	<!--#events.tab-pane-->
	<% if @object.can_be_edited_by_user?(current_user) %>
		<!-- certifications -->
		<div id="certifications" class="tab-pane">
		
			<% @certifications.each do |cert| %>
		
				certification: <%= cert.certification.name %><br>
				issuer: <%= cert.certification.issuer %><br>
				user: <%= cert.user.full_name %><br>
				expiration: <%= cert.expiration %><br>
				<div id="notification-link">
				 <%= render 'notifications/notification_link', cert: cert %>
			    </div>
				<br><br>

			<% end %>
		
		</div>
		<!--#certfications.tab-pane-->
	<% end %>
