<%= form_for @user, url: athletic_director_setup_path(@user) do |f| %>
	<div class="panel-body">
    	<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="row">
					<div class="pull-left">
						<%= image_tag("http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png", class: "img-circle margin-left-20 margin-right-20", height: "65", width: "65" ) %>
					</div>
					<div class="pull-left">

						<% if @user.first_name.present? %>
							<h4 class="margin-bottom-5"><%= @user.full_name %></h4>
						<% else %>
							<h4 class="margin-bottom-5">My Profile</h4>
						<% end %>
						<p class="small">Athletic Director Profile Setup</p>
					</div>
				</div>

				<hr class="no-margin"/>
				<br/>
		
				
                    <div id="school">
					<%= render 'setup/athletic_director_setup/school' %>
				</div>
				   
				
			</div>
    	</div>
	</div>

	<% if @user.is_athletic_director? %>

	<%# else %>

		<div class="bg-muted padding-top-40 padding-right-40 padding-left-40" style="background: #F7F7F7;">
    
			<div class="row directors images" id="school-team-list">
				<%= render 'setup/athletic_director_setup/ad_school_list', schools: @schools %>
			</div>
			<div class="clearfix"></div>
		
		</div><!--.row-->

	<% end %>
	
<% end %>

