<%= render 'shared/background_photo_tab', photo_owner: @league %>
<div class="bg-overlay"></div><!--.bg-overlay-->

	<div class="social-buttons">
		<%= render 'shared/fan' %>
	</div>

	<div class="row">
		<div class="col-sm-6">
		  <%= render 'shared/upcoming_event', object: @league %>
		</div><!--.col-->
		<div class="col-sm-6">
			<ol class="breadcrumb">
				<li><a href="/"><i class="ion-home"></i></a></li>
				<li><a href="<%= leagues_path %>">Leagues</a></li>
				<li><a href="#" class="active"><%= @league.name %></a></li>
			</ol>
		</div><!--.col-->
	</div><!--.row-->