<div id="about" class="tab-pane active">
	
	<div class="page-header full-content parallax">
		<%= render "leagues/show/header" %>
	</div><!--.page-header-->
 
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-md-4" style="margin-top: -212px;">
					<div class="card tile card-post" style="border-top: 3px solid #3e50b4;">
						<div class="card-heading pl40 pr40">

							<%= render "shared/fan" %>

							<p class="author">
								<a href="#">
								<i class="ion-ionic mr5"></i>
								<%= pluralize @league.number_of_people_online, "Person" %> Online</a> 
							</p>
							<p class="time">Last activity: April 17, 2015, 11:23 PM</p>
							<% if @league.number_of_people_online > 0 %>
							<p class="fs_11 time">Last activity: <%= format(@league.last_activity, 4) %>, <%= format(@league.last_activity, 9) %></p>
							<% end %>
						</div><!--.card-heading-->
						<hr class="light mt0 mb20"/>
						<div class="card-body pl40 pr40">
							<div class="clearfix row">
							  <div class="col-md-3">
							  	<div class="profile-photo">
							    	<div class="profile-photo-wrapper" style="height: 100px; width: 100px; overflow: hidden; border: 1px solid #ddd;">
											<%= image_tag(@object.avatar, class: "img-responsive", style: "height: auto; width: 100%; min-width: 100px; min-height: 100px;") %>
										</div>
							  	</div><!--.profile-photo-->
							  </div>
								<div class="col-md-9">
									<h4 class="semi-bold capitalize text-black no-margin lh_28 mt10 mb0">
										<%= @league.name %>
									</h4>
									<p class="fs_12 semi-bold text-muted mb5 mt5">
										<i class="ion-person-stalker fs_16 text-primary mr5"></i>
										2 Coaches, 0 Players, 0 Managers, 0 Trainers<%= @league.sport_list %>
									</p> 
									<p class="semi-bold fs_14 text-muted no-margin">
										<i class="ion-university fs_20 text-primary mr5"></i>
									</p>
								</div>
							</div>
						</div>
						<hr class="light mt15"/>
						<div class="card-body pl40 pr40">
							<h6 class="semi-bold">
								<i class="ion-information-circled text-indigo mr5"></i> About <%= @league.name %>
							</h6>
							<p class="fs_14 lh_18 text-muted mb20 mt10">
								<%= @league.description %>
							</p>
							<hr clas="light"/>
							<p class="semi-bold small text-muted no-margin fs_14">
								<span class="inline">
									<i class="ion-ios-telephone fs_16 text-primary mr5"></i>
									<%= @league.mobile_phone_number %>
								</span>

								<br/>

								<span class="inline">
									<i class="ion-monitor fs_16 text-primary mr5"></i>
									<%= link_to "#{@league.website}", "#{@league.website}" %>
								</span>

								<br/>

								<span class="inline">
									<i class="ion-email fs_20 text-primary mr5 v-align-middle"></i>
									<%= @league.email %>
								</span>
							</p>
						</div>
							
						<br/>
							<hr class="light mt15 mb15"/>
						<div class="card-heading pl40 pr40">
							<p class="author lh_26">
								<a href="#" class="semi-bold"><i class="ion-map mr10"></i>Location & Map</a> 
							</p>
							<p class="no-margin fs_14 text-muted">
								<i class="ion-location"></i> <%= @league.address_1 %><br/>
							 <%= @league.city %>, <%= @league.state %>, <%= @league.zip %>
							</p>
							<hr class="light mt10"/>
							<%= gmaps("map_options" => { "detect_location" => true, "auto_zoom" => false, "center_on_user" => false, "zoom" => 15, "maxZoom" => 15, "minZoom" => 3},"markers" => { "data" => @json }) %>
						</div>

						<hr class="light mt15 mb0"/>
						<div class="card-heading pl40 pr40">
							<p class="author">
								<a href="#">
								<i class="ion-trophy mr5"></i>
								Athletic Achievements</a> 
							</p>
						</div>
						<div class="card-body pl40 pr40">
						<h6 class="upper text-muted bold no-margin"><small><SPAN></SPAN>Sports Team Awards & Distinctions</small></h6>
						<!-- these must stay together as an interator -->
						<div class="clearfix">
							<table class="table table-hover bgcolor-white box-shadow-ccc">
								<thead>
									<th><span class="text-muted semi-bold fs_12">Team</span></th>
									<th><span class="text-muted semi-bold fs_12">Award</span></th>
									<th><span class="text-muted semi-bold fs_12">Year</span></th>
								</thead>
								<tbody>
									<%# @user.measurables.each do |measurable| %>
										<tr>
											<td><span class="fs_12"><%#= measurable.measurable %></span></td>
											<td><span class="fs_12"><%#= measurable.sport %></span></td>
											<td><span class="fs_12"><%#= measurable.result %></span></td>
										</tr>
									<%# end %>
								</tbody>
							</table>
						</div>

						<br/>
						<h6 class="upper text-muted bold no-margin"><small><SPAN></SPAN>Individual Athlete Awards & Distinctions</small></h6>
						<!-- these must stay together as an interator -->
						<div class="clearfix">
							<table class="table table-hover bgcolor-white box-shadow-ccc">
								<thead>
									<th><span class="text-muted semi-bold fs_12">Athlete</span></th>
									<th><span class="text-muted semi-bold fs_12">Award</span></th>
									<th><span class="text-muted semi-bold fs_12">Year</span></th>
								</thead>
								<tbody>
									<%# @user.measurables.each do |measurable| %>
										<tr>
											<td><span class="fs_12"><%#= measurable.measurable %></span></td>
											<td><span class="fs_12"><%#= measurable.sport %></span></td>
											<td><span class="fs_12"><%#= measurable.result %></span></td>
										</tr>
									<%# end %>
								</tbody>
							</table>
						</div>
						<!-- <h6 class="upper text-muted bold no-margin"><small>My favorites</small></h6> -->
						<%#= @user.profile.hudl %>
						<%#= @user.profile.favorite_pro_team %>													
						<%#= @user.profile.favorite_college_team %>
						<%#= @user.profile.favorite_pro_athlete %>	
					</div><!--.card-body-->
					<div class="card-footer mt20 pl40 pr40">
						<% if @league.social_media_present? %>
						<h6 class="upper text-muted bold"><small>social profiles</small></h6>
						  <% @league.facebook.present? %>	
						    <% if @league.facebook.present? %>	
								<%=  link_to @league.facebook, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
									<i class="ion-social-facebook"></i>
								<% end %>
							<% end %>
	
							<% if @league.linkedin.present? %>	
								<%=  link_to @league.linkedin, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
									<i class="ion-social-linkedin"></i>
								<% end %>
							<% end %>
				
				            <% if @league.youtube.present? %>
								<%=  link_to @league.youtube, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
									<i class="ion-social-youtube"></i>
								<% end %>
							<% end %>
				
							<% if @league.twitter.present? %>
								<%=  link_to @league.twitter, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
									<i class="ion-social-twitter"></i>
								<% end %>
							<% end %>
				
							<% if @league.instagram.present? %>
								<%=  link_to @league.instagram, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
									<i class="ion-social-instagram"></i>
								<% end %>
							<% end %>
				
							<% if @league.pinterest.present? %>
								<%=  link_to @league.pinterest, class: "mr5 btn btn-floating btn-blue btn-ripple" do %>
									<i class="ion-social-pinterest"></i>
								<% end %>
							<% end %>
						</p>
						<% end  %>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-6-->

			<div class="col-md-8">

				<div class="row">
					<div class="col-md-6 masonry">

						<!-- My teams -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
								<div class="card-heading">
									<h3 class="card-title">Our Teams</h3>
									<div class="card-subhead">
									 <!-- <a href="#">8 Teams</a> -->
									</div><!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body">
									<ul class="list-material borderless bgcolor-light-grey">
										<% unless @teams.present? %>
										<p class="mb0 mt0 center padding-10 text-grey">
											<!-- <i class="ion-person-add mr10"> --></i> No teams for profile
										</p>
										<% else %>
					          			<% @teams.each do |team| %>	
											<li class="has-action-left">
										<a href="#" class="visible">
											<div class="list-action-left">
												<i class="ion-flag icon-circle"></i>
											</div>
											<div class="list-content">
												<span class="title">
													<span class="bold"><%= team.name %></span>
												</span>
												<span class="fs_11 text-muted">
												</span>
											</div>
										</a>
									</li>
									<ul class="users bgcolor-light-grey" style="border-bottom: 1px solid #ddd;">
										<% team.accepted_coaches.each do |user| %>
											<li>
												<a href="<%= user_path(user) %>" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
													<%= image_tag user.avatar %>
												</a>
											</li>
										<% end %>
										<% team.accepted_athletes.each do |user| %>
											<li>
												<a href="<%= user_path(user) %>" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
													<%= image_tag user.avatar %>
												</a>
											</li>
										<% end %>
										<% team.userless_athletes.each do |user| %>
										<li>
											<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.first_name %> <%= user.last_name %>">
												<%= image_tag user.avatar %>
											</a>
										</li>
										<% end %>
									</ul>
										<% end %>
			
									</ul>
									<% end %>
								</div><!--.card-body-->
								<hr class="no-margin"/>
								<div class="card-footer">
									<ul>
										<li class="fs_14"><span class="mr5"><%= pluralize @teams.count, "Team"%></span></li>
										<li><%= link_to "View All Teams", "/leagues/#{@league.slug}/#tab_teams", class: "fs_14" %></li>
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.col-md-12-->
						<!-- My teams -->
						

						<!-- Coaches -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
								<div class="card-heading">
									<h6 class="semi-bold fs_14 mb0"><%= @league.name %></h6>
									<h3 class="card-title">Coaches</h3>
									<!-- <div class="card-subhead">
									 <a href="#">124 Students</a>
									</div> -->
									<!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body bgcolor-light-grey">
									<ul class="users">
										<% unless @accepted_coaches.present? %>
										<p class="mb0 mt0 center padding-10 text-grey">
												<!-- <i class="ion-person-add mr10"></i> Add Coaches -->
												No Coaches for League
										</p>
									    <% else %>
										<% @accepted_coaches.each do |user| %>
											<li>
												<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
													<%= image_tag user.avatar %>
												</a>
											</li>
											<% end %>
										<% end %>
									</ul>
								</div><!--.card-body-->
								<div class="card-footer">
									<ul>
										<li><span class="mr5 fs_14"><%= pluralize @accepted_coaches.count, "Coach" %></span></li>
										<li><a href="#people" data-toggle="tab" class="fs_14">View All</a></li>
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.col-md-12-->
						<!-- Coaches -->

						<!-- Athletic Administrators -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
								<div class="card-heading">
									<h6 class="semi-bold fs_14 mb0"><%= @league.name %></h6>
									<h3 class="card-title">Athletic Administrators</h3>
									<!-- <div class="card-subhead">
									 <a href="#">124 Students</a>
									</div> -->
									<!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body bgcolor-light-grey">
									<ul class="users">
										<% unless @athletic_directors.present? %>
										<p class="mb0 mt0 center padding-10 text-grey">
											<!-- <i class="ion-person-add mr10"></i> Add Athletic Administrators -->
											No Athletic Directors for League
										</p>
										<% else %>
											<% @athletic_directors.each do |user| %>
											<li>
												<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
													<%= image_tag user.avatar %>
												</a>
											</li>
											<% end %>
										<% end%>
									</ul>
								</div><!--.card-body-->
								<div class="card-footer">
									<ul>
										<li><span class="mr5 fs_14"><%= pluralize @athletic_directors.count, "Athletic Administrator" %>  </span></li>
										<li><a href="#people" data-toggle="tab" class="fs_14">View All</a></li>
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div><!--.col-md-12-->
						<!-- Coaches -->

					</div>

			       <%= render 'shared/about_tab_media' %>

						<!-- My Schedule -->
                   <%= render 'shared/about_tab_upcoming'%>

						

						<!-- Fans -->
			           <%= render 'shared/about_tab_fans' %>

						<!-- Athletes -->
						<div class="col-md-12">
							<div class="card card-meal card-meal-indigo card-square card-hover-shadow" >
								<div class="card-heading">
									<h6 class="semi-bold fs_14 mb0"><%= @league.name %></h6>
									<h3 class="card-title">Athletes</h3>
									<!-- <div class="card-subhead">
									 <a href="#">124 Students</a>
									</div> -->
									<!--.card-subhead-->
								</div><!--.card-heading-->
								<div class="card-body bgcolor-light-grey">
									<ul class="users">
										<p class="mb0 mt0 center padding-10 text-grey">
											<i class="ion-person-add mr10"></i> Add Players to Roster
										</p>
										<% @accepted_athletes.each do |user| %>
										<li>
											<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="<%= user.full_name %>">
												<%= image_tag user.avatar %>
											</a>
										</li>
										<% end %>
									</ul>
								</div><!--.card-body-->
								<div class="card-footer">
									<ul>
										<li><span class="mr5 fs_14"><%= pluralize @accepted_athletes.count, "Athlete" %></span></li>
										<li><a href="#people" data-toggle="tab" class="fs_14">View All</a></li>
									</ul>
								</div><!--.card-footer-->
							</div><!--.card-->
						</div>
						<!-- Athletes -->
					</div>

				</div>

			</div><!--.col-md-12-->
			<!-- My Schedule -->
		</div>

	</div>
</div>
</div>