<table class="table table-hover table-bordered">
  <thead class="bg-master-lightest">
    <th width="8%">Photo</th>
    <th>Description</th>
    <th width="10%">Status</th>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td>
          <%= image_tag(registration.registrant.avatar, class: "face-radius", alt:"") %>
        </td>
        <td>
          <%= registration.registrant.full_name %><br>
          <% if registration.selected_option.present? %>
            <%= registration.selected_option.option.name  %>, <%= number_to_currency(registration.selected_option.option.price) %>
          <% else %>
            No option selected.
          <% end %>
          <br>
          <%= registration.prefix %>
          <%= registration.first_name %>
          <%= registration.middle_name %>
          <%= registration.last_name %>
          <%= registration.suffix %>
          <%= registration.date_of_birth %>
          <%= registration.mobile_phone_number %>
          <%= registration.home_phone_number %>
          <%= registration.ethnicity %>
          <%= registration.lives_with %>
        </td> 
        <td>
          <%= format(registration.updated_at,1) %> <%= format(registration.updated_at,9) %>
          <% if registration.paid? %>
            <span class="bottom  text-green"><i class="ion-android-done inline fs_22"></i>  Paid</span>
          <% else %>
            <span class="bottom  text-red"><i class="ion-card inline fs_22 mr5"></i>  Not Paid</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
