<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Fyesports</title>

		<meta name="description" content="Pleasure is responsive, material admin dashboard panel">
		<meta name="author" content="Teamfox">

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-touch-fullscreen" content="yes">

		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag 'gmaps4rails' %>

		<%= google_webfonts_link_tag "Muli", "Oswald", "Droid Serif", "Montserrat", "Lato" %>

		<%= google_webfonts_link_tag 	:lato        		=> [100, 300, 500, 700],
                         				:yanone_kaffeesatz 	=> [300, 400] %>

		<!-- BEGIN SHORTCUT AND TOUCH ICONS -->
		<link rel="shortcut icon" href="../../assets/globals/img/icons/favicon.ico">
		<link rel="apple-touch-icon" href="../../assets/globals/img/icons/apple-touch-icon.png">
		<!-- END SHORTCUT AND TOUCH ICONS -->

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>

		<%= csrf_meta_tags %>
		<%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLISHABLE_KEY'] %>
	</head>

    <%= render 'shared/navbar' %>
	
  <%= javascript_include_tag 'application' %>

	<%= yield %>
	

	<!-- side panels -->
	<%= render "shared/panels/new_school" %>
	<%= render "shared/panels/new_team" %>
	<%= render "shared/panels/new_facility" %>
	<%= render "shared/panels/new_league" %>


	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

	
		<%= render "shared/sidebar_nav" %>
	


	<!-- BEGIN INITIALIZATION-->
	<script>
		$(document).ready(function () {
			Pleasure.init();
			Layout.init();
			UserPages.profile();
			TablesDataTables.init();
			FormsTools.init();
			FormsPickers.init();
			FormsSelect.init();
	    	UserPages.login();
	    	FormsWizard.init();
	    	WidgetVideo.init();
	  	});
	</script>
	<!-- END INITIALIZATION-->

	<script type="text/javascript">
		if (document.getElementsByTagName) {

		var inputElements = document.getElementsByTagName(“input”);

		for (i=0; inputElements[i]; i++) {

		if (inputElements[i].className && (inputElements[i].className.indexOf(“disableAutoComplete”) != -1)) {

		inputElements[i].setAttribute(“autocomplete”,”off”);

		}

		}

		}
	</script>

	<%= yield :scripts %>
</html>