
<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Fyesports</title>

		<meta name="description" content="Pleasure is responsive, material admin dashboard panel">
		<meta name="author" content="Teamfox">

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-touch-fullscreen" content="yes">

		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag 'gmaps4rails' %>

		<!-- BEGIN SHORTCUT AND TOUCH ICONS -->
		<link rel="shortcut icon" href="../../assets/globals/img/icons/favicon.ico">
		<link rel="apple-touch-icon" href="../../assets/globals/img/icons/apple-touch-icon.png">
		<!-- END SHORTCUT AND TOUCH ICONS -->

		<script src="../../assets/globals/plugins/modernizr/modernizr.min.js"></script>
		<%= csrf_meta_tags %>
	</head>

	<%= yield %>

	<%= javascript_include_tag 'application' %>
	
	<%= render "shared/sidebar_nav" %>

	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		UserPages.profile();
		TablesDataTables.init();

	});
	</script>
	<!-- END INITIALIZATION-->
	
	<%= yield :scripts %>
</html>
