<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>SportsMarkit</title>

		<meta name="description" content="SportsMarkit.com is a sports management company engaged in providing a reputable online platform for the global sports and fitness markets. ">
		<meta name="author" content="Wildfyre">

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-touch-fullscreen" content="yes">

		<script src="../../assets/globals/plugins/modernizr/modernizr.min.js"></script>

		<%= favicon_link_tag "favicons/favicon.ico" %>
		<%= google_webfonts_link_tag "Muli", "Oswald", "Droid Serif", "Montserrat", "Lato", "Black Ops One" %>

			<%= google_webfonts_link_tag 	:lato        		=> [100, 300, 500, 700],
	                         				:yanone_kaffeesatz 	=> [300, 400] %>



		<%= stylesheet_link_tag "main" %>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

		<%= csrf_meta_tags %>
		<%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLISHABLE_KEY'] %>
	</head>

	<body class="one-page mt0">

	  	<%= yield %>

		<%= javascript_include_tag 'main' %>

		<script type="text/javascript">
			if (document.getElementsByTagName) {

			var inputElements = document.getElementsByTagName(“input”);

			for (i=0; inputElements[i]; i++) {

			if (inputElements[i].className && (inputElements[i].className.indexOf(“disableAutoComplete”) != -1)) {

			inputElements[i].setAttribute(“autocomplete”,”off”);

			}

			}

			}
		</script>
	</body>
</html>